# SSC Data Science and Analytics Workshop 2022

## Intro to Databases in Industry: Data Cleaning, Querying, and Modeling at Scale

### Introduction to SQL

Welcome! Over the next 1 hour, I'll introduce some of the fundamentals of the Querying databases using the SQL language.

- Why using databases
- The relational model
- Query languages, SQL, Postgres
- How to run SQL
- Basic SQL queries

## Why not spreadsheets?

At this point in MDS, you have a good idea of why spreadsheet software like Excel or its equivalents are not suitable for most data science purposes. 

Pandas:
- reproducible
- range of functionalities
- scalable
- fast
- can be automated

## Why not Pandas?

But Pandas was pretty nice and powerful, wasn't it? let's see.

Think about what happens if:

- Your dataframe is 100 GB in size
- Multiple people want to use and make changes to the dataset simultaneously
- You want to be able to manage what each user can do
- You want to be able to let different users see different parts of the dataset
- You don't want to store everything at one place
- You want to restrict the kind of data to be stored
- The dataset file is corrupted
- The system crashes half way through making a change
- You want to optimize access to your data
- ...

## Databases and database management systems

You guessed it right! A **database management system (DBMS)** addresses all of the above problems.

**What is a database?**
A database is an organized collection of related data

**What is a database management system?**
A DBMS is a collection of programs that enables users to create, query, modify and manage a database in an optimized and efficient manner. A DBMS relieves us from worrying about storing a manage

Using a DBMS ensures:
- Data independence
- Efficient data access
- Data integrity
- Data security
- Concurrent access
- Crash recovery

There are different types of DBMS for different kinds of data

- Relational (most widely used)
- Document
- Hierarchical
- Network
- Object-oriented
- Graph

---

**Remember:**
    
database $\ne$ database management system

---

## The relational model

### Why the relational model?

Take a moment and think about the kind of problems that you may run into if you choose to store data in a single table.

<img src="./img/lecture1/table.png" width="800">

The most famous data model today is the relational model, while other models have also gained traction in the past few years.

The relational model works with **entities** and **relationships**. It is based on the set theory in mathematics was introduced by by Edgar Codd (IBM) in 1970 ([more details here](https://en.wikipedia.org/wiki/Relational_model)). It's foundations in **set theory** is the reason you will here words like "tuples", "domain", "union", "cross product", etc.

---

**Example:**

Entities:
- students in a school
- employees of an organization
- cars of a rental company
- houses in a city

Relations:
- students to a department
- purchases to customers
- movies to actors
- customers to a bank
    
---

In a relational model, entities and relationships are both **sets of tuples** called **relations**. These relations are represented as **tables** with rows and columns.

**What is a relational database?** A collection of relations

**Relations**: made up of two parts: A schema and an instance

**Schema**: specifies
1. Name of a relation
2. Name and domain of each attribute

**Domain**: A set of constraints that determines the type, length, format, range, uniqueness and nullability of values stored for an attribute.

---

**Example:**

Student (**sid**: _string_, **name**: _string_, **login**: _string_, **age**: _integer_, **gpa**: _real_)

---

**Instance**: a particular relation that follows a certain schema

**Relational Database Schema**: collection of schemas in the database

**Database Instance**: a collection of instances of its relations

### Anatomy of a table

<img src="img/lecture1/table_anatomy.png" width="700">

## Query language in a DBMS

**What is a query?** A question that we ask about the data. The result of a query is a new relation.

In order to talk to the database and ask questions, we need to speak its language. A DBMS
- provides a specialized language for us to write our queries
- optimizes how our queries are executed

## What is SQL?

Well, it's finally time to learn about SQL!

- SQL stands for Structured Query Language ([or... does it?](https://en.wikipedia.org/wiki/SQL#History)).
- It is a programming language that we use to talk to a relational DBMS.
- Originally developed by IBM in 1970s to manipulate and retrieve data stored in their DBMS, System R.
- SQL ≠ relational model ≠ database ≠ DBMS

### A peak at SQL queries

Suppose that we have the following table (relation) in our database, and 

> we want to retrieve the names and GPAs of students older than 25.

|  sid  | name      | login      | age | gpa |
|-------|-----------|------------|-----|-----|
| 23792 | Arman     | arman@mds  | 28  | 2.5 |
| 82347 | Varada    | varada@mds | 29  | 2.9 |
| 11238 | Tiffany   | tiff@mds   | 23  | 2.8 |
| 87263 | Mike      | mike@mds   | 19  | 3.8 |
| 13298 | Joel      | joel@mds   | 25  | 3.2 |
| 91287 | Florencia | flor@mds   | 20  | 3.3 |

We can write this as the following SQL query:

```sql
SELECT
    name, age, gpa
FROM
    Students
WHERE
    age > 25;
```

Running the above query should return this relation:

| name   | age | gpa |
|--------|-----|-----|
| Arman  | 28  | 2.5 |
| Varada | 29  | 2.9 |

### SQL syntax

Let's dissect the different parts of the our SQL query here:

```sql
SELECT
    name, age, gpa
FROM
    Students
WHERE
    age > 25;
```

A SQL statement consists of keywords, clauses, identifiers, terminating semi-colon and sometimes comments which together form a complete executable and independent piece of code.

```sql
SELECT
```
- The keyword `SELECT` is the **keyword** that exists in every SQL query. It is used to select and return data from columns, given the conditions that follow it.

```sql
name, age, gpa
Students
```

- `SELECT` is very powerful, but not dangerous: A `SELECT` statement never changes any values or tables in the database.

- The fact that we select only a few columns (instead of all of them) is called **projection** in database terms.
  
- These are called **identifiers**, and refer to the labels of columns and tables that exist in the database.

```sql
FROM
```
- This is another keyword that tells SQL which relation (i.e. table) to retrieve the columns from.

```sql
WHERE
```
- Yet another SQL keyword that is used to place a condition on the returned values.

- We can also have comments in a SQL query by preceding text with `--`:

```sql
-- Hey, I'm a comment!
-- ===========================
SELECT
    name, age, gpa  -- column names
FROM
    Students        -- table name
WHERE
    age > 25;       -- condition
```

- Block comments are also possible by enclosing comment lines in `/*` and `*/`:

```sql
/*
This is our first SQL query, and we
are learning about the following keywords:
SELECT
FROM
WHERE
*/

SELECT
    name, age, gpa
FROM
    Students
WHERE
    age > 25;
```

- Don't forget that every SQL statement needs to be terminated with a `;`.

- SQL keywords are traditionally written in upper case letters, but that is not a requirement. I prefer to follow this tradition because it makes the query more readable.

- A Keyword together with identifiers, expressions, etc that follow them are collectively a clause. For example:

```sql
SELECT
    name, age, gpa  -- columns are chosen here
FROM
    Students        -- table is specified here
WHERE
    age > 25;       -- filter is applied here
```

- It is common to put each clause or each keyword on a different line, but there is no generally agreed-upon style.

- In general, it doesn't matter whether the entire SQL statement is on one line or broken over several lines. Anything that comes before a `;` belongs to the same statement.

There are many other keywords that we will use throughout DSCI 513. The ones that you just saw are a few that other usually used when querying data.

> Note that SQL **is not imperative** (like Python or C++); it is a **declarative** language: We don't tell SQL **how** to retrieve data, but **what** to retrieve. For instance, we didn't write a for loop to retrieve the data from each row according to a certain condition. We told SQL what we wanted, and SQL did it for us.

### Flavours of SQL

- SQL is not owned by a particular company or organization
- It became a database language standard by the American National Standards Institute (ANSI) in 1986, and the International Organization for Standardization (ISO) in 1987.
- However, there are various SQL flavors and implementations, such as Oracle SQL, MySQL (open source), PostgreSQL (open source), IBM DB2, Microsoft SQL Server, Microsoft Access, SQLite (open source)
- These implementations have slightly different syntax and various additional features.
- In DSCI 513, we use **PostgreSQL**

<img src="img/lecture1/flavours_sql.png" width="700">

## What is PostgreSQL?

[PostgreSQL](https://www.postgresql.org/about/) (also known simply by its nickname _Postgres_) is an open-source, cross-platform DBMS that implements the relational model. PostgreSQL is very reliable with great performance characteristics, and is equipped with almost all features of the commercial and proprietary DBMSs.

PostgreSQL appeared in 1980s as a research project in University of California, Berkeley. It was meant to improve an earlier prototype relational DBMS called INGRES, which explains the name Postgres, which is short for PostINGRES. [Here](https://medium.com/launch-school/a-brief-history-of-postgresql-36d8d392c611) is an informative blog post about PostgreSQL's history if you're interested!

## The client-server model

Similar to most other DBMSs, Postgres works based on a **client-sever** model. In this model

- The DBMS along with its databases and data are all stored on a host computer where the database server resides. This is typically a powerful machine with high processing power and large storage
- Client hosts are usually personal computers with GUIs that can connect to a database server to access the data.

In this model, the clients and the server are connected over a network. The heavy-lifting of processing, managing and storing large amounts of data is done by the server host, and clients only retrieve the data that they need.

<img src="img/lecture1/client-server.png" width="500">

> Although sometimes used interchangeably, there is a difference between a **client/server** and a **client/server host**. A host is a device, whereas a client/server is a piece of software. For example, you can simultaneously have multiple client programs connected to a remote database. Similarly, a remote host is a device (i.e. a computer) that might have several server programs running concurrently.

The idea of client-server models for databases has become the standard of computation and storage today, known as **cloud computing**:

- Today we rarely store movie or music files on our computers. This is why most of us have laptops with only 256/512 GB of space, because most of that takes up space is already provided as a cloud service (e.g. Netflix, Spotify, Youtube), or is stored on cloud storage spaces (e.g. One Drive, Dropbox, Google Drive).
- We rarely run production-stage computation-intensive jobs on our own computers. All such computations are done on cloud-computing services (e.g. Google Cloud Platform, Amazon Web Services, Microsoft Azure). I personally haven't run a single simulation code on my own computer, neither ever stored any raw data locally. I use my computer mainly as an interface to access the services that I want.

> Note that there are certain situations where one might want to **locally** benefit from the advantages of storing data in a database. A relational database engine that works only with local databases is SQLite. If you're curious to find out the use cases for **SQLite**, take a look [here](https://www.sqlite.org/whentouse.html).

Whenever we use Postgres (or any other client-server DBMS), the first step before anything else is to **connect** to the database server. This is why we will talk about _host address_, _port_, _username_, and _password_ when we try to use a database.

## How to run SQL in Postgres?

Well, we have a variety of options to run our SQL statements in PostgreSQL:

- pgAdmin is the official web-based GUI for interacting with PostgreSQL databases
- `psql` is PostgreSQL's interactive command-line interface
- `%sql` and `%%sql` magic commands in Jupyter notebooks, which are provided by the `ipython-sql` package
- `psycopg2` is the official Python adapter for PostgreSQL databases
- Using `.read_sql_query()` method in Pandas

I will demonstrate the usage of `%sql` and `%%sql` provided by the `ipython-sql` interfaces here.

### `psql`

This is PostgreSQL's command-line tool that allows us to interactively run SQL statements as well as "meta" commands. I introduce a couple of useful `psql` meta commands here, but you can find all the other ones in Postgres documentations [here](https://www.postgresql.org/docs/current/app-psql.html) or a shorter version in this [cheatsheet](http://www.postgresonline.com/downloads/special_feature/postgresql83_psql_cheatsheet.pdf).

| Command | Usage                                         |
|---------|-----------------------------------------------|
| `\l`    | list all databases                            |
| `\c`    | connect to a database                         |
| `\cd`   | change directory                              |
| `\!`    | execute shell commands                        |
| `\i`    | execute commands from file                    |
| `\d`    | list tables and views                         |
| `\d+`   | list tables and views with additional info    |
| `\dt`   | list tables                                   |
| `\dt+`  | list tables with additional info              |
| `\h`    | view help on SQL commands                     |
| `\?`    | view help on psql meta commands               |
| `\q`    | quit interactive shell                        |

> Note that you don't need to terminate meta commands with `;`.

### `ipython-sql` (`%sql` and `%%sql`)

`ipython-sql` is a package that enables us to run SQL statements right from a Jupyter notebook. This package is included in the `dsci513env.yaml` environment file, so you should have it installed in your conda environment. In order to use it, we should load it first:

In [1]:
%load_ext sql

Now we need the host address of where the database is stored, along with a username and a password.

It is always a bad idea to store login information directly in a notebook or code file because of security reasons. For example, you don't want to commit your sensitive login information to a Git repo.

In order to avoid that, we store that kind of information in a separate file, like `credentials.json` here, and read the username and password into our IPython session:

In [2]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

And also make sure to add your file name (e.g. `credentials.json`) to your `.gitignore` file, so you don't accidentally commit it.

Now we can establish the connection to the `world_dsci513` database using the following code:

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/world_dsci513

'Connected: postgres@world_dsci513'

Note that we have used the `%sql` line magic to interpret the line in front of it as a magic command. This is similar to the `%timit` magic that we used in DSCI 511.

We can also use `%%sql` cell magic to apply the magic to an entire notebook cell.

A limited number of `psql` meta commands (e.g. `\l`, `d`) can also be executed here. This is made possible through the `pgspecial` package. For example, let's list all databases that exist on our PostgreSQL server:

In [5]:
%sql \l

 * postgresql://postgres:***@localhost:5432/world_dsci513
4 rows affected.

[('postgres', 'postgres', 'UTF8', 'C', 'C', None),
 ('template0',
  'postgres',
  'UTF8',
  'C',
  'C',
  '=c/postgres\npostgres=CTc/postgres'),
 ('template1',
  'postgres',
  'UTF8',
  'C',
  'C',
  '=c/postgres\npostgres=CTc/postgres'),
 ('world_dsci513', 'postgres', 'UTF8', 'C', 'C', None)]

Or list the relations (i.e. tables) in the current database:

In [6]:
%sql \d

 * postgresql://postgres:***@localhost:5432/world_dsci513
3 rows affected.

[('public', 'city', 'table', 'postgres'),
 ('public', 'country', 'table', 'postgres'),
 ('public', 'countrylanguage', 'table', 'postgres')]

Let's run some SQL statements now. Let's retrieve the `name` and `population` columns from the `country` table:

In [6]:
%sql SELECT name, population FROM country;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

#### Limiting returned and displayed rows

As you can see, all rows are returned and displayed by default. This behaviour can be problematic if our table is very large for two reasons:
1. Retrieving large tables can be slow, and maybe not necessary
2. Displaying a lot of rows clutters our Jupyter notebook

We can modifying `ipython-sql` configuration to limit the number of returned and displayed rows. For example, here we change the display limit:

In [8]:
%config SqlMagic.displaylimit = 20

In [9]:
%sql SELECT name, population FROM country;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

Looks good. Let's apply the magic to an entire cell so that we can break the lines:

In [10]:
%%sql

SELECT
    name, population
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

We can use `*` to retrieve all columns:

In [11]:
%%sql

SELECT
    *
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 15864000, 78.3, Decimal('371362.00'), Decimal('360478.00'), 'Nederland', 'Constitutional Monarchy', 'Beatrix', 5, 'NL'),
 ('ANT', 'Netherlands Antilles', 'North America', 'Caribbean', 800.0, None, 217000, 74.7, Decimal('1941.00'), None, 'Nederlandse Antillen', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 33, 'AN'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL'),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381741.0, 1962, 31471000, 69.7, Decimal('49982.00'), Decimal('46966.00'), 'Al-Jaza\x92ir/Algérie', 'Republic', 'Abdelaziz Bouteflika', 35, 'DZ'),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 68000, 75.1, Decimal('334.00'), None, 'Amerika Samoa', 'US Territory', 'George W. Bush', 54, 'AS'),
 ('AND', 'Andorra', 'Europe', 'Southern Europe', 468.0, 1278, 78000, 83.5, Decimal('1630.00'), None, 'Andorra', 'Parliamentary Coprincipality', '', 55, 'AD'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ATG', 'Antigua and Barbuda', 'North America', 'Caribbean', 442.0, 1981, 68000, 70.5, Decimal('612.00'), Decimal('584.00'), 'Antigua and Barbuda', 'Constitutional Monarchy', 'Elisabeth II', 63, 'AG'),
 ('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'),
 ('ARG', 'Argentina', 'South America', 'South America', 2780400.0, 1816, 37032000, 75.1, Decimal('340238.00'), Decimal('323310.00'), 'Argentina', 'Federal Republic', 'Fernando de la Rúa', 69, 'AR'),
 ('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kot\x9aarjan', 126, 'AM'),
 ('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AUS', 'Australia', 'Oceania', 'Australia and New Zealand', 7741220.0, 1901, 18886000, 79.8, Decimal('351182.00'), Decimal('392911.00'), 'Australia', 'Constitutional Monarchy, Federation', 'Elisabeth II', 135, 'AU'),
 ('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'),
 ('BHS', 'Bahamas', 'North America', 'Caribbean', 13878.0, 1973, 307000, 71.1, Decimal('3527.00'), Decimal('3347.00'), 'The Bahamas', 'Constitutional Monarchy', 'Elisabeth II', 148, 'BS'),
 ('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, Decimal('6366.00'), Decimal('6097.00'), 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH'),
 ('BGD', 'Bangladesh', 'Asia', 'Southern and Central Asia', 143998.0, 1971, 129155000, 60.2, Decimal('32852.00'), Decimal('31966.00'), 'Bangladesh', 'Republic', 'Shahabuddin Ahmad', 150, 'BD'),
 ('BRB', 'Barbados', 'North America', 'Caribbean', 430.0, 1966, 270000, 73.0, Decimal('2223.00'), Decimal('2186.00'), 'Barbados', 'Constitutional Monarchy', 'Elisabeth II', 174, 'BB'),
 ('BEL', 'Belgium', 'Europe', 'Western Europe', 30518.0, 1830, 10239000, 77.8, Decimal('249704.00'), Decimal('243948.00'), 'België/Belgique', 'Constitutional Monarchy, Federation', 'Albert II', 179, 'BE'),
 ('BLZ', 'Belize', 'North America', 'Central America', 22696.0, 1981, 241000, 70.9, Decimal('630.00'), Decimal('616.00'), 'Belize', 'Constitutional Monarchy', 'Elisabeth II', 185, 'BZ'),
 ('BEN', 'Benin', 'Africa', 'Western Africa', 112622.0, 1960, 6097000, 50.2, Decimal('2357.00'), Decimal('2141.00'), 'Bénin', 'Republic', 'Mathieu Kérékou', 187, 'BJ'),
 ('BMU', 'Bermuda', 'North America', 'North America', 53.0, None, 65000, 76.9, Decimal('2328.00'), Decimal('2190.00'), 'Bermuda', 'Dependent Territory of the UK', 'Elisabeth II', 191, 'BM'),
 ('BTN', 'Bhutan', 'Asia', 'Southern and Central Asia', 47000.0, 1910, 2124000, 52.4, Decimal('372.00'), Decimal('383.00'), 'Druk-Yul', 'Monarchy', 'Jigme Singye Wangchuk', 192, 'BT'),
 ('BOL', 'Bolivia', 'South America', 'South America', 1098581.0, 1825, 8329000, 63.7, Decimal('8571.00'), Decimal('7967.00'), 'Bolivia', 'Republic', 'Hugo Bánzer Suárez', 194, 'BO'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe', 'Southern Europe', 51197.0, 1992, 3972000, 71.5, Decimal('2841.00'), None, 'Bosna i Hercegovina', 'Federal Republic', 'Ante Jelavic', 201, 'BA'),
 ('BWA', 'Botswana', 'Africa', 'Southern Africa', 581730.0, 1966, 1622000, 39.3, Decimal('4834.00'), Decimal('4935.00'), 'Botswana', 'Republic', 'Festus G. Mogae', 204, 'BW'),
 ('BRA', 'Brazil', 'South America', 'South America', 8547403.0, 1822, 170115000, 62.9, Decimal('776739.00'), Decimal('804108.00'), 'Brasil', 'Federal Republic', 'Fernando Henrique Cardoso', 211, 'BR'),
 ('GBR', 'United Kingdom', 'Europe', 'British Islands', 242900.0, 1066, 59623400, 77.7, Decimal('1378330.00'), Decimal('1296830.00'), 'United Kingdom', 'Constitutional Monarchy', 'Elisabeth II', 456, 'GB'),
 ('VGB', 'Virgin Islands, British', 'North America', 'Caribbean', 151.0, None, 21000, 75.4, Decimal('612.00'), Decimal('573.00'), 'British Virgin Islands', 'Dependent Territory of the UK', 'Elisabeth II', 537, 'VG'),
 ('BRN', 'Brunei', 'Asia', 'Southeast Asia', 5765.0, 1984, 328000, 73.6, Decimal('11705.00'), Decimal('12460.00'), 'Brunei Darussalam', 'Monarchy (Sultanate)', 'Haji Hassan al-Bolkiah', 538, 'BN'),
 ('BGR', 'Bulgaria', 'Europe', 'Eastern Europe', 110994.0, 1908, 8190900, 70.9, Decimal('12178.00'), Decimal('10169.00'), 'Balgarija', 'Republic', 'Petar Stojanov', 539, 'BG'),
 ('BFA', 'Burkina Faso', 'Africa', 'Western Africa', 274000.0, 1960, 11937000, 46.7, Decimal('2425.00'), Decimal('2201.00'), 'Burkina Faso', 'Republic', 'Blaise Compaoré', 549, 'BF'),
 ('BDI', 'Burundi', 'Africa', 'Eastern Africa', 27834.0, 1962, 6695000, 46.2, Decimal('903.00'), Decimal('982.00'), 'Burundi/Uburundi', 'Republic', 'Pierre Buyoya', 552, 'BI'),
 ('CYM', 'Cayman Islands', 'North America', 'Caribbean', 264.0, None, 38000, 78.9, Decimal('1263.00'), Decimal('1186.00'), 'Cayman Islands', 'Dependent Territory of the UK', 'Elisabeth II', 553, 'KY'),
 ('CHL', 'Chile', 'South America', 'South America', 756626.0, 1810, 15211000, 75.7, Decimal('72949.00'), Decimal('75780.00'), 'Chile', 'Republic', 'Ricardo Lagos Escobar', 554, 'CL'),
 ('COK', 'Cook Islands', 'Oceania', 'Polynesia', 236.0, None, 20000, 71.1, Decimal('100.00'), None, 'The Cook Islands', 'Nonmetropolitan Territory of New Zealand', 'Elisabeth II', 583, 'CK'),
 ('CRI', 'Costa Rica', 'North America', 'Central America', 51100.0, 1821, 4023000, 75.8, Decimal('10226.00'), Decimal('9757.00'), 'Costa Rica', 'Republic', 'Miguel Ángel Rodríguez Echeverría', 584, 'CR'),
 ('DJI', 'Djibouti', 'Africa', 'Eastern Africa', 23200.0, 1977, 638000, 50.8, Decimal('382.00'), Decimal('373.00'), 'Djibouti/Jibuti', 'Republic', 'Ismail Omar Guelleh', 585, 'DJ'),
 ('DMA', 'Dominica', 'North America', 'Caribbean', 751.0, 1978, 71000, 73.4, Decimal('256.00'), Decimal('243.00'), 'Dominica', 'Republic', 'Vernon Shaw', 586, 'DM'),
 ('DOM', 'Dominican Republic', 'North America', 'Caribbean', 48511.0, 1844, 8495000, 73.2, Decimal('15846.00'), Decimal('15076.00'), 'República Dominicana', 'Republic', 'Hipólito Mejía Domínguez', 587, 'DO'),
 ('ECU', 'Ecuador', 'South America', 'South America', 283561.0, 1822, 12646000, 71.1, Decimal('19770.00'), Decimal('19769.00'), 'Ecuador', 'Republic', 'Gustavo Noboa Bejarano', 594, 'EC'),
 ('EGY', 'Egypt', 'Africa', 'Northern Africa', 1001449.0, 1922, 68470000, 63.3, Decimal('82710.00'), Decimal('75617.00'), 'Misr', 'Republic', 'Hosni Mubarak', 608, 'EG'),
 ('SLV', 'El Salvador', 'North America', 'Central America', 21041.0, 1841, 6276000, 69.7, Decimal('11863.00'), Decimal('11203.00'), 'El Salvador', 'Republic', 'Francisco Guillermo Flores Pérez', 645, 'SV'),
 ('ERI', 'Eritrea', 'Africa', 'Eastern Africa', 117600.0, 1993, 3850000, 55.8, Decimal('650.00'), Decimal('755.00'), 'Ertra', 'Republic', 'Isayas Afewerki [Isaias Afwerki]', 652, 'ER'),
 ('ESP', 'Spain', 'Europe', 'Southern Europe', 505992.0, 1492, 39441700, 78.8, Decimal('553233.00'), Decimal('532031.00'), 'España', 'Constitutional Monarchy', 'Juan Carlos I', 653, 'ES'),
 ('ZAF', 'South Africa', 'Africa', 'Southern Africa', 1221037.0, 1910, 40377000, 51.1, Decimal('116729.00'), Decimal('129092.00'), 'South Africa', 'Republic', 'Thabo Mbeki', 716, 'ZA'),
 ('ETH', 'Ethiopia', 'Africa', 'Eastern Africa', 1104300.0, -1000, 62565000, 45.2, Decimal('6353.00'), Decimal('6180.00'), 'YeItyop´iya', 'Republic', 'Negasso Gidada', 756, 'ET'),
 ('FLK', 'Falkland Islands', 'South America', 'South America', 12173.0, None, 2000, None, Decimal('0.00'), None, 'Falkland Islands', 'Dependent Territory of the UK', 'Elisabeth II', 763, 'FK'),
 ('FJI', 'Fiji Islands', 'Oceania', 'Melanesia', 18274.0, 1970, 817000, 67.9, Decimal('1536.00'), Decimal('2149.00'), 'Fiji Islands', 'Republic', 'Josefa Iloilo', 764, 'FJ'),
 ('PHL', 'Philippines', 'Asia', 'Southeast Asia', 300000.0, 1946, 75967000, 67.5, Decimal('65107.00'), Decimal('82239.00'), 'Pilipinas', 'Republic', 'Gloria Macapagal-Arroyo', 766, 'PH'),
 ('FRO', 'Faroe Islands', 'Europe', 'Nordic Countries', 1399.0, None, 43000, 78.4, Decimal('0.00'), None, 'Føroyar', 'Part of Denmark', 'Margrethe II', 901, 'FO'),
 ('GAB', 'Gabon', 'Africa', 'Central Africa', 267668.0, 1960, 1226000, 50.1, Decimal('5493.00'), Decimal('5279.00'), 'Le Gabon', 'Republic', 'Omar Bongo', 902, 'GA'),
 ('GMB', 'Gambia', 'Africa', 'Western Africa', 11295.0, 1965, 1305000, 53.2, Decimal('320.00'), Decimal('325.00'), 'The Gambia', 'Republic', 'Yahya Jammeh', 904, 'GM'),
 ('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, Decimal('6064.00'), Decimal('5924.00'), 'Sakartvelo', 'Republic', 'Eduard \x8aevardnadze', 905, 'GE'),
 ('GHA', 'Ghana', 'Africa', 'Western Africa', 238533.0, 1957, 20212000, 57.4, Decimal('7137.00'), Decimal('6884.00'), 'Ghana', 'Republic', 'John Kufuor', 910, 'GH'),
 ('GIB', 'Gibraltar', 'Europe', 'Southern Europe', 6.0, None, 25000, 79.0, Decimal('258.00'), None, 'Gibraltar', 'Dependent Territory of the UK', 'Elisabeth II', 915, 'GI'),
 ('GRD', 'Grenada', 'North America', 'Caribbean', 344.0, 1974, 94000, 64.5, Decimal('318.00'), None, 'Grenada', 'Constitutional Monarchy', 'Elisabeth II', 916, 'GD'),
 ('GRL', 'Greenland', 'North America', 'North America', 2166090.0, None, 56000, 68.1, Decimal('0.00'), None, 'Kalaallit Nunaat/Grønland', 'Part of Denmark', 'Margrethe II', 917, 'GL'),
 ('GLP', 'Guadeloupe', 'North America', 'Caribbean', 1705.0, None, 456000, 77.0, Decimal('3501.00'), None, 'Guadeloupe', 'Overseas Department of France', 'Jacques Chirac', 919, 'GP'),
 ('GUM', 'Guam', 'Oceania', 'Micronesia', 549.0, None, 168000, 77.8, Decimal('1197.00'), Decimal('1136.00'), 'Guam', 'US Territory', 'George W. Bush', 921, 'GU'),
 ('GTM', 'Guatemala', 'North America', 'Central America', 108889.0, 1821, 11385000, 66.2, Decimal('19008.00'), Decimal('17797.00'), 'Guatemala', 'Republic', 'Alfonso Portillo Cabrera', 922, 'GT'),
 ('GIN', 'Guinea', 'Africa', 'Western Africa', 245857.0, 1958, 7430000, 45.6, Decimal('2352.00'), Decimal('2383.00'), 'Guinée', 'Republic', 'Lansana Conté', 926, 'GN'),
 ('GNB', 'Guinea-Bissau', 'Africa', 'Western Africa', 36125.0, 1974, 1213000, 49.0, Decimal('293.00'), Decimal('272.00'), 'Guiné-Bissau', 'Republic', 'Kumba Ialá', 927, 'GW'),
 ('GUY', 'Guyana', 'South America', 'South America', 214969.0, 1966, 861000, 64.0, Decimal('722.00'), Decimal('743.00'), 'Guyana', 'Republic', 'Bharrat Jagdeo', 928, 'GY'),
 ('HTI', 'Haiti', 'North America', 'Caribbean', 27750.0, 1804, 8222000, 49.2, Decimal('3459.00'), Decimal('3107.00'), 'Haïti/Dayti', 'Republic', 'Jean-Bertrand Aristide', 929, 'HT'),
 ('HND', 'Honduras', 'North America', 'Central America', 112088.0, 1838, 6485000, 69.9, Decimal('5333.00'), Decimal('4697.00'), 'Honduras', 'Republic', 'Carlos Roberto Flores Facussé', 933, 'HN'),
 ('HKG', 'Hong Kong', 'Asia', 'Eastern Asia', 1075.0, None, 6782000, 79.5, Decimal('166448.00'), Decimal('173610.00'), 'Xianggang/Hong Kong', 'Special Administrative Region of China', 'Jiang Zemin', 937, 'HK'),
 ('SJM', 'Svalbard and Jan Mayen', 'Europe', 'Nordic Countries', 62422.0, None, 3200, None, Decimal('0.00'), None, 'Svalbard og Jan Mayen', 'Dependent Territory of Norway', 'Harald V', 938, 'SJ'),
 ('IDN', 'Indonesia', 'Asia', 'Southeast Asia', 1904569.0, 1945, 212107000, 68.0, Decimal('84982.00'), Decimal('215002.00'), 'Indonesia', 'Republic', 'Abdurrahman Wahid', 939, 'ID'),
 ('IND', 'India', 'Asia', 'Southern and Central Asia', 3287263.0, 1947, 1013662000, 62.5, Decimal('447114.00'), Decimal('430572.00'), 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109, 'IN'),
 ('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, Decimal('11500.00'), None, 'Al-´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ'),
 ('IRN', 'Iran', 'Asia', 'Southern and Central Asia', 1648195.0, 1906, 67702000, 69.7, Decimal('195746.00'), Decimal('160151.00'), 'Iran', 'Islamic Republic', 'Ali Mohammad Khatami-Ardakani', 1380, 'IR'),
 ('IRL', 'Ireland', 'Europe', 'British Islands', 70273.0, 1921, 3775100, 76.8, Decimal('75921.00'), Decimal('73132.00'), 'Ireland/Éire', 'Republic', 'Mary McAleese', 1447, 'IE'),
 ('ISL', 'Iceland', 'Europe', 'Nordic Countries', 103000.0, 1944, 279000, 79.4, Decimal('8255.00'), Decimal('7474.00'), 'Ísland', 'Republic', 'Ólafur Ragnar Grímsson', 1449, 'IS'),
 ('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, Decimal('97477.00'), Decimal('98577.00'), 'Yisra\x92el/Isra\x92il', 'Republic', 'Moshe Katzav', 1450, 'IL'),
 ('ITA', 'Italy', 'Europe', 'Southern Europe', 301316.0, 1861, 57680000, 79.0, Decimal('1161755.00'), Decimal('1145372.00'), 'Italia', 'Republic', 'Carlo Azeglio Ciampi', 1464, 'IT'),
 ('TMP', 'East Timor', 'Asia', 'Southeast Asia', 14874.0, None, 885000, 46.0, Decimal('0.00'), None, 'Timor Timur', 'Administrated by the UN', 'José Alexandre Gusmão', 1522, 'TP'),
 ('AUT', 'Austria', 'Europe', 'Western Europe', 83859.0, 1918, 8091800, 77.7, Decimal('211860.00'), Decimal('206025.00'), 'Österreich', 'Federal Republic', 'Thomas Klestil', 1523, 'AT'),
 ('JAM', 'Jamaica', 'North America', 'Caribbean', 10990.0, 1962, 2583000, 75.2, Decimal('6871.00'), Decimal('6722.00'), 'Jamaica', 'Constitutional Monarchy', 'Elisabeth II', 1530, 'JM'),
 ('JPN', 'Japan', 'Asia', 'Eastern Asia', 377829.0, -660, 126714000, 80.7, Decimal('3787042.00'), Decimal('4192638.00'), 'Nihon/Nippon', 'Constitutional Monarchy', 'Akihito', 1532, 'JP'),
 ('YEM', 'Yemen', 'Asia', 'Middle East', 527968.0, 1918, 18112000, 59.8, Decimal('6041.00'), Decimal('5729.00'), 'Al-Yaman', 'Republic', 'Ali Abdallah Salih', 1780, 'YE'),
 ('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, Decimal('7526.00'), Decimal('7051.00'), 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO'),
 ('CXR', 'Christmas Island', 'Oceania', 'Australia and New Zealand', 135.0, None, 2500, None, Decimal('0.00'), None, 'Christmas Island', 'Territory of Australia', 'Elisabeth II', 1791, 'CX'),
 ('YUG', 'Yugoslavia', 'Europe', 'Southern Europe', 102173.0, 1918, 10640000, 72.4, Decimal('17000.00'), None, 'Jugoslavija', 'Federal Republic', 'Vojislav Ko\x9atunica', 1792, 'YU'),
 ('KHM', 'Cambodia', 'Asia', 'Southeast Asia', 181035.0, 1953, 11168000, 56.5, Decimal('5121.00'), Decimal('5670.00'), 'Kâmpuchéa', 'Constitutional Monarchy', 'Norodom Sihanouk', 1800, 'KH'),
 ('CMR', 'Cameroon', 'Africa', 'Central Africa', 475442.0, 1960, 15085000, 54.8, Decimal('9174.00'), Decimal('8596.00'), 'Cameroun/Cameroon', 'Republic', 'Paul Biya', 1804, 'CM'),
 ('CAN', 'Canada', 'North America', 'North America', 9970610.0, 1867, 31147000, 79.4, Decimal('598862.00'), Decimal('625626.00'), 'Canada', 'Constitutional Monarchy, Federation', 'Elisabeth II', 1822, 'CA'),
 ('CPV', 'Cape Verde', 'Africa', 'Western Africa', 4033.0, 1975, 428000, 68.9, Decimal('435.00'), Decimal('420.00'), 'Cabo Verde', 'Republic', 'António Mascarenhas Monteiro', 1859, 'CV'),
 ('KAZ', 'Kazakstan', 'Asia', 'Southern and Central Asia', 2724900.0, 1991, 16223000, 63.2, Decimal('24375.00'), Decimal('23383.00'), 'Qazaqstan', 'Republic', 'Nursultan Nazarbajev', 1864, 'KZ'),
 ('KEN', 'Kenya', 'Africa', 'Eastern Africa', 580367.0, 1963, 30080000, 48.0, Decimal('9217.00'), Decimal('10241.00'), 'Kenya', 'Republic', 'Daniel arap Moi', 1881, 'KE'),
 ('CAF', 'Central African Republic', 'Africa', 'Central Africa', 622984.0, 1960, 3615000, 44.0, Decimal('1054.00'), Decimal('993.00'), 'Centrafrique/Bê-Afrîka', 'Republic', 'Ange-Félix Patassé', 1889, 'CF'),
 ('CHN', 'China', 'Asia', 'Eastern Asia', 9572900.0, -1523, 1277558000, 71.4, Decimal('982268.00'), Decimal('917719.00'), 'Zhongquo', "People'sRepublic", 'Jiang Zemin', 1891, 'CN'),
 ('KGZ', 'Kyrgyzstan', 'Asia', 'Southern and Central Asia', 199900.0, 1991, 4699000, 63.4, Decimal('1626.00'), Decimal('1767.00'), 'Kyrgyzstan', 'Republic', 'Askar Akajev', 2253, 'KG'),
 ('KIR', 'Kiribati', 'Oceania', 'Micronesia', 726.0, 1979, 83000, 59.8, Decimal('40.70'), None, 'Kiribati', 'Republic', 'Teburoro Tito', 2256, 'KI'),
 ('COL', 'Colombia', 'South America', 'South America', 1138914.0, 1810, 42321000, 70.3, Decimal('102896.00'), Decimal('105116.00'), 'Colombia', 'Republic', 'Andrés Pastrana Arango', 2257, 'CO'),
 ('COM', 'Comoros', 'Africa', 'Eastern Africa', 1862.0, 1975, 578000, 60.0, Decimal('4401.00'), Decimal('4361.00'), 'Komori/Comores', 'Republic', 'Azali Assoumani', 2295, 'KM'),
 ('COG', 'Congo', 'Africa', 'Central Africa', 342000.0, 1960, 2943000, 47.4, Decimal('2108.00'), Decimal('2287.00'), 'Congo', 'Republic', 'Denis Sassou-Nguesso', 2296, 'CG'),
 ('COD', 'Congo, The Democratic Republic of the', 'Africa', 'Central Africa', 2344858.0, 1960, 51654000, 48.8, Decimal('6964.00'), Decimal('2474.00'), 'République Démocratique du Congo', 'Republic', 'Joseph Kabila', 2298, 'CD'),
 ('CCK', 'Cocos (Keeling) Islands', 'Oceania', 'Australia and New Zealand', 14.0, None, 600, None, Decimal('0.00'), None, 'Cocos (Keeling) Islands', 'Territory of Australia', 'Elisabeth II', 2317, 'CC'),
 ('PRK', 'North Korea', 'Asia', 'Eastern Asia', 120538.0, 1948, 24039000, 70.7, Decimal('5332.00'), None, 'Choson Minjujuui In´min Konghwaguk (Bukhan)', 'Socialistic Republic', 'Kim Jong-il', 2318, 'KP'),
 ('KOR', 'South Korea', 'Asia', 'Eastern Asia', 99434.0, 1948, 46844000, 74.4, Decimal('320749.00'), Decimal('442544.00'), 'Taehan Min\x92guk (Namhan)', 'Republic', 'Kim Dae-jung', 2331, 'KR'),
 ('GRC', 'Greece', 'Europe', 'Southern Europe', 131626.0, 1830, 10545700, 78.4, Decimal('120724.00'), Decimal('119946.00'), 'Elláda', 'Republic', 'Kostis Stefanopoulos', 2401, 'GR'),
 ('HRV', 'Croatia', 'Europe', 'Southern Europe', 56538.0, 1991, 4473000, 73.7, Decimal('20208.00'), Decimal('19300.00'), 'Hrvatska', 'Republic', '\x8atipe Mesic', 2409, 'HR'),
 ('CUB', 'Cuba', 'North America', 'Caribbean', 110861.0, 1902, 11201000, 76.2, Decimal('17843.00'), Decimal('18862.00'), 'Cuba', 'Socialistic Republic', 'Fidel Castro Ruz', 2413, 'CU'),

## More SQL commands

### `DISTINCT`

The `DISTINCT` keyword is used to return only distinct rows from a table, and ignore duplicates:

```sql
SELECT
    DISTINCT column1, column2, ...
FROM
    table1;
```

Note that `DISTINCT` is applied to **all columns** that we list in front of `SELECT`, and returns all distinct combinations of values stored in those columns. In the above code snippet, columns other than `column1` and `column2` can still have duplicate values.

In [25]:
%%sql

SELECT
    DISTINCT continent
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
7 rows affected.

[('Asia',),
 ('South America',),
 ('North America',),
 ('Oceania',),
 ('Antarctica',),
 ('Africa',),
 ('Europe',)]

In [26]:
%%sql

SELECT
    DISTINCT continent, region
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
25 rows affected.

[('Oceania', 'Melanesia'),
 ('Oceania', 'Australia and New Zealand'),
 ('North America', 'Central America'),
 ('Africa', 'Northern Africa'),
 ('Asia', 'Eastern Asia'),
 ('Oceania', 'Polynesia'),
 ('Europe', 'Nordic Countries'),
 ('Asia', 'Middle East'),
 ('Oceania', 'Micronesia/Caribbean'),
 ('Europe', 'Baltic Countries'),
 ('Asia', 'Southern and Central Asia'),
 ('Africa', 'Southern Africa'),
 ('Africa', 'Western Africa'),
 ('Oceania', 'Micronesia'),
 ('Europe', 'British Islands'),
 ('North America', 'Caribbean'),
 ('Asia', 'Southeast Asia'),
 ('Africa', 'Central Africa'),
 ('Europe', 'Western Europe'),
 ('Europe', 'Southern Europe'),
 ('Africa', 'Eastern Africa'),
 ('North America', 'North America'),
 ('South America', 'South America'),
 ('Antarctica', 'Antarctica'),
 ('Europe', 'Eastern Europe')]

### `DISTINCT ON`

`DISTINCT ON` is not standard SQL, but a useful Postgres extension which allows us to return distinct rows based on the value of a **single** column (`DISTINCT` applies to all columns).

```sql
SELECT
    DISTINCT ON (column1), column2
FROM
    table1
;
```

Note that only the first row of each duplicate group is returned. It's not predictable which row in the duplicate group is returned as the first row!

In [ ]:
%%sql

SELECT
    DISTINCT ON (countrycode) countrycode, name
FROM
    city
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
232 rows affected.

[('ABW', 'Oranjestad'),
 ('AFG', 'Mazar-e-Sharif'),
 ('AGO', 'Luanda'),
 ('AIA', 'The Valley'),
 ('ALB', 'Tirana'),
 ('AND', 'Andorra la Vella'),
 ('ANT', 'Willemstad'),
 ('ARE', 'Abu Dhabi'),
 ('ARG', 'San Salvador de Jujuy'),
 ('ARM', 'Yerevan'),
 ('ASM', 'Fagatogo'),
 ('ATG', 'Saint John´s'),
 ('AUS', 'Hobart'),
 ('AUT', 'Klagenfurt'),
 ('AZE', 'Gäncä'),
 ('BDI', 'Bujumbura'),
 ('BEL', 'Namur'),
 ('BEN', 'Porto-Novo'),
 ('BFA', 'Ouagadougou'),
 ('BGD', 'Pabna'),
 ('BGR', 'Varna'),
 ('BHR', 'al-Manama'),
 ('BHS', 'Nassau'),
 ('BIH', 'Zenica'),
 ('BLR', 'Or\x9aa'),
 ('BLZ', 'Belize City'),
 ('BMU', 'Hamilton'),
 ('BOL', 'Sucre'),
 ('BRA', 'Varginha'),
 ('BRB', 'Bridgetown'),
 ('BRN', 'Bandar Seri Begawan'),
 ('BTN', 'Thimphu'),
 ('BWA', 'Gaborone'),
 ('CAF', 'Bangui'),
 ('CAN', 'Vaughan'),
 ('CCK', 'West Island'),
 ('CHE', 'Lausanne'),
 ('CHL', 'San Bernardo'),
 ('CHN', 'Shiyan'),
 ('CIV', 'Daloa'),
 ('CMR', 'Bamenda'),
 ('COD', 'Kananga'),
 ('COG', 'Brazzaville'),
 ('COK', 'Avarua'),
 ('COL', 'Cali'),
 ('COM', 'Moroni'),
 ('CPV', 'Praia'),
 ('CRI', 'San José'),
 ('CUB', 'Guantánamo'),
 ('CXR', 'Flying Fish Cove'),
 ('CYM', 'George Town'),
 ('CYP', 'Nicosia'),
 ('CZE', 'Praha'),
 ('DEU', 'Trier'),
 ('DJI', 'Djibouti'),
 ('DMA', 'Roseau'),
 ('DNK', 'Odense'),
 ('DOM', 'San Felipe de Puerto Plata'),
 ('DZA', 'Tlemcen (Tilimsen)'),
 ('ECU', 'Duran [Eloy Alfaro]'),
 ('EGY', 'Warraq al-Arab'),
 ('ERI', 'Asmara'),
 ('ESH', 'El-Aaiún'),
 ('ESP', 'Santander'),
 ('EST', 'Tallinn'),
 ('ETH', 'Mekele'),
 ('FIN', 'Tampere'),
 ('FJI', 'Suva'),
 ('FLK', 'Stanley'),
 ('FRA', 'Villeurbanne'),
 ('FRO', 'Tórshavn'),
 ('FSM', 'Palikir'),
 ('GAB', 'Libreville'),
 ('GBR', 'Brighton'),
 ('GEO', 'Batumi'),
 ('GHA', 'Kumasi'),
 ('GIB', 'Gibraltar'),
 ('GIN', 'Conakry'),
 ('GLP', 'Les Abymes'),
 ('GMB', 'Banjul'),
 ('GNB', 'Bissau'),
 ('GNQ', 'Malabo'),
 ('GRC', 'Herakleion'),
 ('GRD', 'Saint George´s'),
 ('GRL', 'Nuuk'),
 ('GTM', 'Quetzaltenango'),
 ('GUF', 'Cayenne'),
 ('GUM', 'Agaña'),
 ('GUY', 'Georgetown'),
 ('HKG', 'Victoria'),
 ('HND', 'La Ceiba'),
 ('HRV', 'Osijek'),
 ('HTI', 'Le-Cap-Haïtien'),
 ('HUN', 'Pécs'),
 ('IDN', 'Bandung'),
 ('IND', 'Gandhidham'),
 ('IRL', 'Cork'),
 ('IRN', 'Borujerd'),
 ('IRQ', 'al-Najaf'),
 ('ISL', 'Reykjavík'),
 ('ISR', 'Rishon Le Ziyyon'),
 ('ITA', 'Ferrara'),
 ('JAM', 'Portmore'),
 ('JOR', 'Amman'),
 ('JPN', 'Sapporo'),
 ('KAZ', 'Rudnyy'),
 ('KEN', 'Mombasa'),
 ('KGZ', 'Bishkek'),
 ('KHM', 'Siem Reap'),
 ('KIR', 'Bikenibeu'),
 ('KNA', 'Basseterre'),
 ('KOR', 'Tonghae'),
 ('KWT', 'al-Salimiya'),
 ('LAO', 'Vientiane'),
 ('LBN', 'Beirut'),
 ('LBR', 'Monrovia'),
 ('LBY', 'Misrata'),
 ('LCA', 'Castries'),
 ('LIE', 'Vaduz'),
 ('LKA', 'Dehiwala'),
 ('LSO', 'Maseru'),
 ('LTU', 'Panevezys'),
 ('LUX', 'Luxembourg [Luxemburg/Lëtzebuerg]'),
 ('LVA', 'Liepaja'),
 ('MAC', 'Macao'),
 ('MAR', 'Rabat'),
 ('MCO', 'Monte-Carlo'),
 ('MDA', 'Bender (Tîghina)'),
 ('MDG', 'Fianarantsoa'),
 ('MDV', 'Male'),
 ('MEX', 'Valle de Santiago'),
 ('MHL', 'Dalap-Uliga-Darrit'),
 ('MKD', 'Skopje'),
 ('MLI', 'Bamako'),
 ('MLT', 'Valletta'),
 ('MMR', 'Sittwe (Akyab)'),
 ('MNG', 'Ulan Bator'),
 ('MNP', 'Garapan'),
 ('MOZ', 'Mocuba'),
 ('MRT', 'Nouâdhibou'),
 ('MSR', 'Plymouth'),
 ('MTQ', 'Fort-de-France'),
 ('MUS', 'Beau Bassin-Rose Hill'),
 ('MWI', 'Lilongwe'),
 ('MYS', 'Taiping'),
 ('MYT', 'Mamoutzou'),
 ('NAM', 'Windhoek'),
 ('NCL', 'Nouméa'),
 ('NER', 'Maradi'),
 ('NFK', 'Kingston'),
 ('NGA', 'Deba Habe'),
 ('NIC', 'Chinandega'),
 ('NIU', 'Alofi'),
 ('NLD', 'Dordrecht'),
 ('NOR', 'Stavanger'),
 ('NPL', 'Pokhara'),
 ('NRU', 'Yaren'),
 ('NZL', 'Manukau'),
 ('OMN', 'Suhar'),
 ('PAK', 'Daska'),
 ('PAN', 'San Miguelito'),
 ('PCN', 'Adamstown'),
 ('PER', 'Puno'),
 ('PHL', 'Makati'),
 ('PLW', 'Koror'),
 ('PNG', 'Port Moresby'),
 ('POL', 'Radom'),
 ('PRI', 'Mayagüez'),
 ('PRK', 'Hyesan'),
 ('PRT', 'Braga'),
 ('PRY', 'Asunción'),
 ('PSE', 'Hebron'),
 ('PYF', 'Papeete'),
 ('QAT', 'Doha'),
 ('REU', 'Saint-Denis'),
 ('ROM', 'Galati'),
 ('RUS', 'Derbent'),
 ('RWA', 'Kigali'),
 ('SAU', 'al-Dammam'),
 ('SDN', 'Juba'),
 ('SEN', 'Mbour'),
 ('SGP', 'Singapore'),
 ('SHN', 'Jamestown'),
 ('SJM', 'Longyearbyen'),
 ('SLB', 'Honiara'),
 ('SLE', 'Freetown'),
 ('SLV', 'Soyapango'),
 ('SMR', 'San Marino'),
 ('SOM', 'Mogadishu'),
 ('SPM', 'Saint-Pierre'),
 ('STP', 'São Tomé'),
 ('SUR', 'Paramaribo'),
 ('SVK', 'Pre\x9aov'),
 ('SVN', 'Maribor'),
 ('SWE', 'Uppsala'),
 ('SWZ', 'Mbabane'),
 ('SYC', 'Victoria'),
 ('SYR', 'Damascus'),
 ('TCA', 'Cockburn Town'),
 ('TCD', 'N´Djaména'),
 ('TGO', 'Lomé'),
 ('THA', 'Hat Yai'),
 ('TJK', 'Dushanbe'),
 ('TKL', 'Fakaofo'),
 ('TKM', 'Ashgabat'),
 ('TMP', 'Dili'),
 ('TON', 'Nuku´alofa'),
 ('TTO', 'Chaguanas'),
 ('TUN', 'Tunis'),
 ('TUR', 'Kahramanmaras'),
 ('TUV', 'Funafuti'),
 ('TWN', 'Yuanlin'),
 ('TZA', 'Arusha'),
 ('UGA', 'Kampala'),
 ('UKR', 'Stahanov'),
 ('URY', 'Montevideo'),
 ('USA', 'Garden Grove'),
 ('UZB', 'Fargona'),
 ('VAT', 'Città del Vaticano'),
 ('VCT', 'Kingstown'),
 ('VEN', 'Guarenas'),
 ('VGB', 'Road Town'),
 ('VIR', 'Charlotte Amalie'),
 ('VNM', 'Vinh'),
 ('VUT', 'Port-Vila'),
 ('WLF', 'Mata-Utu'),
 ('WSM', 'Apia'),
 ('YEM', 'Ibb'),
 ('YUG', 'Podgorica'),
 ('ZAF', 'Oberholzer'),
 ('ZMB', 'Mufulira'),
 ('ZWE', 'Gweru')]

### `ORDER BY`

The `ORDER BY` keyword sorts the results according to one or particular set of columns:

```sql
SELECT
    column1, column2, ...
FROM
    table1
ORDER BY
    column1, column2, ...;
```

The rows are sorted in **ascending** order by default.

In [28]:
%%sql

SELECT
    name, population
FROM
    country
ORDER
    BY population
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('Heard Island and McDonald Islands', 0),
 ('United States Minor Outlying Islands', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('French Southern territories', 0),
 ('Pitcairn', 50),
 ('Cocos (Keeling) Islands', 600),
 ('Holy See (Vatican City State)', 1000),
 ('Niue', 2000),
 ('Tokelau', 2000),
 ('Falkland Islands', 2000),
 ('Norfolk Island', 2000),
 ('Christmas Island', 2500),
 ('Svalbard and Jan Mayen', 3200),
 ('Saint Helena', 6000),
 ('Saint Pierre and Miquelon', 7000),
 ('Anguilla', 8000),
 ('Montserrat', 11000),
 ('Tuvalu', 12000),
 ('Nauru', 12000),
 ('Wallis and Futuna', 15000),
 ('Turks and Caicos Islands', 17000),
 ('Palau', 19000),
 ('Cook Islands', 20000),
 ('Virgin Islands, British', 21000),
 ('Gibraltar', 25000),
 ('San Marino', 27000),
 ('Liechtenstein', 32300),
 ('Monaco', 34000),
 ('Cayman Islands', 38000),
 ('Saint Kitts and Nevis', 38000),
 ('Faroe Islands', 43000),
 ('Greenland', 56000),
 ('Marshall Islands', 64000),
 ('Bermuda', 65000),
 ('Antigua and Barbuda', 68000),
 ('American Samoa', 68000),
 ('Dominica', 71000),
 ('Seychelles', 77000),
 ('Andorra', 78000),
 ('Northern Mariana Islands', 78000),
 ('Kiribati', 83000),
 ('Virgin Islands, U.S.', 93000),
 ('Grenada', 94000),
 ('Tonga', 99000),
 ('Aruba', 103000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Micronesia, Federated States of', 119000),
 ('Sao Tome and Principe', 147000),
 ('Mayotte', 149000),
 ('Saint Lucia', 154000),
 ('Guam', 168000),
 ('Samoa', 180000),
 ('French Guiana', 181000),
 ('Vanuatu', 190000),
 ('New Caledonia', 214000),
 ('Netherlands Antilles', 217000),
 ('French Polynesia', 235000),
 ('Belize', 241000),
 ('Barbados', 270000),
 ('Iceland', 279000),
 ('Maldives', 286000),
 ('Western Sahara', 293000),
 ('Bahamas', 307000),
 ('Brunei', 328000),
 ('Malta', 380200),
 ('Martinique', 395000),
 ('Suriname', 417000),
 ('Cape Verde', 428000),
 ('Luxembourg', 435700),
 ('Solomon Islands', 444000),
 ('Equatorial Guinea', 453000),
 ('Guadeloupe', 456000),
 ('Macao', 473000),
 ('Comoros', 578000),
 ('Qatar', 599000),
 ('Bahrain', 617000),
 ('Djibouti', 638000),
 ('Réunion', 699000),
 ('Cyprus', 754700),
 ('Fiji Islands', 817000),
 ('Guyana', 861000),
 ('East Timor', 885000),
 ('Swaziland', 1008000),
 ('Mauritius', 1158000),
 ('Guinea-Bissau', 1213000),
 ('Gabon', 1226000),
 ('Trinidad and Tobago', 1295000),
 ('Gambia', 1305000),
 ('Estonia', 1439200),
 ('Botswana', 1622000),
 ('Namibia', 1726000),
 ('Kuwait', 1972000),
 ('Slovenia', 1987800),
 ('Macedonia', 2024000),
 ('Bhutan', 2124000),
 ('Lesotho', 2153000),
 ('Latvia', 2424200),
 ('United Arab Emirates', 2441000),
 ('Oman', 2542000),
 ('Jamaica', 2583000),
 ('Mongolia', 2662000),
 ('Mauritania', 2670000),
 ('Panama', 2856000),
 ('Congo', 2943000),
 ('Palestine', 3101000),
 ('Liberia', 3154000),
 ('Lebanon', 3282000),
 ('Uruguay', 3337000),
 ('Albania', 3401200),
 ('Armenia', 3520000),
 ('Singapore', 3567000),
 ('Central African Republic', 3615000),
 ('Lithuania', 3698500),
 ('Ireland', 3775100),
 ('Eritrea', 3850000),
 ('New Zealand', 3862000),
 ('Puerto Rico', 3869000),
 ('Bosnia and Herzegovina', 3972000),
 ('Costa Rica', 4023000),
 ('Moldova', 4380000),
 ('Turkmenistan', 4459000),
 ('Croatia', 4473000),
 ('Norway', 4478500),
 ('Togo', 4629000),
 ('Kyrgyzstan', 4699000),
 ('Papua New Guinea', 4807000),
 ('Sierra Leone', 4854000),
 ('Georgia', 4968000),
 ('Nicaragua', 5074000),
 ('Jordan', 5083000),
 ('Finland', 5171300),
 ('Denmark', 5330000),
 ('Slovakia', 5398700),
 ('Laos', 5433000),
 ('Paraguay', 5496000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Benin', 6097000),
 ('Tajikistan', 6188000),
 ('Israel', 6217000),
 ('El Salvador', 6276000),
 ('Honduras', 6485000),
 ('Burundi', 6695000),
 ('Hong Kong', 6782000),
 ('Switzerland', 7160400),
 ('Guinea', 7430000),
 ('Chad', 7651000),
 ('Rwanda', 7733000),
 ('Azerbaijan', 7734000),
 ('Austria', 8091800),
 ('Bulgaria', 8190900),
 ('Haiti', 8222000),
 ('Bolivia', 8329000),
 ('Dominican Republic', 8495000),
 ('Sweden', 8861400),
 ('Zambia', 9169000),
 ('Senegal', 9481000),
 ('Tunisia', 9586000),
 ('Portugal', 9997600),
 ('Hungary', 10043200),
 ('Somalia', 10097000),
 ('Belarus', 10236000),
 ('Belgium', 10239000),
 ('Czech Republic', 10278100),
 ('Greece', 10545700),
 ('Yugoslavia', 10640000),
 ('Niger', 10730000),
 ('Malawi', 10925000),
 ('Cambodia', 11168000),
 ('Cuba', 11201000),
 ('Mali', 11234000),
 ('Guatemala', 11385000),
 ('Zimbabwe', 11669000),
 ('Burkina Faso', 11937000),
 ('Ecuador', 12646000),
 ('Angola', 12878000),
 ('Côte d\x92Ivoire', 14786000),
 ('Cameroon', 15085000),
 ('Chile', 15211000),
 ('Netherlands', 15864000),
 ('Madagascar', 15942000),
 ('Syria', 16125000),
 ('Kazakstan', 16223000),
 ('Yemen', 18112000),
 ('Sri Lanka', 18827000),
 ('Australia', 18886000),
 ('Mozambique', 19680000),
 ('Ghana', 20212000),
 ('Saudi Arabia', 21607000),
 ('Uganda', 21778000),
 ('Malaysia', 22244000),
 ('Taiwan', 22256000),
 ('Romania', 22455500),
 ('Afghanistan', 22720000),
 ('Iraq', 23115000),
 ('Nepal', 23930000),
 ('North Korea', 24039000),
 ('Venezuela', 24170000),
 ('Uzbekistan', 24318000),
 ('Peru', 25662000),
 ('Morocco', 28351000),
 ('Sudan', 29490000),
 ('Kenya', 30080000),
 ('Canada', 31147000),
 ('Algeria', 31471000),
 ('Tanzania', 33517000),
 ('Argentina', 37032000),
 ('Poland', 38653600),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Colombia', 42321000),
 ('Myanmar', 45611000),
 ('South Korea', 46844000),
 ('Ukraine', 50456000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Italy', 57680000),
 ('France', 59225700),
 ('United Kingdom', 59623400),
 ('Thailand', 61399000),
 ('Ethiopia', 62565000),
 ('Turkey', 66591000),
 ('Iran', 67702000),
 ('Egypt', 68470000),
 ('Philippines', 75967000),
 ('Vietnam', 79832000),
 ('Germany', 82164700),
 ('Mexico', 98881000),
 ('Nigeria', 111506000),
 ('Japan', 126714000),
 ('Bangladesh', 129155000),
 ('Russian Federation', 146934000),
 ('Pakistan', 156483000),
 ('Brazil', 170115000),
 ('Indonesia', 212107000),
 ('United States', 278357000),
 ('India', 1013662000),
 ('China', 1277558000)]

We can also sort the returned rows in descending order by adding the keyword `DESC` keyword after the column names. In fact, there is a `ASC` keyword as well for ascending sorting, which is optional:

```sql
SELECT
    column1, column2, ...
FROM
    table1
ORDER BY
    column1 [ASC|DESC], column2 [ASC|DESC], ...;
```

In [29]:
%%sql

SELECT
    name, population
FROM
    country
ORDER BY
    population DESC
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
239 rows affected.

[('China', 1277558000),
 ('India', 1013662000),
 ('United States', 278357000),
 ('Indonesia', 212107000),
 ('Brazil', 170115000),
 ('Pakistan', 156483000),
 ('Russian Federation', 146934000),
 ('Bangladesh', 129155000),
 ('Japan', 126714000),
 ('Nigeria', 111506000),
 ('Mexico', 98881000),
 ('Germany', 82164700),
 ('Vietnam', 79832000),
 ('Philippines', 75967000),
 ('Egypt', 68470000),
 ('Iran', 67702000),
 ('Turkey', 66591000),
 ('Ethiopia', 62565000),
 ('Thailand', 61399000),
 ('United Kingdom', 59623400),
 ('France', 59225700),
 ('Italy', 57680000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Ukraine', 50456000),
 ('South Korea', 46844000),
 ('Myanmar', 45611000),
 ('Colombia', 42321000),
 ('South Africa', 40377000),
 ('Spain', 39441700),
 ('Poland', 38653600),
 ('Argentina', 37032000),
 ('Tanzania', 33517000),
 ('Algeria', 31471000),
 ('Canada', 31147000),
 ('Kenya', 30080000),
 ('Sudan', 29490000),
 ('Morocco', 28351000),
 ('Peru', 25662000),
 ('Uzbekistan', 24318000),
 ('Venezuela', 24170000),
 ('North Korea', 24039000),
 ('Nepal', 23930000),
 ('Iraq', 23115000),
 ('Afghanistan', 22720000),
 ('Romania', 22455500),
 ('Taiwan', 22256000),
 ('Malaysia', 22244000),
 ('Uganda', 21778000),
 ('Saudi Arabia', 21607000),
 ('Ghana', 20212000),
 ('Mozambique', 19680000),
 ('Australia', 18886000),
 ('Sri Lanka', 18827000),
 ('Yemen', 18112000),
 ('Kazakstan', 16223000),
 ('Syria', 16125000),
 ('Madagascar', 15942000),
 ('Netherlands', 15864000),
 ('Chile', 15211000),
 ('Cameroon', 15085000),
 ('Côte d\x92Ivoire', 14786000),
 ('Angola', 12878000),
 ('Ecuador', 12646000),
 ('Burkina Faso', 11937000),
 ('Zimbabwe', 11669000),
 ('Guatemala', 11385000),
 ('Mali', 11234000),
 ('Cuba', 11201000),
 ('Cambodia', 11168000),
 ('Malawi', 10925000),
 ('Niger', 10730000),
 ('Yugoslavia', 10640000),
 ('Greece', 10545700),
 ('Czech Republic', 10278100),
 ('Belgium', 10239000),
 ('Belarus', 10236000),
 ('Somalia', 10097000),
 ('Hungary', 10043200),
 ('Portugal', 9997600),
 ('Tunisia', 9586000),
 ('Senegal', 9481000),
 ('Zambia', 9169000),
 ('Sweden', 8861400),
 ('Dominican Republic', 8495000),
 ('Bolivia', 8329000),
 ('Haiti', 8222000),
 ('Bulgaria', 8190900),
 ('Austria', 8091800),
 ('Azerbaijan', 7734000),
 ('Rwanda', 7733000),
 ('Chad', 7651000),
 ('Guinea', 7430000),
 ('Switzerland', 7160400),
 ('Hong Kong', 6782000),
 ('Burundi', 6695000),
 ('Honduras', 6485000),
 ('El Salvador', 6276000),
 ('Israel', 6217000),
 ('Tajikistan', 6188000),
 ('Benin', 6097000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Paraguay', 5496000),
 ('Laos', 5433000),
 ('Slovakia', 5398700),
 ('Denmark', 5330000),
 ('Finland', 5171300),
 ('Jordan', 5083000),
 ('Nicaragua', 5074000),
 ('Georgia', 4968000),
 ('Sierra Leone', 4854000),
 ('Papua New Guinea', 4807000),
 ('Kyrgyzstan', 4699000),
 ('Togo', 4629000),
 ('Norway', 4478500),
 ('Croatia', 4473000),
 ('Turkmenistan', 4459000),
 ('Moldova', 4380000),
 ('Costa Rica', 4023000),
 ('Bosnia and Herzegovina', 3972000),
 ('Puerto Rico', 3869000),
 ('New Zealand', 3862000),
 ('Eritrea', 3850000),
 ('Ireland', 3775100),
 ('Lithuania', 3698500),
 ('Central African Republic', 3615000),
 ('Singapore', 3567000),
 ('Armenia', 3520000),
 ('Albania', 3401200),
 ('Uruguay', 3337000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Palestine', 3101000),
 ('Congo', 2943000),
 ('Panama', 2856000),
 ('Mauritania', 2670000),
 ('Mongolia', 2662000),
 ('Jamaica', 2583000),
 ('Oman', 2542000),
 ('United Arab Emirates', 2441000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Bhutan', 2124000),
 ('Macedonia', 2024000),
 ('Slovenia', 1987800),
 ('Kuwait', 1972000),
 ('Namibia', 1726000),
 ('Botswana', 1622000),
 ('Estonia', 1439200),
 ('Gambia', 1305000),
 ('Trinidad and Tobago', 1295000),
 ('Gabon', 1226000),
 ('Guinea-Bissau', 1213000),
 ('Mauritius', 1158000),
 ('Swaziland', 1008000),
 ('East Timor', 885000),
 ('Guyana', 861000),
 ('Fiji Islands', 817000),
 ('Cyprus', 754700),
 ('Réunion', 699000),
 ('Djibouti', 638000),
 ('Bahrain', 617000),
 ('Qatar', 599000),
 ('Comoros', 578000),
 ('Macao', 473000),
 ('Guadeloupe', 456000),
 ('Equatorial Guinea', 453000),
 ('Solomon Islands', 444000),
 ('Luxembourg', 435700),
 ('Cape Verde', 428000),
 ('Suriname', 417000),
 ('Martinique', 395000),
 ('Malta', 380200),
 ('Brunei', 328000),
 ('Bahamas', 307000),
 ('Western Sahara', 293000),
 ('Maldives', 286000),
 ('Iceland', 279000),
 ('Barbados', 270000),
 ('Belize', 241000),
 ('French Polynesia', 235000),
 ('Netherlands Antilles', 217000),
 ('New Caledonia', 214000),
 ('Vanuatu', 190000),
 ('French Guiana', 181000),
 ('Samoa', 180000),
 ('Guam', 168000),
 ('Saint Lucia', 154000),
 ('Mayotte', 149000),
 ('Sao Tome and Principe', 147000),
 ('Micronesia, Federated States of', 119000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Aruba', 103000),
 ('Tonga', 99000),
 ('Grenada', 94000),
 ('Virgin Islands, U.S.', 93000),
 ('Kiribati', 83000),
 ('Andorra', 78000),
 ('Northern Mariana Islands', 78000),
 ('Seychelles', 77000),
 ('Dominica', 71000),
 ('Antigua and Barbuda', 68000),
 ('American Samoa', 68000),
 ('Bermuda', 65000),
 ('Marshall Islands', 64000),
 ('Greenland', 56000),
 ('Faroe Islands', 43000),
 ('Saint Kitts and Nevis', 38000),
 ('Cayman Islands', 38000),
 ('Monaco', 34000),
 ('Liechtenstein', 32300),
 ('San Marino', 27000),
 ('Gibraltar', 25000),
 ('Virgin Islands, British', 21000),
 ('Cook Islands', 20000),
 ('Palau', 19000),
 ('Turks and Caicos Islands', 17000),
 ('Wallis and Futuna', 15000),
 ('Tuvalu', 12000),
 ('Nauru', 12000),
 ('Montserrat', 11000),
 ('Anguilla', 8000),
 ('Saint Pierre and Miquelon', 7000),
 ('Saint Helena', 6000),
 ('Svalbard and Jan Mayen', 3200),
 ('Christmas Island', 2500),
 ('Falkland Islands', 2000),
 ('Tokelau', 2000),
 ('Norfolk Island', 2000),
 ('Niue', 2000),
 ('Holy See (Vatican City State)', 1000),
 ('Cocos (Keeling) Islands', 600),
 ('Pitcairn', 50),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

### `LIMIT`

We've already talked about how we can limit the number of returned rows from the database using `ipython-sql`'s configuration, but that is specific to `ipython-sql` extension. With SQL in general, we can use the `LIMIT` keyword to limit the number of returned rows:

```sql
SELECT
    column1, column2, ...
FROM
    table1
LIMIT
    N_ROWS;
```

In [30]:
%%sql

SELECT
    name, continent
FROM
    country
LIMIT
    5
;

 * postgresql://postgres:***@localhost:5432/world_dsci513
5 rows affected.

[('Afghanistan', 'Asia'),
 ('Netherlands', 'Europe'),
 ('Netherlands Antilles', 'North America'),
 ('Albania', 'Europe'),
 ('Algeria', 'Africa')]

It is also possible to skip the first `n` rows by supplying the optional `OFFSET` keyword:

```sql
SELECT
    column1, column2, ...
FROM
    table1
LIMIT
    N_ROWS OFFSET N_OFFSET;
```

In [31]:
%%sql

SELECT
    name, continent
FROM
    country
LIMIT
    5 OFFSET 10;

 * postgresql://postgres:***@localhost:5432/world_dsci513
5 rows affected.

[('United Arab Emirates', 'Asia'),
 ('Argentina', 'South America'),
 ('Armenia', 'Asia'),
 ('Aruba', 'North America'),
 ('Australia', 'Oceania')]

---  
**Remember:**

The order of SQL keywords does matter: `SELECT`, `FROM`, `JOIN`, `WHERE`, `GROUP BY`, `HAVING`, `ORDER BY`, `LIMIT`
    
---

## ---------

- Various data types in SQL
- `WHERE` conditionals, pattern matching
- Derived columns, aliases with `AS`
- Conditionals with `CASE`
- Functions and operators in SQL

In [5]:
%load_ext sql
%config SqlMagic.displaylimit = 20

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)

user = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [7]:
%sql postgresql://{user}:{password}@{host}:{port}/

'Connected: postgres@'

## Data types

You might remember from previous lecture that in relational databases, each column is characterized with its name and its **domain**. A domain is the set of permissible or valid values that a column is allowed to store. This highlights one of the advantages of using a DBMS, which enforces particular data types for the columns of a table.

Postgres supports

- boolean
- character
- number
- datetime
- binary

and some extension types specific to Postgres.

### Type conversion

To demonstrate how different data types work in SQL, I first need to show you how we convert values from one type to another. In standard SQL, type conversion can be done using the `CAST` function:

```sql
CAST(<column> AS <data_type>)
```
In Postgres, we can also use the double-colon syntax as a shorthand for the above `CAST` function:

```sql
<column>::<data_type>
```

### Boolean

We can specify this data type using the keyword `BOOLEAN` or `BOOL`. Valid values are `NULL`, `TRUE`, `1` (or any other positive integer), `YES`, `Y`, `T`, `FALSE`, `0`, `NO`, `N`, `F`. Note that all of these values will be interpreted as `TRUE`, `FALSE`, or `NULL`  by Postgres:

In [19]:
%%sql

SELECT
    'TRUE'::BOOLEAN,
    'T'::BOOLEAN,
    '0'::BOOLEAN,
    'NO'::BOOLEAN
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(True, True, False, False)]

### Characters

The character data type is used to represent fixed-length and variable length character strings. This type can be defined using the following keywords:

- `CHAR(n)`: a string of exactly `n` characters padded with spaces
- `VARCHAR(n)`: a variable set of `n` characters
- `TEXT` which is a Postgres specific type for which there is practically no limit on the number of characters.

In [20]:
%%sql

SELECT
    'Arman'::CHAR(50),
    'Arman'::VARCHAR(2),
    'Arman'::TEXT
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[('Arman                                             ', 'Ar', 'Arman')]

> Note that you can't see the space-padding for `CHAR(50) 'Arman'` in the Jupyter notebook, but if you run the same statement in `psql`, you will see `'Arman'` + 45 spaces in the output.

### Numbers

Numerical values in Postgres belong to the following general categories:
- Integers
- Floating-point numbers
- Arbitrary precision numbers

**Integers:**

| Name     | Storage Size | Description                | Range                                        |
|----------|--------------|----------------------------|----------------------------------------------|
| `smallint` | 2 bytes      | small-range integer        | -32768 to +32767                             |
| `integer`  | 4 bytes      | typical choice for integer | -2147483648 to +2147483647                   |
| `bigint`   | 8 bytes      | large-range integer        | -9223372036854775808 to +9223372036854775807 |
| `serial`      | 4 bytes | auto-incrementing integer       | 1 to 2147483647          |
| `bigserial`   | 8 bytes | large auto-incrementing integer | 1 to 9223372036854775807 |

We'll learn later that the `serial` type (which is not an actual data type) is a shortcut to tell Postgres create unique "auto-incrementing" often used for the primary key column of table.

**Floating-point numbers:**

| Name     | Storage Size | Description                | Range                                        |
|----------|--------------|----------------------------|----------------------------------------------|
| `real`             | 4 bytes  | variable-precision, inexact     | at least 6 decimal digits (implementation dependent) |
| `double precision` | 8 bytes  | variable-precision, inexact     | at least 15 decimal digits (implementation dependent) |

**Arbitrary precision numbers**

| Name     | Storage Size | Description                | Range                                        |
|----------|--------------|----------------------------|----------------------------------------------|
| `numeric`          | variable | user-specified precision, exact | 131072 digits before and 16383 digits after the decimal point |
| `decimal`          | variable | user-specified precision, exact | 131072 digits before and 16383 digits after the decimal point |

> `DECIMAL` and `NUMERIC` data types are exactly the same thing in Postgres.

In [21]:
%%sql

SELECT CAST(44.268 AS SMALLINT);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(44,)]

Note that this was also acceptable (and maybe preferred, but specific to Postgres):

In [22]:
%%sql

SELECT 44.268::SMALLINT;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(44,)]

In [23]:
%%sql

SELECT CAST(4.54021223948E-8 AS REAL);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(4.540212e-08,)]

With the `numeric` data type, we can specify the total number of significant digits to store (known as precision) as well as the number of digits in the fractional part (known as scale) by specifying `NUMERIC(precision, scale)`:

In [24]:
%%sql

SELECT CAST('1.123456789' AS NUMERIC(5, 2));

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(Decimal('1.12'),)]

The `numeric` type is exact (as opposed to other types of floats) and immune to the round-off error, but it is **slow to work with for the DBMS**. It is often used for monetary and financial data, where either numbers with a many digits may be stored or exactness is important.

For example, the following number cannot be represented as `BIGINT` and would throw an error, but it works with `NUMERIC`:

In [25]:
%%sql

SELECT CAST(9223372036854775808 AS NUMERIC);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(Decimal('9223372036854775808'),)]

### Date/time

Postgres provides **datetime** and **interval** data types similar to those we've seen in DSCI 511 in Python and Pandas.

#### Datetimes

- `DATE` for dates
- `TIME` for the time of day

Postgres also provides two ways to store the **timestamp** datatype;
- `TIMESTAMP` for date + time
- `TIMESTAMPTZ` for date + time + timezone (Postgres specific)

When a timestamp value is queried:
- For `TIMESTAMP`, Postgres returns the timestamp as originally stored in the database server
- For `TIMESTAMPTZ`, Postgres converts the timestamp into the local timezone of the database server

Note that Postgres does not store timezone information. It always internally stores `TIMESTAMPTZ` in [UTC](https://en.wikipedia.org/wiki/Coordinated_Universal_Time) value, and does the back-conversion using the local time zone of the database server.

#### Intervals

There is also another datatype for storing intervals of time. Intervals are useful for doing date and time arithmetic, such as adding a duration of time to a timestamp.

For more detailed information, refer to the Postgres documentation [here](https://www.postgresql.org/docs/8.4/datatype-datetime.html).

**Entering datetime data**

Postgres does a pretty good job of getting the datetimes right even if we don't enter them in the standard ISO way. Let's take a look at a few examples:

In [26]:
%%sql

SELECT
    'January 23, 2021'::DATE,
    '23 January 2021'::DATE,
    '2021 1 23'::DATE,
    '1/23/2021'::DATE,
    'today'::DATE,
    'tomorrow'::DATE
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.date(2021, 1, 23), datetime.date(2021, 1, 23), datetime.date(2021, 1, 23), datetime.date(2021, 1, 23), datetime.date(2021, 11, 18), datetime.date(2021, 11, 19))]

In [27]:
%%sql

SELECT
    '14:24:00'::TIME,
    '2:24pm'::TIME,
    '2:24 PM PST'::TIME WITH TIME ZONE,
    'now'::TIME,
    'now'::TIME WITH TIME ZONE
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.time(14, 24), datetime.time(14, 24), datetime.time(14, 24, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600))), datetime.time(7, 39, 8, 686027), datetime.time(7, 39, 8, 686027, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600))))]

In [28]:
%%sql

SELECT
    '1 day 23 hours 8 minutes'::INTERVAL,
    '2m 18s'::INTERVAL,
    '3 years 2 months'::INTERVAL
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.timedelta(days=1, seconds=83280), datetime.timedelta(seconds=138), datetime.timedelta(days=1155))]

When datetime is stored without timezone, it is oblivious to the local server timezone:

In [29]:
%sql SELECT '2021-11-18 8:30:00'::TIMESTAMP;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.datetime(2021, 11, 18, 8, 30),)]

In [30]:
%sql SELECT '2021-11-18 8:30:00'::TIMESTAMPTZ;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.datetime(2021, 11, 18, 8, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600))),)]

In [31]:
%sql SHOW TIMEZONE;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[('America/Vancouver',)]

In [32]:
%sql SET timezone = 'America/New_York';

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
Done.

[]

In [33]:
%sql SELECT '2021-11-18 8:30:00 -8'::TIMESTAMPTZ;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.datetime(2021, 11, 18, 11, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))),)]

In [34]:
%sql SET timezone = 'America/Vancouver';

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
Done.

[]

In [35]:
%sql SELECT '2021-11-18 8:30:00'::TIMESTAMPTZ;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(datetime.datetime(2021, 11, 18, 8, 30, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600))),)]

### Binary data

It is also possible to have binary data in a table (e.g. documents, images, videos). We don't use binary data in this course.

### Nulls

A null is marker to indicate that the value for a column is unknown, or not entered yet. A null is not equal to 0, or an empty string. In fact, a null is not even equal to another null!

How different environments show nulls:
- `ipython-sql` -> `None`
- psql -> blank space
- pgAdmin -> `[null]`

## Filtering rows with `WHERE`

We've seen the `WHERE` keyword in passing in the last lecture. `WHERE` is an intuitive keyword that is used to filter rows based on a particular condition. The syntax is as follows:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    condition
;
```

| Condition        | Operator                        |
|------------------|---------------------------------|
| Comparison       | `=`, `<>`, `<`, `<=`, `>`, `>=` |
| Pattern matching | `LIKE`                          |
| Range            | `BETWEEN`                       |
| List             | `IN`                            |
| Null testing     | `IS NULL`                       |

In [37]:
%sql postgresql://{user}:{password}@{host}:{port}/imdb_dsci513

'Connected: postgres@imdb_dsci513'

In [38]:
%%sql

SELECT
    *
FROM
    movies;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
26058 rows affected.

[(10035423, 'Kate & Leopold', None, 2001, None, 118, 6.4, 74982),
 (10042742, 'Mister 880', None, 1950, None, 90, 7.1, 1171),
 (10041181, 'Black Hand', None, 1950, None, 92, 6.4, 666),
 (10041387, 'Francis', None, 1950, None, 91, 6.4, 979),
 (10041719, 'Orpheus', 'Orphée', 1950, None, 95, 8.0, 9346),
 (10041931, 'Stromboli', 'Stromboli, terra di Dio', 1950, None, 107, 7.3, 5239),
 (10042052, 'Woman in Hiding', None, 1950, None, 92, 6.9, 553),
 (10042179, 'Abbott and Costello in the Foreign Legion', None, 1950, None, 80, 6.6, 2573),
 (10042200, 'Annie Get Your Gun', None, 1950, None, 107, 6.9, 4050),
 (10042206, 'Armored Car Robbery', None, 1950, None, 67, 7.0, 2077),
 (10042208, 'The Asphalt Jungle', None, 1950, None, 112, 7.9, 22106),
 (10042211, 'Atom Man vs. Superman', None, 1950, None, 252, 7.0, 579),
 (10042219, 'Backfire', None, 1950, None, 91, 6.6, 955),
 (10042229, 'The Baron of Arizona', None, 1950, None, 97, 7.0, 1748),
 (10042249, 'The Big Lift', None, 1950, None, 120, 6.5, 1266),
 (10042256, 'The Black Rose', None, 1950, None, 120, 6.3, 1657),
 (10042265, 'The Blue Lamp', None, 1950, None, 84, 6.9, 1426),
 (10042274, 'Borderline', None, 1950, None, 88, 6.1, 996),
 (10042275, 'Born to Be Bad', None, 1950, None, 94, 6.7, 1797),
 (10042279, 'Branded', None, 1950, None, 104, 6.7, 702),
 (10042285, 'Bright Leaf', None, 1950, None, 110, 6.6, 1033),
 (10042296, 'Caged', None, 1950, None, 96, 7.7, 3195),
 (10042315, 'The Cariboo Trail', None, 1950, None, 81, 6.0, 529),
 (10042325, 'Champagne for Caesar', None, 1950, None, 99, 7.4, 924),
 (10042332, 'Cinderella', None, 1950, None, 74, 7.3, 134235),
 (10042333, 'The Clouded Yellow', None, 1950, None, 95, 6.9, 609),
 (10042338, 'Colt .45', None, 1950, None, 74, 6.0, 758),
 (10042343, 'Convicted', None, 1950, None, 91, 6.9, 643),
 (10042344, 'Copper Canyon', None, 1950, None, 84, 6.3, 510),
 (10042352, 'Crisis', None, 1950, None, 95, 6.7, 1395),
 (10042355, 'Story of a Love Affair', 'Cronaca di un amore', 1950, None, 98, 7.1, 2209),
 (10042367, 'Cyrano de Bergerac', None, 1950, None, 113, 7.5, 3375),
 (10042372, 'Dallas', None, 1950, None, 94, 6.3, 1115),
 (10042376, "The Damned Don't Cry", None, 1950, None, 103, 7.2, 2114),
 (10042379, 'Dark City', None, 1950, None, 98, 6.8, 1650),
 (10042393, 'Destination Moon', None, 1950, None, 92, 6.3, 3388),
 (10042394, 'Destination Murder', None, 1950, None, 72, 6.0, 546),
 (10042395, "Devil's Doorway", None, 1950, None, 84, 7.3, 1200),
 (10042397, 'Dial 1119', None, 1950, None, 75, 6.7, 787),
 (10042447, 'Fancy Pants', None, 1950, None, 92, 6.6, 1050),
 (10042451, 'Father of the Bride', None, 1950, None, 92, 7.2, 9343),
 (10042464, 'The Flame and the Arrow', None, 1950, None, 88, 7.0, 3133),
 (10042488, 'The Fuller Brush Girl', None, 1950, None, 85, 6.7, 576),
 (10042490, 'The Furies', None, 1950, None, 109, 7.3, 2504),
 (10042509, 'The Glass Menagerie', None, 1950, None, 107, 7.1, 934),
 (10042513, 'Gone to Earth', None, 1950, None, 110, 7.1, 921),
 (10042524, 'The Great Rupert', None, 1950, None, 87, 6.6, 842),
 (10042530, 'Gun Crazy', None, 1950, None, 87, 7.6, 10362),
 (10042531, 'The Gunfighter', None, 1950, None, 85, 7.7, 8490),
 (10042542, 'The Happy Years', None, 1950, None, 110, 6.8, 609),
 (10042544, 'Harriet Craig', None, 1950, None, 94, 7.3, 1421),
 (10042546, 'Harvey', None, 1950, None, 104, 7.9, 50544),
 (10042579, 'House by the River', None, 1950, None, 83, 7.2, 2579),
 (10042593, 'In a Lonely Place', None, 1950, None, 94, 8.0, 22965),
 (10042609, 'The Jackie Robinson Story', None, 1950, None, 77, 6.4, 1004),
 (10042610, 'The Jackpot', None, 1950, None, 85, 6.9, 821),
 (10042619, 'Diary of a Country Priest', "Journal d'un curé de campagne", 1951, None, 115, 8.0, 8621),
 (10042634, 'Key to the City', None, 1950, None, 101, 6.4, 599),
 (10042644, 'Kim', None, 1950, None, 113, 6.6, 1630),
 (10042646, "King Solomon's Mines", None, 1950, None, 103, 6.8, 5301),
 (10042648, 'Kiss Tomorrow Goodbye', None, 1950, None, 102, 7.1, 1587),
 (10042650, 'Kon-Tiki', None, 1950, None, 77, 8.0, 2172),
 (10042664, 'A Lady Without Passport', None, 1950, None, 74, 6.2, 698),
 (10042665, 'Last Holiday', None, 1950, None, 88, 7.5, 1286),
 (10042677, 'A Life of Her Own', None, 1950, None, 108, 6.3, 765),
 (10042692, 'Variety Lights', 'Luci del varietà', 1950, None, 97, 7.1, 2416),
 (10042697, 'Ma and Pa Kettle Go to Town', None, 1950, None, 79, 6.9, 669),
 (10042700, 'Madeleine', None, 1950, None, 114, 6.9, 1310),
 (10042702, 'The Magnificent Yankee', None, 1950, None, 89, 6.8, 529),
 (10042707, 'The Man Who Cheated Himself', None, 1950, None, 81, 6.8, 1473),
 (10042727, 'The Men', None, 1950, None, 85, 7.1, 3920),
 (10042735, 'The Miniver Story', None, 1950, None, 104, 6.5, 674),
 (10042744, 'Montana', None, 1950, None, 76, 6.2, 983),
 (10042752, 'Trio', None, 1950, None, 91, 7.2, 596),
 (10042771, 'Mystery Street', None, 1950, None, 93, 7.2, 2495),
 (10042782, 'The Nevadan', None, 1950, None, 81, 6.3, 657),
 (10042786, 'The Next Voice You Hear...', None, 1950, None, 83, 6.3, 699),
 (10042788, 'Night and the City', None, 1950, None, 101, 8.0, 10759),
 (10042792, 'No Way Out', None, 1950, None, 106, 7.4, 3950),
 (10042804, 'The Young and the Damned', 'Los olvidados', 1950, None, 85, 8.3, 16453),
 (10042810, 'Operation Disaster', 'Morning Departure', 1950, None, 102, 7.0, 668),
 (10042824, 'Outrage', None, 1950, None, 75, 6.7, 884),
 (10042832, 'Panic in the Streets', None, 1950, None, 96, 7.3, 6458),
 (10042869, 'Quicksand', None, 1950, None, 79, 6.6, 1800),
 (10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304),
 (10042895, 'Rio Grande', None, 1950, None, 105, 7.2, 12907),
 (10042899, 'Rocky Mountain', None, 1950, None, 83, 6.8, 835),
 (10042906, 'La Ronde', 'La ronde', 1950, None, 93, 7.6, 4456),
 (10042935, 'The Secret Fury', None, 1950, None, 85, 6.9, 537),
 (10042947, 'September Affair', None, 1950, None, 104, 6.8, 666),
 (10042949, 'Seven Days to Noon', None, 1950, None, 94, 7.1, 1277),
 (10042952, 'Shadow on the Wall', None, 1950, None, 84, 6.7, 917),
 (10042960, 'Side Street', None, 1950, None, 83, 7.1, 2297),
 (10042963, 'Sierra', None, 1950, None, 83, 6.8, 590),
 (10042994, 'Stage Fright', None, 1950, None, 110, 7.1, 11553),
 (10042998, 'Stars in My Crown', None, 1950, None, 89, 7.4, 1614),
 (10043014, 'Sunset Blvd.', None, 1950, None, 110, 8.4, 183282),
 (10043018, 'Susana', None, 1951, None, 86, 7.3, 1663),
 (10043030, 'Tea for Two', None, 1950, None, 98, 6.5, 1523),
 (10043041, 'Three Came Home', None, 1950, None, 106, 7.3, 1531),
 (10043044, 'Three Little Words', None, 1950, None, 102, 7.0, 1473),
 (10043048, 'To Joy', 'Till glädje', 1950, None, 98, 7.2, 2109),
 (10043052, 'To Please a Lady', None, 1950, None, 91, 6.2, 761),
 (10043053, 'The Toast of New Orleans', None, 1950, None, 97, 6.3, 518),
 (10043067, 'Treasure Island', None, 1950, None, 96, 6.9, 6139),
 (10043075, 'The Sound of Fury', None, 1950, None, 91, 7.2, 940),
 (10043079, 'Two Flags West', None, 1950, None, 92, 6.7, 624),
 (10043081, 'Two Weeks with Love', None, 1950, None, 90, 6.9, 719),
 (10043088, 'The Underworld Story', None, 1950, None, 91, 7.0, 566),
 (10043117, 'Wagon Master', None, 1950, None, 86, 7.1, 3805),
 (10043118, 'Walk Softly, Stranger', None, 1950, None, 81, 6.5, 695),
 (10043123, 'The West Point Story', None, 1950, None, 107, 6.2, 1066),
 (10043129, 'When Willie Comes Marching Home', None, 1950, None, 82, 6.5, 576),
 (10043132, 'Where the Sidewalk Ends', None, 1950, None, 95, 7.6, 7027),
 (10043134, 'The White Tower', None, 1950, None, 98, 6.0, 662),
 (10043137, "Winchester '73", None, 1950, None, 92, 7.7, 15365),
 (10043142, 'Woman on the Run', None, 1950, None, 77, 7.3, 2440),
 (10043147, 'The Wooden Horse', None, 1950, None, 101, 7.0, 1196),
 (10046799, 'Boot Polish', None, 1954, None, 149, 8.2, 648),
 (10043253, 'A.T.M.: ¡¡A toda máquina!!', None, 1951, None, 120, 7.9, 596),
 (10043262, 'Across the Wide Missouri', None, 1951, None, 78, 6.2, 1675),
 (10043265, 'The African Queen', None, 1951, None, 105, 7.8, 67356),
 (10043274, 'Alice in Wonderland', None, 1951, None, 75, 7.4, 118726),
 (10043278, 'An American in Paris', None, 1951, None, 114, 7.2, 27838),
 (10043286, 'Angels in the Outfield', None, 1951, None, 99, 7.1, 1869),
 (10043288, 'Anne of the Indies', None, 1951, None, 81, 6.7, 1084),
 (10043292, 'Appointment with Danger', None, 1950, None, 90, 6.6, 930),
 (10043299, 'As Young as You Feel', None, 1951, None, 77, 6.5, 959),
 (10043303, 'The Red Inn', "L'auberge rouge", 1951, None, 98, 7.4, 1201),
 (10043306, 'Awaara', None, 1951, None, 193, 8.0, 3169),
 (10043313, 'Early Summer', 'Bakushû', 1951, None, 125, 8.2, 6349),
 (10043340, 'The Big Night', None, 1951, None, 75, 6.4, 531),
 (10043361, 'Bright Victory', None, 1951, None, 97, 7.3, 739),
 (10043362, 'The Browning Version', None, 1951, None, 90, 8.2, 4024),
 (10043371, 'Callaway Went Thataway', None, 1951, None, 81, 6.6, 548),
 (10043379, 'Captain Horatio Hornblower R.N.', None, 1951, None, 117, 7.4, 5685),
 (10043386, "Casque d'Or", "Casque d'or", 1952, None, 96, 7.7, 4414),
 (10043408, 'The Cimarron Kid', None, 1952, None, 84, 6.4, 742),
 (10043411, 'The Emperor and the Golem', 'Císaruv pekar - Pekaruv císar', 1952, None, 144, 8.1, 1069),
 (10043425, "Comin' Round the Mountain", None, 1951, None, 77, 6.6, 1135),
 (10043435, 'Cry Danger', None, 1951, None, 79, 7.3, 1949),
 (10043436, 'Cry, the Beloved Country', None, 1951, None, 103, 7.1, 505),
 (10043455, 'David and Bathsheba', None, 1951, None, 116, 6.1, 1898),
 (10043458, 'Death of a Salesman', None, 1951, None, 115, 7.2, 801),
 (10043459, 'Decision Before Dawn', None, 1951, None, 119, 7.2, 2130),
 (10043461, 'The Desert Fox: The Story of Rommel', None, 1951, None, 88, 6.9, 5219),
 (10043465, 'Detective Story', None, 1951, None, 103, 7.6, 6413),
 (10043511, "Europe '51", "Europa '51", 1952, None, 118, 7.5, 2874),
 (10043539, 'Five', None, 1951, None, 93, 6.3, 1068),
 (10043547, 'Flying Leathernecks', None, 1951, None, 102, 6.5, 4163),
 (10043557, 'Fort Worth', None, 1951, None, 80, 6.3, 549),
 (10043560, 'Fourteen Hours', None, 1951, None, 92, 7.1, 2045),
 (10043565, 'The Frogmen', None, 1951, None, 96, 6.5, 997),
 (10043567, 'Miss Julie', 'Fröken Julie', 1951, None, 90, 7.3, 1499),
 (10043599, 'The Great Caruso', None, 1951, None, 109, 6.6, 1100),
 (10043606, 'Guardie e ladri', None, 1951, None, 105, 7.7, 1159),
 (10043614, 'The Idiot', 'Hakuchi', 1951, None, 166, 7.3, 4110),
 (10043625, 'He Ran All the Way', None, 1951, None, 77, 7.0, 1680),
 (10043633, 'Here Comes the Groom', None, 1951, None, 113, 6.5, 924),
 (10043643, 'His Kind of Woman', None, 1951, None, 120, 7.1, 3577),
 (10043652, 'One Summer of Happiness', 'Hon dansade en sommar', 1951, None, 103, 6.9, 623),
 (10043655, 'The Hoodlum', None, 1951, None, 61, 6.3, 695),
 (10043660, 'The House on Telegraph Hill', None, 1951, None, 93, 7.0, 2378),
 (10043668, "I'll Never Forget You", 'The House in the Square', 1951, None, 90, 7.1, 716),
 (10043669, "I'll See You in My Dreams", None, 1951, None, 110, 6.7, 820),
 (10043686, 'Forbidden Games', 'Jeux interdits', 1952, None, 86, 8.1, 10142),
 (10043687, 'Jim Thorpe -- All-American', None, 1951, None, 107, 6.9, 1737),
 (10043703, 'Kekec', None, 1951, None, 97, 8.0, 755),
 (10043709, 'Kind Lady', None, 1951, None, 78, 7.0, 781),
 (10043727, 'Laughter in Paradise', None, 1951, None, 93, 7.1, 1206),
 (10043736, "Let's Make It Legal", None, 1951, None, 77, 6.3, 986),
 (10043751, 'Lone Star', None, 1952, None, 94, 6.2, 808),
 (10043759, 'Love Nest', None, 1951, None, 84, 6.3, 1001),
 (10043766, 'M', None, 1951, None, 88, 6.8, 1462),
 (10043769, 'The Magic Box', None, 1951, None, 118, 7.0, 1032),
 (10043781, 'Man in the Saddle', None, 1951, None, 87, 6.3, 929),
 (10043792, 'The Mating Season', None, 1951, None, 101, 7.4, 1450),
 (10043801, 'Meshi', None, 1951, None, 97, 7.7, 1222),
 (10043812, 'The Mob', None, 1951, None, 87, 7.0, 1040),
 (10043824, 'A Woman Without Love', 'Una mujer sin amor', 1952, None, 85, 6.5, 649),
 (10043825, 'The Lady of Musashino', 'Musashino fujin', 1951, None, 88, 7.3, 547),
 (10043827, 'My Favorite Spy', None, 1951, None, 93, 6.6, 968),
 (10043861, 'No Questions Asked', None, 1951, None, 80, 6.7, 524),
 (10043871, 'Odette', None, 1950, None, 124, 7.0, 582),
 (10043873, 'Has Anybody Seen My Gal', None, 1952, None, 88, 7.1, 1183),
 (10043879, 'On Dangerous Ground', None, 1951, None, 82, 7.3, 5718),
 (10043880, 'On Moonlight Bay', None, 1951, None, 95, 7.1, 2125),
 (10043882, 'On the Riviera', None, 1951, None, 89, 6.4, 756),
 (10043885, 'Only the Valiant', None, 1951, None, 105, 6.5, 1120),
 (10043892, 'Miss Oyu', 'Oyû-sama', 1951, None, 94, 7.6, 1194),
 (10043899, 'Pandora and the Flying Dutchman', None, 1951, None, 122, 7.0, 2901),
 (10043908, 'Pathala Bhairavi', None, 1951, None, 192, 8.4, 529),
 (10043910, 'Payment on Demand', None, 1951, None, 90, 7.1, 1246),
 (10043914, "The People Against O'Hara", None, 1951, None, 102, 6.8, 1068),
 (10043918, 'The Little World of Don Camillo', 'Don Camillo', 1952, None, 107, 7.7, 3680),
 (10043924, 'A Place in the Sun', None, 1951, None, 122, 7.8, 18420),
 (10043927, 'La Poison', 'La poison', 1951, None, 85, 7.5, 934),
 (10043938, 'The Prowler', None, 1951, None, 92, 7.2, 2675),
 (10043949, 'Quo Vadis', None, 1951, None, 171, 7.2, 12467),
 (10043955, 'The Racket', None, 1951, None, 88, 6.7, 2360),
 (10043959, 'Rawhide', None, 1951, None, 89, 7.2, 2094),
 (10043961, 'The Red Badge of Courage', None, 1951, None, 69, 7.2, 3748),
 (10043967, 'Rhubarb', None, 1951, None, 94, 6.9, 554),
 (10043972, 'The River', None, 1951, None, 99, 7.5, 5115),
 (10043973, 'Roadblock', None, 1951, None, 73, 6.7, 955),
 (10043983, 'Royal Wedding', None, 1951, None, 93, 6.7, 4388),
 (10043989, 'Sailor Beware', None, 1952, None, 108, 6.4, 1029),
 (10043992, 'Santa Fe', None, 1951, None, 87, 6.2, 723),
 (10044008, 'A Christmas Carol', 'Scrooge', 1951, None, 86, 8.1, 18209),
 (10044012, 'Sealed Cargo', None, 1951, None, 90, 6.8, 615),
 (10044015, 'The Secret of Convict Lake', None, 1951, None, 83, 7.0, 690),
 (10044030, 'Show Boat', None, 1951, None, 108, 6.9, 4193),
 (10044040, 'Sirocco', None, 1951, None, 98, 6.3, 1726),
 (10044060, 'Summer Interlude', 'Sommarlek', 1951, None, 96, 7.6, 4574),
 (10044072, 'The Steel Helmet', None, 1951, None, 85, 7.5, 3396),
 (10044075, 'Storm Warning', None, 1951, None, 93, 7.2, 1304),
 (10044078, 'The Strange Door', None, 1951, None, 81, 6.3, 726),
 (10044081, 'A Streetcar Named Desire', None, 1951, None, 122, 8.0, 92834),
 (10044083, 'The Strip', None, 1951, None, 85, 6.0, 520),
 (10044105, 'The Tall Target', None, 1951, None, 78, 7.2, 1469),
 (10044110, 'Ten Tall Men', None, 1951, None, 97, 6.2, 768),
 (10044121, 'The Thing from Another World', None, 1951, None, 87, 7.2, 23411),
 (10044125, 'Three Guys Named Mike', None, 1951, None, 90, 6.2, 574),
 (10044128, 'Thunder on the Hill', None, 1951, None, 84, 6.8, 506),
 (10044135, 'Tomahawk', None, 1951, None, 82, 6.3, 639),
 (10044170, 'Man of Straw', 'Der Untertan', 1951, None, 109, 7.3, 715),
 (10044188, 'Der Verlorene', None, 1951, None, 98, 7.0, 831),
 (10044202, 'The Well', None, 1951, None, 86, 7.2, 596),
 (10044205, 'Westward the Women', None, 1951, None, 118, 7.6, 2532),
 (10044223, 'You Never Can Tell', None, 1951, None, 78, 7.1, 507),
 (10044314, '5 Fingers', None, 1952, None, 108, 7.7, 3896),
 (10044324, 'Above and Beyond', None, 1952, None, 122, 6.9, 978),
 (10044331, 'Affair in Trinidad', None, 1952, None, 98, 6.7, 1649),
 (10044333, 'Against All Flags', None, 1952, None, 84, 6.6, 2081),
 (10044355, 'Androcles and the Lion', None, 1952, None, 98, 6.2, 706),
 (10044357, 'Angel Face', None, 1953, None, 91, 7.3, 6225),
 (10044364, "Another Man's Poison", None, 1951, None, 90, 6.9, 1980),
 (10044370, 'April in Paris', None, 1952, None, 100, 6.1, 1031),
 (10044380, "At Sword's Point", None, 1952, None, 81, 6.0, 590),
 (10044386, 'Robinson Crusoe', None, 1954, None, 90, 6.8, 3186),
 (10044391, 'The Bad and the Beautiful', None, 1952, None, 118, 7.8, 11887),
 (10044399, 'The Battle at Apache Pass', None, 1952, None, 85, 6.4, 523),
 (10044408, 'The Belle of New York', None, 1952, None, 82, 6.2, 766),
 (10044409, 'Beauties of the Night', 'Les belles de nuit', 1952, None, 87, 6.9, 517),
 (10044410, 'Belles on Their Toes', None, 1952, None, 89, 6.7, 797),
 (10044413, 'Bend of the River', None, 1952, None, 91, 7.3, 7133),
 (10044417, 'Beware, My Lovely', None, 1952, None, 77, 6.7, 1480),
 (10044419, 'The Big Sky', None, 1952, None, 140, 7.0, 3600),
 (10044423, 'The Black Castle', None, 1952, None, 82, 6.4, 910),
 (10044426, 'Blackbeard, the Pirate', None, 1952, None, 99, 6.1, 1195),
 (10044429, 'Struggle in the Valley', 'Siraa Fil-Wadi', 1954, None, 105, 7.6, 769),
 (10044446, 'The Sound Barrier', None, 1952, None, 118, 6.7, 1536),
 (10044453, 'El bruto', None, 1953, None, 81, 7.3, 1592),
 (10044476, 'The Captive City', None, 1952, None, 91, 6.5, 668),
 (10044480, 'Carbine Williams', None, 1952, None, 92, 7.0, 1633),
 (10044486, 'Carrie', None, 1952, None, 118, 7.3, 1961),
 (10044488, 'Carson City', None, 1952, None, 87, 6.4, 811),
 (10044497, 'Children of Hiroshima', 'Genbaku no ko', 1952, None, 97, 7.8, 876),
 (10044502, 'Clash by Night', None, 1952, None, 105, 7.1, 5066),
 (10044518, 'White Mane', 'Crin blanc: Le cheval sauvage', 1953, None, 47, 7.3, 1848),
 (10044533, 'Deadline - U.S.A.', None, 1952, None, 87, 7.2, 2723),
 (10044552, 'Diplomatic Courier', None, 1952, None, 97, 6.9, 811),
 (10044557, "Don't Bother to Knock", None, 1952, None, 76, 6.9, 5385),
 (10044566, 'Dreamboat', None, 1952, None, 83, 6.8, 600),
 (10044573, 'The Duel at Silver Creek', None, 1952, None, 77, 6.4, 1192),
 (10044672, 'The Greatest Show on Earth', None, 1952, None, 152, 6.6, 11816),
 (10044673, 'The Green Glove', None, 1952, None, 89, 6.2, 662),
 (10044683, "Hangman's Knot", None, 1952, None, 81, 6.7, 1168),
 (10044685, 'Hans Christian Andersen', None, 1952, None, 112, 6.9, 3142),
 (10044706, 'High Noon', None, 1952, None, 85, 7.9, 91640),
 (10044716, 'The Holly and the Ivy', None, 1952, None, 83, 7.6, 739),
 (10044741, 'Ikiru', None, 1952, None, 143, 8.3, 60061),
 (10044760, 'Ivanhoe', None, 1952, None, 106, 6.8, 7586),
 (10044774, 'Jumping Jacks', None, 1952, None, 96, 6.4, 819),
 (10044789, 'Kansas City Confidential', None, 1952, None, 99, 7.4, 5292),
 (10044811, 'Kvinnors väntan', None, 1952, None, 107, 7.1, 1943),
 (10044829, 'The Lavender Hill Mob', None, 1951, None, 78, 7.6, 11620),
 (10044837, 'Limelight', None, 1952, None, 137, 8.1, 16445),
 (10044849, 'The Long Memory', None, 1953, None, 96, 6.9, 873),
 (10044851, 'Lost in Alaska', None, 1952, None, 76, 6.5, 1759),
 (10044855, 'Lovely to Look At', None, 1952, None, 103, 6.3, 562),
 (10044860, 'The Lusty Men', None, 1952, None, 113, 7.4, 2235),
 (10044863, 'Macao', None, 1952, None, 81, 6.7, 2535),
 (10044876, 'The Man in the White Suit', None, 1951, None, 85, 7.3, 8122),
 (10044888, 'The Marrying Kind', None, 1952, None, 92, 7.1, 1100),
 (10044896, 'The Member of the Wedding', None, 1952, None, 93, 6.8, 1170),
 (10044905, 'The Miracle of Our Lady of Fatima', None, 1952, None, 102, 6.8, 929),
 (10044907, 'Les Miserables', None, 1952, None, 105, 6.9, 843),
 (10044916, 'Monkey Business', None, 1952, None, 97, 7.0, 12020),
 (10044926, 'Moulin Rouge', None, 1952, None, 119, 7.1, 4599),
 (10044937, 'My Cousin Rachel', None, 1952, None, 98, 7.1, 2190),
 (10044953, 'The Naked Spur', None, 1953, None, 91, 7.4, 9264),
 (10044954, 'The Narrow Margin', None, 1952, None, 71, 7.7, 6424),
 (10044982, 'The Flavor of Green Tea Over Rice', 'Ochazuke no aji', 1952, None, 116, 7.8, 1938),
 (10044986, 'Mother', 'Okaasan', 1952, None, 98, 7.6, 545),
 (10045009, 'Park Row', None, 1952, None, 83, 7.3, 1295),
 (10045012, 'Pat and Mike', None, 1952, None, 95, 7.0, 4759),
 (10045039, 'Plymouth Adventure', None, 1952, None, 105, 6.3, 1073),

---

**Example:** Retrieve rows for movies produced in or after 2010.

---

In [39]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    start_year >= 2010
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
8804 rows affected.

[(10069049, 'The Other Side of the Wind', None, 2018, None, 122, 6.9, 4904),
 (10176694, 'The Tragedy of Man', 'Az ember tragédiája', 2011, None, 160, 7.8, 610),
 (10293069, 'Dark Blood', None, 2012, None, 86, 6.5, 1073),
 (10315642, 'Wazir', None, 2016, None, 103, 7.1, 15796),
 (10337692, 'On the Road', None, 2012, None, 124, 6.1, 38216),
 (10359950, 'The Secret Life of Walter Mitty', None, 2013, None, 114, 7.3, 278645),
 (10365907, 'A Walk Among the Tombstones', None, 2014, None, 114, 6.5, 106413),
 (10369610, 'Jurassic World', None, 2015, None, 124, 7.0, 547391),
 (10376136, 'The Rum Diary', None, 2011, None, 119, 6.2, 95417),
 (10376479, 'American Pastoral', None, 2016, None, 108, 6.1, 13376),
 (10398286, 'Tangled', None, 2010, None, 100, 7.7, 373355),
 (10401729, 'John Carter', None, 2012, None, 132, 6.6, 244429),
 (10409379, 'In Secret', None, 2013, None, 107, 6.1, 7146),
 (10409847, 'Cowboys & Aliens', None, 2011, None, 119, 6.0, 197867),
 (10420293, 'The Stanford Prison Experiment', None, 2015, None, 122, 6.9, 33319),
 (10429493, 'The A-Team', None, 2010, None, 117, 6.7, 237537),
 (10433035, 'Real Steel', None, 2011, None, 127, 7.1, 285715),
 (10435761, 'Toy Story 3', None, 2010, None, 103, 8.3, 701340),
 (10435651, 'The Giver', None, 2014, None, 97, 6.5, 106439),
 (10437086, 'Alita: Battle Angel', None, 2019, None, 122, 7.4, 162513),
 (10441881, 'Danger Close: The Battle of Long Tan', None, 2019, None, 118, 8.0, 829),
 (10443272, 'Lincoln', None, 2012, None, 150, 7.3, 231492),
 (10445054, '7 Days', 'Les 7 jours du talion', 2010, None, 105, 6.5, 6775),
 (10446029, 'Scott Pilgrim vs. the World', None, 2010, None, 112, 7.5, 345332),
 (10448115, 'Shazam!', None, 2019, None, 132, 7.1, 182200),
 (10448022, 'A Bird of the Air', None, 2011, None, 108, 6.6, 1087),
 (10451279, 'Wonder Woman', None, 2017, None, 141, 7.4, 501629),
 (10455323, 'Being Flynn', None, 2012, None, 102, 6.4, 15949),
 (10455407, 'The Crazies', None, 2010, None, 101, 6.5, 105603),
 (10455944, 'The Equalizer', None, 2014, None, 132, 7.2, 308259),
 (10458481, 'Sin City: A Dame to Kill For', None, 2014, None, 102, 6.5, 143120),
 (10458339, 'Captain America: The First Avenger', None, 2011, None, 124, 6.9, 683972),
 (10458413, 'A Long Way Down', None, 2014, None, 96, 6.4, 29588),
 (10459748, 'Generation P', None, 2011, None, 112, 6.8, 3417),
 (10466893, 'Margaret', None, 2011, None, 150, 6.4, 14878),
 (10471042, 'Tower Heist', None, 2011, None, 104, 6.2, 126332),
 (10472399, 'The Mechanic', None, 2011, None, 93, 6.6, 143196),
 (10473075, 'Prince of Persia: The Sands of Time', None, 2010, None, 116, 6.6, 258475),
 (10473102, 'The Perfect Game', None, 2010, None, 118, 7.0, 3113),
 (10475290, 'Hail, Caesar!', None, 2016, None, 106, 6.3, 113519),
 (10477302, 'Extremely Loud & Incredibly Close', None, 2011, None, 129, 6.9, 93924),
 (10477080, 'Unstoppable', None, 2010, None, 98, 6.7, 174994),
 (10478304, 'The Tree of Life', None, 2011, None, 139, 6.8, 158119),
 (10478970, 'Ant-Man', None, 2015, None, 117, 7.3, 517941),
 (10480255, 'The Losers', None, 2010, None, 97, 6.3, 85804),
 (10481499, 'The Croods', None, 2013, None, 98, 7.2, 179497),
 (10483586, 'Chasing 3000', None, 2010, None, 115, 6.4, 766),
 (10490215, 'Silence', None, 2016, None, 161, 7.1, 87668),
 (10491203, 'Tulip Fever', None, 2017, None, 105, 6.2, 15890),
 (10493949, 'Ramona and Beezus', None, 2010, None, 103, 6.5, 16309),
 (10493405, 'CHIPS', None, 2017, None, 100, 6.0, 38262),
 (10758752, 'Love & Other Drugs', None, 2010, None, 112, 6.7, 169975),
 (10770828, 'Man of Steel', None, 2013, None, 143, 7.1, 655810),
 (10770703, "What's Your Number?", None, 2011, None, 106, 6.1, 68793),
 (10770802, 'Samsara', None, 2011, None, 102, 8.5, 30307),
 (10775489, 'The Illusionist', "L'illusionniste", 2010, None, 80, 7.5, 32055),
 (10780504, 'Drive', None, 2011, None, 100, 7.8, 529687),
 (10780548, 'Kid Cannabis', None, 2014, None, 110, 6.4, 9038),
 (10787442, 'The Attack', None, 2012, None, 102, 7.1, 3793),
 (10787474, 'The Boxtrolls', None, 2014, None, 96, 6.8, 51445),
 (10790724, 'Jack Reacher', None, 2012, None, 130, 7.0, 288690),
 (10790663, 'The First Grader', None, 2010, None, 103, 7.5, 4107),
 (10790770, 'Miles Ahead', None, 2015, None, 100, 6.4, 8650),
 (10790788, 'The Yellow Wallpaper', None, 2012, None, 115, 6.8, 1697),
 (10798817, '13', None, 2010, None, 91, 6.1, 38760),
 (10800325, 'The Dirt', None, 2019, None, 107, 7.0, 30818),
 (10800369, 'Thor', None, 2011, None, 115, 7.0, 697705),
 (10804497, "It's Kind of a Funny Story", None, 2010, None, 101, 7.1, 127478),
 (10803061, 'Red Dog', None, 2011, None, 92, 7.4, 15582),
 (10803096, 'Warcraft', None, 2016, None, 123, 6.8, 229000),
 (10804463, "Devil's Knot", None, 2013, None, 114, 6.1, 19013),
 (10810922, 'Take Me Home Tonight', None, 2011, None, 97, 6.3, 49156),
 (10811137, 'The Do-Deca-Pentathlon', None, 2012, None, 76, 6.0, 1636),
 (10815236, "She's Out of My League", None, 2010, None, 104, 6.4, 118702),
 (10816442, 'The Book Thief', None, 2013, None, 131, 7.6, 120490),
 (10816692, 'Interstellar', None, 2014, None, 169, 8.6, 1333037),
 (10816711, 'World War Z', None, 2013, None, 116, 7.0, 561995),
 (10831387, 'Godzilla', None, 2014, None, 123, 6.4, 358225),
 (10837562, 'Hotel Transylvania', None, 2012, None, 91, 7.1, 207835),
 (10837156, "Pee-wee's Big Holiday", None, 2016, None, 90, 6.1, 6515),
 (10839742, 'Bhopal: A Prayer for Rain', None, 2014, None, 96, 7.2, 1852),
 (10840361, 'The Town', None, 2010, None, 125, 7.5, 327054),
 (10848228, 'The Avengers', None, 2012, None, 143, 8.0, 1201161),
 (10857190, 'The Sweeney', None, 2012, None, 112, 6.1, 18228),
 (10859635, 'Super Troopers 2', None, 2018, None, 99, 6.1, 21220),
 (10860907, 'Evangelion: 3.0 You Can (Not) Redo', 'Evangerion shin gekijôban: Kyu', 2012, None, 96, 7.0, 8593),
 (10864835, 'Mr. Peabody & Sherman', None, 2014, None, 92, 6.8, 58149),
 (10878835, 'Please Give', None, 2010, None, 87, 6.6, 10691),
 (10882977, 'Snitch', None, 2013, None, 112, 6.4, 79054),
 (10884732, 'The Wedding Ringer', None, 2015, None, 101, 6.6, 67575),
 (10889573, 'The Switch', None, 2010, None, 101, 6.1, 91698),
 (10892318, 'Letters to Juliet', None, 2010, None, 105, 6.5, 87232),
 (10892769, 'How to Train Your Dragon', None, 2010, None, 98, 8.1, 621377),
 (10892791, 'Shrek Forever After', None, 2010, None, 93, 6.3, 170805),
 (10896872, 'The Whistleblower', None, 2010, None, 112, 7.1, 30154),
 (10903657, 'Love & Mercy', None, 2014, None, 121, 7.4, 32823),
 (10905372, 'The Thing', None, 2011, None, 103, 6.2, 113384),
 (10906778, 'Black Butterflies', None, 2011, None, 100, 6.1, 1960),
 (11530983, 'Red Hill', None, 2010, None, 95, 6.4, 7929),
 (10914863, 'Unthinkable', None, 2010, None, 97, 7.1, 80736),
 (10918575, 'Victim', None, 2010, None, 90, 6.0, 4130),
 (10918940, 'The Legend of Tarzan', None, 2016, None, 110, 6.2, 152958),
 (11532503, 'Beginners', None, 2010, None, 105, 7.2, 84475),
 (11531663, 'Everything Must Go', None, 2010, None, 97, 6.4, 46218),
 (11531901, 'Byzantium', None, 2012, None, 118, 6.5, 38757),
 (11532530, "Almayer's Folly", 'La folie Almayer', 2011, None, 127, 6.4, 503),
 (11533089, 'Tab Hunter Confidential', None, 2015, None, 90, 7.8, 2852),
 (11533013, 'Beautiful Boy', None, 2010, None, 100, 6.6, 6114),
 (11533053, 'Is It Just Me?', None, 2010, None, 93, 6.2, 2644),
 (11533117, 'Let the Bullets Fly', 'Rang zi dan fei', 2010, None, 132, 7.4, 8419),
 (11533749, 'Shaolin', 'Xin Shao Lin si', 2011, None, 131, 6.9, 17913),
 (11534085, 'Beyond the Black Rainbow', None, 2010, None, 110, 6.1, 11247),
 (11533813, 'A View of Love', 'Un balcon sur la mer', 2010, None, 95, 6.2, 1226),
 (11533818, 'The Big Picture', "L'homme qui voulait vivre sa vie", 2010, None, 114, 6.7, 3241),
 (11535101, 'Killing Bono', None, 2011, None, 114, 6.4, 5828),
 (11534568, 'Zebraman 2: Attack on Zebra City', 'Zeburâman: Zebura Shiti no gyakushû', 2010, None, 106, 6.0, 644),
 (11535108, 'Elysium', None, 2013, None, 109, 6.6, 400325),
 (11535491, 'The Secret Reunion', 'Ui-hyeong-je', 2010, None, 117, 6.9, 3281),
 (11535438, 'Hope Springs', None, 2012, None, 100, 6.3, 39027),
 (11535492, 'The Stool Pigeon', 'Sin yan', 2010, None, 113, 6.8, 1747),
 (11535495, 'Triple Tap', 'Cheung wong ji wong', 2010, None, 118, 6.3, 1307),
 (11535970, 'The Ledge', None, 2011, None, 101, 6.5, 17934),
 (11538221, 'Angel & Tony', 'Angèle et Tony', 2010, None, 83, 6.5, 870),
 (11536048, 'W.E.', None, 2011, None, 119, 6.3, 11440),
 (11536537, 'What Happened to Monday', None, 2017, None, 123, 6.9, 88357),
 (11539325, 'Truth About Men', 'Sandheden om mænd', 2010, None, 91, 6.7, 1209),
 (11542344, '127 Hours', None, 2010, None, 94, 7.6, 328445),
 (11540133, 'The Guard', None, 2011, None, 96, 7.3, 75962),
 (11540814, 'Casino Jack and the United States of Money', None, 2010, None, 118, 7.1, 1529),
 (11541149, 'Albatross', None, 2011, None, 90, 6.4, 4913),
 (11541160, 'Flypaper', None, 2011, None, 87, 6.4, 30594),
 (11543701, 'Street Days', 'Quchis dgeebi', 2010, None, 89, 7.7, 1049),
 (11542840, 'Villain', 'Akunin', 2010, None, 139, 7.2, 1199),
 (11542852, 'Carancho', None, 2010, None, 107, 6.8, 7198),
 (11542482, 'Late Autumn', 'Man-choo', 2010, None, 116, 6.7, 1437),
 (11542485, 'Sunset Strip', None, 2012, None, 96, 6.8, 612),
 (11545985, 'The Coming Days', 'Die kommenden Tage', 2010, None, 125, 6.3, 1168),
 (11545103, 'Rush: Beyond the Lighted Stage', None, 2010, None, 107, 8.4, 3701),
 (11545759, 'Point Blank', 'À bout portant', 2010, None, 81, 6.8, 12890),
 (11550312, 'Café de Flore', None, 2011, None, 120, 7.4, 13935),
 (11547234, 'Premium Rush', None, 2012, None, 91, 6.5, 106049),
 (11549572, 'Another Earth', None, 2011, None, 92, 7.0, 86719),
 (11549920, 'The Last Stand', None, 2013, None, 107, 6.3, 127662),
 (11548629, 'Sebbe', None, 2010, None, 79, 6.5, 1115),
 (11550524, 'White Irish Drinkers', None, 2010, None, 109, 6.8, 1711),
 (11555084, 'Land of Oblivion', 'La terre outragée', 2011, None, 108, 6.4, 706),
 (11552214, 'The Selling', None, 2011, None, 92, 6.1, 628),
 (11553659, 'Breath', None, 2017, None, 115, 6.8, 2092),
 (11555024, 'Airiseu: Deo mubi', None, 2010, None, 125, 6.2, 874),
 (11555058, 'Collaborator', None, 2011, None, 87, 6.0, 721),
 (11555064, 'Country Strong', None, 2010, None, 117, 6.3, 16448),
 (11555093, 'The Seasoning House', None, 2012, None, 90, 6.1, 8754),
 (11555440, 'Girltrash: All Night Long', None, 2014, None, 86, 6.4, 1119),
 (11555747, 'Fubar: Balls to the Wall', 'Fubar II', 2010, None, 85, 6.6, 1457),
 (11556190, 'Nostalgia for the Light', 'Nostalgia de la luz', 2010, None, 90, 7.6, 4333),
 (11557720, 'My Perestroika', None, 2010, None, 88, 7.2, 579),
 (11558250, 'GasLand', None, 2010, None, 107, 7.7, 9993),
 (11561768, 'Essential Killing', None, 2010, None, 83, 6.1, 7115),
 (11560139, 'Boy', None, 2010, None, 87, 7.5, 17290),
 (11560747, 'The Master', None, 2012, None, 138, 7.2, 134773),
 (11559549, 'Restrepo', None, 2010, None, 93, 7.5, 21030),
 (11560970, 'Neds', None, 2010, None, 124, 7.0, 7714),
 (11562872, 'Zindagi Na Milegi Dobara', None, 2011, None, 155, 8.1, 60324),
 (11562568, 'Higher Ground', None, 2011, None, 109, 6.2, 2889),
 (11565064, 'In Montauk', None, 2012, None, 69, 6.6, 832),
 (11564349, 'Dolphin Tale', None, 2011, None, 113, 6.9, 21058),
 (11564367, 'Just Go with It', None, 2011, None, 117, 6.4, 205383),
 (11563704, 'Legendary', None, 2010, None, 107, 6.2, 4749),
 (11563738, 'One Day', None, 2011, None, 107, 7.0, 129846),
 (11568334, 'The Tillman Story', None, 2010, None, 94, 7.8, 4373),
 (11565434, 'No Distance Left to Run', None, 2010, None, 104, 7.9, 1176),
 (11566648, "Waiting for 'Superman'", None, 2010, None, 111, 7.5, 10347),
 (11567233, 'Forks Over Knives', None, 2011, None, 96, 7.8, 10412),
 (11567609, 'Get the Gringo', None, 2012, None, 96, 7.0, 98891),
 (11565958, 'Romantics Anonymous', 'Les émotifs anonymes', 2010, None, 80, 6.9, 10001),
 (11566501, 'For Greater Glory: The True Story of Cristiada', None, 2012, None, 145, 6.5, 4278),
 (11567130, 'Morgen', None, 2010, None, 100, 7.0, 927),
 (11567437, 'The Voices', None, 2014, None, 103, 6.4, 49312),
 (11568150, 'Joan Rivers: A Piece of Work', None, 2010, None, 84, 7.4, 3513),
 (11568337, 'Loosies', None, 2011, None, 89, 6.2, 5620),
 (11568338, 'Man on a Ledge', None, 2012, None, 102, 6.6, 138634),
 (11568341, 'Some Guy Who Kills People', None, 2011, None, 97, 6.3, 5336),
 (11568346, 'The Girl with the Dragon Tattoo', None, 2011, None, 158, 7.8, 393143),
 (11568926, 'I Am Comic', None, 2010, None, 87, 6.5, 700),
 (11568815, 'A Family', 'En familie', 2010, None, 102, 6.6, 1138),
 (11570728, 'Crazy, Stupid, Love.', None, 2011, None, 118, 7.4, 442215),
 (11568911, 'War Horse', None, 2011, None, 146, 7.2, 138195),
 (11568923, 'A Film Unfinished', 'Shtikat Haarchion', 2010, None, 88, 7.4, 1640),
 (11570559, 'Burning Man', None, 2011, None, 110, 6.4, 3508),
 (11570583, 'For Ellen', None, 2012, None, 94, 6.0, 1792),
 (11571222, 'A Dangerous Method', None, 2011, None, 99, 6.4, 94149),
 (11571234, 'Mortal Engines', None, 2018, None, 128, 6.1, 81486),
 (11571249, 'The Skeleton Twins', None, 2014, None, 93, 6.8, 37319),
 (11572491, 'The Last Circus', 'Balada triste de trompeta', 2010, None, 107, 6.5, 12331),
 (11572783, 'Varg Veum - Skriften på veggen', None, 2010, None, 82, 6.2, 1085),
 (11570989, 'Tiny Furniture', None, 2010, None, 98, 6.2, 13484),
 (11571402, 'Angel of Evil', 'Vallanzasca - Gli angeli del male', 2010, None, 125, 6.8, 2780),
 (11571724, 'Honey', 'Bal', 2010, None, 103, 7.2, 6317),
 (11572962, '45m2', None, 2010, None, 78, 6.0, 501),
 (11573482, 'Striker', None, 2010, None, 128, 7.0, 966),
 (11579361, 'Chasing Ice', None, 2012, None, 75, 7.8, 7828),
 (11575539, 'Elena Undone', None, 2010, None, 111, 6.1, 4853),
 (11578116, 'Atithi Tum Kab Jaoge?', None, 2010, None, 155, 6.4, 4590),
 (11576450, 'Lily Sometimes', 'Pieds nus sur les limaces', 2010, None, 103, 6.2, 1188),
 (11576483, 'The Whirl', 'Vir', 2012, None, 110, 6.7, 687),
 (11580021, 'Silver Tongues', None, 2011, None, 87, 6.8, 702),
 (11582207, 'The Jewel', 'Il gioiellino', 2011, None, 110, 6.8, 1013),
 (11582248, 'Puncture', None, 2011, None, 100, 6.8, 21775),
 (11582465, "A Birder's Guide to Everything", None, 2013, None, 86, 6.3, 1943),
 (11582466, 'Adhurs', None, 2010, None, 150, 6.7, 2046),
 (11582478, 'Bindaas', None, 2010, None, 143, 6.9, 755),
 (11582519, 'Khaleja', None, 2010, None, 170, 7.5, 7460),
 (11583356, 'Rammbock', None, 2010, None, 63, 6.3, 4950),
 (11583420, 'Larry Crowne', None, 2011, None, 98, 6.1, 59764),
 (11583303, "My Father's Guests", 'Les invités de mon père', 2010, None, 100, 6.5, 722),
 (11583323, 'Steam of Life', 'Miesten vuoro', 2010, None, 81, 7.9, 2355),
 (11584813, 'Reindeerspotting - Escape from Santaland', 'Reindeerspotting - pako Joulumaasta', 2010, None, 84, 7.4, 2879),
 (11584016, 'Catfish', None, 2010, None, 87, 7.1, 38925),
 (11586001, 'Veda - Atatürk', 'Veda', 2010, None, 114, 7.2, 6098),
 (11585255, 'The Hairdresser', 'Die Friseuse', 2010, None, 106, 6.4, 915),
 (11585558, 'Bodyguard', None, 2010, None, 152, 6.7, 752),
 (11586752, 'Machine Gun Preacher', None, 2011, None, 129, 6.8, 60573),
 (11587118, 'Beck', None, 2010, None, 145, 7.0, 850),
 (11587411, 'I, Anna', None, 2012, None, 93, 6.0, 1783),
 (11587156, 'Gekijouban Fate/stay night: Unlimited Blade Works', None, 2010, None, 107, 7.0, 1354),
 (11587309, 'If I Were You', None, 2012, None, 115, 7.0, 1803),
 (11587310, 'Maleficent', None, 2014, None, 97, 7.0, 311587),
 (11587707, 'Exit Through the Gift Shop', None, 2010, None, 87, 8.0, 59245),
 (11587828, 'Confessions of a Brazilian Call Girl', 'Bruna Surfistinha', 2011, None, 131, 6.1, 6154),
 (11588173, 'Warm Bodies', None, 2013, None, 98, 6.9, 210585),
 (11588880, 'Mothers', 'Majki', 2010, None, 123, 7.2, 691),
 (11588334, 'Jeff, Who Lives at Home', None, 2011, None, 83, 6.5, 60338),
 (11588337, 'Of Gods and Men', 'Des hommes et des dieux', 2010, None, 122, 7.2, 14103),
 (11588356, 'Harmony', 'Hamoni', 2010, None, 115, 7.4, 648),
 (11588358, 'Brother', 'Hermano', 2010, None, 97, 7.3, 2397),
 (11588895, 'Uncle Boonmee Who Can Recall His Past Lives', 'Loong Boonmee raleuk chat', 2010, None, 114, 6.7, 12020),
 (11592525, 'Lockout', None, 2012, None, 95, 6.1, 90132),
 (11590193, 'The Commuter', None, 2018, None, 105, 6.3, 87418),
 (11591479, 'Act of Valor', None, 2012, None, 110, 6.5, 64150),
 (11589424, 'Dersimiz: Atatürk', None, 2010, None, 92, 6.3, 1249),
 (11590013, 'The Last Sentence', 'Dom över död man', 2012, None, 126, 6.1, 600),
 (11590024, 'If I Want to Whistle, I Whistle', 'Eu cand vreau sa fluier, fluier', 2010, None, 94, 7.1, 5775),
 (11590089, 'Confessions', 'Kokuhaku', 2010, None, 106, 7.8, 32680),
 (11591622, '10½', None, 2010, None, 108, 7.1, 587),
 (11592281, 'Take This Waltz', None, 2011, None, 116, 6.5, 26083),
 (11592292, 'Zero 2', None, 2010, None, 90, 7.6, 5360),
 (11592521, 'Cousinhood', 'Primos', 2011, None, 98, 6.6, 4198),
 (11599348, 'Safe House', None, 2012, None, 115, 6.7, 194764),
 (11594918, 'Eyyvah Eyvah', None, 2010, None, 104, 7.0, 17303),
 (11596343, 'Fast Five', None, 2011, None, 130, 7.3, 334630),
 (11596345, 'Pawn Sacrifice', None, 2014, None, 115, 7.0, 35850),
 (11596346, 'Soul Surfer', None, 2011, None, 112, 7.0, 42358),
 (11596350, 'This Means War', None, 2012, None, 103, 6.3, 169114),
 (11596352, 'I Am Slave', None, 2010, None, 82, 6.7, 1352),
 (11596363, 'The Big Short', None, 2015, None, 130, 7.8, 318033),
 (11596365, 'The Woman in Black', None, 2012, None, 95, 6.4, 167042),
 (11598538, 'In the Shadows', 'Im Schatten', 2010, None, 86, 6.8, 553),
 (11598642, 'Z for Zachariah', None, 2015, None, 98, 6.0, 25985),
 (11599296, 'Going Down in LA-LA Land', None, 2011, None, 104, 6.2, 2217),
 (11596753, 'Salinger', None, 2013, None, 120, 6.7, 2332),
 (11598778, 'Contagion', None, 2011, None, 106, 6.6, 203399),
 (11598782, 'David Wants to Fly', None, 2010, None, 96, 6.8, 561),
 (11598873, 'Cleanskin', None, 2012, None, 108, 6.3, 19296),
 (11600524, 'Heartbeats', 'Les amours imaginaires', 2010, None, 101, 7.1, 24925),
 (11600196, 'The Drop', None, 2014, None, 106, 7.1, 134237),
 (11600207, 'The Eye of the Storm', None, 2011, None, 114, 6.1, 1451),
 (11601913, 'The Grey', None, 2011, None, 117, 6.8, 230899),
 (11601227, 'Sons of Norway', 'Sønner av Norge', 2011, None, 87, 6.5, 1586),
 (11602585, 'Ye Maaya Chesave', None, 2010, None, 155, 7.7, 2569),
 (11602476, 'Badmaa$h Company', None, 2010, None, 142, 6.0, 5742),
 (11602479, 'Love in a Puff', 'Chi Ming yi Chun Kiu', 2010, None, 104, 7.2, 2120),
 (11602500, 'Fire of Conscience', 'Foh lung', 2010, None, 106, 6.2, 901),
 (11602098, 'Albert Nobbs', None, 2011, None, 113, 6.7, 22416),
 (11602620, 'Amour', None, 2012, None, 127, 7.9, 86073),
 (11603362, 'Prasthanam', None, 2010, None, 153, 8.4, 2178),
 (11605717, 'Frank', None, 2014, None, 95, 7.0, 70989),
 (11605630, 'American Reunion', None, 2012, None, 113, 6.7, 194074),
 (11605783, 'Midnight in Paris', None, 2011, None, 94, 7.7, 361668),
 (11605735, 'Ein Tick anders', None, 2011, None, 86, 6.7, 909),
 (11606259, 'Knuckle', None, 2011, None, 97, 6.8, 2656),
 (11606180, "That's What I Am", None, 2011, None, 101, 7.0, 10032),
 (11606183, 'Boss Engira Baskaran', None, 2010, None, 161, 7.2, 1847),
 (11606191, 'A Christmas Snow', None, 2010, None, 110, 6.1, 559),
 (11608516, 'Lauf Junge lauf', None, 2013, None, 112, 7.1, 1721),
 (11606761, 'Sword of Desperation', 'Hisshiken torisashi', 2010, None, 114, 7.2, 589),
 (11606789, 'Loft', None, 2010, None, 108, 6.9, 5272),
 (11606829, 'The Other Dream Team', None, 2012, None, 89, 8.4, 3346),
 (11606339, 'Sushi Girl', None, 2012, None, 98, 6.0, 4404),
 (11606376, 'Avan Ivan', None, 2011, None, 127, 6.1, 806),
 (11606382, "L'amour fou", None, 2010, None, 98, 6.8, 934),
 (11606389, 'The Vow', None, 2012, None, 104, 6.8, 175614),
 (11606392, 'Win Win', None, 2011, None, 106, 7.1, 51859),

---

**Example:** Retrieve the row for the movie called "Lost Highway".

---

In [40]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title = 'Lost Highway'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(10116922, 'Lost Highway', None, 1997, None, 134, 7.6, 120549)]

> Note that in SQL, strings are enclosed in single quotes, i.e. `'string'`.

> While SQL syntax is case-insensitive, SQL is **case-sensitive** when it comes to **comparing strings**. In the above example, `'Lost highway'` will not return any rows.

### Logical operators `AND`, `OR`, and `NOT`

Just like in Python, we can combine multiple conditions logical/boolean operators `AND`, `OR`, and `NOT`.

When there are multiple logical operators, `NOT` is evaluated first, then `AND` and finally `OR`.

We can enclose each condition in parentheses if we want. This can be done either for readability, or to override the default precedence rules.

---

**Example:** Retrieve the rows for movies that are produced in 2015 and are rated higher than 8.

---

In [41]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    start_year = 2015
    AND
    rating > 9
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
0 rows affected.

[]

---

**Example:** Retrieve the rows for movies that are produced either in 2015 or 2018, and are rated higher than 8.

---

In [42]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    start_year = 2015
    OR 
    start_year = 2018
    AND
    rating > 8
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1048 rows affected.

[(10369610, 'Jurassic World', None, 2015, None, 124, 7.0, 547391),
 (10420293, 'The Stanford Prison Experiment', None, 2015, None, 122, 6.9, 33319),
 (10478970, 'Ant-Man', None, 2015, None, 117, 7.3, 517941),
 (10790770, 'Miles Ahead', None, 2015, None, 100, 6.4, 8650),
 (10884732, 'The Wedding Ringer', None, 2015, None, 101, 6.6, 67575),
 (11533089, 'Tab Hunter Confidential', None, 2015, None, 90, 7.8, 2852),
 (11596363, 'The Big Short', None, 2015, None, 130, 7.8, 318033),
 (11598642, 'Z for Zachariah', None, 2015, None, 98, 6.0, 25985),
 (11618448, 'Racing Extinction', None, 2015, None, 90, 8.3, 7042),
 (11638355, 'The Man from U.N.C.L.E.', None, 2015, None, 116, 7.3, 245184),
 (11655441, 'The Age of Adaline', None, 2015, None, 112, 7.2, 141949),
 (11658801, 'Freeheld', None, 2015, None, 103, 6.6, 10772),
 (11663202, 'The Revenant', None, 2015, None, 156, 8.0, 636721),
 (11666801, 'The Duff', None, 2015, None, 101, 6.5, 76639),
 (11674771, 'Entourage', None, 2015, None, 104, 6.6, 72367),
 (11683048, 'De Palma', None, 2015, None, 110, 7.4, 4202),
 (11698654, 'Catching the Sun', None, 2015, None, 75, 6.8, 517),
 (11702429, 'Eisenstein in Guanajuato', None, 2015, None, 105, 6.2, 2317),
 (11708135, 'Elser', None, 2015, None, 114, 7.0, 7455),
 (11727770, 'Absolutely Anything', None, 2015, None, 85, 6.0, 35659),
 (11727776, 'Scouts Guide to the Zombie Apocalypse', None, 2015, None, 93, 6.3, 41246),
 (11754656, 'The Little Prince', 'Le Petit Prince', 2015, None, 108, 7.7, 51035),
 (11772288, 'Danny Collins', None, 2015, None, 106, 7.0, 27967),
 (11781922, 'No Escape', None, 2015, None, 103, 6.8, 71442),
 (11798684, 'Southpaw', None, 2015, None, 124, 7.4, 203336),
 (11810683, 'Little Boy', None, 2015, None, 106, 7.4, 21183),
 (11823672, 'Chappie', None, 2015, None, 120, 6.8, 216627),
 (11837562, 'A Royal Night Out', None, 2015, None, 97, 6.5, 8488),
 (11850457, 'Sisters', None, 2015, None, 118, 6.0, 59825),
 (11856057, 'Phantom Boy', None, 2015, None, 84, 6.6, 1200),
 (11918911, 'Un + une', None, 2015, None, 115, 6.2, 1548),
 (11941478, 'The Portuguese Falcon', 'Capitão Falcão', 2015, None, 106, 7.1, 1625),
 (11951266, 'The Hunger Games: Mockingjay - Part 2', None, 2015, None, 137, 6.5, 258722),
 (11964418, 'Tomorrowland', None, 2015, None, 130, 6.4, 163382),
 (11976009, 'Victor Frankenstein', None, 2015, None, 110, 6.0, 48443),
 (12002868, 'Anegan', None, 2015, None, 154, 6.7, 2624),
 (12006295, 'The 33', None, 2015, None, 127, 6.9, 32849),
 (12056771, 'A Bigger Splash', None, 2015, None, 125, 6.4, 24068),
 (12057392, 'Eye in the Sky', None, 2015, None, 102, 7.3, 73486),
 (12084957, 'The Antwerp Dolls', None, 2015, None, 90, 6.2, 623),
 (12091935, 'Mr. Right', None, 2015, None, 95, 6.3, 43023),
 (12096673, 'Inside Out', None, 2015, None, 95, 8.2, 550606),
 (12097331, 'The Family Fang', None, 2015, None, 105, 6.1, 7125),
 (12097298, 'McFarland, USA', None, 2015, None, 129, 7.4, 32386),
 (12118624, 'The Final Girls', None, 2015, None, 88, 6.6, 30921),
 (12126355, 'San Andreas', None, 2015, None, 114, 6.0, 196468),
 (12131532, 'Hidden', None, 2015, None, 84, 6.4, 17886),
 (12133196, 'Born to Be Blue', None, 2015, None, 97, 6.9, 7260),
 (12140379, 'Self/less', None, 2015, None, 117, 6.5, 82680),
 (12168180, 'Nise: The Heart of Madness', 'Nise: O Coração da Loucura', 2015, None, 106, 7.7, 1897),
 (12181282, 'A Patch of Fog', None, 2015, None, 92, 6.5, 1032),
 (12186848, 'Landmine Goes Click', None, 2015, None, 105, 6.0, 4537),
 (12191765, 'One Wild Moment', "Un moment d'égarement", 2015, None, 105, 6.3, 7092),
 (12210769, 'Liza the Fox-Fairy', 'Liza, a rókatündér', 2015, None, 98, 7.6, 7534),
 (12217859, 'Louder Than Bombs', None, 2015, None, 109, 6.6, 10919),
 (12224026, 'Home', None, 2015, None, 94, 6.6, 86931),
 (12226630, 'After Words', None, 2015, None, 91, 6.5, 675),
 (12245003, 'Miss You Already', None, 2015, None, 112, 6.8, 15963),
 (12248739, 'Departure', None, 2015, None, 109, 6.7, 1763),
 (12262161, 'Sunset Song', None, 2015, None, 135, 6.4, 3033),
 (12262345, 'Long Way North', 'Tout en haut du monde', 2015, None, 81, 7.3, 2149),
 (12271563, 'Forsaken', None, 2015, None, 90, 6.3, 9414),
 (12273657, 'True Story', None, 2015, None, 99, 6.3, 55358),
 (12279373, 'The SpongeBob Movie: Sponge Out of Water', None, 2015, None, 92, 6.0, 44619),
 (12290397, 'Alaska', None, 2015, None, 125, 6.8, 1526),
 (12293640, 'Minions', None, 2015, None, 91, 6.4, 197815),
 (12296747, 'Come What May', "En mai, fais ce qu'il te plaît", 2015, None, 114, 6.7, 812),
 (12302966, 'I', None, 2015, None, 188, 7.3, 17694),
 (12313306, 'The Real Miyagi', None, 2015, None, 80, 7.2, 659),
 (12321502, 'Uncanny', None, 2015, None, 91, 6.3, 4793),
 (12338424, 'Tumbledown', None, 2015, None, 105, 6.2, 6070),
 (12349144, 'Mississippi Grind', None, 2015, None, 108, 6.4, 17751),
 (12361509, 'The Intern', None, 2015, None, 121, 7.1, 195500),
 (12361746, 'Haraamkhor', None, 2015, None, 90, 6.4, 3113),
 (12378776, 'Man Up', None, 2015, None, 73, 6.0, 535),
 (12378830, "Sommeren '92", None, 2015, None, 93, 6.9, 2535),
 (12379713, 'Spectre', None, 2015, None, 148, 6.8, 357516),
 (12381111, 'Brooklyn', None, 2015, None, 117, 7.5, 119408),
 (12381249, 'Mission: Impossible - Rogue Nation', None, 2015, None, 131, 7.4, 317878),
 (12381941, 'Focus', None, 2015, None, 105, 6.6, 195740),
 (12385115, 'Jaco', None, 2015, None, 110, 7.6, 850),
 (12394063, 'Too Late', None, 2015, None, 107, 6.7, 2571),
 (12400463, 'The Invitation', None, 2015, None, 100, 6.6, 74170),
 (12401878, 'Anomalisa', None, 2015, None, 90, 7.3, 59294),
 (12402927, 'Carol', None, 2015, None, 118, 7.2, 103186),
 (12415458, 'The Wolfpack', None, 2015, None, 90, 7.0, 11215),
 (12424988, 'Gabbar is Back', None, 2015, None, 128, 7.1, 21345),
 (12442080, 'Chuck Norris vs. Communism', None, 2015, None, 78, 7.5, 1842),
 (12446980, 'Joy', None, 2015, None, 124, 6.6, 119814),
 (12465308, 'Helen Keller vs. Nightwolves', None, 2015, None, 75, 6.6, 673),
 (12473476, 'Be Here Now', None, 2015, None, 100, 8.7, 2863),
 (12474958, 'Kill Your Friends', None, 2015, None, 103, 6.0, 8318),
 (12488496, 'Star Wars: Episode VII - The Force Awakens', None, 2015, None, 138, 8.0, 795527),
 (12494362, 'Bone Tomahawk', None, 2015, None, 132, 7.1, 73854),
 (12503944, 'Burnt', None, 2015, None, 101, 6.6, 98061),
 (12510894, 'Hotel Transylvania 2', None, 2015, None, 89, 6.7, 95446),
 (12523832, 'A Girl Like Her', None, 2015, None, 91, 7.0, 6433),
 (12534634, 'The Fencer', 'Miekkailija', 2015, None, 99, 7.1, 4135),
 (12544766, 'Admiral', 'Michiel de Ruyter', 2015, None, 151, 7.0, 8165),
 (12550858, 'Antikaci', None, 2015, None, 84, 6.1, 1017),
 (12552394, 'Barney Thomson', 'The Legend of Barney Thomson', 2015, None, 96, 6.3, 4736),
 (12555736, 'The Second Best Exotic Marigold Hotel', None, 2015, None, 122, 6.5, 29424),
 (12556936, 'No Men Beyond This Point', None, 2015, None, 80, 6.3, 1371),
 (12561572, 'Get Hard', None, 2015, None, 100, 6.0, 112972),
 (12582496, 'Me and Earl and the Dying Girl', None, 2015, None, 105, 7.7, 114622),
 (12585160, 'Son of Mine', 'Gluckauf', 2015, None, 102, 7.0, 695),
 (12611652, 'Virgin Mountain', 'Fúsi', 2015, None, 94, 7.5, 6689),
 (12631186, 'Baahubali: The Beginning', 'Bahubali: The Beginning', 2015, None, 159, 8.1, 94989),
 (12637276, 'Ted 2', None, 2015, None, 115, 6.3, 169623),
 (12654572, 'The Preppie Connection', None, 2015, None, 95, 6.1, 3305),
 (12719848, 'Everest', None, 2015, None, 121, 7.1, 183746),
 (12718440, 'Moonwalkers', None, 2015, None, 107, 6.1, 7907),
 (12726560, 'The Longest Ride', None, 2015, None, 123, 7.1, 71490),
 (12735996, 'Endless Night', 'Nadie quiere la noche', 2015, None, 104, 6.2, 1242),
 (12749282, 'Papa Hemingway in Cuba', None, 2015, None, 110, 6.3, 1239),
 (12815902, 'The Childhood of a Leader', None, 2015, None, 115, 6.1, 5106),
 (12848292, 'Pitch Perfect 2', None, 2015, None, 115, 6.4, 133004),
 (12848324, 'Touched with Fire', None, 2015, None, 106, 6.2, 2015),
 (12865822, 'All the World in a Design School', None, 2015, None, 59, 8.4, 1270),
 (12870648, 'Amy', None, 2015, None, 128, 7.8, 44660),
 (12872462, 'Mistress America', None, 2015, None, 84, 6.7, 22928),
 (12872750, 'Shaun the Sheep Movie', None, 2015, None, 85, 7.3, 33614),
 (12886632, 'Enclave', 'Enklava', 2015, None, 92, 7.7, 1808),
 (12888046, 'Ip Man 3', 'Yip Man 3', 2015, None, 105, 7.1, 39913),
 (12904670, 'Chasing Robert Barker', None, 2015, None, 90, 6.7, 558),
 (12909116, 'Wolf Totem', 'Le dernier loup', 2015, None, 121, 6.7, 5135),
 (12910904, 'The Dressmaker', None, 2015, None, 119, 7.1, 48003),
 (12917388, 'Kidnapping Mr. Heineken', None, 2015, None, 95, 6.1, 18039),
 (12933794, 'Man vs Snake: The Long and Twisted Tale of Nibbler', None, 2015, None, 92, 7.0, 2241),
 (12935476, 'Far from the Madding Crowd', None, 2015, None, 119, 7.1, 41700),
 (12943352, 'November 10th', 'Battle of Surabaya', 2015, None, 99, 7.2, 2678),
 (12948840, 'Life', None, 2015, None, 111, 6.0, 6756),
 (12950052, 'Bravetown', 'Strings', 2015, None, 112, 6.2, 3386),
 (12989350, 'Dare to Be Wild', None, 2015, None, 100, 6.4, 1143),
 (12978576, 'Bill', None, 2015, None, 94, 6.5, 1708),
 (12980554, 'The Girl in the Book', None, 2015, None, 86, 6.1, 3776),
 (12980626, 'Twinsters', None, 2015, None, 89, 7.6, 4504),
 (13014454, 'Hunter', None, 2015, None, 83, 7.6, 559),
 (13013610, 'Mia Madre', 'Mia madre', 2015, None, 106, 6.8, 6297),
 (13020666, 'Unbranded', None, 2015, None, 106, 7.4, 1278),
 (13043252, 'Parched', None, 2015, None, 116, 7.6, 4256),
 (13064298, 'Man Up', None, 2015, None, 88, 6.8, 45391),
 (13065132, 'He Named Me Malala', None, 2015, None, 88, 6.9, 4237),
 (13065978, 'Bucharest Non Stop', 'Bucuresti NonStop', 2015, None, 86, 7.4, 884),
 (13072876, 'Queen Mimi', None, 2015, None, 75, 7.3, 520),
 (13076658, 'Creed', None, 2015, None, 133, 7.6, 229625),
 (13077214, 'Suffragette', None, 2015, None, 106, 6.9, 34865),
 (13079380, 'Spy', None, 2015, None, 119, 7.0, 216783),
 (13083008, 'The Program', None, 2015, None, 99, 6.5, 14783),
 (13090670, 'Advantageous', None, 2015, None, 90, 6.2, 3996),
 (13092790, 'Two Down', None, 2015, None, 92, 7.2, 1089),
 (13108244, 'Capsule', None, 2015, None, 91, 6.2, 6753),
 (13110770, 'Road Hard', None, 2015, None, 98, 6.1, 1693),
 (13118452, 'Circle', None, 2015, None, 87, 6.0, 32437),
 (13117504, 'Argo 2', None, 2015, None, 91, 6.9, 1709),
 (13113456, "Doomed: The Untold Story of Roger Corman's the Fantastic Four", None, 2015, None, 85, 6.9, 679),
 (13118874, 'Back in Time', None, 2015, None, 95, 6.3, 3730),
 (13127698, 'Sanctuary', 'Freistatt', 2015, None, 104, 7.2, 1237),
 (13132632, 'Misery Loves Comedy', None, 2015, None, 94, 6.3, 1034),
 (13136646, 'Soulless 2', 'Dukhless 2', 2015, None, 103, 6.3, 1446),
 (13147312, 'Desierto', None, 2015, None, 88, 6.0, 8419),
 (13141498, 'The Nightmare', 'Der Nachtmahr', 2015, None, 92, 6.6, 2327),
 (13142366, 'Take Me to the River', None, 2015, None, 84, 6.3, 1640),
 (13148502, 'Tamasha', None, 2015, None, 139, 7.2, 20427),
 (13152624, 'Trainwreck', None, 2015, None, 125, 6.2, 123342),
 (13153532, 'Violence', None, 2015, None, 84, 7.3, 1141),
 (13162938, 'The True Cost', None, 2015, None, 92, 7.7, 6042),
 (13165612, 'Sleeping with Other People', None, 2015, None, 101, 6.5, 36900),
 (13163336, 'Uncle Nick', None, 2015, None, 93, 6.9, 3027),
 (13168230, 'Mr. Holmes', None, 2015, None, 104, 6.9, 58775),
 (13169770, 'Retribution', 'El desconocido', 2015, None, 102, 6.6, 7799),
 (13170900, 'Idealisten', None, 2015, None, 114, 6.9, 1245),
 (13170832, 'Room', None, 2015, None, 118, 8.2, 326042),
 (13172532, 'The Diary of a Teenage Girl', None, 2015, None, 102, 6.9, 27489),
 (13176980, 'Be My Cat: A Film for Anne', None, 2015, None, 87, 6.3, 835),
 (13185602, 'Front Cover', None, 2015, None, 87, 6.3, 817),
 (13202202, 'Palm Trees in the Snow', 'Palmeras en la nieve', 2015, None, 163, 7.4, 8511),
 (13203606, 'Trumbo', None, 2015, None, 124, 7.5, 69862),
 (13197766, 'Kill Zone 2', 'Saat po long 2', 2015, None, 120, 6.8, 5523),
 (13212408, 'Beautiful Something', None, 2015, None, 97, 6.2, 646),
 (13211400, 'Nothing in Return', 'A cambio de nada', 2015, None, 93, 6.5, 2155),
 (13213684, '1944', None, 2015, None, 100, 7.1, 4386),
 (13219194, 'Uncle John', None, 2015, None, 113, 6.2, 1561),
 (13233418, 'Spare Parts', None, 2015, None, 114, 7.3, 9811),
 (13240784, 'Sneakerheadz', None, 2015, None, 73, 6.4, 656),
 (13253624, 'Soaked in Bleach', None, 2015, None, 90, 7.4, 10906),
 (13252998, 'About Scout', None, 2015, None, 109, 6.5, 648),
 (13255826, 'Drawers', None, 2015, None, 120, 7.2, 932),
 (13270538, 'Requiem for the American Dream', None, 2015, None, 73, 8.1, 8061),
 (13276924, 'Heist', None, 2015, None, 93, 6.1, 25236),
 (13276944, 'The Midnight Orchestra', "L'orchestre de minuit", 2015, None, 114, 6.9, 547),
 (13289728, 'Equals', None, 2015, None, 101, 6.1, 24782),
 (13298600, 'The Midwife', 'Kätilö', 2015, None, 119, 6.0, 1032),
 (13299704, 'The Babushkas of Chernobyl', None, 2015, None, 70, 7.9, 523),
 (13300442, 'Paternity Leave', None, 2015, None, 90, 6.2, 1546),
 (13302654, 'Jane Wants a Boyfriend', None, 2015, None, 101, 6.8, 1849),
 (13312830, 'Youth', None, 2015, None, 124, 7.3, 65700),
 (13306858, 'As We Were Dreaming', 'Als wir träumten', 2015, None, 117, 6.4, 1074),
 (13312868, 'Deep Web', None, 2015, None, 90, 7.0, 8574),
 (13317208, 'Anesthesia', None, 2015, None, 90, 6.1, 3861),
 (13316948, 'American Ultra', None, 2015, None, 96, 6.1, 78127),
 (13319018, 'My Name Is Emily', None, 2015, None, 94, 6.7, 789),
 (13321300, 'MI-5', 'Spooks: The Greater Good', 2015, None, 104, 6.2, 19541),
 (13322364, 'Concussion', None, 2015, None, 123, 7.1, 79153),
 (13333980, 'Flytrap', None, 2015, None, 81, 7.5, 1455),
 (13334374, 'Moor', None, 2015, None, 100, 7.7, 1122),
 (13339354, 'A Year and Change', None, 2015, None, 93, 6.2, 627),
 (13368222, 'Angry Indian Goddesses', None, 2015, None, 115, 7.1, 2469),
 (13383262, 'Honeyglue', None, 2015, None, 107, 6.5, 523),
 (13369806, 'Max', None, 2015, None, 111, 6.7, 24304),
 (13397884, 'Sicario', None, 2015, None, 121, 7.6, 335975),
 (13401748, 'Oddball', None, 2015, None, 95, 6.4, 2183),
 (13409440, 'The Surprise', 'De surprise', 2015, None, 102, 6.7, 3558),
 (13416744, 'The End of the Tour', None, 2015, None, 106, 7.3, 26457),
 (13412684, 'Mr. Gaga', None, 2015, None, 100, 7.6, 744),
 (13417854, 'Pocket Listing', None, 2015, None, 92, 6.7, 3917),
 (13430416, 'Schneider vs. Bax', None, 2015, None, 96, 6.6, 2679),
 (13450900, 'The Sea of Trees', None, 2015, None, 110, 6.1, 11851),
 (13449292, 'Manjhi: The Mountain Man', None, 2015, None, 120, 8.0, 16530),
 (13447364, 'Detective Byomkesh Bakshy!', None, 2015, None, 139, 7.6, 14587),
 (13453052, '10 Days in a Madhouse', None, 2015, None, 111, 6.7, 1136),
 (13460084, 'Jalaibee', None, 2015, None, 117, 6.6, 923),
 (13474602, 'Little Forest: Winter/Spring', None, 2015, None, 120, 7.8, 1483),
 (13531578, 'Traders', None, 2015, None, 90, 6.2, 2184),
 (13471098, "Maggie's Plan", None, 2015, None, 98, 6.2, 14590),
 (13464902, 'The Lobster', None, 2015, None, 119, 7.1, 188917),
 (13475596, 'Anti-Social', None, 2015, None, 116, 6.1, 2134),
 (13478962, 'My King', 'Mon roi', 2015, None, 124, 7.1, 9504),
 (13479316, 'Parallels', None, 2015, None, 83, 6.1, 12921),
 (13483612, 'Hamari Adhuri Kahani', None, 2015, None, 129, 6.7, 4763),
 (13480446, 'Almost Mercy', None, 2015, None, 85, 6.0, 930),
 (13486542, 'Mediterranea', None, 2015, None, 107, 6.5, 1252),
 (13488710, 'The Walk', None, 2015, None, 123, 7.3, 111459),
 (13492838, 'Next to Me', 'Pored mene', 2015, None, 95, 7.1, 1612),
 (13495030, 'Dum Laga Ke Haisha', None, 2015, None, 110, 7.5, 15549),
 (13501416, 'Assassination', 'Amsal', 2015, None, 140, 7.3, 5114),
 (13504604, 'Steve McQueen: The Man & Le Mans', None, 2015, None, 102, 6.8, 1159),
 (13508840, 'The Assassin', 'Ci ke Nie Yin Niang', 2015, None, 105, 6.3, 14406),
 (13509426, 'Wasp', None, 2015, None, 72, 6.1, 1221),
 (13510480, 'Spy Time', 'Anacleto: Agente secreto', 2015, None, 93, 6.1, 3461),
 (13512072, 'Kainan 1890', None, 2015, None, 132, 7.3, 1854),
 (13512160, 'S Is for Stanley', None, 2015, None, 78, 7.1, 712),
 (13518012, 'Best of Enemies: Buckley vs. Vidal', 'Best of Enemies', 2015, None, 87, 7.6, 5600),
 (13526706, 'Chevalier', None, 2015, None, 105, 6.3, 3667),
 (13530002, 'The Night Before', None, 2015, None, 101, 6.4, 59474),
 (13532278, 'Brothers of the Wind', None, 2015, None, 98, 6.8, 1724),
 (13544082, '45 Years', None, 2015, None, 91, 7.1, 28429),
 (13542188, 'April 9th', '9. april', 2015, None, 93, 6.6, 4042),
 (13548962, 'Freeway: Crack in the System', None, 2015, None, 103, 7.1, 701),
 (13549206, 'The Music of Strangers', None, 2015, None, 96, 7.7, 610),
 (13564794, 'Welcome to Happiness', None, 2015, None, 108, 6.1, 555),
 (13569230, 'Legend', None, 2015, None, 132, 6.9, 142349),
 (13568002, 'The Witness', None, 2015, None, 89, 7.0, 3677),
 (13587396, 'Only the Dead', None, 2015, None, 77, 7.7, 2973),
 (13582040, 'Boomerang', None, 2015, None, 101, 6.6, 810),
 (13577624, 'A Perfect Day', None, 2015, None, 106, 6.8, 18554),
 (13591436, 'Night Owls', None, 2015, None, 90, 6.2, 2055),
 (13615204, 'Harmony', 'Hâmonî', 2015, None, 119, 6.2, 652),
 (13616916, 'The Wave', 'Bølgen', 2015, None, 105, 6.7, 29225),
 (13627488, 'Burn Burn Burn', None, 2015, None, 106, 7.0, 1468),
 (13638396, 'Closet Monster', None, 2015, None, 90, 7.0, 6757),
 (13642618, 'Life Eternal', 'Das ewige Leben', 2015, None, 123, 7.2, 2090),
 (13640682, 'I Smile Back', None, 2015, None, 85, 6.1, 4695),
 (13646344, 'Sworn Virgin', 'Vergine giurata', 2015, None, 84, 6.4, 883),
 (13646946, 'Attack on Titan: The Wings of Freedom', 'Gekijôban Shingeki no Kyojin Kôhen: Jiyû no tsubasa', 2015, None, 120, 7.7, 656),
 (13661298, 'Septembers of Shiraz', None, 2015, None, 110, 6.1, 3423),
 (13659388, 'The Martian', None, 2015, None, 144, 8.0, 695594),
 (13667610, 'A Grain of Truth', 'Ziarno prawdy', 2015, None, 112, 6.7, 1044),
 (13669520, 'Palio', None, 2015, None, 91, 7.3, 591),
 (13671542, 'Holding the Man', None, 2015, None, 127, 7.4, 9006),
 (13672742, 'Turbo Kid', None, 2015, None, 93, 6.7, 24337),
 (13672840, 'Dragon Blade', 'Tian jiang xiong shi', 2015, None, 127, 6.0, 17020),
 (13680410, 'Last Cab to Darwin', None, 2015, None, 123, 7.2, 3151),
 (13682448, 'Bridge of Spies', None, 2015, None, 142, 7.6, 267242),
 (13678192, 'Distractions', 'Häiriötekijä', 2015, None, 85, 6.8, 650),
 (13678782, 'Badlapur', None, 2015, None, 134, 7.4, 19831),
 (13681422, 'Uttama Villain', None, 2015, None, 171, 7.2, 2413),
 (13686990, 'Road to La Paz', 'Camino a La Paz', 2015, None, 92, 7.1, 552),
 (13689910, 'Miss Hokusai', 'Sarusuberi: Miss Hokusai', 2015, None, 93, 6.7, 2496),
 (13702704, 'Bourek', None, 2015, None, 90, 7.4, 861),
 (13697946, 'Lapland Odyssey 2', 'Napapiirin sankarit 2', 2015, None, 87, 6.0, 1483),
 (13700804, 'Already Tomorrow in Hong Kong', None, 2015, None, 78, 6.5, 4671),
 (13698118, 'Gangnam Blues', 'Gangnam 1970', 2015, None, 135, 6.2, 1318),
 (13699692, 'Dude Bro Party Massacre III', None, 2015, None, 91, 6.1, 1537),
 (13700392, 'Heidi', None, 2015, None, 111, 7.4, 3718),
 (13702996, 'Suck Me Shakespeer 2', 'Fack ju Göhte 2', 2015, None, 115, 6.0, 10423),
 (13705388, 'An Italian Name', 'Il nome del figlio', 2015, None, 94, 6.4, 1123),
 (13704050, 'Remember', None, 2015, None, 94, 7.5, 19937),
 (13707114, 'Janis: Little Girl Blue', None, 2015, None, 103, 7.4, 4595),
 (13715122, "L'attesa", None, 2015, None, 100, 6.6, 1829),
 (13715854, 'Bakuman', None, 2015, None, 119, 7.0, 1242),
 (13715320, 'Irrational Man', None, 2015, None, 95, 6.6, 51599),
 (13717510, 'The Drop Box', None, 2015, None, 79, 8.1, 604),
 (13720724, 'Requirements to Be a Normal Person', 'Requisitos para ser una persona normal', 2015, None, 90, 6.5, 2372),
 (13719896, 'My All-American', None, 2015, None, 118, 7.1, 5190),
 (13722070, 'The Lady in the Van', None, 2015, None, 104, 6.7, 23673),

What? This isn't the right result! We have multiple returned movies that are rated below 8.

The reason is that the `AND` operator takes precedence over `OR`. Therefore, `start_year = 2018 AND rating > 8` gets evaluated first, and then the result is passed to the `OR` part of the condition. In order to override this behaviour, we can rewrite our query in the following way:

In [43]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    (start_year = 2015
    OR
    start_year = 2018)
    AND
    rating > 8
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
119 rows affected.

[(11618448, 'Racing Extinction', None, 2015, None, 90, 8.3, 7042),
 (12096673, 'Inside Out', None, 2015, None, 95, 8.2, 550606),
 (12473476, 'Be Here Now', None, 2015, None, 100, 8.7, 2863),
 (12631186, 'Baahubali: The Beginning', 'Bahubali: The Beginning', 2015, None, 159, 8.1, 94989),
 (12865822, 'All the World in a Design School', None, 2015, None, 59, 8.4, 1270),
 (13170832, 'Room', None, 2015, None, 118, 8.2, 326042),
 (13270538, 'Requiem for the American Dream', None, 2015, None, 73, 8.1, 8061),
 (13717510, 'The Drop Box', None, 2015, None, 79, 8.1, 604),
 (13865286, 'My Lonely Me', None, 2015, None, 95, 8.2, 671),
 (14112208, 'Kuttram Kadithal', None, 2015, None, 120, 8.1, 638),
 (14145178, 'Listen to Me Marlon', None, 2015, None, 103, 8.2, 6447),
 (14154756, 'Avengers: Infinity War', None, 2018, None, 149, 8.5, 711500),
 (14393514, 'Bitter Lake', None, 2015, None, 136, 8.2, 2356),
 (14430212, 'Drishyam', None, 2015, None, 163, 8.3, 57527),
 (14429128, 'Papanasam', None, 2015, None, 179, 8.4, 4802),
 (14449576, 'Tomorrow', 'Demain', 2015, None, 118, 8.1, 2887),
 (14476736, 'Hamlet', 'National Theatre Live: Hamlet', 2015, None, 217, 8.6, 1670),
 (14519488, 'Mudras Calling', None, 2018, None, 95, 8.7, 1196),
 (14635372, 'Masaan', None, 2015, None, 109, 8.1, 19638),
 (14633694, 'Spider-Man: Into the Spider-Verse', None, 2018, None, 117, 8.4, 262505),
 (14658770, 'Belaseshe', None, 2015, None, 141, 8.5, 1745),
 (14679210, 'Premam', None, 2015, None, 156, 8.3, 14257),
 (14730224, 'An Hour to Kill', None, 2018, None, 96, 8.6, 2325),
 (14833824, 'Uppi 2', None, 2015, None, 135, 8.1, 7748),
 (14881362, 'Thithi', None, 2015, None, 123, 8.3, 2104),
 (14908644, "Winter on Fire: Ukraine's Fight for Freedom", None, 2015, None, 102, 8.4, 10970),
 (14934950, 'Talvar', None, 2015, None, 132, 8.2, 26337),
 (14928620, 'Pathemari', None, 2015, None, 118, 8.4, 3328),
 (14943992, 'Manto', None, 2015, None, 127, 8.5, 1079),
 (14973112, 'Hitting the Apex', None, 2015, None, 138, 8.4, 2573),
 (14987556, 'Thani Oruvan', None, 2015, None, 160, 8.5, 14218),
 (15005684, 'Nil Battey Sannata', None, 2015, None, 100, 8.4, 4492),
 (15016442, 'Gujjubhai the Great', None, 2015, None, 145, 8.2, 1181),
 (15021536, 'Kendasampige', None, 2015, None, 99, 8.4, 1662),
 (15027202, 'Colombia magia salvaje', None, 2015, None, 94, 8.3, 1182),
 (15053508, 'Rammstein in Amerika', None, 2015, None, 91, 8.3, 830),
 (15190958, 'Katyar Kaljat Ghusali', None, 2015, None, 162, 8.8, 1637),
 (15241760, 'Eating You Alive', None, 2018, None, 108, 8.2, 510),
 (15575408, 'Mushi-Shi Zoku Shou: Suzu no Shizuku', None, 2015, None, 47, 8.6, 530),
 (15581752, 'Ulysses: A Dark Odyssey', None, 2018, None, 110, 8.3, 1537),
 (15773402, 'Dominion', None, 2018, None, 120, 9.2, 1303),
 (15959980, 'Vada Chennai', None, 2018, None, 164, 8.6, 6871),
 (16058226, 'Ekvtime: Man of God', None, 2018, None, 132, 9.2, 2620),
 (16226212, 'Sand Angels', None, 2018, None, 71, 8.2, 661),
 (16256984, 'My Name is Batlir, not Butler', None, 2018, None, None, 8.3, 655),
 (16332276, 'What We Left Behind: Looking Back at Deep Space Nine', None, 2018, None, 116, 8.5, 670),
 (16394430, 'For Good Old Times', 'Za ona dobra stara vremena', 2018, None, 105, 8.5, 1622),
 (16544940, "Cowboy's Heart", 'Coração de Cowboy', 2018, None, 120, 8.3, 586),
 (16545212, 'Leera the Soulmate', None, 2018, None, 104, 9.1, 798),
 (16628102, 'The Wild Pear Tree', 'Ahlat Agaci', 2018, None, 188, 8.1, 13577),
 (16755366, 'Bad Poems', 'Rossz versek', 2018, None, 97, 8.1, 1007),
 (16966692, 'Green Book', None, 2018, None, 130, 8.2, 245229),
 (17060344, 'Ratsasan', None, 2018, None, 170, 8.7, 12007),
 (17231194, 'Ee. Ma. Yau', None, 2018, None, 120, 8.3, 1290),
 (17455754, 'The Game Changers', None, 2018, None, 108, 8.7, 853),
 (17465992, 'Mahanati', None, 2018, None, 177, 8.6, 7516),
 (17476236, 'Minding the Gap', None, 2018, None, 93, 8.1, 5586),
 (17479902, 'Gultoo', None, 2018, None, 128, 8.4, 649),
 (17547158, 'Ghost Squad', 'Gôsuto sukuwaddo', 2018, None, 106, 8.4, 522),
 (17581572, 'Sudani from Nigeria', None, 2018, None, 123, 8.2, 2200),
 (17591430, 'Summer Survivors', None, 2018, None, 91, 8.2, 511),
 (17675404, '1968', None, 2018, None, 93, 8.2, 1175),
 (17681902, "Won't You Be My Neighbor?", None, 2018, None, 94, 8.4, 18041),
 (17741602, 'Until Midnight', None, 2018, None, 78, 8.1, 680),
 (17838252, 'K.G.F: Chapter 1', None, 2018, None, 156, 8.2, 26146),
 (17912470, 'Deception: Oo Pel Dan Myin', None, 2018, None, 88, 8.3, 1419),
 (17905466, 'They Shall Not Grow Old', None, 2018, None, 99, 8.3, 18668),
 (18024712, 'Yowis Ben', None, 2018, None, 99, 8.6, 3021),
 (18032912, 'Parwaaz Hai Junoon', None, 2018, None, 130, 8.3, 1276),
 (18076222, 'Untamed Romania', 'România neîmblânzit&atilde', 2018, None, 92, 8.8, 532),
 (18090628, 'Kinavally', None, 2018, None, 141, 8.2, 576),
 (18106568, 'Momentum Generation', None, 2018, None, 103, 8.1, 624),
 (18108198, 'Andhadhun', None, 2018, None, 139, 8.4, 49612),
 (18176054, 'Pariyerum Perumal', None, 2018, None, 154, 8.9, 5438),
 (18239946, 'Tumbbad', None, 2018, None, 104, 8.2, 15827),
 (18267604, 'Capernaum', 'Capharnaüm', 2018, None, 126, 8.4, 28017),
 (18561086, 'Joseph', None, 2018, None, 138, 8.2, 1692),
 (18638420, 'Strokes of Genius', None, 2018, None, 98, 8.1, 692),
 (18784906, 'Ani... Dr. Kashinath Ghanekar', None, 2018, None, 159, 8.6, 589),
 (18969332, 'The Biggest Little Farm', None, 2018, None, 91, 8.1, 1568),
 (19206562, 'Make Us Dream', None, 2018, None, 104, 8.2, 1458),
 (19124428, 'Champion', 'Bizim Için Sampiyon', 2018, None, 130, 8.5, 4843),
 (19130246, 'Naal', None, 2018, None, 117, 8.4, 610),
 (19231140, 'A Man Called Ahok', None, 2018, None, 102, 8.9, 4187),
 (19279362, '11 Days', None, 2018, None, 85, 8.7, 655),
 (19343826, 'Ananthu V/S Nusrath', None, 2018, None, 149, 9.5, 818),
 (11392190, 'Mad Max: Fury Road', None, 2015, None, 120, 8.1, 797452),
 (11895587, 'Spotlight', None, 2015, None, 129, 8.1, 374689),
 (12632928, 'The Epic Journey', None, 2015, None, 100, 8.8, 612),
 (13327994, 'Human', None, 2015, None, 190, 8.7, 6478),
 (13471472, 'Maharaja Gemunu', None, 2015, None, 150, 8.4, 822),
 (14058426, "India's Daughter", None, 2015, None, 63, 8.2, 1851),
 (14432480, 'RangiTaranga', None, 2015, None, 149, 8.4, 11383),
 (14689268, 'Brothers in Blood: The Lions of Sabi Sand', None, 2015, None, 60, 8.6, 563),
 (14846952, 'Angrej', None, 2015, None, 130, 8.6, 2589),
 (14899880, 'Shah', None, 2015, None, 109, 8.5, 1349),
 (14991384, 'Visaaranai', None, 2015, None, 117, 8.5, 4851),
 (15066616, 'Crusty Demons 18: Twenty Years of Fear', None, 2015, None, 67, 8.2, 1469),
 (15086104, 'Chhello Divas', None, 2015, None, 138, 8.2, 2214),
 (15207158, 'South Wind', 'Juzni vetar', 2018, None, 130, 8.3, 7328),
 (16023118, 'Word from a Gamer', None, 2018, None, 92, 8.7, 1232),
 (16074834, 'Delaware Shore', None, 2018, None, 98, 9.0, 502),
 (16864864, 'Bobby Robson: More Than a Manager', None, 2018, None, 104, 8.2, 1727),
 (17019842, '96', None, 2018, None, 158, 8.7, 11836),
 (17358598, 'Let Me Fall', 'Lof mér að falla', 2018, None, 136, 8.5, 545),
 (17391996, 'Care of Kancharapalem', 'C/o Kancharapalem', 2018, None, 152, 9.1, 2624),
 (17392212, 'Rangasthalam', None, 2018, None, 170, 8.4, 16067),
 (17738784, 'Peranbu', None, 2018, None, 147, 9.2, 10452),
 (17775622, 'Free Solo', None, 2018, None, 100, 8.2, 38773),
 (17794052, 'Merku Thodarchi Malai', None, 2018, None, 122, 8.8, 1303),
 (17953814, 'The Foundation of Criminal Excellence', 'Kriminalas ekselences fonds', 2018, None, 126, 8.2, 959),
 (18368032, 'Miss Granny', None, 2018, None, 120, 8.1, 1575),
 (18483296, 'Sense8: The Series Finale Official Trailer', None, 2018, None, 151, 8.8, 2055),
 (18602654, 'Sarkari. Hi. Pra. Shale Kasaragodu, Koduge: Ramanna Rai', None, 2018, None, 147, 8.7, 776),
 (18614536, 'Farmlands', None, 2018, None, 73, 8.6, 839),
 (18665634, 'Qismat', None, 2018, None, 137, 8.6, 1515),
 (18718580, 'Eghantham', None, 2018, None, 125, 9.4, 644),
 (19151704, 'Burn the Stage: The Movie', None, 2018, None, 84, 8.8, 2265),
 (19135854, 'Take the Ball Pass the Ball: The Making of the Greatest Team in the World', None, 2018, None, 109, 8.2, 1586)]

---

**Example:** Count the number of movies that have no less than 1 million votes.

---

We need to use the `COUNT()` function to count the number of returned rows (more on `COUNT()` in a later lecture):

In [44]:
%%sql

SELECT
    COUNT(*)
FROM
    movies
WHERE
    NOT nvotes < 1000000
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(33,)]

> It is mostly a matter of style whether to use `NOT` or `<>`.

### Pattern matching

It is a quite common situation that we want to find rows for which the values of one or more columns match a particular pattern. In SQL, this can be done either using `LIKE` or by using regular expressions. The syntax is as follows:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 [NOT] LIKE '<pattern>'
;
```

Postgres provides us with two wild-cards that we can use with `LIKE`:
- `%` matches any string of characters
- `_` matches a single character.

Pattern matching with `LIKE` is case sensitive; however, Postgres also provides the `ILIKE` keyword that has the same functionality as `LIKE` but is case-insensitive.

> **Note:** With `LIKE` or `ILIKE`, the entire string should match the pattern.

In [47]:
%%sql

SELECT
    'Arman' LIKE '%a_',
    'UBC' LIKE '_B_',
    'MDS is awesome!' LIKE '%!_'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(True, True, False)]

---

**Example:** Retrieve those movies from the `movie` table whose title contains the word `'violin'` (note that `LIKE` is picky about letter cases in strings!)

---

In [48]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE '%Violin%'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
5 rows affected.

[(10120802, 'The Red Violin', 'Le violon rouge', 1998, None, 130, 7.6, 30285),
 (10451966, 'The Violin', 'El violín', 2005, None, 98, 7.7, 2212),
 (12401715, "The Devil's Violinist", None, 2013, None, 122, 6.1, 3033),
 (14972904, 'The Violin Teacher', 'Tudo Que Aprendemos Juntos', 2015, None, 102, 6.8, 645),
 (10053987, 'The Steamroller and the Violin', 'Katok i skripka', 1961, None, 46, 7.5, 4867)]

---

**Example:** Retrieve those movies from the `movie` table whose title starts with the word `'Zero'`.

---

In [49]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE 'Zero%'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
18 rows affected.

[(10095244, 'Zerograd', 'Gorod Zero', 1988, None, 103, 7.5, 1463),
 (10113557, 'Zero Kelvin', 'Kjærlighetens kjøtere', 1995, None, 118, 7.3, 1711),
 (10120906, 'Zero Effect', None, 1998, None, 116, 6.9, 13383),
 (10198837, 'Zero Tolerance', 'Noll tolerans', 1999, None, 108, 6.4, 3288),
 (10283693, 'Zero Woman: Red Handcuffs', 'Zeroka no onna: Akai wappa', 1974, None, 88, 6.6, 783),
 (10365960, 'Zero Day', None, 2002, None, 92, 7.2, 3840),
 (10421090, 'Zerophilia', None, 2005, None, 90, 6.2, 2177),
 (11592292, 'Zero 2', None, 2010, None, 90, 7.6, 5360),
 (11790885, 'Zero Dark Thirty', None, 2012, None, 157, 7.4, 254644),
 (12294965, 'Zero Charisma', None, 2013, None, 86, 6.2, 2384),
 (13576084, 'Zero Motivation', 'Efes beyahasei enosh', 2014, None, 97, 7.3, 3688),
 (15446858, 'Zero Days', None, 2016, None, 116, 7.8, 8081),
 (10051221, 'Zero Hour!', None, 1957, None, 81, 6.6, 1295),
 (10968712, 'Zero. Lilac Lithuania', 'Zero. Alyvine Lietuva', 2006, None, 82, 7.5, 2147),
 (11297858, 'Zero: An Investigation Into 9/11', None, 2008, None, 104, 7.8, 650),
 (11519661, 'Zero', None, 2009, None, 110, 6.8, 555),
 (12323372, 'Zero Point', 'Nullpunkt', 2014, None, 115, 7.4, 877),
 (16194850, 'Zero 3', None, 2017, None, 88, 6.6, 1094)]

---

**Example:** Retrieve those movies from the `movie` table whose title is 4 letters long and ends with the letter `'e'`.

---

In [50]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE '___e'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
71 rows affected.

[(10043539, 'Five', None, 1951, None, 93, 6.3, 1068),
 (10064694, 'More', None, 1969, None, 112, 6.5, 2155),
 (10066500, 'Hope', 'Umut', 1970, None, 100, 8.2, 2770),
 (10067814, 'Love', 'Szerelem', 1971, None, 88, 7.9, 1582),
 (10068306, 'Bone', None, 1972, None, 95, 6.8, 905),
 (10069158, 'Rage', None, 1972, None, 100, 6.3, 765),
 (10071803, 'Mame', None, 1974, None, 132, 6.1, 2490),
 (10080716, 'Fame', None, 1980, None, 134, 6.6, 18864),
 (10087182, 'Dune', None, 1984, None, 137, 6.5, 113255),
 (10088930, 'Clue', None, 1985, None, 94, 7.3, 71433),
 (10106438, 'Blue', None, 1993, None, 79, 7.3, 1778),
 (10112431, 'Babe', None, 1995, None, 91, 6.7, 110464),
 (10114323, 'Safe', None, 1995, None, 119, 7.2, 11475),
 (10116308, 'Fire', None, 1996, None, 108, 7.2, 5386),
 (10116722, 'Jude', None, 1996, None, 123, 6.9, 9547),
 (10123948, 'Cure', None, 1997, None, 111, 7.4, 8963),
 (10123755, 'Cube', None, 1997, None, 90, 7.2, 195849),
 (10123964, 'Life', None, 1999, None, 108, 6.8, 41588),
 (10188568, 'Rage', 'Do koske', 1997, None, 97, 6.9, 1623),
 (10217019, 'Sade', None, 2000, None, 100, 6.2, 1609),
 (10227005, 'Made', None, 2001, None, 95, 6.4, 16478),
 (10246072, 'Maze', None, 2000, None, 97, 6.3, 759),
 (10275719, 'Tape', None, 2001, None, 86, 7.3, 17850),
 (10308772, 'Pure', None, 2002, None, 96, 6.9, 2460),
 (10339079, 'Gone', None, 2002, None, 80, 7.1, 1048),
 (10347105, 'Fuse', 'Gori vatra', 2003, None, 105, 7.3, 1875),
 (10424448, 'Some', 'Sseom', 2004, None, 118, 6.1, 504),
 (10436724, 'Rize', None, 2005, None, 86, 7.1, 3050),
 (10484039, 'Glue', None, 2006, None, 110, 6.4, 1427),
 (10491399, 'Haze', None, 2005, None, 49, 6.6, 2179),
 (10497986, 'Time', 'Shi gan', 2006, None, 97, 7.2, 11216),
 (10807943, 'Dhee', None, 2007, None, 142, 7.4, 2350),
 (10814014, 'Apne', None, 2007, None, 173, 6.0, 2489),
 (10815138, 'Take', None, 2007, None, 98, 6.0, 1395),
 (10907657, 'Once', None, 2007, None, 86, 7.8, 105907),
 (11656190, 'Safe', None, 2012, None, 94, 6.5, 97531),
 (11996310, 'Lore', None, 2012, None, 109, 7.1, 13556),
 (12043979, 'Rose', 'Róza', 2011, None, 90, 7.6, 2861),
 (12093100, 'Home', 'Dom', 2011, None, 127, 7.5, 1065),
 (12202471, 'Love', 'Ai', 2012, None, 128, 6.6, 1348),
 (12224026, 'Home', None, 2015, None, 94, 6.6, 86931),
 (12948840, 'Life', None, 2015, None, 111, 6.0, 6756),
 (13153634, 'Hope', 'So-won', 2013, None, 122, 8.3, 4285),
 (13442006, 'Cake', None, 2014, None, 102, 6.4, 33466),
 (13716530, 'Elle', None, 2016, None, 130, 7.1, 55849),
 (13774694, 'Love', None, 2015, None, 135, 6.1, 38709),
 (13823098, 'Edie', None, 2017, None, 102, 6.5, 1071),
 (13850214, 'Dope', None, 2015, None, 103, 7.2, 77372),
 (14047846, 'Home', None, 2016, None, 103, 7.2, 838),
 (14384088, 'Rage', 'Ikari', 2016, None, 142, 7.1, 1881),
 (14741714, 'Five', None, 2016, None, 102, 6.3, 2252),
 (15638952, 'Dede', None, 2017, None, 97, 7.2, 788),
 (15927420, 'More', 'Daha', 2017, None, 115, 7.1, 1600),
 (16266538, 'Vice', None, 2018, None, 132, 7.2, 87744),
 (17207238, 'Jane', None, 2017, None, 90, 7.8, 3271),
 (17616148, 'Luce', None, 2019, None, 109, 7.1, 1196),
 (18638640, 'June', None, 2019, None, 141, 7.4, 829),
 (19412098, 'Fyre', None, 2019, None, 97, 7.2, 28255),
 (10106673, 'Dave', None, 1993, None, 110, 6.8, 46358),
 (10119092, 'Face', None, 1997, None, 105, 6.7, 4059),
 (11014762, 'Home', None, 2009, None, 120, 8.6, 20678),
 (11017456, 'Race', None, 2008, None, 149, 6.6, 11763),
 (11151923, 'Rage', 'Rabia', 2009, None, 89, 6.3, 1047),
 (11186357, 'Lope', None, 2010, None, 106, 6.0, 977),
 (11319569, 'Home', None, 2008, None, 98, 7.0, 3641),
 (11483753, 'Pure', 'Till det som är vackert', 2010, None, 97, 6.9, 3919),
 (12208144, 'Move', 'Drei Zimmer/Küche/Bad', 2012, None, 118, 6.7, 1236),
 (13499096, 'Race', None, 2016, None, 134, 7.1, 31582),
 (15442430, 'Life', None, 2017, None, 104, 6.6, 187432),
 (16342062, 'Anne', None, 2018, None, 80, 6.3, 606),
 (17715988, 'Cake', None, 2018, None, 125, 7.6, 753)]

---

**Example:** Retrieve those movies from the `movie` table whose title contains the character `'%'`.

---

We can specify an escape character using the keyword `ESCAPE` that tells SQL to not interpret a `%` or `_` that immediately follows it:

In [51]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE '%$%%' ESCAPE '$'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
3 rows affected.

[(10487092, 'Who the #$&% Is Jackson Pollock?', None, 2006, None, 74, 7.0, 1134),
 (12662228, '10%: What Makes a Hero?', None, 2013, None, 88, 6.8, 543),
 (11869226, '100% Love', None, 2011, None, 141, 7.0, 2369)]

Pattern matching could also be done using regular expressions in two different ways:
- `SIMILAR TO`: This is the SQL standard's definition of a regular expression, which is a mix between the `LIKE` and common regular expressions
- `~`: This is the POSIX regular expression operator

> **Note:** With `SIMILAR TO`, the entire string should match the pattern. This is unlike regex behaviour!

You can find more information on this in the Postgres documentation [here](https://www.postgresql.org/docs/current/functions-matching.html)

In [52]:
%%sql

SELECT
    'abc' SIMILAR TO '%(b|d)%',
    'abc' SIMILAR TO '(b|c)_';

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(True, False)]

---

**Example:** Select movies from the `movie` table whose title starts and ends with a digit.

---

In [53]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title ~ '^\d.*\d$'
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
58 rows affected.

[(10048918, '1984', None, 1956, None, 90, 7.0, 2837),
 (10068156, '1776', None, 1972, None, 141, 7.6, 7250),
 (10074084, '1900', 'Novecento', 1976, None, 317, 7.7, 20696),
 (10078721, '10', None, 1979, None, 122, 6.1, 14224),
 (10080319, '9 to 5', 'Nine to Five', 1980, None, 109, 6.8, 25199),
 (10087803, '1984', 'Nineteen Eighty-Four', 1984, None, 113, 7.1, 61070),
 (10109001, '1-900', '06', 1994, None, 87, 6.2, 576),
 (10112257, '301/302', '301, 302', 1995, None, 100, 6.4, 938),
 (10126765, '23', None, 1998, None, 99, 7.3, 6219),
 (10212712, '2046', None, 2004, None, 129, 7.4, 47553),
 (10262196, '19', None, 2000, None, 83, 7.1, 516),
 (10294251, '2002', None, 2001, None, 94, 6.1, 583),
 (10331811, '11:14', None, 2003, None, 86, 7.2, 42824),
 (10337563, '13 Going on 30', None, 2004, None, 98, 6.1, 152851),
 (10354356, '5x2', None, 2004, None, 90, 6.6, 8365),
 (10416449, '300', None, 2006, None, 117, 7.7, 699930),
 (10419952, '06/05', None, 2004, None, 117, 6.6, 1284),
 (10450385, '1408', None, 2007, None, 104, 6.8, 244215),
 (10472582, '2:37', None, 2006, None, 95, 6.8, 6787),
 (10478087, '21', None, 2008, None, 123, 6.8, 216128),
 (10488478, '12', None, 2007, None, 159, 7.7, 13309),
 (10798817, '13', None, 2010, None, 91, 6.1, 38760),
 (11572962, '45m2', None, 2010, None, 78, 6.0, 501),
 (11680045, '360', None, 2011, None, 110, 6.2, 15221),
 (11764141, '678', None, 2010, None, 100, 7.5, 3639),
 (11777595, '50 to 1', None, 2014, None, 110, 6.4, 1785),
 (11855110, '180', None, 2011, None, 121, 6.0, 696),
 (12248944, '2 + 2', None, 2012, None, 103, 6.3, 1949),
 (12319739, '41', None, 2012, None, 80, 6.5, 1099),
 (12486678, '5 to 7', None, 2014, None, 95, 7.1, 17088),
 (12833074, '1987', None, 2014, None, 105, 7.4, 1073),
 (13213684, '1944', None, 2015, None, 100, 7.1, 4386),
 (13445702, '1/1', None, 2018, None, 85, 7.3, 2298),
 (13478510, '1971', None, 2014, None, 79, 7.2, 817),
 (13506970, '1983', None, 2014, None, 138, 7.7, 1952),
 (14981966, '24', None, 2016, None, 164, 7.8, 15014),
 (15080556, '2.0', None, 2018, None, 148, 6.4, 18773),
 (15451118, '303', None, 2018, None, 145, 7.6, 3177),
 (15815492, '1945', None, 2017, None, 91, 7.2, 2546),
 (15834036, '1:54', None, 2016, None, 106, 6.6, 1202),
 (16214928, '1922', None, 2017, None, 102, 6.3, 40021),
 (16411590, '1985', None, 2018, None, 85, 6.9, 1157),
 (17675404, '1968', None, 2018, None, 93, 8.2, 1175),
 (17867670, '122', None, 2019, None, 95, 7.1, 1653),
 (18458736, '100', None, 2019, None, 141, 6.6, 585),
 (10235154, '6ixtynin9', 'Ruang talok 69', 1999, None, 118, 7.2, 1866),
 (10397229, '20:30:40', 'Er shi san shi si shi', 2004, None, 113, 6.6, 1188),
 (10453562, '42', None, 2013, None, 128, 7.5, 78813),
 (10983990, '1971', None, 2007, None, 160, 7.9, 1118),
 (11166085, '120', None, 2008, None, 114, 7.3, 6252),
 (11286159, '1981', None, 2009, None, 102, 7.2, 1526),
 (11301698, '1920', None, 2008, None, 138, 6.4, 2558),
 (11306980, '50/50', None, 2011, None, 100, 7.6, 303605),
 (11370429, '99', None, 2009, None, 135, 7.3, 2512),
 (11422184, '10 to 11', "11'e 10 kala", 2009, None, 110, 7.2, 1471),
 (11468700, '40', None, 2009, None, 89, 6.7, 1631),
 (13394510, '6-5=2', None, 2013, None, 105, 6.0, 745),
 (17019842, '96', None, 2018, None, 158, 8.7, 11836)]

### `IN`

Sometimes we want to check whether a column value matches any one of the items in a list. We can express this with an `OR` operator:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 = value1
    OR
    column1 = value2
    OR
    column1 = value3
;
```

This can be rewritten more succinctly using the `IN` operator:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 [NOT] IN (value1, value2, value3)
;
```

---

**Example:** Retrieve rows from the `movie` table that correspond to the movies `'Donnie Brasco'`, `'The Usual Suspects'`, `'Schindler''s List'`, `'Shutter Island'`, `'A Beautiful Mind'`.

---

In [54]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title IN ('Donnie Brasco',
              'The Usual Suspects',
              'Schindler''s List',
              'Shutter Island',
              'A Beautiful Mind'
               )
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
5 rows affected.

[(10108052, "Schindler's List", None, 1993, None, 195, 8.9, 1110590),
 (10114814, 'The Usual Suspects', None, 1995, None, 106, 8.5, 922333),
 (10119008, 'Donnie Brasco', None, 1997, None, 127, 7.7, 258120),
 (10268978, 'A Beautiful Mind', None, 2001, None, 135, 8.2, 784095),
 (11130884, 'Shutter Island', None, 2010, None, 138, 8.1, 1027318)]

### `BETWEEN`

The `BETWEEN` keyword is helpful for when we want to select a range of values, and it can be used for number, character and datetime ranges:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 [NOT] BETWEEN value1 AND value2
;
```

> **Note:** `BETWEEN` is **inclusive** of both ends of the interval.

We can try it out using a `SELECT` statement without any tables:

In [55]:
%%sql

SELECT 
    5 BETWEEN 1 AND 10,
    DATE '2021-11-01' BETWEEN DATE '2021-01-01' AND '2021-11-10',
    'w' BETWEEN 'e' AND 'm';

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
1 rows affected.

[(True, True, False)]

---

**Example:** Retrieve the name, production year and rating of the top 5 movies from the `movie` table that are produced between 2018 and 2020, and have a rating of at least 8.5 with at least 100000 votes. Sort the results in descending order based on ratings.

---

In [56]:
%%sql

SELECT
    title, start_year, rating
FROM
    movies
WHERE
    start_year BETWEEN 2018 AND 2020
    AND
    rating >= 8
    AND
    nvotes >= 100000
ORDER BY
    rating
LIMIT
    5
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
5 rows affected.

[('Once Upon a Time... in Hollywood', 2019, 8.0),
 ('Toy Story 4', 2019, 8.0),
 ('Bohemian Rhapsody', 2018, 8.0),
 ('Green Book', 2018, 8.2),
 ('Spider-Man: Into the Spider-Verse', 2018, 8.4)]

### `IS NULL`

Trying to find `NULL` values using `WHERE column = NULL` fails. This is because a `NULL` value is by definition not known and _could be anything_, so it's not necessarily equal to another `NULL`. To find `NULL` values in a column, we can use `IS NULL`:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 IS [NOT] NULL
;
```

---

**Example:** Find movies the `movie` whose `orig_title` is different from that listed in the `title` column.

---

In [57]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    orig_title IS NOT NULL
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
8270 rows affected.

[(10041719, 'Orpheus', 'Orphée', 1950, None, 95, 8.0, 9346),
 (10041931, 'Stromboli', 'Stromboli, terra di Dio', 1950, None, 107, 7.3, 5239),
 (10042355, 'Story of a Love Affair', 'Cronaca di un amore', 1950, None, 98, 7.1, 2209),
 (10042619, 'Diary of a Country Priest', "Journal d'un curé de campagne", 1951, None, 115, 8.0, 8621),
 (10042692, 'Variety Lights', 'Luci del varietà', 1950, None, 97, 7.1, 2416),
 (10042804, 'The Young and the Damned', 'Los olvidados', 1950, None, 85, 8.3, 16453),
 (10042810, 'Operation Disaster', 'Morning Departure', 1950, None, 102, 7.0, 668),
 (10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304),
 (10042906, 'La Ronde', 'La ronde', 1950, None, 93, 7.6, 4456),
 (10043048, 'To Joy', 'Till glädje', 1950, None, 98, 7.2, 2109),
 (10043303, 'The Red Inn', "L'auberge rouge", 1951, None, 98, 7.4, 1201),
 (10043313, 'Early Summer', 'Bakushû', 1951, None, 125, 8.2, 6349),
 (10043386, "Casque d'Or", "Casque d'or", 1952, None, 96, 7.7, 4414),
 (10043411, 'The Emperor and the Golem', 'Císaruv pekar - Pekaruv císar', 1952, None, 144, 8.1, 1069),
 (10043511, "Europe '51", "Europa '51", 1952, None, 118, 7.5, 2874),
 (10043567, 'Miss Julie', 'Fröken Julie', 1951, None, 90, 7.3, 1499),
 (10043614, 'The Idiot', 'Hakuchi', 1951, None, 166, 7.3, 4110),
 (10043652, 'One Summer of Happiness', 'Hon dansade en sommar', 1951, None, 103, 6.9, 623),
 (10043668, "I'll Never Forget You", 'The House in the Square', 1951, None, 90, 7.1, 716),
 (10043686, 'Forbidden Games', 'Jeux interdits', 1952, None, 86, 8.1, 10142),
 (10043824, 'A Woman Without Love', 'Una mujer sin amor', 1952, None, 85, 6.5, 649),
 (10043825, 'The Lady of Musashino', 'Musashino fujin', 1951, None, 88, 7.3, 547),
 (10043892, 'Miss Oyu', 'Oyû-sama', 1951, None, 94, 7.6, 1194),
 (10043918, 'The Little World of Don Camillo', 'Don Camillo', 1952, None, 107, 7.7, 3680),
 (10043927, 'La Poison', 'La poison', 1951, None, 85, 7.5, 934),
 (10044008, 'A Christmas Carol', 'Scrooge', 1951, None, 86, 8.1, 18209),
 (10044060, 'Summer Interlude', 'Sommarlek', 1951, None, 96, 7.6, 4574),
 (10044170, 'Man of Straw', 'Der Untertan', 1951, None, 109, 7.3, 715),
 (10044409, 'Beauties of the Night', 'Les belles de nuit', 1952, None, 87, 6.9, 517),
 (10044429, 'Struggle in the Valley', 'Siraa Fil-Wadi', 1954, None, 105, 7.6, 769),
 (10044497, 'Children of Hiroshima', 'Genbaku no ko', 1952, None, 97, 7.8, 876),
 (10044518, 'White Mane', 'Crin blanc: Le cheval sauvage', 1953, None, 47, 7.3, 1848),
 (10044982, 'The Flavor of Green Tea Over Rice', 'Ochazuke no aji', 1952, None, 116, 7.8, 1938),
 (10044986, 'Mother', 'Okaasan', 1952, None, 98, 7.6, 545),
 (10045056, 'The Promoter', 'The Card', 1952, None, 85, 7.1, 1103),
 (10045081, 'The Return of Don Camillo', 'Le retour de Don Camillo', 1953, None, 115, 7.3, 2100),
 (10045201, 'The Stranger in Between', 'Hunted', 1952, None, 84, 7.4, 803),
 (10045504, 'Love in the City', "L'amore in città", 1953, None, 115, 6.5, 827),
 (10045654, 'Crash of Silence', 'Mandy', 1952, None, 93, 7.4, 603),
 (10045814, 'A Geisha', 'Gion bayashi', 1953, None, 85, 7.6, 1563),
 (10045848, 'Sawdust and Tinsel', 'Gycklarnas afton', 1953, None, 93, 7.6, 5414),
 (10045935, 'Gate of Hell', 'Jigokumon', 1953, None, 89, 7.2, 2796),
 (10046149, 'The Proud and the Beautiful', 'Les orgueilleux', 1953, None, 103, 7.4, 716),
 (10046159, 'Bread, Love and Dreams', 'Pane, amore e fantasia', 1953, None, 93, 7.0, 1171),
 (10046268, 'The Wages of Fear', 'Le salaire de la peur', 1953, None, 131, 8.1, 49244),
 (10046366, 'Indiscretion of an American Wife', 'Stazione Termini', 1953, None, 90, 6.2, 2218),
 (10046022, 'The Earrings of Madame De...', 'Madame de...', 1953, None, 105, 8.0, 8041),
 (10046415, 'The Count of Monte Cristo', 'Le comte de Monte-Cristo', 1954, None, 183, 7.2, 706),
 (10046429, 'The Adultress', 'Thérèse Raquin', 1953, None, 102, 7.3, 1037),
 (10046511, 'Journey to Italy', 'Viaggio in Italia', 1954, None, 85, 7.4, 7742),
 (10046521, 'I Vitelloni', 'I vitelloni', 1953, None, 107, 7.9, 13241),
 (10046478, 'Ugetsu', 'Ugetsu monogatari', 1953, None, 96, 8.3, 18356),
 (10046487, "Monsieur Hulot's Holiday", 'Les vacances de Monsieur Hulot', 1953, None, 114, 7.5, 15340),
 (10046498, 'Skanderbeg', 'Velikiy voin Albanii Skanderbeg', 1953, None, 95, 7.9, 529),
 (10046750, 'Late Chrysanthemums', 'Bangiku', 1954, None, 101, 7.4, 837),
 (10046675, 'Wuthering Heights', 'Abismos de pasión', 1954, None, 91, 6.7, 1031),
 (10046705, 'An American in Rome', 'Un americano a Roma', 1954, None, 94, 7.0, 1367),
 (10046961, 'School for Tramps', 'Escuela de vagabundos', 1955, None, 99, 8.0, 517),
 (10046911, 'Diabolique', 'Les diaboliques', 1955, None, 117, 8.0, 57720),
 (10046970, 'The Detective', 'Father Brown', 1954, None, 91, 6.8, 1141),
 (10047034, 'Godzilla', 'Gojira', 1954, None, 96, 7.6, 26077),
 (10047216, 'The Miracle of Marcelino', 'Marcelino pan y vino', 1955, None, 91, 7.1, 1903),
 (10047259, 'The Story of Vickie', 'Mädchenjahre einer Königin', 1954, None, 118, 6.5, 733),
 (10047281, 'Twenty-Four Eyes', 'Nijûshi no hitomi', 1954, None, 156, 8.0, 2018),
 (10047313, 'The Gold of Naples', "L'oro di Napoli", 1954, None, 138, 7.3, 1313),
 (10047435, 'The River and Death', 'El río y la muerte', 1954, None, 91, 6.8, 637),
 (10047445, 'Sansho the Bailiff', 'Sanshô dayû', 1954, None, 124, 8.4, 12852),
 (10047572, "The Devil's General", 'Des Teufels General', 1955, None, 117, 7.3, 969),
 (10047085, 'High and Dry', "The 'Maggie'", 1954, None, 92, 7.0, 1081),
 (10047630, 'Ulysses', 'Ulisse', 1954, None, 117, 6.7, 3123),
 (10047682, 'Sound of the Mountain', 'Yama no oto', 1954, None, 95, 7.8, 1353),
 (10047821, 'Le Amiche', 'Le amiche', 1955, None, 104, 7.2, 2300),
 (10047892, 'Bob le Flambeur', 'Bob le flambeur', 1956, None, 98, 7.7, 9596),
 (10048021, 'Rififi', 'Du rififi chez les hommes', 1955, None, 118, 8.2, 23357),
 (10048112, 'Wee Geordie', 'Geordie', 1955, None, 93, 6.9, 711),
 (10048133, 'The Grand Maneuver', 'Les grandes manoeuvres', 1955, None, 106, 6.8, 812),
 (10047925, 'That Is the Dawn', "Cela s'appelle l'aurore", 1956, None, 102, 6.8, 597),
 (10047937, 'Bloody Spear at Mount Fuji', 'Chiyari Fuji', 1955, None, 94, 7.4, 568),
 (10048272, 'Dreams', 'Kvinnodröm', 1955, None, 87, 7.1, 2219),
 (10048275, 'Merry-Go-Round', 'Körhinta', 1956, None, 90, 7.8, 1104),
 (10048198, 'I Live in Fear', 'Ikimono no kiroku', 1955, None, 103, 7.3, 3725),
 (10048499, 'La Pointe Courte', 'La Pointe-Courte', 1955, None, 86, 7.1, 2103),
 (10048500, 'A Generation', 'Pokolenie', 1955, None, 87, 7.1, 2181),
 (10048641, 'Smiles of a Summer Night', 'Sommarnattens leende', 1955, None, 109, 7.8, 11281),
 (10048752, 'The Unknown Soldier', 'Tuntematon sotilas', 1955, None, 177, 8.0, 6684),
 (10048757, 'Floating Clouds', 'Ukigumo', 1955, None, 123, 7.7, 2099),
 (10048820, 'Princess Yang Kwei-fei', 'Yôkihi', 1955, None, 98, 7.2, 1436),
 (10048475, "Too Bad She's Bad", 'Peccato che sia una canaglia', 1954, None, 95, 6.8, 697),
 (10048933, 'Street of Shame', 'Akasen chitai', 1956, None, 87, 7.9, 3288),
 (10048981, 'The Band of Honest Men', 'La banda degli onesti', 1956, None, 106, 7.5, 1029),
 (10049012, 'The Burmese Harp', 'Biruma no tategoto', 1956, None, 116, 8.1, 4989),
 (10049023, "Raquel's Shoeshiner", 'El bolero de Raquel', 1957, None, 101, 7.3, 704),
 (10049042, 'The Rocket from Calabuch', 'Calabuch', 1956, None, 93, 7.4, 758),
 (10049043, 'Main Street', 'Calle Mayor', 1956, None, 99, 7.8, 1103),
 (10049357, 'Night Ambush', 'Ill Met by Moonlight', 1957, None, 104, 6.6, 1297),
 (10049378, 'Stay Alert', 'Jagte Raho', 1956, None, 153, 8.5, 771),
 (10049419, 'A Girl in Black', 'To koritsi me ta mavra', 1956, None, 100, 7.7, 816),
 (10049429, 'Lust of the Vampire', 'I vampiri', 1957, None, 82, 6.6, 1314),
 (10049290, 'Professor Hannibal', 'Hannibál tanár úr', 1956, None, 89, 7.7, 555),
 (10049293, 'The Captain from Köpenick', 'Der Hauptmann von Köpenick', 1956, None, 93, 7.2, 1396),
 (10049189, '...And God Created Woman', 'Et Dieu... créa la femme', 1956, None, 95, 6.3, 6832),
 (10049518, 'The Silent World', 'Le monde du silence', 1956, None, 86, 7.1, 1255),
 (10049521, 'Death in the Garden', 'La mort en ce jardin', 1956, None, 104, 6.8, 1575),
 (10049531, 'The Mystery of Picasso', 'Le mystère Picasso', 1956, None, 78, 7.7, 1820),
 (10049537, 'Flowing', 'Nagareru', 1956, None, 117, 7.6, 784),
 (10049762, 'Sissi: The Young Empress', 'Sissi - Die junge Kaiserin', 1956, None, 107, 6.7, 5460),
 (10049783, 'The Forty-First', 'Sorok pervyy', 1956, None, 88, 7.6, 1261),
 (10049784, 'Early Spring', 'Sôshun', 1956, None, 145, 7.9, 2401),
 (10049794, 'The Flying Carpet', 'Starik Khottabych', 1957, None, 86, 7.2, 1016),
 (10049845, 'The Third Key', 'The Long Arm', 1956, None, 96, 7.1, 532),
 (10049877, 'Four Bags Full', 'La traversée de Paris', 1956, None, 80, 7.4, 3078),
 (10049902, 'A Man Escaped', "Un condamné à mort s'est échappé ou Le vent souffle où il veut", 1956, None, 101, 8.3, 16396),
 (10050091, 'Seven Days from Now', 'Seven Waves Away', 1957, None, 100, 7.5, 1365),
 (10050100, 'Paradise Lagoon', 'The Admirable Crichton', 1957, None, 94, 7.0, 1172),
 (10050123, 'Montparnasse 19', 'Les amants de Montparnasse', 1958, None, 108, 7.4, 990),
 (10050162, 'The Sun Legend of the End of the Tokugawa Era', 'Bakumatsu taiyôden', 1957, None, 110, 7.4, 565),
 (10050398, 'Fools in the Mountains', 'Fjols til fjells', 1957, None, 90, 7.4, 1021),
 (10050251, 'The Mysterians', 'Chikyû Bôeigun', 1957, None, 89, 6.1, 1235),
 (10050613, 'Throne of Blood', 'Kumonosu-jô', 1957, None, 110, 8.1, 40639),
 (10050634, 'The Cranes Are Flying', 'Letyat zhuravli', 1957, None, 95, 8.3, 13197),
 (10050669, 'Inspector Maigret', 'Maigret tend un piège', 1958, None, 119, 7.2, 1323),
 (10050706, 'Mon Oncle', 'Mon oncle', 1958, None, 116, 7.8, 17046),
 (10050746, 'The Devil Strikes at Night', 'Nachts, wenn der Teufel kam', 1957, None, 105, 7.3, 882),
 (10050762, 'Nine Lives', 'Ni liv', 1957, None, 96, 7.3, 1525),
 (10050781, 'The Hunchback of Notre Dame', 'Notre-Dame de Paris', 1956, None, 115, 6.7, 2251),
 (10050782, 'Le Notti Bianche', 'Le notti bianche', 1957, None, 102, 7.8, 6451),
 (10050783, 'The Nights of Cabiria', 'Le notti di Cabiria', 1957, None, 110, 8.1, 39350),
 (10050853, 'I Dutifully Report', 'Poslusne hlásím', 1958, None, 91, 7.4, 559),
 (10050976, 'The Seventh Seal', 'Det sjunde inseglet', 1957, None, 96, 8.2, 146553),
 (10050985, 'Big Time Operators', 'The Smallest Show on Earth', 1957, None, 80, 7.0, 1593),
 (10050986, 'Wild Strawberries', 'Smultronstället', 1957, None, 91, 8.2, 85988),
 (10051065, 'A Matter of Dignity', 'To teleftaio psemma', 1958, None, 112, 7.8, 514),
 (10051093, 'Tokyo Twilight', 'Tôkyô boshoku', 1957, None, 140, 8.2, 2875),
 (10051133, 'La Parisienne', 'Une parisienne', 1957, None, 86, 6.3, 757),
 (10050330, 'The Lower Depths', 'Donzoko', 1957, None, 137, 7.4, 4373),
 (10051378, 'Elevator to the Gallows', "Ascenseur pour l'échafaud", 1958, None, 91, 8.0, 18690),
 (10051390, 'Cairo Station', 'Bab el hadid', 1958, None, 77, 7.7, 2684),
 (10051413, 'The H-Man', 'Bijo to ekitai ningen', 1958, None, 87, 6.1, 1049),
 (10051429, 'Bonjour Tristesse', 'Bonjour tristesse', 1958, None, 94, 6.9, 4018),
 (10051554, 'Horror of Dracula', 'Dracula', 1958, None, 82, 7.3, 18977),
 (10051569, 'Lake of the Dead', 'De dødes tjern', 1958, None, 76, 7.2, 1586),
 (10051579, 'Love Is My Profession', 'En cas de malheur', 1958, None, 105, 6.7, 1096),
 (10051584, 'Conflagration', 'Enjô', 1958, None, 99, 7.1, 649),
 (10051655, 'Gideon of Scotland Yard', "Gideon's Day", 1958, None, 91, 6.5, 851),
 (10051706, 'The Haunted Strangler', 'Grip of the Strangler', 1958, None, 78, 6.3, 1081),
 (10051762, 'The Idiot', 'Idiot', 1958, None, 124, 7.6, 511),
 (10051790, 'Ivan the Terrible, Part II', 'Ivan Groznyy. Skaz vtoroy: Boyarskiy zagovor', 1958, None, 88, 7.9, 6217),
 (10051792, 'The Music Room', 'Jalsaghar', 1958, None, 100, 8.0, 4583),
 (10051808, 'The Hidden Fortress', 'Kakushi-toride no san-akunin', 1958, None, 139, 8.1, 30431),
 (10051851, 'The Law Is the Law', 'La legge è legge', 1958, None, 95, 7.5, 754),
 (10051852, 'The Law', 'La legge', 1959, None, 126, 6.9, 615),
 (10051927, 'We Only Live Once', 'Mia zoi tin ehoume', 1958, None, 111, 8.3, 1337),
 (10051955, 'The Rickshaw Man', 'Muhomatsu no issho', 1958, None, 103, 7.6, 662),
 (10051983, 'Nazarin', 'Nazarín', 1959, None, 94, 7.9, 4660),
 (10051989, 'Neither Seen Nor Recognized', 'Ni vu, ni connu', 1958, None, 95, 7.2, 1274),
 (10052017, 'Brink of Life', 'Nära livet', 1958, None, 84, 7.6, 2155),
 (10052046, 'Paras-Pathar', 'Parash Pathar', 1958, None, 111, 7.7, 875),
 (10052063, 'The Noose', 'Petla', 1958, None, 96, 7.7, 680),
 (10052073, 'The Little Apartment', 'El pisito', 1958, None, 87, 7.3, 664),
 (10052080, 'Ashes and Diamonds', 'Popiól i diament', 1958, None, 103, 7.9, 9464),
 (10051532, 'Desert Patrol', 'Sea of Sand', 1958, None, 97, 6.7, 757),
 (10052374, 'The Deadly Invention', 'Vynález zkázy', 1958, None, 78, 7.5, 1590),
 (10052556, 'The Lovers', 'Les amants', 1958, None, 90, 7.2, 4336),
 (10052634, 'Chance Meeting', 'Blind Date', 1959, None, 95, 6.7, 590),
 (10052644, 'Le Bossu', 'Le bossu', 1959, None, 105, 6.9, 1027),
 (10052687, "Charles' Aunt", 'Charles Tante', 1959, None, 101, 6.9, 694),
 (10052708, 'Les Cousins', 'Les cousins', 1959, None, 112, 7.3, 2285),
 (10052781, 'Escape by Night', 'Era notte a Roma', 1960, None, 138, 7.3, 506),
 (10052786, 'Violent Summer', 'Estate violenta', 1959, None, 98, 7.5, 1076),
 (10052829, 'Face of the Frog', 'Der Frosch mit der Maske', 1959, None, 89, 6.4, 810),
 (10052589, 'Fiasco in Milan', 'Audace colpo dei soliti ignoti', 1959, None, 105, 7.1, 760),
 (10052600, 'Ballad of a Soldier', 'Ballada o soldate', 1959, None, 88, 8.2, 8755),
 (10052861, 'The Great War', 'La grande guerra', 1959, None, 137, 8.3, 3353),
 (10052893, 'Hiroshima Mon Amour', 'Hiroshima mon amour', 1959, None, 90, 7.9, 25363),
 (10052957, 'Odd Obsession', 'Kagi', 1959, None, 96, 6.9, 670),
 (10053033, 'Maigret and the St. Fiacre Case', "Maigret et l'affaire Saint-Fiacre", 1959, None, 101, 7.1, 985),
 (10053106, 'Letter Never Sent', 'Neotpravlennoe pismo', 1960, None, 96, 7.9, 2683),
 (10053114, 'The Human Condition I: No Greater Love', 'Ningen no jôken', 1959, None, 208, 8.5, 5387),
 (10053115, 'The Human Condition II: Road to Eternity', 'Ningen no jôken', 1959, None, 181, 8.5, 4246),
 (10053134, 'Good Morning', 'Ohayô', 1959, None, 94, 7.9, 6620),
 (10053146, 'Black Orpheus', 'Orfeu Negro', 1959, None, 100, 7.5, 8848),
 (10053176, 'Night Train', 'Pociag', 1959, None, 99, 7.8, 2334),
 (10053333, 'The Overtaxed', 'I tartassati', 1959, None, 105, 7.1, 627),
 (10053390, 'Floating Weeds', 'Ukikusa', 1959, None, 119, 8.0, 6440),
 (10053428, 'Come Dance with Me!', 'Voulez-vous danser avec moi', 1959, None, 91, 6.3, 505),
 (10053472, 'Breathless', 'À bout de souffle', 1960, None, 90, 7.9, 65885),
 (10053473, 'Leda', 'À double tour', 1959, None, 110, 6.7, 1037),
 (10053740, 'The Concrete Jungle', 'The Criminal', 1960, None, 97, 6.9, 1083),
 (10053746, 'The Lady with the Dog', 'Dama s sobachkoy', 1960, None, 83, 7.4, 843),
 (10053765, 'The Goddess', 'Devi', 1960, None, 93, 7.8, 1683),
 (10053772, "The Devil's Eye", 'Djävulens öga', 1960, None, 87, 7.2, 3154),
 (10053779, 'La Dolce Vita', 'La dolce vita', 1960, None, 174, 8.0, 59952),
 (10053802, 'Blood and Roses', 'Et mourir de plaisir', 1960, None, 87, 6.6, 1016),
 (10053619, "L'Avventura", "L'avventura", 1960, None, 144, 7.9, 23445),
 (10053638, 'The Battle of Austerlitz', 'Austerlitz', 1960, None, 166, 6.3, 505),
 (10053643, "Bell' Antonio", "Il bell'Antonio", 1960, None, 105, 7.4, 1158),
 (10053696, 'Captain Blood', 'Le capitan', 1960, None, 111, 6.3, 577),
 (10053699, 'Carry On Constable', 'Carry on, Constable', 1960, None, 86, 6.3, 1957),
 (10053856, 'Il Generale Della Rovere', 'Il generale Della Rovere', 1959, None, 132, 7.8, 2514),
 (10053976, 'The Virgin Spring', 'Jungfrukällan', 1960, None, 89, 8.1, 24134),
 (10054004, 'Black Cross', 'Krzyzacy', 1960, None, 166, 6.8, 1542),
 (10054067, 'Black Sunday', 'La maschera del demonio', 1960, None, 87, 7.2, 12267),
 (10054068, 'Love and Larceny', 'Il mattatore', 1960, None, 103, 7.2, 546),
 (10054144, 'When a Woman Ascends the Stairs', 'Onna ga kaidan wo agaru toki', 1960, None, 111, 8.1, 3295),
 (10054122, 'Night and Fog in Japan', 'Nihon no yoru to kiri', 1960, None, 107, 6.9, 537),
 (10054130, 'La Notte', 'La notte', 1961, None, 122, 8.1, 15704),
 (10054135, "Ocean's 11", "Ocean's Eleven", 1960, None, 127, 6.6, 18504),
 (10054159, 'Passenger', 'Pasazerka', 1963, None, 62, 7.5, 1339),
 (10054177, 'Le Petit Soldat', 'Le petit soldat', 1963, None, 88, 7.3, 5362),
 (10054189, 'Purple Noon', 'Plein soleil', 1960, None, 118, 7.8, 12212),
 (10054225, 'Girl with a Suitcase', 'La ragazza con la valigia', 1961, None, 121, 7.6, 1547),
 (10054242, 'The Passionate Thief', 'Risate di gioia', 1960, None, 106, 7.3, 591),
 (10054325, 'Take Aim at the Police Van', "'Jûsangô taihisen' yori: Sono gosôsha o nerae", 1960, None, 79, 6.7, 719),
 (10054371, 'The 1,000 Eyes of Dr. Mabuse', 'Die 1000 Augen des Dr. Mabuse', 1960, None, 103, 7.0, 2591),
 (10054389, 'Shoot the Piano Player', 'Tirez sur le pianiste', 1960, None, 81, 7.5, 15732),
 (10054395, 'Dead Eyes of London', 'Die toten Augen von London', 1961, None, 104, 6.4, 844),
 (10054413, 'Everybody Go Home!', 'Tutti a casa', 1960, None, 122, 7.7, 841),
 (10054425, 'Taxi for Tobruk', 'Un taxi pour Tobrouk', 1961, None, 95, 7.3, 1394),
 (10054451, 'Higher Principle', 'Vyssí princip', 1960, None, 104, 8.3, 517),
 (10054494, 'Zazie dans le Métro', 'Zazie dans le métro', 1960, None, 93, 7.0, 4868),
 (10054495, 'Bad Luck', 'Zezowate szczescie', 1960, None, 92, 7.6, 900),
 (10054709, 'Pigs and Battleships', 'Buta to gunkan', 1961, None, 108, 7.5, 1768),
 (10054734, 'The Counterfeiters of Paris', 'Le cave se rebiffe', 1961, None, 98, 7.1, 916),
 (10054632, 'Last Year at Marienbad', "L'année dernière à Marienbad", 1961, None, 94, 7.8, 18356),
 (10054640, 'The Assassin', "L'assassino", 1961, None, 97, 7.0, 802),
 (10054665, 'The Outrageous Baron Munchausen', 'Baron Prásil', 1962, None, 83, 7.7, 1587),
 (10054749, 'Two Women', 'La ciociara', 1960, None, 101, 7.8, 8277),
 (10053579, 'Late Autumn', 'Akibiyori', 1960, None, 128, 8.1, 3887),
 (10054803, 'Nine Days of One Year', 'Devyat dney odnogo goda', 1962, None, 111, 7.6, 880),
 (10054949, 'War of the Buttons', 'La guerre des boutons', 1962, None, 90, 7.4, 2209),
 (10054850, 'Hercules in the Haunted World', 'Ercole al centro della Terra', 1961, None, 91, 6.3, 1475),
 (10054870, 'The Fascist', 'Il federale', 1961, None, 102, 7.4, 538),
 (10055022, 'Erik the Conqueror', 'Gli invasori', 1961, None, 90, 6.2, 629),
 (10055032, 'Jules and Jim', 'Jules et Jim', 1962, None, 105, 7.8, 33976),
 (10055052, 'The End of Summer', 'Kohayagawa-ke no aki', 1961, None, 103, 7.9, 3194),
 (10055082, 'Léon Morin, Priest', 'Léon Morin, prêtre', 1961, None, 117, 7.7, 3395),
 (10055153, 'Mother Joan of the Angels', 'Matka Joanna od Aniolów', 1961, None, 110, 7.7, 2501),
 (10055198, 'Mothra', 'Mosura', 1961, None, 101, 6.6, 3181),
 (10055254, '101 Dalmatians', 'One Hundred and One Dalmatians', 1961, None, 79, 7.2, 140750),
 (10055320, 'Il Posto', 'Il posto', 1961, None, 93, 8.0, 3978),
 (10055361, 'Call Me Genius', 'The Rebel', 1961, None, 105, 7.0, 858),
 (10055375, 'Antigone', 'Antigoni', 1961, None, 93, 7.2, 599),
 (10055310, 'Placido', 'Plácido', 1961, None, 85, 8.0, 2306),
 (10055505, 'Scream of Fear', 'Taste of Fear', 1961, None, 81, 7.4, 3368),
 (10055747, 'Love at Twenty', "L'amour à vingt ans", 1962, None, 120, 7.3, 1835),
 (10055779, 'Wild for Kicks', 'Beat Girl', 1960, None, 89, 6.0, 781),
 (10055827, 'The Elusive Corporal', 'Le caporal épinglé', 1962, None, 90, 7.0, 660),
 (10055844, 'Amphibian Man', 'Chelovek-Amfibiya', 1962, None, 96, 7.1, 1926),

## Column Aliases with `AS`

In SQL, we are not required to use the same column and table names in the schema. We can create **aliases** for a column or a table with the following syntax:

```sql
SELECT
    column1 [AS] c1,
    column2 [AS] c2
FROM
    table1 [AS] t1
;
```

Note that the keyword `AS` is optional. I usually choose to use it because it makes the query more readable.

We will use table aliases a lot when we work on SQL joins in the upcoming lectures!

In [58]:
%%sql

SELECT
    title AS movieTitle,
    orig_title AS "oringinal Title",
    runtime AS Duration
FROM
    movies;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
26058 rows affected.

[('Kate & Leopold', None, 118),
 ('Mister 880', None, 90),
 ('Black Hand', None, 92),
 ('Francis', None, 91),
 ('Orpheus', 'Orphée', 95),
 ('Stromboli', 'Stromboli, terra di Dio', 107),
 ('Woman in Hiding', None, 92),
 ('Abbott and Costello in the Foreign Legion', None, 80),
 ('Annie Get Your Gun', None, 107),
 ('Armored Car Robbery', None, 67),
 ('The Asphalt Jungle', None, 112),
 ('Atom Man vs. Superman', None, 252),
 ('Backfire', None, 91),
 ('The Baron of Arizona', None, 97),
 ('The Big Lift', None, 120),
 ('The Black Rose', None, 120),
 ('The Blue Lamp', None, 84),
 ('Borderline', None, 88),
 ('Born to Be Bad', None, 94),
 ('Branded', None, 104),
 ('Bright Leaf', None, 110),
 ('Caged', None, 96),
 ('The Cariboo Trail', None, 81),
 ('Champagne for Caesar', None, 99),
 ('Cinderella', None, 74),
 ('The Clouded Yellow', None, 95),
 ('Colt .45', None, 74),
 ('Convicted', None, 91),
 ('Copper Canyon', None, 84),
 ('Crisis', None, 95),
 ('Story of a Love Affair', 'Cronaca di un amore', 98),
 ('Cyrano de Bergerac', None, 113),
 ('Dallas', None, 94),
 ("The Damned Don't Cry", None, 103),
 ('Dark City', None, 98),
 ('Destination Moon', None, 92),
 ('Destination Murder', None, 72),
 ("Devil's Doorway", None, 84),
 ('Dial 1119', None, 75),
 ('Fancy Pants', None, 92),
 ('Father of the Bride', None, 92),
 ('The Flame and the Arrow', None, 88),
 ('The Fuller Brush Girl', None, 85),
 ('The Furies', None, 109),
 ('The Glass Menagerie', None, 107),
 ('Gone to Earth', None, 110),
 ('The Great Rupert', None, 87),
 ('Gun Crazy', None, 87),
 ('The Gunfighter', None, 85),
 ('The Happy Years', None, 110),
 ('Harriet Craig', None, 94),
 ('Harvey', None, 104),
 ('House by the River', None, 83),
 ('In a Lonely Place', None, 94),
 ('The Jackie Robinson Story', None, 77),
 ('The Jackpot', None, 85),
 ('Diary of a Country Priest', "Journal d'un curé de campagne", 115),
 ('Key to the City', None, 101),
 ('Kim', None, 113),
 ("King Solomon's Mines", None, 103),
 ('Kiss Tomorrow Goodbye', None, 102),
 ('Kon-Tiki', None, 77),
 ('A Lady Without Passport', None, 74),
 ('Last Holiday', None, 88),
 ('A Life of Her Own', None, 108),
 ('Variety Lights', 'Luci del varietà', 97),
 ('Ma and Pa Kettle Go to Town', None, 79),
 ('Madeleine', None, 114),
 ('The Magnificent Yankee', None, 89),
 ('The Man Who Cheated Himself', None, 81),
 ('The Men', None, 85),
 ('The Miniver Story', None, 104),
 ('Montana', None, 76),
 ('Trio', None, 91),
 ('Mystery Street', None, 93),
 ('The Nevadan', None, 81),
 ('The Next Voice You Hear...', None, 83),
 ('Night and the City', None, 101),
 ('No Way Out', None, 106),
 ('The Young and the Damned', 'Los olvidados', 85),
 ('Operation Disaster', 'Morning Departure', 102),
 ('Outrage', None, 75),
 ('Panic in the Streets', None, 96),
 ('Quicksand', None, 79),
 ('Rashomon', 'Rashômon', 88),
 ('Rio Grande', None, 105),
 ('Rocky Mountain', None, 83),
 ('La Ronde', 'La ronde', 93),
 ('The Secret Fury', None, 85),
 ('September Affair', None, 104),
 ('Seven Days to Noon', None, 94),
 ('Shadow on the Wall', None, 84),
 ('Side Street', None, 83),
 ('Sierra', None, 83),
 ('Stage Fright', None, 110),
 ('Stars in My Crown', None, 89),
 ('Sunset Blvd.', None, 110),
 ('Susana', None, 86),
 ('Tea for Two', None, 98),
 ('Three Came Home', None, 106),
 ('Three Little Words', None, 102),
 ('To Joy', 'Till glädje', 98),
 ('To Please a Lady', None, 91),
 ('The Toast of New Orleans', None, 97),
 ('Treasure Island', None, 96),
 ('The Sound of Fury', None, 91),
 ('Two Flags West', None, 92),
 ('Two Weeks with Love', None, 90),
 ('The Underworld Story', None, 91),
 ('Wagon Master', None, 86),
 ('Walk Softly, Stranger', None, 81),
 ('The West Point Story', None, 107),
 ('When Willie Comes Marching Home', None, 82),
 ('Where the Sidewalk Ends', None, 95),
 ('The White Tower', None, 98),
 ("Winchester '73", None, 92),
 ('Woman on the Run', None, 77),
 ('The Wooden Horse', None, 101),
 ('Boot Polish', None, 149),
 ('A.T.M.: ¡¡A toda máquina!!', None, 120),
 ('Across the Wide Missouri', None, 78),
 ('The African Queen', None, 105),
 ('Alice in Wonderland', None, 75),
 ('An American in Paris', None, 114),
 ('Angels in the Outfield', None, 99),
 ('Anne of the Indies', None, 81),
 ('Appointment with Danger', None, 90),
 ('As Young as You Feel', None, 77),
 ('The Red Inn', "L'auberge rouge", 98),
 ('Awaara', None, 193),
 ('Early Summer', 'Bakushû', 125),
 ('The Big Night', None, 75),
 ('Bright Victory', None, 97),
 ('The Browning Version', None, 90),
 ('Callaway Went Thataway', None, 81),
 ('Captain Horatio Hornblower R.N.', None, 117),
 ("Casque d'Or", "Casque d'or", 96),
 ('The Cimarron Kid', None, 84),
 ('The Emperor and the Golem', 'Císaruv pekar - Pekaruv císar', 144),
 ("Comin' Round the Mountain", None, 77),
 ('Cry Danger', None, 79),
 ('Cry, the Beloved Country', None, 103),
 ('David and Bathsheba', None, 116),
 ('Death of a Salesman', None, 115),
 ('Decision Before Dawn', None, 119),
 ('The Desert Fox: The Story of Rommel', None, 88),
 ('Detective Story', None, 103),
 ("Europe '51", "Europa '51", 118),
 ('Five', None, 93),
 ('Flying Leathernecks', None, 102),
 ('Fort Worth', None, 80),
 ('Fourteen Hours', None, 92),
 ('The Frogmen', None, 96),
 ('Miss Julie', 'Fröken Julie', 90),
 ('The Great Caruso', None, 109),
 ('Guardie e ladri', None, 105),
 ('The Idiot', 'Hakuchi', 166),
 ('He Ran All the Way', None, 77),
 ('Here Comes the Groom', None, 113),
 ('His Kind of Woman', None, 120),
 ('One Summer of Happiness', 'Hon dansade en sommar', 103),
 ('The Hoodlum', None, 61),
 ('The House on Telegraph Hill', None, 93),
 ("I'll Never Forget You", 'The House in the Square', 90),
 ("I'll See You in My Dreams", None, 110),
 ('Forbidden Games', 'Jeux interdits', 86),
 ('Jim Thorpe -- All-American', None, 107),
 ('Kekec', None, 97),
 ('Kind Lady', None, 78),
 ('Laughter in Paradise', None, 93),
 ("Let's Make It Legal", None, 77),
 ('Lone Star', None, 94),
 ('Love Nest', None, 84),
 ('M', None, 88),
 ('The Magic Box', None, 118),
 ('Man in the Saddle', None, 87),
 ('The Mating Season', None, 101),
 ('Meshi', None, 97),
 ('The Mob', None, 87),
 ('A Woman Without Love', 'Una mujer sin amor', 85),
 ('The Lady of Musashino', 'Musashino fujin', 88),
 ('My Favorite Spy', None, 93),
 ('No Questions Asked', None, 80),
 ('Odette', None, 124),
 ('Has Anybody Seen My Gal', None, 88),
 ('On Dangerous Ground', None, 82),
 ('On Moonlight Bay', None, 95),
 ('On the Riviera', None, 89),
 ('Only the Valiant', None, 105),
 ('Miss Oyu', 'Oyû-sama', 94),
 ('Pandora and the Flying Dutchman', None, 122),
 ('Pathala Bhairavi', None, 192),
 ('Payment on Demand', None, 90),
 ("The People Against O'Hara", None, 102),
 ('The Little World of Don Camillo', 'Don Camillo', 107),
 ('A Place in the Sun', None, 122),
 ('La Poison', 'La poison', 85),
 ('The Prowler', None, 92),
 ('Quo Vadis', None, 171),
 ('The Racket', None, 88),
 ('Rawhide', None, 89),
 ('The Red Badge of Courage', None, 69),
 ('Rhubarb', None, 94),
 ('The River', None, 99),
 ('Roadblock', None, 73),
 ('Royal Wedding', None, 93),
 ('Sailor Beware', None, 108),
 ('Santa Fe', None, 87),
 ('A Christmas Carol', 'Scrooge', 86),
 ('Sealed Cargo', None, 90),
 ('The Secret of Convict Lake', None, 83),
 ('Show Boat', None, 108),
 ('Sirocco', None, 98),
 ('Summer Interlude', 'Sommarlek', 96),
 ('The Steel Helmet', None, 85),
 ('Storm Warning', None, 93),
 ('The Strange Door', None, 81),
 ('A Streetcar Named Desire', None, 122),
 ('The Strip', None, 85),
 ('The Tall Target', None, 78),
 ('Ten Tall Men', None, 97),
 ('The Thing from Another World', None, 87),
 ('Three Guys Named Mike', None, 90),
 ('Thunder on the Hill', None, 84),
 ('Tomahawk', None, 82),
 ('Man of Straw', 'Der Untertan', 109),
 ('Der Verlorene', None, 98),
 ('The Well', None, 86),
 ('Westward the Women', None, 118),
 ('You Never Can Tell', None, 78),
 ('5 Fingers', None, 108),
 ('Above and Beyond', None, 122),
 ('Affair in Trinidad', None, 98),
 ('Against All Flags', None, 84),
 ('Androcles and the Lion', None, 98),
 ('Angel Face', None, 91),
 ("Another Man's Poison", None, 90),
 ('April in Paris', None, 100),
 ("At Sword's Point", None, 81),
 ('Robinson Crusoe', None, 90),
 ('The Bad and the Beautiful', None, 118),
 ('The Battle at Apache Pass', None, 85),
 ('The Belle of New York', None, 82),
 ('Beauties of the Night', 'Les belles de nuit', 87),
 ('Belles on Their Toes', None, 89),
 ('Bend of the River', None, 91),
 ('Beware, My Lovely', None, 77),
 ('The Big Sky', None, 140),
 ('The Black Castle', None, 82),
 ('Blackbeard, the Pirate', None, 99),
 ('Struggle in the Valley', 'Siraa Fil-Wadi', 105),
 ('The Sound Barrier', None, 118),
 ('El bruto', None, 81),
 ('The Captive City', None, 91),
 ('Carbine Williams', None, 92),
 ('Carrie', None, 118),
 ('Carson City', None, 87),
 ('Children of Hiroshima', 'Genbaku no ko', 97),
 ('Clash by Night', None, 105),
 ('White Mane', 'Crin blanc: Le cheval sauvage', 47),
 ('Deadline - U.S.A.', None, 87),
 ('Diplomatic Courier', None, 97),
 ("Don't Bother to Knock", None, 76),
 ('Dreamboat', None, 83),
 ('The Duel at Silver Creek', None, 77),
 ('The Greatest Show on Earth', None, 152),
 ('The Green Glove', None, 89),
 ("Hangman's Knot", None, 81),
 ('Hans Christian Andersen', None, 112),
 ('High Noon', None, 85),
 ('The Holly and the Ivy', None, 83),
 ('Ikiru', None, 143),
 ('Ivanhoe', None, 106),
 ('Jumping Jacks', None, 96),
 ('Kansas City Confidential', None, 99),
 ('Kvinnors väntan', None, 107),
 ('The Lavender Hill Mob', None, 78),
 ('Limelight', None, 137),
 ('The Long Memory', None, 96),
 ('Lost in Alaska', None, 76),
 ('Lovely to Look At', None, 103),
 ('The Lusty Men', None, 113),
 ('Macao', None, 81),
 ('The Man in the White Suit', None, 85),
 ('The Marrying Kind', None, 92),
 ('The Member of the Wedding', None, 93),
 ('The Miracle of Our Lady of Fatima', None, 102),
 ('Les Miserables', None, 105),
 ('Monkey Business', None, 97),
 ('Moulin Rouge', None, 119),
 ('My Cousin Rachel', None, 98),
 ('The Naked Spur', None, 91),
 ('The Narrow Margin', None, 71),
 ('The Flavor of Green Tea Over Rice', 'Ochazuke no aji', 116),
 ('Mother', 'Okaasan', 98),
 ('Park Row', None, 83),
 ('Pat and Mike', None, 95),
 ('Plymouth Adventure', None, 105),
 ('Pony Soldier', None, 82),
 ('The Pride of St. Louis', None, 93),
 ('The Prisoner of Zenda', None, 96),
 ('The Promoter', 'The Card', 85),
 ('The Quiet Man', None, 129),
 ('Rancho Notorious', None, 89),
 ('The Return of Don Camillo', 'Le retour de Don Camillo', 115),
 ('The Ring', None, 79),
 ('Room for One More', None, 98),
 ('Ruby Gentry', None, 82),
 ('Scaramouche', None, 115),
 ("Singin' in the Rain", None, 103),
 ('The Snows of Kilimanjaro', None, 114),
 ('Springfield Rifle', None, 93),
 ('The Star', None, 89),
 ('The Steel Trap', None, 85),
 ('Stolen Face', None, 72),
 ('The Stooge', None, 100),
 ('The Stranger in Between', 'Hunted', 84),
 ('Talk About a Stranger', None, 65),
 ('The Thief', None, 86),
 ('Umberto D.', None, 89),
 ('I vinti', None, 113),
 ('Way of a Gaucho', None, 87),
 ("We're Not Married!", None, 86),
 ('The Wild North', None, 97),
 ('With a Song in My Heart', None, 117),
 ('The World in His Arms', None, 104),
 ('El', None, 92),
 ('The 5,000 Fingers of Dr. T.', None, 89),
 ('Abbott and Costello Go to Mars', None, 77),
 ('Die Geschichte vom kleinen Muck', None, 100),
 ('The Actress', None, 90),
 ('The Affairs of Dobie Gillis', None, 72),
 ('All I Desire', None, 80),
 ('Love in the City', "L'amore in città", 115),
 ('Arrowhead', None, 105),
 ('The Band Wagon', None, 112),
 ('Battle Circus', None, 90),
 ('The Beast from 20,000 Fathoms', None, 80),
 ('The Big Heat', None, 89),
 ('The Bigamist', None, 80),
 ('Blowing Wild', None, 90),
 ('The Blue Gardenia', None, 85),
 ('A Blueprint for Murder', None, 77),
 ('The Caddy', None, 95),
 ('Calamity Jane', None, 101),
 ('Call Me Madam', None, 114),
 ("The Captain's Paradise", None, 94),
 ('City That Never Sleeps', None, 90),
 ('Crash of Silence', 'Mandy', 93),
 ('The Cruel Sea', None, 126),
 ('Dangerous Crossing', None, 75),
 ('The Desert Rats', None, 88),
 ('Destination Gobi', None, 90),
 ('Do Bigha Zamin', None, 131),
 ("Donovan's Brain", None, 84),
 ('Dream Wife', None, 100),
 ('Escape from Fort Bravo', None, 99),
 ('Gentlemen Prefer Blondes', None, 91),
 ('A Geisha', 'Gion bayashi', 85),
 ('The Glass Wall', None, 82),
 ('Gun Fury', None, 83),
 ('Sawdust and Tinsel', 'Gycklarnas afton', 93),
 ("His Majesty O'Keefe", None, 91),
 ('The Hitch-Hiker', None, 71),
 ('Hondo', None, 83),
 ('Houdini', None, 106),
 ('House of Wax', None, 88),
 ('How to Marry a Millionaire', None, 95),
 ('I Confess', None, 95),
 ('I Love Melvin', None, 77),
 ('Inferno', None, 83),
 ('Invaders from Mars', None, 78),
 ('Island in the Sky', None, 109),
 ('It Came from Outer Space', None, 81),
 ('Jeopardy', None, 69),
 ('Gate of Hell', 'Jigokumon', 89),
 ('King of the Khyber Rifles', None, 100),
 ('Kiss Me Kate', None, 109),
 ('Knights of the Round Table', None, 115),
 ('Miss Sadie Thompson', None, 91),
 ('The Mississippi Gambler', None, 99),
 ('Mogambo', None, 116),
 ('Money from Home', None, 100),
 ('The Moon Is Blue', None, 99),
 ('Never Let Me Go', None, 94),
 ('Niagara', None, 92),
 ('The Proud and the Beautiful', 'Les orgueilleux', 103),
 ('Bread, Love and Dreams', 'Pane, amore e fantasia', 93),
 ('Peter Pan', None, 77),
 ('Pickup on South Street', None, 80),
 ('Plunder of the Sun', None, 81),
 ("The President's Lady", None, 96),
 ('The Robe', None, 135),
 ('Roman Holiday', None, 118),
 ('The Wages of Fear', 'Le salaire de la peur', 131),
 ('Scared Stiff', None, 108),
 ('Second Chance', None, 82),
 ('Seminole', None, 87),
 ('Shane', None, 118),
 ('Small Town Girl', None, 92),
 ('South Sea Woman', None, 99),
 ('Split Second', None, 85),
 ('Stalag 17', None, 120),
 ('Indiscretion of an American Wife', 'Stazione Termini', 90),
 ('The Story of Three Loves', None, 122),
 ('The Sun Shines Bright', None, 90),
 ('Beat the Devil', None, 89),
 ('The Lawless Breed', None, 83),
 ('Lili', None, 81),
 ('A Lion Is in the Streets', None, 88),
 ('Little Fugitive', None, 80),
 ('The Living Desert', None, 69),
 ('The Earrings of Madame De...', 'Madame de...', 105),
 ('Malta Story', None, 103),
 ('The Man Between', None, 100),
 ('The Man from the Alamo', None, 79),
 ('Man on a Tightrope', None, 105),
 ('The Count of Monte Cristo', 'Le comte de Monte-Cristo', 183),
 ('Thunder Bay', None, 103),
 ('Thunder Over the Plains', None, 82),
 ('The Adultress', 'Thérèse Raquin', 102),
 ('Titanic', None, 98),
 ('The Titfield Thunderbolt', None, 84),
 ('Trouble Along the Way', None, 111),
 ('Trouble in Store', None, 85),
 ('Journey to Italy', 'Viaggio in Italia', 85),
 ('I Vitelloni', 'I vitelloni', 107),
 ('Tumbleweed', None, 79),
 ('Ugetsu', 'Ugetsu monogatari', 96),
 ('Young Bess', None, 112),
 ("Monsieur Hulot's Holiday", 'Les vacances de Monsieur Hulot', 114),
 ('Skanderbeg', 'Velikiy voin Albanii Skanderbeg', 95),
 ('Vesna', None, 96),
 ('Late Chrysanthemums', 'Bangiku', 101),
 ('The Barefoot Contessa', None, 128),
 ('Beau Brummell', None, 113),
 ('Betrayed', None, 108),
 ('Black Widow', None, 95),
 ('20,000 Leagues Under the Sea', None, 127),
 ('Wuthering Heights', 'Abismos de pasión', 91),
 ('About Mrs. Leslie', None, 104),
 ('The Bridges at Toko-Ri', None, 102),
 ('An American in Rome', 'Un americano a Roma', 94),
 ('Anatahan', None, 91),
 ('Angels One Five', None, 98),
 ('Brigadoon', None, 108),
 ('Broken Lance', None, 96),
 ('The Caine Mutiny', None, 124),
 ('Carmen Jones', None, 105),
 ("Casanova's Big Night", None, 86),
 ('The Country Girl', None, 104),
 ('Crime Wave', None, 73),
 ('The Dam Busters', None, 124),
 ('Demetrius and the Gladiators', None, 101),
 ('Désirée', None, 110),
 ('Destry', None, 95),
 ('School for Tramps', 'Escuela de vagabundos', 99),
 ('Diabolique', 'Les diaboliques', 117),
 ('Dial M for Murder', None, 105),
 ('Doctor in the House', None, 92),
 ('Down Three Dark Streets', None, 85),
 ('Dragnet', None, 88),
 ('Drive a Crooked Road', None, 83),
 ('Drum Beat', None, 111),
 ('The Egyptian', None, 139),
 ('Executive Suite', None, 104),
 ('The Detective', 'Father Brown', 91),
 ('French Cancan', None, 102),
 ('Living It Up', None, 95),
 ('Lucky Me', None, 100),
 ('The Mad Magician', None, 72),
 ('Godzilla', 'Gojira', 96),
 ('The Miracle of Marcelino', 'Marcelino pan y vino', 91),
 ('Miseria e nobiltà', None, 94),
 ('The Story of Vickie', 'Mädchenjahre einer Königin', 118),
 ('Naked Alibi', None, 86),
 ('Night People', None, 93),
 ('Twenty-Four Eyes', 'Nijûshi no hitomi', 156),
 ('The Good Die Young', None, 100),
 ('Rhapsody', None, 115),
 ('Ride Clear of Diablo', None, 81),
 ('On the Waterfront', None, 108),
 ('The Gold of Naples', "L'oro di Napoli", 138),
 ('Riding Shotgun', None, 73),
 ('Riot in Cell Block 11', None, 80),
 ('River of No Return', None, 91),
 ('Phffft', None, 88),
 ('Prince Valiant', None, 100),
 ('Private Hell 36', None, 81),
 ('The Purple Plain', None, 97),
 ('Pushover', None, 88),
 ('Rogue Cop', None, 92),
 ('The Raid', None, 83),
 ('Rear Window', None, 112),
 ('The River and Death', 'El río y la muerte', 91),
 ('Sabrina', None, 113),
 ('Salt of the Earth', None, 94),
 ('Sansho the Bailiff', 'Sanshô dayû', 124),
 ('Saskatchewan', None, 87),
 ('Seven Brides for Seven Brothers', None, 102),
 ('A Star Is Born', None, 154),
 ('Shield for Murder', None, 82),
 ('The Student Prince', None, 107),
 ('Suddenly', None, 77),
 ('Susan Slept Here', None, 98),
 ("The Devil's General", 'Des Teufels General', 117),
 ('Them!', None, 94),
 ("There's No Business Like Show Business", None, 117),
 ('Three Cases of Murder', None, 99),
 ('Three Hours to Kill', None, 77),
 ('Track of the Cat', None, 102),
 ('Hell and High Water', None, 103),
 ('High and Dry', "The 'Maggie'", 92),
 ('The High and the Mighty', None, 147),
 ("Hobson's Choice", None, 108),
 ('Human Desire', None, 91),
 ('An Inspector Calls', None, 80),
 ('Knock on Wood', None, 103),
 ('Silver Lode', None, 81),
 ('The Sleeping Tiger', None, 89),
 ('Ulysses', 'Ulisse', 117),
 ('Valley of the Kings', None, 86),
 ('Bad Day at Black Rock', None, 81),
 ('White Christmas', None, 120),
 ('The Wild One', None, 79),
 ('Witness to Murder', None, 83),
 ('Sound of the Mountain', 'Yama no oto', 95),
 ('Young at Heart', None, 117),
 ('Battle Cry', None, 149),
 ('The Benny Goodman Story', None, 116),
 ('The Big Combo', None, 87),
 ('Abbott and Costello Meet the Mummy', None, 79),
 ('Above Us the Waves', None, 99),
 ('Le Amiche', 'Le amiche', 104),
 ('Big House, U.S.A.', None, 83),
 ('Animal Farm', None, 72),
 ('Artists and Models', None, 109),
 ('The Big Knife', None, 111),
 ('Blackboard Jungle', None, 101),
 ('Daddy Long Legs', None, 126),
 ('Dementia', None, 56),
 ('Davy Crockett: King of the Wild Frontier', None, 93),
 ('Bob le Flambeur', 'Bob le flambeur', 98),
 ('A Bullet for Joey', None, 85),
 ('Rififi', 'Du rififi chez les hommes', 118),
 ('East of Eden', None, 118),
 ('The Far Country', None, 97),
 ('The Far Horizons', None, 108),
 ('Female on the Beach', None, 97),
 ('Footsteps in the Fog', None, 90),
 ('The End of the Affair', None, 105),
 ('Wee Geordie', 'Geordie', 93),
 ('The Glass Slipper', None, 93),
 ('The Grand Maneuver', 'Les grandes manoeuvres', 106),
 ('Guys and Dolls', None, 150),
 ('Captain Lightfoot', None, 92),
 ('That Is the Dawn', "Cela s'appelle l'aurore", 102),
 ('Bloody Spear at Mount Fuji', 'Chiyari Fuji', 94),
 ('The Cobweb', None, 134),
 ('The Colditz Story', None, 94),
 ('City of Fear', None, 81),
 ('Mister Roberts', None, 123),
 ('Dreams', 'Kvinnodröm', 87),
 ('Merry-Go-Round', 'Körhinta', 90),
 ('Lady and the Tramp', None, 76),
 ('The Ladykillers', None, 91),
 ('Land of the Pharaohs', None, 106),
 ('The Last Command', None, 110),
 ('A Lawless Street', None, 78),
 ('The Left Hand of God', None, 87),
 ('Lola Montès', None, 116),
 ('The Long Gray Line', None, 138),
 ('Love Is a Many-Splendored Thing', None, 102),
 ('Love Me or Leave Me', None, 122),
 ('A Man Alone', None, 96),

Note that we've used a column alias with a space in its name. This is generally not a good practice, but if you absolutely need to do it, in Postgres you should enclose the alias in double quotes, e.g. `"alias name"`. A situation where double quotes are necessary is when you want to name a column with a word that is reserved keyword in Postgres, e.g. `"COUNT"`.

> **Note:** we **cannot** use column aliases in the `WHERE` clause, since it is evaluated by SQL before setting aliases. The following query will throw an error:

In [59]:
%%sql

SELECT
    title AS movieTitle,
    orig_title AS "oringinal Title",
    runtime AS Duration
FROM
    movies
WHERE
    Duration > 100
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
(psycopg2.errors.UndefinedColumn) column "duration" does not exist
LINE 8:     Duration > 100
            ^

[SQL: SELECT
    title AS movieTitle,
    orig_title AS "oringinal Title",
    runtime AS Duration
FROM
    movies
WHERE
    Duration > 100
;]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Derived columns

Derived columns in SQL are columns that are the result of doing operations on existing columns of a table.

For example, suppose that we want to convert the `runtime` column of our table `movies` from minutes to hours. We can do that by manipulating the `runtime` column right in the `SELECT` statement:

In [60]:
%%sql

SELECT
    title,
    runtime / 60.
FROM
    movies;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
26058 rows affected.

[('Kate & Leopold', Decimal('1.9666666666666667')),
 ('Mister 880', Decimal('1.5000000000000000')),
 ('Black Hand', Decimal('1.5333333333333333')),
 ('Francis', Decimal('1.5166666666666667')),
 ('Orpheus', Decimal('1.5833333333333333')),
 ('Stromboli', Decimal('1.7833333333333333')),
 ('Woman in Hiding', Decimal('1.5333333333333333')),
 ('Abbott and Costello in the Foreign Legion', Decimal('1.3333333333333333')),
 ('Annie Get Your Gun', Decimal('1.7833333333333333')),
 ('Armored Car Robbery', Decimal('1.1166666666666667')),
 ('The Asphalt Jungle', Decimal('1.8666666666666667')),
 ('Atom Man vs. Superman', Decimal('4.2000000000000000')),
 ('Backfire', Decimal('1.5166666666666667')),
 ('The Baron of Arizona', Decimal('1.6166666666666667')),
 ('The Big Lift', Decimal('2.0000000000000000')),
 ('The Black Rose', Decimal('2.0000000000000000')),
 ('The Blue Lamp', Decimal('1.4000000000000000')),
 ('Borderline', Decimal('1.4666666666666667')),
 ('Born to Be Bad', Decimal('1.5666666666666667')),
 ('Branded', Decimal('1.7333333333333333')),
 ('Bright Leaf', Decimal('1.8333333333333333')),
 ('Caged', Decimal('1.6000000000000000')),
 ('The Cariboo Trail', Decimal('1.3500000000000000')),
 ('Champagne for Caesar', Decimal('1.6500000000000000')),
 ('Cinderella', Decimal('1.2333333333333333')),
 ('The Clouded Yellow', Decimal('1.5833333333333333')),
 ('Colt .45', Decimal('1.2333333333333333')),
 ('Convicted', Decimal('1.5166666666666667')),
 ('Copper Canyon', Decimal('1.4000000000000000')),
 ('Crisis', Decimal('1.5833333333333333')),
 ('Story of a Love Affair', Decimal('1.6333333333333333')),
 ('Cyrano de Bergerac', Decimal('1.8833333333333333')),
 ('Dallas', Decimal('1.5666666666666667')),
 ("The Damned Don't Cry", Decimal('1.7166666666666667')),
 ('Dark City', Decimal('1.6333333333333333')),
 ('Destination Moon', Decimal('1.5333333333333333')),
 ('Destination Murder', Decimal('1.2000000000000000')),
 ("Devil's Doorway", Decimal('1.4000000000000000')),
 ('Dial 1119', Decimal('1.2500000000000000')),
 ('Fancy Pants', Decimal('1.5333333333333333')),
 ('Father of the Bride', Decimal('1.5333333333333333')),
 ('The Flame and the Arrow', Decimal('1.4666666666666667')),
 ('The Fuller Brush Girl', Decimal('1.4166666666666667')),
 ('The Furies', Decimal('1.8166666666666667')),
 ('The Glass Menagerie', Decimal('1.7833333333333333')),
 ('Gone to Earth', Decimal('1.8333333333333333')),
 ('The Great Rupert', Decimal('1.4500000000000000')),
 ('Gun Crazy', Decimal('1.4500000000000000')),
 ('The Gunfighter', Decimal('1.4166666666666667')),
 ('The Happy Years', Decimal('1.8333333333333333')),
 ('Harriet Craig', Decimal('1.5666666666666667')),
 ('Harvey', Decimal('1.7333333333333333')),
 ('House by the River', Decimal('1.3833333333333333')),
 ('In a Lonely Place', Decimal('1.5666666666666667')),
 ('The Jackie Robinson Story', Decimal('1.2833333333333333')),
 ('The Jackpot', Decimal('1.4166666666666667')),
 ('Diary of a Country Priest', Decimal('1.9166666666666667')),
 ('Key to the City', Decimal('1.6833333333333333')),
 ('Kim', Decimal('1.8833333333333333')),
 ("King Solomon's Mines", Decimal('1.7166666666666667')),
 ('Kiss Tomorrow Goodbye', Decimal('1.7000000000000000')),
 ('Kon-Tiki', Decimal('1.2833333333333333')),
 ('A Lady Without Passport', Decimal('1.2333333333333333')),
 ('Last Holiday', Decimal('1.4666666666666667')),
 ('A Life of Her Own', Decimal('1.8000000000000000')),
 ('Variety Lights', Decimal('1.6166666666666667')),
 ('Ma and Pa Kettle Go to Town', Decimal('1.3166666666666667')),
 ('Madeleine', Decimal('1.9000000000000000')),
 ('The Magnificent Yankee', Decimal('1.4833333333333333')),
 ('The Man Who Cheated Himself', Decimal('1.3500000000000000')),
 ('The Men', Decimal('1.4166666666666667')),
 ('The Miniver Story', Decimal('1.7333333333333333')),
 ('Montana', Decimal('1.2666666666666667')),
 ('Trio', Decimal('1.5166666666666667')),
 ('Mystery Street', Decimal('1.5500000000000000')),
 ('The Nevadan', Decimal('1.3500000000000000')),
 ('The Next Voice You Hear...', Decimal('1.3833333333333333')),
 ('Night and the City', Decimal('1.6833333333333333')),
 ('No Way Out', Decimal('1.7666666666666667')),
 ('The Young and the Damned', Decimal('1.4166666666666667')),
 ('Operation Disaster', Decimal('1.7000000000000000')),
 ('Outrage', Decimal('1.2500000000000000')),
 ('Panic in the Streets', Decimal('1.6000000000000000')),
 ('Quicksand', Decimal('1.3166666666666667')),
 ('Rashomon', Decimal('1.4666666666666667')),
 ('Rio Grande', Decimal('1.7500000000000000')),
 ('Rocky Mountain', Decimal('1.3833333333333333')),
 ('La Ronde', Decimal('1.5500000000000000')),
 ('The Secret Fury', Decimal('1.4166666666666667')),
 ('September Affair', Decimal('1.7333333333333333')),
 ('Seven Days to Noon', Decimal('1.5666666666666667')),
 ('Shadow on the Wall', Decimal('1.4000000000000000')),
 ('Side Street', Decimal('1.3833333333333333')),
 ('Sierra', Decimal('1.3833333333333333')),
 ('Stage Fright', Decimal('1.8333333333333333')),
 ('Stars in My Crown', Decimal('1.4833333333333333')),
 ('Sunset Blvd.', Decimal('1.8333333333333333')),
 ('Susana', Decimal('1.4333333333333333')),
 ('Tea for Two', Decimal('1.6333333333333333')),
 ('Three Came Home', Decimal('1.7666666666666667')),
 ('Three Little Words', Decimal('1.7000000000000000')),
 ('To Joy', Decimal('1.6333333333333333')),
 ('To Please a Lady', Decimal('1.5166666666666667')),
 ('The Toast of New Orleans', Decimal('1.6166666666666667')),
 ('Treasure Island', Decimal('1.6000000000000000')),
 ('The Sound of Fury', Decimal('1.5166666666666667')),
 ('Two Flags West', Decimal('1.5333333333333333')),
 ('Two Weeks with Love', Decimal('1.5000000000000000')),
 ('The Underworld Story', Decimal('1.5166666666666667')),
 ('Wagon Master', Decimal('1.4333333333333333')),
 ('Walk Softly, Stranger', Decimal('1.3500000000000000')),
 ('The West Point Story', Decimal('1.7833333333333333')),
 ('When Willie Comes Marching Home', Decimal('1.3666666666666667')),
 ('Where the Sidewalk Ends', Decimal('1.5833333333333333')),
 ('The White Tower', Decimal('1.6333333333333333')),
 ("Winchester '73", Decimal('1.5333333333333333')),
 ('Woman on the Run', Decimal('1.2833333333333333')),
 ('The Wooden Horse', Decimal('1.6833333333333333')),
 ('Boot Polish', Decimal('2.4833333333333333')),
 ('A.T.M.: ¡¡A toda máquina!!', Decimal('2.0000000000000000')),
 ('Across the Wide Missouri', Decimal('1.3000000000000000')),
 ('The African Queen', Decimal('1.7500000000000000')),
 ('Alice in Wonderland', Decimal('1.2500000000000000')),
 ('An American in Paris', Decimal('1.9000000000000000')),
 ('Angels in the Outfield', Decimal('1.6500000000000000')),
 ('Anne of the Indies', Decimal('1.3500000000000000')),
 ('Appointment with Danger', Decimal('1.5000000000000000')),
 ('As Young as You Feel', Decimal('1.2833333333333333')),
 ('The Red Inn', Decimal('1.6333333333333333')),
 ('Awaara', Decimal('3.2166666666666667')),
 ('Early Summer', Decimal('2.0833333333333333')),
 ('The Big Night', Decimal('1.2500000000000000')),
 ('Bright Victory', Decimal('1.6166666666666667')),
 ('The Browning Version', Decimal('1.5000000000000000')),
 ('Callaway Went Thataway', Decimal('1.3500000000000000')),
 ('Captain Horatio Hornblower R.N.', Decimal('1.9500000000000000')),
 ("Casque d'Or", Decimal('1.6000000000000000')),
 ('The Cimarron Kid', Decimal('1.4000000000000000')),
 ('The Emperor and the Golem', Decimal('2.4000000000000000')),
 ("Comin' Round the Mountain", Decimal('1.2833333333333333')),
 ('Cry Danger', Decimal('1.3166666666666667')),
 ('Cry, the Beloved Country', Decimal('1.7166666666666667')),
 ('David and Bathsheba', Decimal('1.9333333333333333')),
 ('Death of a Salesman', Decimal('1.9166666666666667')),
 ('Decision Before Dawn', Decimal('1.9833333333333333')),
 ('The Desert Fox: The Story of Rommel', Decimal('1.4666666666666667')),
 ('Detective Story', Decimal('1.7166666666666667')),
 ("Europe '51", Decimal('1.9666666666666667')),
 ('Five', Decimal('1.5500000000000000')),
 ('Flying Leathernecks', Decimal('1.7000000000000000')),
 ('Fort Worth', Decimal('1.3333333333333333')),
 ('Fourteen Hours', Decimal('1.5333333333333333')),
 ('The Frogmen', Decimal('1.6000000000000000')),
 ('Miss Julie', Decimal('1.5000000000000000')),
 ('The Great Caruso', Decimal('1.8166666666666667')),
 ('Guardie e ladri', Decimal('1.7500000000000000')),
 ('The Idiot', Decimal('2.7666666666666667')),
 ('He Ran All the Way', Decimal('1.2833333333333333')),
 ('Here Comes the Groom', Decimal('1.8833333333333333')),
 ('His Kind of Woman', Decimal('2.0000000000000000')),
 ('One Summer of Happiness', Decimal('1.7166666666666667')),
 ('The Hoodlum', Decimal('1.0166666666666667')),
 ('The House on Telegraph Hill', Decimal('1.5500000000000000')),
 ("I'll Never Forget You", Decimal('1.5000000000000000')),
 ("I'll See You in My Dreams", Decimal('1.8333333333333333')),
 ('Forbidden Games', Decimal('1.4333333333333333')),
 ('Jim Thorpe -- All-American', Decimal('1.7833333333333333')),
 ('Kekec', Decimal('1.6166666666666667')),
 ('Kind Lady', Decimal('1.3000000000000000')),
 ('Laughter in Paradise', Decimal('1.5500000000000000')),
 ("Let's Make It Legal", Decimal('1.2833333333333333')),
 ('Lone Star', Decimal('1.5666666666666667')),
 ('Love Nest', Decimal('1.4000000000000000')),
 ('M', Decimal('1.4666666666666667')),
 ('The Magic Box', Decimal('1.9666666666666667')),
 ('Man in the Saddle', Decimal('1.4500000000000000')),
 ('The Mating Season', Decimal('1.6833333333333333')),
 ('Meshi', Decimal('1.6166666666666667')),
 ('The Mob', Decimal('1.4500000000000000')),
 ('A Woman Without Love', Decimal('1.4166666666666667')),
 ('The Lady of Musashino', Decimal('1.4666666666666667')),
 ('My Favorite Spy', Decimal('1.5500000000000000')),
 ('No Questions Asked', Decimal('1.3333333333333333')),
 ('Odette', Decimal('2.0666666666666667')),
 ('Has Anybody Seen My Gal', Decimal('1.4666666666666667')),
 ('On Dangerous Ground', Decimal('1.3666666666666667')),
 ('On Moonlight Bay', Decimal('1.5833333333333333')),
 ('On the Riviera', Decimal('1.4833333333333333')),
 ('Only the Valiant', Decimal('1.7500000000000000')),
 ('Miss Oyu', Decimal('1.5666666666666667')),
 ('Pandora and the Flying Dutchman', Decimal('2.0333333333333333')),
 ('Pathala Bhairavi', Decimal('3.2000000000000000')),
 ('Payment on Demand', Decimal('1.5000000000000000')),
 ("The People Against O'Hara", Decimal('1.7000000000000000')),
 ('The Little World of Don Camillo', Decimal('1.7833333333333333')),
 ('A Place in the Sun', Decimal('2.0333333333333333')),
 ('La Poison', Decimal('1.4166666666666667')),
 ('The Prowler', Decimal('1.5333333333333333')),
 ('Quo Vadis', Decimal('2.8500000000000000')),
 ('The Racket', Decimal('1.4666666666666667')),
 ('Rawhide', Decimal('1.4833333333333333')),
 ('The Red Badge of Courage', Decimal('1.1500000000000000')),
 ('Rhubarb', Decimal('1.5666666666666667')),
 ('The River', Decimal('1.6500000000000000')),
 ('Roadblock', Decimal('1.2166666666666667')),
 ('Royal Wedding', Decimal('1.5500000000000000')),
 ('Sailor Beware', Decimal('1.8000000000000000')),
 ('Santa Fe', Decimal('1.4500000000000000')),
 ('A Christmas Carol', Decimal('1.4333333333333333')),
 ('Sealed Cargo', Decimal('1.5000000000000000')),
 ('The Secret of Convict Lake', Decimal('1.3833333333333333')),
 ('Show Boat', Decimal('1.8000000000000000')),
 ('Sirocco', Decimal('1.6333333333333333')),
 ('Summer Interlude', Decimal('1.6000000000000000')),
 ('The Steel Helmet', Decimal('1.4166666666666667')),
 ('Storm Warning', Decimal('1.5500000000000000')),
 ('The Strange Door', Decimal('1.3500000000000000')),
 ('A Streetcar Named Desire', Decimal('2.0333333333333333')),
 ('The Strip', Decimal('1.4166666666666667')),
 ('The Tall Target', Decimal('1.3000000000000000')),
 ('Ten Tall Men', Decimal('1.6166666666666667')),
 ('The Thing from Another World', Decimal('1.4500000000000000')),
 ('Three Guys Named Mike', Decimal('1.5000000000000000')),
 ('Thunder on the Hill', Decimal('1.4000000000000000')),
 ('Tomahawk', Decimal('1.3666666666666667')),
 ('Man of Straw', Decimal('1.8166666666666667')),
 ('Der Verlorene', Decimal('1.6333333333333333')),
 ('The Well', Decimal('1.4333333333333333')),
 ('Westward the Women', Decimal('1.9666666666666667')),
 ('You Never Can Tell', Decimal('1.3000000000000000')),
 ('5 Fingers', Decimal('1.8000000000000000')),
 ('Above and Beyond', Decimal('2.0333333333333333')),
 ('Affair in Trinidad', Decimal('1.6333333333333333')),
 ('Against All Flags', Decimal('1.4000000000000000')),
 ('Androcles and the Lion', Decimal('1.6333333333333333')),
 ('Angel Face', Decimal('1.5166666666666667')),
 ("Another Man's Poison", Decimal('1.5000000000000000')),
 ('April in Paris', Decimal('1.6666666666666667')),
 ("At Sword's Point", Decimal('1.3500000000000000')),
 ('Robinson Crusoe', Decimal('1.5000000000000000')),
 ('The Bad and the Beautiful', Decimal('1.9666666666666667')),
 ('The Battle at Apache Pass', Decimal('1.4166666666666667')),
 ('The Belle of New York', Decimal('1.3666666666666667')),
 ('Beauties of the Night', Decimal('1.4500000000000000')),
 ('Belles on Their Toes', Decimal('1.4833333333333333')),
 ('Bend of the River', Decimal('1.5166666666666667')),
 ('Beware, My Lovely', Decimal('1.2833333333333333')),
 ('The Big Sky', Decimal('2.3333333333333333')),
 ('The Black Castle', Decimal('1.3666666666666667')),
 ('Blackbeard, the Pirate', Decimal('1.6500000000000000')),
 ('Struggle in the Valley', Decimal('1.7500000000000000')),
 ('The Sound Barrier', Decimal('1.9666666666666667')),
 ('El bruto', Decimal('1.3500000000000000')),
 ('The Captive City', Decimal('1.5166666666666667')),
 ('Carbine Williams', Decimal('1.5333333333333333')),
 ('Carrie', Decimal('1.9666666666666667')),
 ('Carson City', Decimal('1.4500000000000000')),
 ('Children of Hiroshima', Decimal('1.6166666666666667')),
 ('Clash by Night', Decimal('1.7500000000000000')),
 ('White Mane', Decimal('0.78333333333333333333')),
 ('Deadline - U.S.A.', Decimal('1.4500000000000000')),
 ('Diplomatic Courier', Decimal('1.6166666666666667')),
 ("Don't Bother to Knock", Decimal('1.2666666666666667')),
 ('Dreamboat', Decimal('1.3833333333333333')),
 ('The Duel at Silver Creek', Decimal('1.2833333333333333')),
 ('The Greatest Show on Earth', Decimal('2.5333333333333333')),
 ('The Green Glove', Decimal('1.4833333333333333')),
 ("Hangman's Knot", Decimal('1.3500000000000000')),
 ('Hans Christian Andersen', Decimal('1.8666666666666667')),
 ('High Noon', Decimal('1.4166666666666667')),
 ('The Holly and the Ivy', Decimal('1.3833333333333333')),
 ('Ikiru', Decimal('2.3833333333333333')),
 ('Ivanhoe', Decimal('1.7666666666666667')),
 ('Jumping Jacks', Decimal('1.6000000000000000')),
 ('Kansas City Confidential', Decimal('1.6500000000000000')),
 ('Kvinnors väntan', Decimal('1.7833333333333333')),
 ('The Lavender Hill Mob', Decimal('1.3000000000000000')),
 ('Limelight', Decimal('2.2833333333333333')),
 ('The Long Memory', Decimal('1.6000000000000000')),
 ('Lost in Alaska', Decimal('1.2666666666666667')),
 ('Lovely to Look At', Decimal('1.7166666666666667')),
 ('The Lusty Men', Decimal('1.8833333333333333')),
 ('Macao', Decimal('1.3500000000000000')),
 ('The Man in the White Suit', Decimal('1.4166666666666667')),
 ('The Marrying Kind', Decimal('1.5333333333333333')),
 ('The Member of the Wedding', Decimal('1.5500000000000000')),
 ('The Miracle of Our Lady of Fatima', Decimal('1.7000000000000000')),
 ('Les Miserables', Decimal('1.7500000000000000')),
 ('Monkey Business', Decimal('1.6166666666666667')),
 ('Moulin Rouge', Decimal('1.9833333333333333')),
 ('My Cousin Rachel', Decimal('1.6333333333333333')),
 ('The Naked Spur', Decimal('1.5166666666666667')),
 ('The Narrow Margin', Decimal('1.1833333333333333')),
 ('The Flavor of Green Tea Over Rice', Decimal('1.9333333333333333')),
 ('Mother', Decimal('1.6333333333333333')),
 ('Park Row', Decimal('1.3833333333333333')),
 ('Pat and Mike', Decimal('1.5833333333333333')),
 ('Plymouth Adventure', Decimal('1.7500000000000000')),
 ('Pony Soldier', Decimal('1.3666666666666667')),
 ('The Pride of St. Louis', Decimal('1.5500000000000000')),
 ('The Prisoner of Zenda', Decimal('1.6000000000000000')),
 ('The Promoter', Decimal('1.4166666666666667')),
 ('The Quiet Man', Decimal('2.1500000000000000')),
 ('Rancho Notorious', Decimal('1.4833333333333333')),
 ('The Return of Don Camillo', Decimal('1.9166666666666667')),
 ('The Ring', Decimal('1.3166666666666667')),
 ('Room for One More', Decimal('1.6333333333333333')),
 ('Ruby Gentry', Decimal('1.3666666666666667')),
 ('Scaramouche', Decimal('1.9166666666666667')),
 ("Singin' in the Rain", Decimal('1.7166666666666667')),
 ('The Snows of Kilimanjaro', Decimal('1.9000000000000000')),
 ('Springfield Rifle', Decimal('1.5500000000000000')),
 ('The Star', Decimal('1.4833333333333333')),
 ('The Steel Trap', Decimal('1.4166666666666667')),
 ('Stolen Face', Decimal('1.2000000000000000')),
 ('The Stooge', Decimal('1.6666666666666667')),
 ('The Stranger in Between', Decimal('1.4000000000000000')),
 ('Talk About a Stranger', Decimal('1.0833333333333333')),
 ('The Thief', Decimal('1.4333333333333333')),
 ('Umberto D.', Decimal('1.4833333333333333')),
 ('I vinti', Decimal('1.8833333333333333')),
 ('Way of a Gaucho', Decimal('1.4500000000000000')),
 ("We're Not Married!", Decimal('1.4333333333333333')),
 ('The Wild North', Decimal('1.6166666666666667')),
 ('With a Song in My Heart', Decimal('1.9500000000000000')),
 ('The World in His Arms', Decimal('1.7333333333333333')),
 ('El', Decimal('1.5333333333333333')),
 ('The 5,000 Fingers of Dr. T.', Decimal('1.4833333333333333')),
 ('Abbott and Costello Go to Mars', Decimal('1.2833333333333333')),
 ('Die Geschichte vom kleinen Muck', Decimal('1.6666666666666667')),
 ('The Actress', Decimal('1.5000000000000000')),
 ('The Affairs of Dobie Gillis', Decimal('1.2000000000000000')),
 ('All I Desire', Decimal('1.3333333333333333')),
 ('Love in the City', Decimal('1.9166666666666667')),
 ('Arrowhead', Decimal('1.7500000000000000')),
 ('The Band Wagon', Decimal('1.8666666666666667')),
 ('Battle Circus', Decimal('1.5000000000000000')),
 ('The Beast from 20,000 Fathoms', Decimal('1.3333333333333333')),
 ('The Big Heat', Decimal('1.4833333333333333')),
 ('The Bigamist', Decimal('1.3333333333333333')),
 ('Blowing Wild', Decimal('1.5000000000000000')),
 ('The Blue Gardenia', Decimal('1.4166666666666667')),
 ('A Blueprint for Murder', Decimal('1.2833333333333333')),
 ('The Caddy', Decimal('1.5833333333333333')),
 ('Calamity Jane', Decimal('1.6833333333333333')),
 ('Call Me Madam', Decimal('1.9000000000000000')),
 ("The Captain's Paradise", Decimal('1.5666666666666667')),
 ('City That Never Sleeps', Decimal('1.5000000000000000')),
 ('Crash of Silence', Decimal('1.5500000000000000')),
 ('The Cruel Sea', Decimal('2.1000000000000000')),
 ('Dangerous Crossing', Decimal('1.2500000000000000')),
 ('The Desert Rats', Decimal('1.4666666666666667')),
 ('Destination Gobi', Decimal('1.5000000000000000')),
 ('Do Bigha Zamin', Decimal('2.1833333333333333')),
 ("Donovan's Brain", Decimal('1.4000000000000000')),
 ('Dream Wife', Decimal('1.6666666666666667')),
 ('Escape from Fort Bravo', Decimal('1.6500000000000000')),
 ('Gentlemen Prefer Blondes', Decimal('1.5166666666666667')),
 ('A Geisha', Decimal('1.4166666666666667')),
 ('The Glass Wall', Decimal('1.3666666666666667')),
 ('Gun Fury', Decimal('1.3833333333333333')),
 ('Sawdust and Tinsel', Decimal('1.5500000000000000')),
 ("His Majesty O'Keefe", Decimal('1.5166666666666667')),
 ('The Hitch-Hiker', Decimal('1.1833333333333333')),
 ('Hondo', Decimal('1.3833333333333333')),
 ('Houdini', Decimal('1.7666666666666667')),
 ('House of Wax', Decimal('1.4666666666666667')),
 ('How to Marry a Millionaire', Decimal('1.5833333333333333')),
 ('I Confess', Decimal('1.5833333333333333')),
 ('I Love Melvin', Decimal('1.2833333333333333')),
 ('Inferno', Decimal('1.3833333333333333')),
 ('Invaders from Mars', Decimal('1.3000000000000000')),
 ('Island in the Sky', Decimal('1.8166666666666667')),

> Note that I've written `60.` with the decimal point on purpose. If you divide by `60` instead, SQL assumes that the result of this operation should also be an integer (given that the column `runtime` is also of type integer), and will return truncated integer values instead of floats.

SQL doesn't know what to call the derived column, and by default you will see `?column?` as the column name. We can use an alias to name the new derived column:

In [61]:
%%sql

SELECT
    title,
    runtime / 60. AS runtime_hours
FROM
    movies;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
26058 rows affected.

[('Kate & Leopold', Decimal('1.9666666666666667')),
 ('Mister 880', Decimal('1.5000000000000000')),
 ('Black Hand', Decimal('1.5333333333333333')),
 ('Francis', Decimal('1.5166666666666667')),
 ('Orpheus', Decimal('1.5833333333333333')),
 ('Stromboli', Decimal('1.7833333333333333')),
 ('Woman in Hiding', Decimal('1.5333333333333333')),
 ('Abbott and Costello in the Foreign Legion', Decimal('1.3333333333333333')),
 ('Annie Get Your Gun', Decimal('1.7833333333333333')),
 ('Armored Car Robbery', Decimal('1.1166666666666667')),
 ('The Asphalt Jungle', Decimal('1.8666666666666667')),
 ('Atom Man vs. Superman', Decimal('4.2000000000000000')),
 ('Backfire', Decimal('1.5166666666666667')),
 ('The Baron of Arizona', Decimal('1.6166666666666667')),
 ('The Big Lift', Decimal('2.0000000000000000')),
 ('The Black Rose', Decimal('2.0000000000000000')),
 ('The Blue Lamp', Decimal('1.4000000000000000')),
 ('Borderline', Decimal('1.4666666666666667')),
 ('Born to Be Bad', Decimal('1.5666666666666667')),
 ('Branded', Decimal('1.7333333333333333')),
 ('Bright Leaf', Decimal('1.8333333333333333')),
 ('Caged', Decimal('1.6000000000000000')),
 ('The Cariboo Trail', Decimal('1.3500000000000000')),
 ('Champagne for Caesar', Decimal('1.6500000000000000')),
 ('Cinderella', Decimal('1.2333333333333333')),
 ('The Clouded Yellow', Decimal('1.5833333333333333')),
 ('Colt .45', Decimal('1.2333333333333333')),
 ('Convicted', Decimal('1.5166666666666667')),
 ('Copper Canyon', Decimal('1.4000000000000000')),
 ('Crisis', Decimal('1.5833333333333333')),
 ('Story of a Love Affair', Decimal('1.6333333333333333')),
 ('Cyrano de Bergerac', Decimal('1.8833333333333333')),
 ('Dallas', Decimal('1.5666666666666667')),
 ("The Damned Don't Cry", Decimal('1.7166666666666667')),
 ('Dark City', Decimal('1.6333333333333333')),
 ('Destination Moon', Decimal('1.5333333333333333')),
 ('Destination Murder', Decimal('1.2000000000000000')),
 ("Devil's Doorway", Decimal('1.4000000000000000')),
 ('Dial 1119', Decimal('1.2500000000000000')),
 ('Fancy Pants', Decimal('1.5333333333333333')),
 ('Father of the Bride', Decimal('1.5333333333333333')),
 ('The Flame and the Arrow', Decimal('1.4666666666666667')),
 ('The Fuller Brush Girl', Decimal('1.4166666666666667')),
 ('The Furies', Decimal('1.8166666666666667')),
 ('The Glass Menagerie', Decimal('1.7833333333333333')),
 ('Gone to Earth', Decimal('1.8333333333333333')),
 ('The Great Rupert', Decimal('1.4500000000000000')),
 ('Gun Crazy', Decimal('1.4500000000000000')),
 ('The Gunfighter', Decimal('1.4166666666666667')),
 ('The Happy Years', Decimal('1.8333333333333333')),
 ('Harriet Craig', Decimal('1.5666666666666667')),
 ('Harvey', Decimal('1.7333333333333333')),
 ('House by the River', Decimal('1.3833333333333333')),
 ('In a Lonely Place', Decimal('1.5666666666666667')),
 ('The Jackie Robinson Story', Decimal('1.2833333333333333')),
 ('The Jackpot', Decimal('1.4166666666666667')),
 ('Diary of a Country Priest', Decimal('1.9166666666666667')),
 ('Key to the City', Decimal('1.6833333333333333')),
 ('Kim', Decimal('1.8833333333333333')),
 ("King Solomon's Mines", Decimal('1.7166666666666667')),
 ('Kiss Tomorrow Goodbye', Decimal('1.7000000000000000')),
 ('Kon-Tiki', Decimal('1.2833333333333333')),
 ('A Lady Without Passport', Decimal('1.2333333333333333')),
 ('Last Holiday', Decimal('1.4666666666666667')),
 ('A Life of Her Own', Decimal('1.8000000000000000')),
 ('Variety Lights', Decimal('1.6166666666666667')),
 ('Ma and Pa Kettle Go to Town', Decimal('1.3166666666666667')),
 ('Madeleine', Decimal('1.9000000000000000')),
 ('The Magnificent Yankee', Decimal('1.4833333333333333')),
 ('The Man Who Cheated Himself', Decimal('1.3500000000000000')),
 ('The Men', Decimal('1.4166666666666667')),
 ('The Miniver Story', Decimal('1.7333333333333333')),
 ('Montana', Decimal('1.2666666666666667')),
 ('Trio', Decimal('1.5166666666666667')),
 ('Mystery Street', Decimal('1.5500000000000000')),
 ('The Nevadan', Decimal('1.3500000000000000')),
 ('The Next Voice You Hear...', Decimal('1.3833333333333333')),
 ('Night and the City', Decimal('1.6833333333333333')),
 ('No Way Out', Decimal('1.7666666666666667')),
 ('The Young and the Damned', Decimal('1.4166666666666667')),
 ('Operation Disaster', Decimal('1.7000000000000000')),
 ('Outrage', Decimal('1.2500000000000000')),
 ('Panic in the Streets', Decimal('1.6000000000000000')),
 ('Quicksand', Decimal('1.3166666666666667')),
 ('Rashomon', Decimal('1.4666666666666667')),
 ('Rio Grande', Decimal('1.7500000000000000')),
 ('Rocky Mountain', Decimal('1.3833333333333333')),
 ('La Ronde', Decimal('1.5500000000000000')),
 ('The Secret Fury', Decimal('1.4166666666666667')),
 ('September Affair', Decimal('1.7333333333333333')),
 ('Seven Days to Noon', Decimal('1.5666666666666667')),
 ('Shadow on the Wall', Decimal('1.4000000000000000')),
 ('Side Street', Decimal('1.3833333333333333')),
 ('Sierra', Decimal('1.3833333333333333')),
 ('Stage Fright', Decimal('1.8333333333333333')),
 ('Stars in My Crown', Decimal('1.4833333333333333')),
 ('Sunset Blvd.', Decimal('1.8333333333333333')),
 ('Susana', Decimal('1.4333333333333333')),
 ('Tea for Two', Decimal('1.6333333333333333')),
 ('Three Came Home', Decimal('1.7666666666666667')),
 ('Three Little Words', Decimal('1.7000000000000000')),
 ('To Joy', Decimal('1.6333333333333333')),
 ('To Please a Lady', Decimal('1.5166666666666667')),
 ('The Toast of New Orleans', Decimal('1.6166666666666667')),
 ('Treasure Island', Decimal('1.6000000000000000')),
 ('The Sound of Fury', Decimal('1.5166666666666667')),
 ('Two Flags West', Decimal('1.5333333333333333')),
 ('Two Weeks with Love', Decimal('1.5000000000000000')),
 ('The Underworld Story', Decimal('1.5166666666666667')),
 ('Wagon Master', Decimal('1.4333333333333333')),
 ('Walk Softly, Stranger', Decimal('1.3500000000000000')),
 ('The West Point Story', Decimal('1.7833333333333333')),
 ('When Willie Comes Marching Home', Decimal('1.3666666666666667')),
 ('Where the Sidewalk Ends', Decimal('1.5833333333333333')),
 ('The White Tower', Decimal('1.6333333333333333')),
 ("Winchester '73", Decimal('1.5333333333333333')),
 ('Woman on the Run', Decimal('1.2833333333333333')),
 ('The Wooden Horse', Decimal('1.6833333333333333')),
 ('Boot Polish', Decimal('2.4833333333333333')),
 ('A.T.M.: ¡¡A toda máquina!!', Decimal('2.0000000000000000')),
 ('Across the Wide Missouri', Decimal('1.3000000000000000')),
 ('The African Queen', Decimal('1.7500000000000000')),
 ('Alice in Wonderland', Decimal('1.2500000000000000')),
 ('An American in Paris', Decimal('1.9000000000000000')),
 ('Angels in the Outfield', Decimal('1.6500000000000000')),
 ('Anne of the Indies', Decimal('1.3500000000000000')),
 ('Appointment with Danger', Decimal('1.5000000000000000')),
 ('As Young as You Feel', Decimal('1.2833333333333333')),
 ('The Red Inn', Decimal('1.6333333333333333')),
 ('Awaara', Decimal('3.2166666666666667')),
 ('Early Summer', Decimal('2.0833333333333333')),
 ('The Big Night', Decimal('1.2500000000000000')),
 ('Bright Victory', Decimal('1.6166666666666667')),
 ('The Browning Version', Decimal('1.5000000000000000')),
 ('Callaway Went Thataway', Decimal('1.3500000000000000')),
 ('Captain Horatio Hornblower R.N.', Decimal('1.9500000000000000')),
 ("Casque d'Or", Decimal('1.6000000000000000')),
 ('The Cimarron Kid', Decimal('1.4000000000000000')),
 ('The Emperor and the Golem', Decimal('2.4000000000000000')),
 ("Comin' Round the Mountain", Decimal('1.2833333333333333')),
 ('Cry Danger', Decimal('1.3166666666666667')),
 ('Cry, the Beloved Country', Decimal('1.7166666666666667')),
 ('David and Bathsheba', Decimal('1.9333333333333333')),
 ('Death of a Salesman', Decimal('1.9166666666666667')),
 ('Decision Before Dawn', Decimal('1.9833333333333333')),
 ('The Desert Fox: The Story of Rommel', Decimal('1.4666666666666667')),
 ('Detective Story', Decimal('1.7166666666666667')),
 ("Europe '51", Decimal('1.9666666666666667')),
 ('Five', Decimal('1.5500000000000000')),
 ('Flying Leathernecks', Decimal('1.7000000000000000')),
 ('Fort Worth', Decimal('1.3333333333333333')),
 ('Fourteen Hours', Decimal('1.5333333333333333')),
 ('The Frogmen', Decimal('1.6000000000000000')),
 ('Miss Julie', Decimal('1.5000000000000000')),
 ('The Great Caruso', Decimal('1.8166666666666667')),
 ('Guardie e ladri', Decimal('1.7500000000000000')),
 ('The Idiot', Decimal('2.7666666666666667')),
 ('He Ran All the Way', Decimal('1.2833333333333333')),
 ('Here Comes the Groom', Decimal('1.8833333333333333')),
 ('His Kind of Woman', Decimal('2.0000000000000000')),
 ('One Summer of Happiness', Decimal('1.7166666666666667')),
 ('The Hoodlum', Decimal('1.0166666666666667')),
 ('The House on Telegraph Hill', Decimal('1.5500000000000000')),
 ("I'll Never Forget You", Decimal('1.5000000000000000')),
 ("I'll See You in My Dreams", Decimal('1.8333333333333333')),
 ('Forbidden Games', Decimal('1.4333333333333333')),
 ('Jim Thorpe -- All-American', Decimal('1.7833333333333333')),
 ('Kekec', Decimal('1.6166666666666667')),
 ('Kind Lady', Decimal('1.3000000000000000')),
 ('Laughter in Paradise', Decimal('1.5500000000000000')),
 ("Let's Make It Legal", Decimal('1.2833333333333333')),
 ('Lone Star', Decimal('1.5666666666666667')),
 ('Love Nest', Decimal('1.4000000000000000')),
 ('M', Decimal('1.4666666666666667')),
 ('The Magic Box', Decimal('1.9666666666666667')),
 ('Man in the Saddle', Decimal('1.4500000000000000')),
 ('The Mating Season', Decimal('1.6833333333333333')),
 ('Meshi', Decimal('1.6166666666666667')),
 ('The Mob', Decimal('1.4500000000000000')),
 ('A Woman Without Love', Decimal('1.4166666666666667')),
 ('The Lady of Musashino', Decimal('1.4666666666666667')),
 ('My Favorite Spy', Decimal('1.5500000000000000')),
 ('No Questions Asked', Decimal('1.3333333333333333')),
 ('Odette', Decimal('2.0666666666666667')),
 ('Has Anybody Seen My Gal', Decimal('1.4666666666666667')),
 ('On Dangerous Ground', Decimal('1.3666666666666667')),
 ('On Moonlight Bay', Decimal('1.5833333333333333')),
 ('On the Riviera', Decimal('1.4833333333333333')),
 ('Only the Valiant', Decimal('1.7500000000000000')),
 ('Miss Oyu', Decimal('1.5666666666666667')),
 ('Pandora and the Flying Dutchman', Decimal('2.0333333333333333')),
 ('Pathala Bhairavi', Decimal('3.2000000000000000')),
 ('Payment on Demand', Decimal('1.5000000000000000')),
 ("The People Against O'Hara", Decimal('1.7000000000000000')),
 ('The Little World of Don Camillo', Decimal('1.7833333333333333')),
 ('A Place in the Sun', Decimal('2.0333333333333333')),
 ('La Poison', Decimal('1.4166666666666667')),
 ('The Prowler', Decimal('1.5333333333333333')),
 ('Quo Vadis', Decimal('2.8500000000000000')),
 ('The Racket', Decimal('1.4666666666666667')),
 ('Rawhide', Decimal('1.4833333333333333')),
 ('The Red Badge of Courage', Decimal('1.1500000000000000')),
 ('Rhubarb', Decimal('1.5666666666666667')),
 ('The River', Decimal('1.6500000000000000')),
 ('Roadblock', Decimal('1.2166666666666667')),
 ('Royal Wedding', Decimal('1.5500000000000000')),
 ('Sailor Beware', Decimal('1.8000000000000000')),
 ('Santa Fe', Decimal('1.4500000000000000')),
 ('A Christmas Carol', Decimal('1.4333333333333333')),
 ('Sealed Cargo', Decimal('1.5000000000000000')),
 ('The Secret of Convict Lake', Decimal('1.3833333333333333')),
 ('Show Boat', Decimal('1.8000000000000000')),
 ('Sirocco', Decimal('1.6333333333333333')),
 ('Summer Interlude', Decimal('1.6000000000000000')),
 ('The Steel Helmet', Decimal('1.4166666666666667')),
 ('Storm Warning', Decimal('1.5500000000000000')),
 ('The Strange Door', Decimal('1.3500000000000000')),
 ('A Streetcar Named Desire', Decimal('2.0333333333333333')),
 ('The Strip', Decimal('1.4166666666666667')),
 ('The Tall Target', Decimal('1.3000000000000000')),
 ('Ten Tall Men', Decimal('1.6166666666666667')),
 ('The Thing from Another World', Decimal('1.4500000000000000')),
 ('Three Guys Named Mike', Decimal('1.5000000000000000')),
 ('Thunder on the Hill', Decimal('1.4000000000000000')),
 ('Tomahawk', Decimal('1.3666666666666667')),
 ('Man of Straw', Decimal('1.8166666666666667')),
 ('Der Verlorene', Decimal('1.6333333333333333')),
 ('The Well', Decimal('1.4333333333333333')),
 ('Westward the Women', Decimal('1.9666666666666667')),
 ('You Never Can Tell', Decimal('1.3000000000000000')),
 ('5 Fingers', Decimal('1.8000000000000000')),
 ('Above and Beyond', Decimal('2.0333333333333333')),
 ('Affair in Trinidad', Decimal('1.6333333333333333')),
 ('Against All Flags', Decimal('1.4000000000000000')),
 ('Androcles and the Lion', Decimal('1.6333333333333333')),
 ('Angel Face', Decimal('1.5166666666666667')),
 ("Another Man's Poison", Decimal('1.5000000000000000')),
 ('April in Paris', Decimal('1.6666666666666667')),
 ("At Sword's Point", Decimal('1.3500000000000000')),
 ('Robinson Crusoe', Decimal('1.5000000000000000')),
 ('The Bad and the Beautiful', Decimal('1.9666666666666667')),
 ('The Battle at Apache Pass', Decimal('1.4166666666666667')),
 ('The Belle of New York', Decimal('1.3666666666666667')),
 ('Beauties of the Night', Decimal('1.4500000000000000')),
 ('Belles on Their Toes', Decimal('1.4833333333333333')),
 ('Bend of the River', Decimal('1.5166666666666667')),
 ('Beware, My Lovely', Decimal('1.2833333333333333')),
 ('The Big Sky', Decimal('2.3333333333333333')),
 ('The Black Castle', Decimal('1.3666666666666667')),
 ('Blackbeard, the Pirate', Decimal('1.6500000000000000')),
 ('Struggle in the Valley', Decimal('1.7500000000000000')),
 ('The Sound Barrier', Decimal('1.9666666666666667')),
 ('El bruto', Decimal('1.3500000000000000')),
 ('The Captive City', Decimal('1.5166666666666667')),
 ('Carbine Williams', Decimal('1.5333333333333333')),
 ('Carrie', Decimal('1.9666666666666667')),
 ('Carson City', Decimal('1.4500000000000000')),
 ('Children of Hiroshima', Decimal('1.6166666666666667')),
 ('Clash by Night', Decimal('1.7500000000000000')),
 ('White Mane', Decimal('0.78333333333333333333')),
 ('Deadline - U.S.A.', Decimal('1.4500000000000000')),
 ('Diplomatic Courier', Decimal('1.6166666666666667')),
 ("Don't Bother to Knock", Decimal('1.2666666666666667')),
 ('Dreamboat', Decimal('1.3833333333333333')),
 ('The Duel at Silver Creek', Decimal('1.2833333333333333')),
 ('The Greatest Show on Earth', Decimal('2.5333333333333333')),
 ('The Green Glove', Decimal('1.4833333333333333')),
 ("Hangman's Knot", Decimal('1.3500000000000000')),
 ('Hans Christian Andersen', Decimal('1.8666666666666667')),
 ('High Noon', Decimal('1.4166666666666667')),
 ('The Holly and the Ivy', Decimal('1.3833333333333333')),
 ('Ikiru', Decimal('2.3833333333333333')),
 ('Ivanhoe', Decimal('1.7666666666666667')),
 ('Jumping Jacks', Decimal('1.6000000000000000')),
 ('Kansas City Confidential', Decimal('1.6500000000000000')),
 ('Kvinnors väntan', Decimal('1.7833333333333333')),
 ('The Lavender Hill Mob', Decimal('1.3000000000000000')),
 ('Limelight', Decimal('2.2833333333333333')),
 ('The Long Memory', Decimal('1.6000000000000000')),
 ('Lost in Alaska', Decimal('1.2666666666666667')),
 ('Lovely to Look At', Decimal('1.7166666666666667')),
 ('The Lusty Men', Decimal('1.8833333333333333')),
 ('Macao', Decimal('1.3500000000000000')),
 ('The Man in the White Suit', Decimal('1.4166666666666667')),
 ('The Marrying Kind', Decimal('1.5333333333333333')),
 ('The Member of the Wedding', Decimal('1.5500000000000000')),
 ('The Miracle of Our Lady of Fatima', Decimal('1.7000000000000000')),
 ('Les Miserables', Decimal('1.7500000000000000')),
 ('Monkey Business', Decimal('1.6166666666666667')),
 ('Moulin Rouge', Decimal('1.9833333333333333')),
 ('My Cousin Rachel', Decimal('1.6333333333333333')),
 ('The Naked Spur', Decimal('1.5166666666666667')),
 ('The Narrow Margin', Decimal('1.1833333333333333')),
 ('The Flavor of Green Tea Over Rice', Decimal('1.9333333333333333')),
 ('Mother', Decimal('1.6333333333333333')),
 ('Park Row', Decimal('1.3833333333333333')),
 ('Pat and Mike', Decimal('1.5833333333333333')),
 ('Plymouth Adventure', Decimal('1.7500000000000000')),
 ('Pony Soldier', Decimal('1.3666666666666667')),
 ('The Pride of St. Louis', Decimal('1.5500000000000000')),
 ('The Prisoner of Zenda', Decimal('1.6000000000000000')),
 ('The Promoter', Decimal('1.4166666666666667')),
 ('The Quiet Man', Decimal('2.1500000000000000')),
 ('Rancho Notorious', Decimal('1.4833333333333333')),
 ('The Return of Don Camillo', Decimal('1.9166666666666667')),
 ('The Ring', Decimal('1.3166666666666667')),
 ('Room for One More', Decimal('1.6333333333333333')),
 ('Ruby Gentry', Decimal('1.3666666666666667')),
 ('Scaramouche', Decimal('1.9166666666666667')),
 ("Singin' in the Rain", Decimal('1.7166666666666667')),
 ('The Snows of Kilimanjaro', Decimal('1.9000000000000000')),
 ('Springfield Rifle', Decimal('1.5500000000000000')),
 ('The Star', Decimal('1.4833333333333333')),
 ('The Steel Trap', Decimal('1.4166666666666667')),
 ('Stolen Face', Decimal('1.2000000000000000')),
 ('The Stooge', Decimal('1.6666666666666667')),
 ('The Stranger in Between', Decimal('1.4000000000000000')),
 ('Talk About a Stranger', Decimal('1.0833333333333333')),
 ('The Thief', Decimal('1.4333333333333333')),
 ('Umberto D.', Decimal('1.4833333333333333')),
 ('I vinti', Decimal('1.8833333333333333')),
 ('Way of a Gaucho', Decimal('1.4500000000000000')),
 ("We're Not Married!", Decimal('1.4333333333333333')),
 ('The Wild North', Decimal('1.6166666666666667')),
 ('With a Song in My Heart', Decimal('1.9500000000000000')),
 ('The World in His Arms', Decimal('1.7333333333333333')),
 ('El', Decimal('1.5333333333333333')),
 ('The 5,000 Fingers of Dr. T.', Decimal('1.4833333333333333')),
 ('Abbott and Costello Go to Mars', Decimal('1.2833333333333333')),
 ('Die Geschichte vom kleinen Muck', Decimal('1.6666666666666667')),
 ('The Actress', Decimal('1.5000000000000000')),
 ('The Affairs of Dobie Gillis', Decimal('1.2000000000000000')),
 ('All I Desire', Decimal('1.3333333333333333')),
 ('Love in the City', Decimal('1.9166666666666667')),
 ('Arrowhead', Decimal('1.7500000000000000')),
 ('The Band Wagon', Decimal('1.8666666666666667')),
 ('Battle Circus', Decimal('1.5000000000000000')),
 ('The Beast from 20,000 Fathoms', Decimal('1.3333333333333333')),
 ('The Big Heat', Decimal('1.4833333333333333')),
 ('The Bigamist', Decimal('1.3333333333333333')),
 ('Blowing Wild', Decimal('1.5000000000000000')),
 ('The Blue Gardenia', Decimal('1.4166666666666667')),
 ('A Blueprint for Murder', Decimal('1.2833333333333333')),
 ('The Caddy', Decimal('1.5833333333333333')),
 ('Calamity Jane', Decimal('1.6833333333333333')),
 ('Call Me Madam', Decimal('1.9000000000000000')),
 ("The Captain's Paradise", Decimal('1.5666666666666667')),
 ('City That Never Sleeps', Decimal('1.5000000000000000')),
 ('Crash of Silence', Decimal('1.5500000000000000')),
 ('The Cruel Sea', Decimal('2.1000000000000000')),
 ('Dangerous Crossing', Decimal('1.2500000000000000')),
 ('The Desert Rats', Decimal('1.4666666666666667')),
 ('Destination Gobi', Decimal('1.5000000000000000')),
 ('Do Bigha Zamin', Decimal('2.1833333333333333')),
 ("Donovan's Brain", Decimal('1.4000000000000000')),
 ('Dream Wife', Decimal('1.6666666666666667')),
 ('Escape from Fort Bravo', Decimal('1.6500000000000000')),
 ('Gentlemen Prefer Blondes', Decimal('1.5166666666666667')),
 ('A Geisha', Decimal('1.4166666666666667')),
 ('The Glass Wall', Decimal('1.3666666666666667')),
 ('Gun Fury', Decimal('1.3833333333333333')),
 ('Sawdust and Tinsel', Decimal('1.5500000000000000')),
 ("His Majesty O'Keefe", Decimal('1.5166666666666667')),
 ('The Hitch-Hiker', Decimal('1.1833333333333333')),
 ('Hondo', Decimal('1.3833333333333333')),
 ('Houdini', Decimal('1.7666666666666667')),
 ('House of Wax', Decimal('1.4666666666666667')),
 ('How to Marry a Millionaire', Decimal('1.5833333333333333')),
 ('I Confess', Decimal('1.5833333333333333')),
 ('I Love Melvin', Decimal('1.2833333333333333')),
 ('Inferno', Decimal('1.3833333333333333')),
 ('Invaders from Mars', Decimal('1.3000000000000000')),
 ('Island in the Sky', Decimal('1.8166666666666667')),

Remember I mentioned that the `SELECT` statement is powerful, but not dangerous? Derived columns returned by Postgres are not saved anywhere, nor do they change existing columns.

---

**Example:** Using table `names` from the `imdb` database, find the age of all actors/actresses who are still alive. Who is the youngest person alive listed in the table?

---

In [62]:
%%sql

SELECT
    name,
    2021 - birth_year AS age
FROM
    names
WHERE
    birth_year IS NOT NULL
    AND
    death_year IS NULL
ORDER BY
    age DESC
;

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/imdb_dsci513
35413 rows affected.

[('Julia Calhoun', 151),
 ('Benoît Duval', 140),
 ('John Seabourne Sr.', 131),
 ('Carl Stephenson', 128),
 ('Pierre Charbonnier', 124),
 ('Manuel R. Ojeda', 123),
 ('Léonide Azar', 121),
 ('Helen Leary', 121),
 ('Georges Chaperot', 119),
 ('Earl Rath', 119),
 ('Elisabeth Bertram', 119),
 ('Alois Vachek', 118),
 ('Jan Libora', 115),
 ('Shunsaku Iwashita', 115),
 ('Jan Kohout', 115),
 ('Walter Ebert', 114),
 ('Paul-Edmond Decharme', 114),
 ('Henri Marquet', 113),
 ('Kazuo Takimura', 113),
 ('Maxwell Setton', 112),
 ('Carlo Musso', 110),
 ('John Hunter', 110),
 ('Peter Schubert', 110),
 ('Howard A. Smith', 109),
 ('Tino Santoni', 108),
 ('Gerry Blattner', 108),
 ('Balkrishna', 108),
 ('Frank Rooney', 108),
 ('Stanley E. Johnson', 108),
 ('Keiji Hasebe', 107),
 ('Norman Lloyd', 107),
 ('Leon Bijou', 107),
 ('Hunsur Krishnamurthy', 107),
 ('Mary Agnes Thompson', 107),
 ('Norman Spencer', 107),
 ('Akhtar-Ul-Iman', 106),
 ('Ana Milosavljevic', 106),
 ('W.H. Menger', 106),
 ('John Franklin Sawyer', 106),
 ('Leonard Ackerman', 105),
 ('José Pagán', 105),
 ('Kirk Douglas', 105),
 ('Beverly Cleary', 105),
 ('Olivia de Havilland', 105),
 ('Roderick Wilkinson', 104),
 ('A.E. Hotchner', 104),
 ('Marsha Hunt', 104),
 ('Suzy Delair', 104),
 ('Harriet Frank Jr.', 104),
 ('Jessie Combe', 103),
 ('Maurizio Lodi-Fè', 103),
 ('Baby Peggy', 103),
 ('Michael Keon', 103),
 ('Enrique Iturriaga', 103),
 ('Irénée Leriche', 103),
 ('Mario Maffei', 103),
 ('Jean Thuillier', 103),
 ('Helmuth Ashley', 102),
 ('Frank Hohimer', 102),
 ('Walter Bernstein', 102),
 ('Nehemiah Persoff', 102),
 ('Roger Borniche', 102),
 ('Marge Champion', 102),
 ('Philippe Lifchitz', 102),
 ('Ovid Demaris', 102),
 ('Kem Bennett', 102),
 ('Cicely Browne', 101),
 ('Juan Mariné', 101),
 ('Don Tait', 101),
 ('Jean-Pierre Grédy', 101),
 ('Cheuk Hon Wong', 101),
 ('Mario Montuori', 101),
 ('Ferenc Bandi', 101),
 ('Agnès Delahaie', 101),
 ('Norma Barzman', 101),
 ('Setsuo Kobayashi', 101),
 ('Ugo Guerra', 101),
 ('Franca Valeri', 101),
 ('José Vedovato', 100),
 ('Nikolai Dupak', 100),
 ('Tom McGowan', 100),
 ('Elizabeth Sellars', 100),
 ('Tadashi Nishimoto', 100),
 ('Jean Heywood', 100),
 ('Tone Mlakar', 100),
 ('Derek Granger', 100),
 ('Iris Apfel', 100),
 ('Mark Stuart', 100),
 ('Walter Mirisch', 100),
 ('John Wilson', 100),
 ('Edgar Morin', 100),
 ('Silvana Corsini', 100),
 ('Liliana Gerace', 100),
 ('Rafael Pacheco', 100),
 ('Kemal Ergüvenç', 100),
 ('Bill Butler', 100),
 ('Masao Imafuku', 100),
 ("Giovanni d'Eramo", 100),
 ('Antonio La Raina', 100),
 ('Akira Yamauchi', 100),
 ('Fran Beumkes', 99),
 ('Margia Dean', 99),
 ('Raffaele La Capria', 99),
 ('Micheline Presle', 99),
 ('Gabrielle Upton', 99),
 ('John Shirley', 99),
 ('Paul Bortnowski', 99),
 ('Elda Peralta', 99),
 ('Françoise Javet', 99),
 ('Jacqueline White', 99),
 ('Georgi Prokopets', 99),
 ('Walter Kelley', 99),
 ('Barbara Chilcott', 99),
 ('Michael Kane', 99),
 ('Glynne Morris', 99),
 ('Sidika Duruer', 99),
 ('Arnold L. Miller', 99),
 ('Bernard Ladysz', 99),
 ('Alan Scott', 99),
 ('Yoshinobu Nishioka', 99),
 ('Bill Macy', 99),
 ('Krishnakant', 99),
 ('Chandrashekhar', 99),
 ('Norman Lear', 99),
 ('Ivan Marincek', 99),
 ('Lucio De Caro', 99),
 ('Ramapada Chowdhury', 99),
 ('Dilip Kumar', 99),
 ('Kurt Unger', 99),
 ('Janis Paige', 99),
 ('Carl Reiner', 99),
 ('Richard K. Brockway', 99),
 ('Vatroslav Mimica', 98),
 ('Zofia Posmysz', 98),
 ('Gloria Henry', 98),
 ('Bob Barker', 98),
 ('Andrea Aureli', 98),
 ('Giuseppe Rotunno', 98),
 ('Michael Medwin', 98),
 ('Larry Storch', 98),
 ('Boris Lyoskin', 98),
 ('David D. Osborn', 98),
 ('Jarvis Astaire', 98),
 ('Johnny Pate', 98),
 ('Bob Young', 98),
 ('Carlo Giustini', 98),
 ('Reuben Bercovitch', 98),
 ('Nicholas Parsons', 98),
 ('Yun Chih Tu', 98),
 ('Henry Kissinger', 98),
 ('Val Bettin', 98),
 ('Fyodor Shakhmagonov', 98),
 ('Jaromír Janácek', 98),
 ('William Kraft', 98),
 ('Mike Nussbaum', 98),
 ('Ronald J. Kahn', 98),
 ('Rhonda Fleming', 98),
 ('Roger Curel', 98),
 ('Henri Gruel', 98),
 ('Glynis Johns', 98),
 ('Paul Muller', 98),
 ('Sam Gray', 98),
 ('María Martín', 98),
 ('Bob Dole', 98),
 ('Aldo Scavarda', 98),
 ('Scotty Bowers', 98),
 ('Vincent Ball', 98),
 ('Bob Cobert', 97),
 ('Cicely Tyson', 97),
 ('Gerald A. Browne', 97),
 ('Fausto Cabrera', 97),
 ('Federico Zanni', 97),
 ('Espen Skjønberg', 97),
 ('Vlastimil Pinkas', 97),
 ('Nelson Sargento', 97),
 ('Anne Vernon', 97),
 ('Alex Winitsky', 97),
 ('Samba Diabare Samb', 97),
 ('Gerard Schurmann', 97),
 ('Sakae Hirosawa', 97),
 ('Ming Huang', 97),
 ('Harold Livingston', 97),
 ('Emilio Miraglia', 97),
 ('Vojislav Simic', 97),
 ('Kenneth V. Jones', 97),
 ('Salvador Valverde Calvo', 97),
 ('Leslie Phillips', 97),
 ('John MacKay', 97),
 ('Leonardo Villar', 97),
 ('Luigi Vanzi', 97),
 ('Magdalena Flores', 97),
 ('William Whitton', 97),
 ('Eva Marie Saint', 97),
 ('Eric Pleskow', 97),
 ('Carole Cook', 97),
 ('Jutta Hering', 97),
 ('Sergei Zajtsev', 97),
 ('Georgiy Kupriyanov', 97),
 ('Mimis Plessas', 97),
 ('Teresa Celli', 97),
 ('Zizi Jeanmaire', 97),
 ('Jack Couffer', 97),
 ('Mark Miller', 97),
 ('Norman T. Herman', 97),
 ('Pat Jaffe', 97),
 ('Ted Hartley', 97),
 ('Lise Roy', 97),
 ('Elliot Schick', 97),
 ('Jimmy Carter', 97),
 ('Robert Malcolm Young', 97),
 ('Anita Linda', 97),
 ('Luc Simon', 97),
 ('Catherine Arley', 97),
 ('Bent Fabricius-Bjerre', 97),
 ('Tony Britton', 97),
 ('Terence Macartney-Filgate', 97),
 ('Frantisek Strangmüller', 97),
 ('Jan Chaloupek', 97),
 ('Kemal Bekir', 97),
 ('Margarita Surdeko', 97),
 ('Robert M. Young', 97),
 ('Asunción Balaguer', 96),
 ('Elliot Lawrence', 96),
 ('Angela Lansbury', 96),
 ('Jadwiga Zajicek', 96),
 ('Vasil Vachev', 96),
 ('Honor Blackman', 96),
 ('George Pappas', 96),
 ('John Briley', 96),
 ('Luciana Angiolillo', 96),
 ('Milos Cervinka', 96),
 ('Dennis Lotis', 96),
 ('Jan Oliva', 96),
 ('Carla Balenda', 96),
 ('Jiro Ono', 96),
 ('Franco Bottari', 96),
 ('Hilda Rebello', 96),
 ('Nikolai Litus', 96),
 ('Eugenia Bosânceanu', 96),
 ('Sugako Hashida', 96),
 ('Hal Holbrook', 96),
 ('Eugenio Martín', 96),
 ('Jean-Charles Tacchella', 96),
 ('Rubem Fonseca', 96),
 ('Hans Meyer', 96),
 ('Arlene Dahl', 96),
 ('John Fujioka', 96),
 ('Jean-Paul Guibert', 96),
 ('Mikis Theodorakis', 96),
 ('Herbert Kretzmer', 96),
 ('Tony de Zarraga', 96),
 ('Nancy Price', 96),
 ('Alberto Grimaldi', 96),
 ('Solomon Perel', 96),
 ('Annick Alane', 96),
 ('Lila Garrett', 96),
 ('Joe Hale', 96),
 ('Ignacio López Tarso', 96),
 ('Johnny Mandel', 96),
 ('Max Evans', 96),
 ('José Torres', 96),
 ('Arnold Schulman', 96),
 ('Yuliya Borisova', 96),
 ('Vojtech Jasný', 96),
 ('Laurent de Brunhoff', 96),
 ('Qi Lü', 96),
 ('Marco Vicario', 96),
 ('Michel Piccoli', 96),
 ('Antony Carbone', 96),
 ('Marcel Bluwal', 96),
 ('Dick Van Dyke', 96),
 ('Robert Bassing', 96),
 ('Lee Grant', 96),
 ('June Lockhart', 96),
 ('Dean Elliott', 96),
 ('Peter Brook', 96),
 ('Peter Thomas', 96),
 ('Janette Bertrand', 96),
 ('Karel Fiala', 96),
 ('Masashige Narusawa', 96),
 ('Francisco Sánchez', 96),
 ('Michel Bouquet', 96),
 ('Rosita Quintana', 96),
 ('Virginia Leith', 96),
 ('Norman Jewison', 95),
 ('Thich Nhát Hanh', 95),
 ('Terry Kilburn', 95),
 ('Ken Kolb', 95),
 ('Robert Brown', 95),
 ('Everett Chambers', 95),
 ('Cloris Leachman', 95),
 ('John Ericson', 95),
 ('Val Bisoglio', 95),
 ('Tony Bennett', 95),
 ('Lawrence Turman', 95),
 ('Selahattin Firat', 95),
 ('Diana Maddox', 95),
 ('Ralf Wolter', 95),
 ('Recep Ekicigil', 95),
 ('Murray Schisgal', 95),
 ('Desmond Davis', 95),
 ('David Lee', 95),
 ('Eckart Dux', 95),
 ('Roger Corman', 95),
 ('Betty Lou Holland', 95),
 ('Teddy Reno', 95),
 ('Judith Magre', 95),
 ('Carleton Carpenter', 95),
 ('Grethe Hejer', 95),
 ('André Maranne', 95),
 ('John Hale', 95),
 ('K.S. Sethumadhavan', 95),
 ('Sverre Bergli', 95),
 ('Sergio Garrone', 95),
 ('Jay Kanter', 95),
 ('Marcia Nasatir', 95),
 ('Nina Agapova', 95),
 ('Atilio Stampone', 95),
 ('Aleksandr Zatsepin', 95),
 ('Biff McGuire', 95),
 ('Stanley Baxter', 95),
 ('Giannis Vogiatzis', 95),
 ('Corrado Olmi', 95),
 ('Mel Brooks', 95),
 ('Philip Springer', 95),
 ('Kemal Demirel', 95),
 ('Constantin Simionescu', 95),
 ('Wieslawa Mazurkiewicz', 95),
 ('Jan Krenz', 95),
 ('Stoyan Stoychev', 95),
 ('Laurence Rosenthal', 95),
 ('Margreth Weivers', 95),
 ('Levan Paatashvili', 95),
 ('Hikmet Gül', 95),
 ('Margot Benacerraf', 95),
 ('Nematollah Gorji', 95),
 ('Inkeri Kilpinen', 95),
 ('Daniel Haller', 95),
 ('Thomas Reiner', 95),
 ('Betty Lynn', 95),
 ('Albert Brenner', 95),
 ('Irene Papas', 95),
 ('Byron Chudnow', 95),
 ('Toralv Maurstad', 95),
 ('Jacques Rozier', 95),
 ('Jack Hobbs', 95),
 ('David Attenborough', 95),
 ('Vlasta Chramostová', 95),
 ('Alfredo Leone', 95),
 ('Philip Langner', 95),
 ('Eugene Iglesias', 95),
 ('John Kander', 94),
 ('William Daniels', 94),
 ('Juliette Gréco', 94),
 ('Geneviève Page', 94),
 ('Lisa Lu', 94),
 ('Aleksandr Borisov', 94),
 ('Slobodan Mijacevic', 94),
 ('Claude Sarraute', 94),
 ('Harry Belafonte', 94),
 ('Michael Constantine', 94),
 ('H.M. Wynant', 94),
 ('Dragan Markovic', 94),
 ('Jerry Segal', 94),
 ('Ranjan Bose', 94),
 ('Alvin Rakoff', 94),
 ('Rosemary Harris', 94),
 ('William Smithers', 94),
 ('Dario Michaelis', 94),
 ('Lee Montague', 94),
 ('Tony Crechales', 94),
 ('Toshio Masuda', 94),
 ("Alessandro D'Eva", 94),
 ('Laurie Johnson', 94),
 ('Rosalynn Carter', 94),
 ('Vanraj Bhatia', 94),
 ('Marcel Ophüls', 94),
 ('Gina Lollobrigida', 94),
 ('Elliot Geisinger', 94),
 ('Tadashi Yamauchi', 94),
 ('Henry O', 94),
 ('James Roose-Evans', 94),
 ('Irina Skobtseva', 94),
 ('Roger Carel', 94),
 ('Laura Cardoso', 94),
 ('Victor J. Kemper', 94),
 ('Jerry Schatzberg', 94),
 ('Barbara Rush', 94),
 ('Alfio Contini', 94),
 ('Peter Yeldham', 94),
 ('Albert Uderzo', 94),
 ('Turgut Inangiray', 94),
 ('David Ely', 94),
 ('Pat Carroll', 94),
 ('Paul Laffargue', 94),
 ('Burt Pugach', 94),
 ('James Russell', 94),
 ('Dick Hyman', 94),
 ('Mino Roli', 94),
 ('Jerry Stiller', 94),
 ('Mariko Miyagi', 94),
 ('Robert Butler', 94),
 ('Eileen Ryan', 94),
 ('William W. Bacon III', 94),
 ('Paul M. Heller', 94),
 ('Yuriy Kayurov', 94),
 ('Ugo Liberatore', 94),
 ('Elliot Silverstein', 94),
 ('Ruy de Carvalho', 94),
 ('Geoffrey Palmer', 94),
 ('Balkrishna Doshi', 94),
 ('Cecil Bødker', 94),
 ('Edie Landau', 94),
 ('Ann Blyth', 94),
 ('Judd Bernard', 94),
 ('L.Q. Jones', 94),
 ('Barbara Rütting', 94),
 ('Raymond Leppard', 94),
 ('Gerhard Heinz', 94),
 ('Svetlana Grigoreva', 94),
 ('Stephen Kandel', 94),
 ('S.L. Puram Sadanandan', 94),
 ('Thomas Noguchi', 94),
 ('Vladimir Naumov', 94),
 ('Peter Mark Richman', 94),
 ('Carlo Alighiero', 94),
 ('Abessalom Maisuradze', 94),
 ('Radojka Tanhofer', 94),
 ('Joan Hotchkis', 94),
 ('Robert Hossein', 94),
 ('Monique Chaumette', 94),
 ('Jean Penzer', 94),
 ('Ippolit Novoderyozhkin', 94),
 ('Michel Barbey', 94),
 ('Sidney Poitier', 94),
 ('Paul Volcker', 94),
 ('Philip Barnikel', 94),
 ('Allen Baron', 94),
 ('Arthur Marks', 94),
 ('Suzanne Baron', 94),
 ('Martial Solal', 94),
 ('Arthur Cohn', 94),
 ('Koji Nakada', 94),
 ('Margret Homeyer', 94),
 ('Vasile Rotaru', 94),
 ('Tom McIntosh', 94),
 ('Evan Jones', 94),
 ('Gene Corman', 94),
 ('Marvin Chatinover', 94),
 ('Estelle Parsons', 94),
 ('Giuseppe Pinori', 93),
 ('Yvonne Furneaux', 93),
 ('István Hildebrand', 93),
 ('Bill Fries', 93),
 ('Fabio Pittorru', 93),
 ('Giorgio Stegani', 93),
 ('Yoshiyuki Kuroda', 93),
 ('Mitchell Ryan', 93),
 ('Gene Dinovi', 93),
 ('Günter Rohrbach', 93),
 ('Ted Nichols', 93),
 ('Ethel Kennedy', 93),
 ('Hans Gailling', 93),
 ('Zev Braun', 93),
 ('Stuart Whitman', 93),
 ('Mayo Simon', 93),
 ('Freddie Redd', 93),
 ('John Gill', 93),
 ('Nancy Olson', 93),
 ('Alexander Singer', 93),
 ('Richard M. Sherman', 93),
 ('Lillian Michelson', 93),
 ('Patrick Tilley', 93),
 ('Wim Crouwel', 93),
 ('Tamás Deák', 93),
 ('George Dreyfus', 93),
 ('Serge Bourguignon', 93),
 ('William Klein', 93),
 ('Gerhard Wolf', 93),
 ('Susumu Hani', 93),
 ('Kenneth Hyman', 93),
 ('Burt Bacharach', 93),
 ('Loring Mandel', 93),
 ('Michael Blakemore', 93),
 ('Richard C. Kratina', 93),
 ('Salvador Wood', 93),
 ('Lino Iannuzzi', 93),
 ('William F. Nolan', 93),
 ('Jerome Hellman', 93),
 ('Peggy Dow', 93),
 ('Anthony Lawrence', 93),
 ('Noam Chomsky', 93),
 ('Katsuko Wakasugi', 93),
 ('Hubert Monteilhet', 93),
 ('James Ivory', 93),
 ('Brian West', 93),
 ('Annie Cordy', 93),
 ('Yôko Sugi', 93),
 ('Pat Green', 93),
 ('Pavel Kohout', 93),
 ('George Maharis', 93),
 ('Orson Bean', 93),
 ('Laird Koenig', 93),
 ('Veljko Bulajic', 93),
 ('Bernard Cribbins', 93),
 ('Andrew J. Fenady', 93),
 ('Bruce Kirby', 93),
 ('Herman Raucher', 93),
 ('Euel Box', 93),
 ('Clu Gulager', 93),
 ('Richard Greer', 93),
 ('Bill Brame', 93),
 ('Line Renaud', 93),
 ('Haldun Dormen', 93),
 ('Jim Lovell', 93),
 ('Lina Wertmüller', 93),
 ('Luiz Carlos Barreto', 93),
 ('Joss Ackland', 93),
 ('Gyula Mészáros', 93),
 ('Hsing-Lung Chiang', 93),
 ('Terry Carter', 93),
 ('Jerzy Matuszkiewicz', 93),
 ('Franciszek Pieczka', 93),
 ('Michael Roemer', 93),
 ('Monty Norman', 93),
 ('Gerald Fried', 93),
 ('Jonas Gricius', 93),
 ('James Randi', 93),
 ('Gianni Minervini', 93),
 ('Harold Becker', 93),
 ('Paul Dooley', 93),
 ('Dianne Foster', 93),
 ('Charles Strouse', 93),
 ('Sara Shane', 93),
 ('Estelle Harris', 93),
 ('Mace Neufeld', 93),
 ('James B. Harris', 93),
 ('Donn Pearce', 93),
 ('Robert Carrington', 93),
 ('Claus Biederstaedt', 93),
 ('Ernst Stankovski', 93),
 ('Elena Fiore', 93),
 ('Ennio Morricone', 93),
 ('Earl Holliman', 93),
 ('Elliott Erwitt', 93),
 ('Wim Van den Heuvel', 93),
 ("Michèle O'Glor", 93),
 ('Hardy Krüger', 93),
 ('Hermína Franková', 93),
 ('Colleen Townsend', 93),
 ('Robert Badinter', 93),
 ('Chang-hwa Jeong', 93),
 ('Fernand Dansereau', 93),
 ('Lidia Alfonsi', 93),
 ('David Knight', 93),
 ('Franco Prosperi', 93),
 ('Bill Lee', 93),
 ('Gudrun Pausewang', 93),
 ('Shenda Román', 93),
 ('René Clemencic', 93),
 ('Remo Usai', 93),
 ('Liliane de Kermadec', 93),
 ('Elin Reimer', 93),
 ('Mehmet Dinler', 93),
 ('Inna Makarova', 93),
 ('Gaston Durnez', 93),
 ('Vladimir Zamanskiy', 93),
 ('Yildiz Kenter', 93),
 ('Harold Evans', 93),
 ('Hans Blix', 93),
 ('Bruce Bilson', 93),
 ('Jacques Ciron', 93),
 ('Henry Silva', 93),
 ('Charles Dyer', 93),
 ('Conrad Janis', 93),
 ('Arvo Kruusement', 93),
 ('Geneviève Cluny', 93),
 ('Bill Mosher', 93),
 ('Charles W. Fries', 93),
 ('Peter Cellier', 93),
 ('László Duba', 93),
 ('William P. Kennedy', 93),
 ('Jean-Paul Rouland', 93),
 ('William Kennedy', 93),
 ('Fulvio Lucisano', 93),
 ('Laurence Badie', 93),
 ('Anatoliy Kuznetsov', 93),
 ('Graeme Ferguson', 92),
 ('Algirdas Nicius', 92),
 ('Kazuo Ikehiro', 92),
 ('Kelvin Pike', 92),
 ('June Wyndham-Davies', 92),
 ('Erika Meskovska', 92),
 ('Jonathan Haze', 92),
 ('Gianni Sbarra', 92),
 ('Edward S. Feldman', 92),
 ('Fred R. Krug', 92),
 ('Milan Kundera', 92),
 ('Héctor Alterio', 92),
 ('Anna Kyriakou', 92),
 ('Jules Feiffer', 92),
 ('Pio Angeletti', 92),
 ('Luisa Montagnana', 92),
 ('Rekha Mallick', 92),
 ('June Squibb', 92),
 ('Henri Garcin', 92),
 ('Betta St. John', 92),
 ('Vera Miles', 92),
 ('Michel Fano', 92),
 ('Stu Phillips', 92),
 ('Lennie Niehaus', 92),
 ('Mehmet Ali Akpinar', 92),
 ('Malcolm Marmorstein', 92),
 ('Wolfgang Stendar', 92),
 ('Tamara Buciuceanu-Botez', 92),
 ('Darinka Persin', 92),
 ('Guido Lollobrigida', 92),
 ('Yvonne Lombard', 92),
 ('Carlo Carlini', 92),
 ('Martin Erlichman', 92),
 ('Horst Westphal', 92),
 ('Eduard van der Enden', 92),
 ('Richard Rush', 92),
 ('Pepe Soriano', 92),
 ('Etchika Choureau', 92),
 ('Pere Portabella', 92),
 ('Claire Maurier', 92),
 ('Ann Robinson', 92),
 ('Il-seong Jeon', 92),
 ('François Leterrier', 92),
 ('Hui Lou Chen', 92),
 ('Norton Juster', 92),
 ('Bob Newhart', 92),
 ('Mark Rydell', 92),
 ('Fernanda Montenegro', 92),
 ('Alan Pattillo', 92),
 ('Hélio Silva', 92),
 ('Camillo Milli', 92),
 ('Clifford Rose', 92),
 ('Ichirô Takada', 92),
 ('Werner Uschkurat', 92),
 ('Régine', 92),
 ('René Dupont', 92),
 ('Margit Saad', 92),
 ('Donn Cambern', 92),
 ('Charles Dumont', 92),
 ('Marc Wilkinson', 92),
 ('Tom Sachs', 92),
 ('Joanne Herring', 92),
 ('Berry Gordy', 92),
 ('Billy Williams', 92),
 ('Mira Banjac', 92),
 ('Lynne Reid Banks', 92),
 ('Iulius Druckmann', 92),
 ('Yayoi Kusama', 92),
 ('Robert K. Massie', 92),
 ('Coslough Johnson', 92),
 ('Ognjen Milicevic', 92),
 ('John Nettleton', 92),
 ('Alain Tanner', 92),
 ('Antonine Maillet', 92),
 ('Halina Prugar-Ketling', 92),
 ('Ivan Vyskocil', 92),
 ('Jean Douchet', 92),
 ('Buddy Van Horn', 92),
 ('Patrick Horgan', 92),
 ('Henri Lanoë', 92),
 ('Olga James', 92),
 ('Bruce Sharman', 92),
 ('Bonnie Bartlett', 92),
 ('Frank Gehry', 92),
 ('James Hong', 92),
 ('Edward Asner', 92),
 ('Michael Reed', 92),
 ('Liselotte Pulver', 92),
 ('René Guissart Jr.', 92),
 ('Joan Plowright', 92),
 ('Frédéric Devreese', 92),
 ('Eddie Lateste', 92),
 ('John Macurdy', 92),
 ('Joyce Mackenzie', 92),
 ('Jack Rebney', 92),
 ('Len Deighton', 92),
 ('Eric Till', 92),
 ('Nadja Tiller', 92),
 ('Alain de Sedouy', 92),
 ('Nejat Okçugil', 92),
 ('Vanna Urbino', 92),
 ('Oleg Strizhenov', 92),
 ('Rolf Zehetbauer', 92),
 ('Don Murray', 92),
 ('Aleksandra Pakhmutova', 92),
 ('Renata Ulmanski', 92),
 ('Jack Higgins', 92),
 ('Niall Toibin', 92),
 ('Alejandro Jodorowsky', 92),
 ('Jacques Bernard', 92),
 ('Max von Sydow', 92),
 ('Jerry Adler', 92),
 ('Terry Moore', 92),
 ('Jôji Yuasa', 92),
 ('José Pinto', 92),
 ('Francesco Alberoni', 92),
 ('Arthur Wooster', 92),
 ('Michael Craig', 92),
 ('Alexander Davion', 92),
 ('Jerry Hardin', 92),
 ('Jane Powell', 92),
 ('Harry Benson', 92),
 ('Michio Mamiya', 92),
 ('Louis Negin', 92),
 ('Jean-Paul Schwartz', 92),
 ('Armand Psenny', 92),
 ('Christopher Plummer', 92),
 ('David Compton', 91),
 ('Katherine Jackson', 91),
 ('Dominic Barto', 91),
 ('Boris Moravec', 91),
 ('Michael Collins', 91),
 ('Carlo Reali', 91),
 ('Anton Donchev', 91),
 ('Julian Barry', 91),
 ('Osamu Saka', 91),
 ('Petar Bergamo', 91),
 ('Jean-Louis Trintignant', 91),
 ('Cristóbal Halffter', 91),
 ('Edgar Lansbury', 91),
 ('Joseph McGrath', 91),
 ('Mario Adorf', 91),
 ('Buzz Aldrin', 91),
 ('Derek Horne', 91),
 ('Jack Hedley', 91),
 ('Nina Grebeshkova', 91),
 ('K. Viswanath', 91),
 ('Judith Braun', 91),
 ('Mary Costa', 91),
 ('John Scott', 91),
 ('Bruce Allpress', 91),
 ('Flor Silvestre', 91),
 ('Ryszard Ronczewski', 91),
 ('Mohamad Ali Keshavarz', 91),
 ('Michael Codron', 91),
 ('Clint Eastwood', 91),
 ('Pyotr Kataev', 91),
 ('Lima Duarte', 91),
 ('Martin Duberman', 91),
 ('Jenny Clève', 91),
 ('Jackie Loughery', 91),
 ('Sally Ann Howes', 91),
 ('Nurhan Nur', 91),
 ('Barbara Jefford', 91),
 ('Luis de Pablo', 91),
 ('Ernst Wild', 91),
 ('Patricia Losey', 91),
 ('Anne-Marie Cotret', 91),
 ('Lamberto Caimi', 91),
 ('Alan Trustman', 91),
 ('Roy Clarke', 91),
 ('Dimitris Kallivokas', 91),
 ('Nita Talbot', 91),
 ('Bogoya Sapundzhyev', 91),
 ('Gene Hackman', 91),
 ('Rolf Brin', 91),
 ('Tan Takaiwa', 91),
 ('James Baker III', 91),
 ('Wieslaw Golas', 91),
 ('Bernie Kahn', 91),
 ('Costache Ciubotaru', 91),
 ('Jacques Godin', 91),
 ('Julian Gloag', 91),
 ('Sylwester Checinski', 91),
 ('Geoffrey Helman', 91),
 ('Carl Mazzocone Sr.', 91),
 ('Pavol Simai', 91),
 ('Clive Revill', 91),
 ('Roland Bertin', 91),
 ("Donald O'Brien", 91),
 ('Richard Donner', 91),
 ("Edna O'Brien", 91),
 ('Andrzej Mularczyk', 91),
 ('Aleksandr Satsky', 91),
 ('Will Hutchins', 91),
 ('Pascale Roberts', 91),
 ('Jacques Champreux', 91),
 ('Michel Robin', 91),
 ('Taina Elg', 91),
 ('Aurel Kostrachievici', 91),
 ('Frank Drake', 91),
 ('Joan Weldon', 91),
 ('John Cullum', 91),
 ('Sonny Rollins', 91),
 ('David Robinson', 91),
 ('Robert Wagner', 91),
 ('Josef Hanus', 91),
 ('Frances Sternhagen', 91),
 ('Peter Jessop', 91),
 ('Montserrat Carulla', 91),
 ('Ricardo Aronovich', 91),
 ('John Astin', 91),
 ('Louw Verwey', 91),
 ('Ricou Browning', 91),
 ('Warren Buffett', 91),
 ('Joanne Woodward', 91),
 ('Ann Benson', 91),
 ('Roddy Maude-Roxby', 91),
 ('Pembroke J. Herring', 91),
 ('Kenneth Wannberg', 91),

## ---------

Well, things have finally gotten serious with SQL and relational databases! In this lecture, we will learn how to do more advanced operations to gain more insight into the data in the tables of a database. Furthermore, we will explore how to connect the related data in multiple tables together through SQL joins. It is with joins in relational databases that we can benefit from the true power of these databases.

First things first, let's connect to our database:

In [24]:
%load_ext sql
%config SqlMagic.displaylimit = 30

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [66]:
%sql postgresql://{username}:{password}@{host}:{port}/world_dsci513

'Connected: postgres@world_dsci513'

## Aggregations

So far in the course, we have seen many functions for various purposes. For example, `ROUND()` and `SQRT()` for math operations, `CHAR_LENGTH` and `SUBSTR()` for manipulating strings, or `EXTRACT()` and `to_date()` for working with datetimes. As you may have noticed, these functions produce an individual output for each and every row of a column in an element-wise manner (remember vectorized operations in NumPy?).
There is also a small class of useful functions in SQL called **aggregation** functions, which operate on groups of rows and summarize the data stored in those rows in the form of a single value. Here is a list of standard aggregation functions in SQL:

| Function   | What it computes                    |
|------------|-------------------------------------|
| `COUNT(*)` | Count of all rows in a table        |
| `COUNT()`  | Count of non-null rows of a column  |
| `MIN()`    | Minimum value in a column           |
| `MAX()`    | Maximum value in a column           |
| `AVG()`    | Average of values in a column       |
| `SUM()`    | Total sum of values in a column     |

A couple of points to remember:

- Except for `COUNT(*)`, all aggregation functions ignore `NULL`s
- In addition to numbers, `MIN()` and `MAX()` also work with strings.

---

**Example:** Find the population of the world according to the `country` table in the `world_dsci513` database.

---

In [4]:
%%sql

SELECT
    SUM(population)
FROM
    country
;

 * postgresql://postgres:***@localhost/world_dsci513
1 rows affected.

[(6078749450,)]

There are a few things that we need to remember when using aggregation functions:

- It is valid to have multiple aggregations in a SQL query, but it is NOT possible have both aggregations and regular columns in a single query:

```sql
-- This is CORRECT:
SELECT
    AVG(lifeexpectancy), SUM(population)
FROM
    country
WHERE
    continent = 'North America'
;

-- This is WRONG:
SELECT
    AVG(lifeexpectancy), name
FROM
    country
WHERE
    continent = 'North America'
;
```

There is only one exception to the latter rule, and that's when we have a `GROUP BY` clause (we'll learn about that in a bit).
  
- An aggregation function CANNOT be used in the `WHERE` clause, because in SQL `WHERE` processes rows before aggregations. For example, we can't find the name of countries with above average populations using the following query:

```sql
-- This is WRONG:
SELECT
    name
FROM
    country
WHERE
    population > AVG(population)
;
```

It is, of course, possible to write a query to answer the above question, but we have to wait until we learn about subqueries in a later lecture!

### Postgres-specific aggregations (OPTIONAL)

In addition to the standard SQL aggregation functions, Postgres also provides a number of functions of the same kind which can be useful for some statistical calculations (find a comprehensive list in the documentations [here](https://www.postgresql.org/docs/current/functions-aggregate.html#FUNCTIONS-ORDEREDSET-TABLE)). Here is a few examples of Postgres-specific aggregations:

| Function               | What it computes                                                       |
|------------------------|------------------------------------------------------------------------|
| `stddev_pop()`         | Population standard deviation                                          |
| `stddev_samp()`        | Sample standard deviation                                              |
| `regr_r2(X, Y)`        | Coefficient of determination for linear regression between `X` and `Y` |
| `regr_slope(X, Y)`     | Slope of the regression line of `X` and `Y`                            |
| `regr_intercept(X, Y)` | Intercept of the regression line of `X` and `Y`                        |

---

**Example:** Compute the average ± sample standard deviation of the population of cities located in the US using `city` table. Write your query such that its output looks like this: `Average ± STDEV population of US cities = <average_population> ± <stdev_population>`

---

In [46]:
%%sql

SELECT
    'Average ± STDEV population of cities in the US = ' ||
    AVG(population)::int || ' ± ' || stddev_samp(population)::int 
FROM
    city
WHERE
    countrycode = 'USA'
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
1 rows affected.

[('Average ± STDEV population of cities in the US = 286955 ± 586583',)]

## Grouping

If we divide a table into groups of rows based on values of one or more columns, that is called grouping. For example, in the `country` table of the `world_dsci513` database, we find several countries located in the same continent. In this situation, we can group the rows in our `country` table based on the values in the `continent` column. In this way, we would end up with bunch of "sub-tables": A sub-table for all rows where `continent = 'Asia'`, another sub-table for all rows where `continent = 'Europe`, and so on.

The formal syntax of the grouping operation in SQL looks like this:

```sql
SELECT
    grouping_columns, aggregated_columns
FROM
    table1
WHERE
    condition
GROUP BY
    grouping_columns
ORDER BY
    grouping_columns
```

Typically, it is not the sub-tables themselves that we're interested in, but some sort of summary statistics: For example, we might want to know the average population for each continent, i.e. for each sub-table or group. In order to do this, we can use aggregation functions that learned about them in the previous section. The question of **"what is the average population of countries in each continent"** can be asked in SQL terms as follows:

In [47]:
%%sql

SELECT
    continent, AVG(population)
FROM
    country
GROUP BY
    continent
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
7 rows affected.

[('Asia', Decimal('72647562.745098039216')),
 ('South America', Decimal('24698571.428571428571')),
 ('North America', Decimal('13053864.864864864865')),
 ('Oceania', Decimal('1085755.357142857143')),
 ('Antarctica', Decimal('0E-20')),
 ('Africa', Decimal('13525431.034482758621')),
 ('Europe', Decimal('15871186.956521739130'))]

Important points:

- If your SQL query involves grouping as well as filtering with `WHERE` and sorting with `ORDER BY`, the `GROUP BY` clause MUST appear between `WHERE` and `ORDER BY`.
- There can't be any non-aggregated column in a grouping query, except for the columns which are used for grouping (remember the exception I talked about with aggregation functions?). In other words, a non-aggregated column in the `SELECT` clause MUST appear in the `GROUP BY` clause as well.
- If there are null values in the grouping column, there will be a separate group for null values in the results.

---

**Example:** Write a query to return the average and maximum population of cities in the `city` table for China, India, Canada, US, Australia, and Russia. Show the results for each country using the corresponding country code, and order groups alphabetically in ascending order.

---

In [67]:
%%sql

SELECT
    countrycode, AVG(population), MAX(population)
FROM
    city
WHERE
    countrycode IN ('CHN', 'IND', 'CAN', 'USA', 'AUS', 'RUS')
GROUP BY
    countrycode
ORDER BY
    countrycode
;

 * postgresql://postgres:***@localhost/world_dsci513
   postgresql://postgres:***@localhost:5432/mds
6 rows affected.

[('AUS', Decimal('808119.000000000000'), 3276207),
 ('CAN', Decimal('258649.795918367347'), 1016376),
 ('CHN', Decimal('484720.699724517906'), 9696300),
 ('IND', Decimal('361579.255131964809'), 10500000),
 ('RUS', Decimal('365876.719576719577'), 8389200),
 ('USA', Decimal('286955.379562043796'), 8008278)]

### Filtering revisited: the `HAVING` clause

So far, we have used the `WHERE` clause to filter rows. However, I mentioned before that aggregation functions cannot be used inside a `WHERE` clause. There is another reserved keyword, `HAVING`, for when we need to do filtering using aggregated values. The syntax is as follows (order is important!):

```sql
SELECT
    grouping_columns, aggregated_columns
FROM
    table1
[WHERE
    condition]
GROUP BY
    grouping_columns
HAVING
    group_condition
[ORDER BY
    grouping_columns]
```

To summarize:

- `WHERE` filters rows **before** grouping (or any other operation)
- `HAVING` filters groups **after** grouping

---

**Example:**

Write a query to return the average and maximum population of cities for countries that have at least 60 cities listed in the `city` table.

Show the results for each country using the corresponding country code, and order groups by the number of cities of each country in descending order. Also, convert the returned values to integer type.

---

In [66]:
%%sql

SELECT
    countrycode,
    AVG(population)::int,
    MAX(population)::int,
    COUNT(population) AS count
FROM
    city
GROUP BY
    countrycode
HAVING
    COUNT(*) > 60
ORDER BY
    count DESC
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
15 rows affected.

[('CHN', 484721, 9696300, 363),
 ('IND', 361579, 10500000, 341),
 ('USA', 286955, 8008278, 274),
 ('BRA', 343507, 9968485, 250),
 ('JPN', 314375, 7980230, 248),
 ('RUS', 365877, 8389200, 189),
 ('MEX', 345390, 8591309, 173),
 ('PHL', 227462, 2173831, 136),
 ('DEU', 282209, 3386667, 93),
 ('IDN', 441008, 9604900, 85),
 ('GBR', 276996, 7285000, 81),
 ('KOR', 557141, 9981619, 70),
 ('IRN', 388552, 6758845, 67),
 ('NGA', 271358, 1518000, 64),
 ('TUR', 456888, 8787958, 62)]

Note that just like with the `WHERE` clause, the expression used for filtering with `HAVING` does not necessarily need to appear in the `SELECT` clause. For instance, the `HAVING` clause will still do its job even if `COUNT(population)` is omitted from the `SELECT` clause:

In [68]:
%%sql

SELECT
    countrycode,
    AVG(population)::int,
    MAX(population)::int
FROM
    city
GROUP BY
    countrycode
HAVING
    COUNT(*) > 60
ORDER BY
    COUNT(*) DESC
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
15 rows affected.

[('CHN', 484721, 9696300),
 ('IND', 361579, 10500000),
 ('USA', 286955, 8008278),
 ('BRA', 343507, 9968485),
 ('JPN', 314375, 7980230),
 ('RUS', 365877, 8389200),
 ('MEX', 345390, 8591309),
 ('PHL', 227462, 2173831),
 ('DEU', 282209, 3386667),
 ('IDN', 441008, 9604900),
 ('GBR', 276996, 7285000),
 ('KOR', 557141, 9981619),
 ('IRN', 388552, 6758845),
 ('NGA', 271358, 1518000),
 ('TUR', 456888, 8787958)]

A `GROUP BY` clause can be considered as equivalent to using `DISTINCT` if no aggregate functions are used:

In [74]:
%%sql

SELECT
    continent
FROM
    country
GROUP BY
    continent
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
7 rows affected.

[('Asia',),
 ('South America',),
 ('North America',),
 ('Oceania',),
 ('Antarctica',),
 ('Africa',),
 ('Europe',)]

In [75]:
%%sql

SELECT
    DISTINCT continent
FROM
    country
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
7 rows affected.

[('Asia',),
 ('South America',),
 ('North America',),
 ('Oceania',),
 ('Antarctica',),
 ('Africa',),
 ('Europe',)]

> **Note:** Neither `GROUP BY` nor `DISTINCT` ignore null values.

As long as they are aggregated, columns appearing in the `HAVING` clause don't necessarily need to be present in the `SELECT` clause. For example, here we're retrieving the name of continents having at least 40 countries:

In [87]:
%%sql

SELECT
    continent
FROM
    country
GROUP BY
    continent
HAVING
    COUNT(name) >= 40
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
3 rows affected.

[('Asia',), ('Africa',), ('Europe',)]

### Multi-level grouping

The `GROUP BY` clause can accommodate more than one column to construct multi-level groups. For example, we can group the rows in the `country` table of the `world_dsci513` database first based on `continent` and then based on `region`, all in one go:

In [70]:
%%sql

SELECT
    continent, region, AVG(population)::int
FROM
    country
GROUP BY
    continent, region
ORDER BY
    continent, region
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/world
25 rows affected.

[('Africa', 'Central Africa', 10628000),
 ('Africa', 'Eastern Africa', 12349950),
 ('Africa', 'Northern Africa', 24752286),
 ('Africa', 'Southern Africa', 9377200),
 ('Africa', 'Western Africa', 13039529),
 ('Antarctica', 'Antarctica', 0),
 ('Asia', 'Eastern Asia', 188416000),
 ('Asia', 'Middle East', 10465594),
 ('Asia', 'Southeast Asia', 47140091),
 ('Asia', 'Southern and Central Asia', 106484000),
 ('Europe', 'Baltic Countries', 2520633),
 ('Europe', 'British Islands', 31699250),
 ('Europe', 'Eastern Europe', 30702600),
 ('Europe', 'Nordic Countries', 3452343),
 ('Europe', 'Southern Europe', 9644947),
 ('Europe', 'Western Europe', 20360844),
 ('North America', 'Caribbean', 1589167),
 ('North America', 'Central America', 16902625),
 ('North America', 'North America', 61926400),
 ('Oceania', 'Australia and New Zealand', 4550620),
 ('Oceania', 'Melanesia', 1294400),
 ('Oceania', 'Micronesia', 77571),
 ('Oceania', 'Micronesia/Caribbean', 0),
 ('Oceania', 'Polynesia', 63305),
 ('South America', 'South America', 24698571)]

## Joins

Joins are probably the most fundamentally important operation in relational databases. The reason is that the whole idea of such databases is that data can be broken down into various tables that are related to each other, and can be joined together whenever related information from multiple tables is required. Consider the following query as an example:

---

**Example:** Write a query that returns the name of all countries along with their corresponding continents and their cities.

---

As we've been working with the `world_dsci513` database, we immediately notice that information about countries and cities are stored in two different tables, so we should somehow combine or "join" the data from the two tables. 

The syntax for a joining tables in SQL is as follows:

```sql
SELECT
    columns
FROM
    left_table
join_type
    right_table
ON
    join_condition
WHERE
    row_filter
GROUP BY
    columns
HAVING
    group_filter
ORDER BY
    columns
;
```

In this section, we'll learn how to do a join to answer the question we posed for the `world_dsci513`, but I prefer to use a smaller database to demonstrate various joining methods first, and then use our larger databases.

First, let's create a new database called `mds` on the local host (i.e. our own computer) and connect to it:

In [5]:
%sql CREATE DATABASE mds;

 * postgresql://postgres:***@localhost/world_dsci513
Done.

[]

In [9]:
%sql postgresql://{username}:{password}@{host}:{port}/mds

'Connected: postgres@mds'

The following cell creates two tables with the names `instructor` and `instructor_course` with the information about MDS instructors and courses they teach. **Don't worry about the content of this cell!** We will learn how to create tables in the next lecture. For now, just run the cell to create and populate the tables:

In [56]:
%%sql

DROP TABLE IF EXISTS
    instructor,
    instructor_course,
    course_cohort
;

CREATE TABLE instructor (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT,
    phone VARCHAR(12),
    department VARCHAR(50)
    )
;

INSERT INTO
    instructor (id, name, email, phone, department)
VALUES
    (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
    (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
    (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
    (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
    (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
    (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
    (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
    (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
    (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
    (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
    (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')
;

    
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY,
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE
    )
;

INSERT INTO
    instructor_course (instructor_id, course, enrollment, begins)
VALUES
    (8, 'Statistical Inference and Computation I', 125, '2021-10-01'),
    (8, 'Regression II', 102, '2022-02-05'),
    (1, 'Descriptive Statistics and Probability', 79, '2021-09-10'),
    (1, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Python Programming', 133, '2021-09-07'),
    (3, 'Databases & Data Retrieval', 118, '2021-11-16'),
    (6, 'Visualization I', 155, '2021-10-01'),
    (6, 'Privacy, Ethics & Security', 148, '2022-03-01'),
    (2, 'Programming for Data Manipulation', 160, '2021-09-08'),
    (7, 'Data Science Workflows', 98, '2021-09-15'),
    (2, 'Data Science Workflows', 98, '2021-09-15'),
    (12, 'Web & Cloud Computing', 78, '2022-02-10'),
    (10, 'Introduction to Optimization', NULL, '2022-09-01'),
    (9, 'Parallel Computing', NULL, '2023-01-10'),
    (13, 'Natural Language Processing', NULL, '2023-09-10')
;

CREATE TABLE course_cohort (
    id INTEGER,
    cohort VARCHAR(7)
    )
;

INSERT INTO
    course_cohort (id, cohort)
VALUES
    (13, 'MDS-CL'),
    (8, 'MDS-CL'),
    (1, 'MDS-CL'),
    (3, 'MDS-CL'),
    (1, 'MDS-V'),
    (9, 'MDS-V'),
    (3, 'MDS-V')
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
Done.
Done.
11 rows affected.
Done.
16 rows affected.
Done.
7 rows affected.

[]

Awesome! Let's take a look at the first two tables:

In [57]:
%sql SELECT * FROM instructor;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
11 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')]

In [58]:
%sql SELECT * FROM instructor_course;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
16 rows affected.

[(1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),
 (15, 9, 'Parallel Computing', None, datetime.date(2023, 1, 10)),
 (16, 13, 'Natural Language Processing', None, datetime.date(2023, 9, 10))]

### Cross join

A cross join is the simplest way to join two tables: by cross-joining tables A and B, we match each every row from table A with every row from table B! In other words, it returns all combinations of rows from table A and table B. This type of join is also sometimes called _the Cartesian product_ of two relations or tables:

In [59]:
%config SqlMagic.displaylimit = 200

In [60]:
%%sql

SELECT
    *
FROM
    instructor
CROSS JOIN
    instructor_course
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
176 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),

**How to deal with ambiguous column names**

Now suppose that we want to return only the names of the instructors and their IDs from the `instructor` table, and names of courses and their IDs from the `course` table. Since there is a column named `id` in both tables, we cannot use `id` in the `SELECT` clause, because it is ambiguous.

In this situation, we should either prepend the column name by the full name of its parent table (e.g. `instructor.id`), or we can create table aliases using the keyword `AS` (just like we did before with columns) and prepend the column name with the parent table alias. A table name followed by a dot and the name of a column is called a _qualified name_. Here is an example of using qualified names for ambiguous column names:

In [61]:
%%sql

SELECT
    name, i.id, course, ic.id
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
LIMIT 10
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
10 rows affected.

[('Mike', 1, 'Statistical Inference and Computation I', 1),
 ('Tiffany', 2, 'Statistical Inference and Computation I', 1),
 ('Arman', 3, 'Statistical Inference and Computation I', 1),
 ('Varada', 4, 'Statistical Inference and Computation I', 1),
 ('Quan', 5, 'Statistical Inference and Computation I', 1),
 ('Joel', 6, 'Statistical Inference and Computation I', 1),
 ('Florencia', 7, 'Statistical Inference and Computation I', 1),
 ('Alexi', 8, 'Statistical Inference and Computation I', 1),
 ('Vincenzo', 15, 'Statistical Inference and Computation I', 1),
 ('Gittu', 19, 'Statistical Inference and Computation I', 1)]

- The keyword `AS` can be dropped
- Table aliases only exist during the execution of a statement
- Using table aliases is a great way to reduce clutter in SQL join statements
- Once you create an alias for a table, you should only use the alias to refer to that table in the statement. For example, the following query would throw an error:

```sql
-- This is WRONG
SELECT
    instructor.name, instructor.id, course, ic.id
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
;
```
- When you retrieve data from multiple tables, you can still use `*` to return all columns of a particular table. The only difference is that you should prepend it with the corresponding tables name. For example, we can return all columns of the table `instructor` and just the `course` column of the table `instructor_course` in a cross join with the following query:

```sql
SELECT
    instructor.*, ic.course
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
;
```

### Inner join

Except for a cross join, all other types of joins use a condition using the `ON` keyword to figure out which rows from the two tables to pair up. An inner join is a type of join that only returns the matching rows from the left and right tables. The image below ([source](https://www.postgresqltutorial.com/postgresql-joins/)) shows Venn diagram of an inner join:

<img src="img/lecture3/inner_join.png" width="250">

For example, in our `instructor` table there are some instructors who are assigned one or more courses in the `instructor_course` table, some who are not. Similarly, there are courses in the `instructor_course` table that have an instructor, and some that don't have an instructor yet. With an inner join based on `instructor.id` and `instructor_course.id` columns, we would retrieve matching rows, meaning that only instructors are retrieved that have one or more assigned courses, and vice versa:

In [52]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
INNER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
12 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows')]

In the above returned table, "Quan" and "Varada" are missing as instructors since they are not yet assigned any courses. Also, the courses "Web & Cloud Computing", "Parallel Computing", and "Introduction to Optimization" are missing, since there not yet any instructors assigned for these courses.

> **Note:** The `INNER` keyword is optional.

### Self join

Sometimes we want to compare a table to itself. For example, we may want to know which paris of instructors in the `instructors` table are from the same department. In order to find out, we need to compare the values in the `department` column of each row to all other rows to find matches:

In [62]:
%%sql

SELECT
    i1.name, i1.department, i2.department, i2.name
FROM
    instructor i1
JOIN
    instructor i2
ON
    i1.department = i2.department
    AND
    i1.id <> i2.id
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
10 rows affected.

[('Mike', 'Computer Science', 'Computer Science', 'Jessica'),
 ('Mike', 'Computer Science', 'Computer Science', 'Varada'),
 ('Varada', 'Computer Science', 'Computer Science', 'Jessica'),
 ('Varada', 'Computer Science', 'Computer Science', 'Mike'),
 ('Joel', 'Biomedical Engineering', 'Biomedical Engineering', 'Gittu'),
 ('Alexi', 'Statistics', 'Statistics', 'Vincenzo'),
 ('Vincenzo', 'Statistics', 'Statistics', 'Alexi'),
 ('Gittu', 'Biomedical Engineering', 'Biomedical Engineering', 'Joel'),
 ('Jessica', 'Computer Science', 'Computer Science', 'Varada'),
 ('Jessica', 'Computer Science', 'Computer Science', 'Mike')]

The `i1.id <> i2.id` join condition ensures that a row does not match itself.

### Natural join

For joins involving a join condition, e.g. inner or self joins, we have so far explicitly specified the matching condition. In a situation that columns in different tables have the same name and we want to simply match rows with similar values **in all similarly named columns**, we can do a **natural join** using the keywords `NATURAL JOIN`. For example, the `id` column in the `course_cohort` refers to the `id` column let's find which courses are offered for which cohorts using a natural join:

In [63]:
%sql SELECT * FROM course_cohort;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
7 rows affected.

[(13, 'MDS-CL'),
 (8, 'MDS-CL'),
 (1, 'MDS-CL'),
 (3, 'MDS-CL'),
 (1, 'MDS-V'),
 (9, 'MDS-V'),
 (3, 'MDS-V')]

In [64]:
%%sql

SELECT
    ic.course, cc.cohort
FROM
    instructor_course ic
NATURAL JOIN
    course_cohort cc
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
7 rows affected.

[('Web & Cloud Computing', 'MDS-CL'),
 ('Visualization I', 'MDS-CL'),
 ('Statistical Inference and Computation I', 'MDS-CL'),
 ('Descriptive Statistics and Probability', 'MDS-CL'),
 ('Statistical Inference and Computation I', 'MDS-V'),
 ('Privacy, Ethics & Security', 'MDS-V'),
 ('Descriptive Statistics and Probability', 'MDS-V')]

If there are no matching columns in the two tables, `NATURAL JOIN` acts like `JOIN ... ON TRUE` and results in a cross-product join between the participating tables.

### Outer joins

An outer join is a type of join that returns all the rows from one or both of the tables that takes part in the joining. Outer joins are useful in questions that involve missing values.

#### Left outer join

In the joining process, the first table from which data is retrieved using `SELECT` is called the **left** table, and the table that is joined onto that is called the **right** table. In other words, the first table that appears in the query is the left table (table on the left of the query), and the one appearing later is the right table (table on the right of the query).

A left outer join is a type of join that returns all rows from the left table (matching or not), in addition to the matching rows from both tables. The non-matching rows from the left table are assigned null values in the columns that belong to the 
right table. This is schematically shown in the diagram below ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/lecture3/left_join.png" width="250">

For example, in the [inner join](#Inner-join) example, instructors who don't teach any course are not returned by the join operation. Let's say we want to retrieve a list of all instructors and the courses they teach, as well as those who don't teach any courses:

In [32]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
LEFT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
17 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 ('Vincenzo', 15, None, None),
 ('Quan', 5, None, None),
 ('Gittu', 19, None, None),
 ('Jessica', 16, None, None),
 ('Varada', 4, None, None)]

> **Note:** The keyword `OUTER` is optional.

How can this be helpful? As an example, we can return the name of instructors who don't teach any courses with the following query:

In [31]:
%%sql

SELECT
    name
FROM
    instructor AS i
LEFT JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    ic.course IS NULL
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
5 rows affected.

[('Vincenzo',), ('Quan',), ('Gittu',), ('Jessica',), ('Varada',)]

#### Right outer join

A right join acts exactly in the same way as a left join, except that it keeps all rows from the right table and only the matching ones from the left table. The diagram below demonstrates a right join schematically ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/lecture3/right_join.png" width="250">

Let's retrieve a list of all courses and their appointed instructors, as well as those courses without an instructor:

In [35]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
RIGHT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
16 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 (None, None, 12, 'Web & Cloud Computing'),
 (None, None, 10, 'Introduction to Optimization'),
 (None, None, 9, 'Parallel Computing'),
 (None, None, 13, 'Natural Language Processing')]

Now, let's find out which courses do not have an appointed instructor yet:

In [202]:
%%sql

SELECT
    course
FROM
    instructor AS i
RIGHT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    i.id IS NULL
;

   postgresql://postgres:***@localhost/
   postgresql://postgres:***@localhost/imdb
 * postgresql://postgres:***@localhost/postgres
   postgresql://postgres:***@localhost/world
4 rows affected.

[('Web & Cloud Computing',),
 ('Introduction to Optimization',),
 ('Parallel Computing',),
 ('Natural Language Processing',)]

#### Full outer join

A full outer join is the combination of a left and right join: it retrieves **matching and non-matching** rows from **both** tables. Take a look at the schematic diagram of a full outer join ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/lecture3/full_outer_join.png" width="250">

Let's do a full outer join between the `instructor` and `instructor_course` tables to retrieve all instructors and courses:

In [41]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
21 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 (None, None, 12, 'Web & Cloud Computing'),
 (None, None, 10, 'Introduction to Optimization'),
 (None, None, 9, 'Parallel Computing'),
 (None, None, 13, 'Natural Language Processing'),
 ('Vincenzo', 15, None, None),
 ('Quan', 5, None, None),
 ('Gittu', 19, None, None),
 ('Jessica', 16, None, None),
 ('Varada', 4, None, None)]

We can now write a query to find instructors who are free to teach a course, and courses that need an instructor:

In [42]:
%%sql

SELECT
    name, course
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    i.name IS NULL
    OR
    ic.course IS NULL
;

   postgresql://postgres:***@localhost/world_dsci513
 * postgresql://postgres:***@localhost:5432/mds
9 rows affected.

[(None, 'Web & Cloud Computing'),
 (None, 'Introduction to Optimization'),
 (None, 'Parallel Computing'),
 (None, 'Natural Language Processing'),
 ('Vincenzo', None),
 ('Quan', None),
 ('Gittu', None),
 ('Jessica', None),
 ('Varada', None)]

---

**Question:** What's the difference between a cross join and a full outer join?

---

## ---------

So far in the course, we concentrated on retrieving data from a database and its tables using `SELECT` statements. In this lecture, you will learn how to make modifications to rows and tables, delete existing ones, and make new ones. You'll also learn about how to enforce constraints on your tables such that your database always stays in good shape.

In [1]:
%load_ext sql
%config SqlMagic.displaylimit = 30

In [2]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/mds

'Connected: postgres@mds'

In [5]:
%%sql

DROP TABLE IF EXISTS
    instructor,
    instructor_course,
    course_cohort
;

CREATE TABLE instructor (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT,
    phone VARCHAR(12),
    department VARCHAR(50)
    )
;

INSERT INTO
    instructor (id, name, email, phone, department)
VALUES
    (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
    (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
    (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
    (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
    (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
    (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
    (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
    (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
    (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
    (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
    (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')
;

    
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY,
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE
    )
;

INSERT INTO
    instructor_course (instructor_id, course, enrollment, begins)
VALUES
    (8, 'Statistical Inference and Computation I', 125, '2021-10-01'),
    (8, 'Regression II', 102, '2022-02-05'),
    (1, 'Descriptive Statistics and Probability', 79, '2021-09-10'),
    (1, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Python Programming', 133, '2021-09-07'),
    (3, 'Databases & Data Retrieval', 118, '2021-11-16'),
    (6, 'Visualization I', 155, '2021-10-01'),
    (6, 'Privacy, Ethics & Security', 148, '2022-03-01'),
    (2, 'Programming for Data Manipulation', 160, '2021-09-08'),
    (7, 'Data Science Workflows', 98, '2021-09-15'),
    (2, 'Data Science Workflows', 98, '2021-09-15'),
    (12, 'Web & Cloud Computing', 78, '2022-02-10'),
    (10, 'Introduction to Optimization', NULL, '2022-09-01'),
    (9, 'Parallel Computing', NULL, '2023-01-10'),
    (13, 'Natural Language Processing', NULL, '2023-09-10')
;

CREATE TABLE course_cohort (
    id INTEGER,
    cohort VARCHAR(7)
    )
;

INSERT INTO
    course_cohort (id, cohort)
VALUES
    (13, 'MDS-CL'),
    (8, 'MDS-CL'),
    (1, 'MDS-CL'),
    (3, 'MDS-CL'),
    (1, 'MDS-V'),
    (9, 'MDS-V'),
    (3, 'MDS-V')
;

 * postgresql://postgres:***@localhost/mds
Done.
Done.
11 rows affected.
Done.
16 rows affected.
Done.
7 rows affected.

[]

Let's take a look at the tables of the `mds` database that we created in lecture 3 to demonstrate various types of joins:

In [6]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
11 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')]

In [7]:
%sql SELECT * FROM instructor_course;

 * postgresql://postgres:***@localhost/mds
16 rows affected.

[(1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),
 (15, 9, 'Parallel Computing', None, datetime.date(2023, 1, 10)),
 (16, 13, 'Natural Language Processing', None, datetime.date(2023, 9, 10))]

## Inserting, modifying, and deleting rows

A database is rarely only used for retrieving data from. We often want to insert new data, update existing data, or delete obsolete data. You might remember from lecture 1 that this relates to the data manipulation language (DML) that a DBMS also provides along with its data query language (DQL). For relational DBMSs, SQL provides standard statements for data manipulation using keywords `INSERT`, `UPDATE`, and `DELETE`.

With row insertion, updating and deletion statements, we typically need to know in advance about the structure of our table, e.g. column names, their data types, constraints, etc. We can easily inspect the columns of a table using `psql`'s meta-commands that we've learned before. For example, we can find out about the columns and datatypes in the `instructor` table by running `\d instructor` in psql:

<img src="img/lecture4/d_instructor.png" width="600">

### `INSERT`

The `INSERT` statement is used to add new rows to a table, and can be used in three different ways:
- by column position
- by column name
- from a table

#### By column position

```sql
INSERT INTO
    table_name
VALUES
    (value1, value2, ...);
```

- It's not mandatory to provided a value for every column in the table, unless they are explicitly set as **non-nullable**. This is a Postgres extension; in other RDBMSs you might need to provide a value for every column using this syntax. The values are assigned to columns from left to right.
- The order of values should be the same as the order of columns in the table.

For example, let's add two new instructor to our `instructor` table in the `mds` database:

In [8]:
%%sql

INSERT INTO
    instructor
VALUES
    (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science')
;

 * postgresql://postgres:***@localhost/mds
1 rows affected.

[]

In [9]:
%%sql

INSERT INTO
    instructor
VALUES
    (79, 'Anthony', 'anthony@gmail')
;

 * postgresql://postgres:***@localhost/mds
1 rows affected.

[]

In [10]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
13 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, None)]

> Remember that there is no guarantee that the new row shows up as the last row in our table.

> Columns that are not given a value in the insert statement will either be set to their default value (if they have one) or null.

#### By column name

```sql
INSERT INTO
    table_name(col1, col2, ...)
VALUES
    (value1, value2, ...);
```

- A value should be provided for every listed column, but it's not mandatory to provide values for all columns in the table (unless they are primary keys for the table with no default value, more about this later in this lecture)
- The column names and their values can appear in any order with this syntax

For example, here I'll add another row to the `instructor` table using the syntax above, with a shuffled column order:

In [11]:
%%sql

INSERT INTO
    instructor(department, name, email, id)
VALUES
    ('Mathematics', 'Carl', 'carl@math.ubc.ca', 65)
;

 * postgresql://postgres:***@localhost/mds
1 rows affected.

[]

In [12]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
14 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, None),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics')]

Let's also try to insert a row with only one value for the column `id` (which is required since it's a primary key):

In [13]:
%%sql

INSERT INTO
    instructor(id)
VALUES
    (999)
;

 * postgresql://postgres:***@localhost/mds
1 rows affected.

[]

In [14]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
15 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, None),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics'),
 (999, None, None, None, None)]

#### Multiple rows at once

When inserting rows, we don't need to write several `INSERT INTO` statements to insert several rows. It's possible to insert multiple rows with a single `INSERT INTO` statement by separating the rows to be inserted with commas:
```sql
INSERT INTO
    table_name(col1, col2, ...)
VALUES
    (row1_value1, row1_value2, ...),
    (row2_value1, row2_value2, ...),
    (row3_value1, row3_value2, ...),
    (row4_value1, row4_value2, ...)
;
```

#### From a table

```sql
INSERT INTO
    table_name
    [(col1, col2, ...)]
SELECT ...
```

This `INSERT` syntax allows for reading rows from another table and inserting them into the table we want. In terms of column order and default values, it works the same as the previous two methods.

Let's assume that we had another table called `visiting_instructor` in our `mds` database, with the following rows:

In [15]:
%%sql

CREATE TABLE visiting_instructor (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT
    )
;

INSERT INTO
    visiting_instructor (id, name, email)
VALUES
    (501, 'Oliver', 'oliver@gmail.com'),
    (502, 'Adriana', 'adriana@gmail.com')
;

 * postgresql://postgres:***@localhost/mds
Done.
2 rows affected.

[]

In [16]:
%sql SELECT * FROM visiting_instructor;

 * postgresql://postgres:***@localhost/mds
2 rows affected.

[(501, 'Oliver', 'oliver@gmail.com'), (502, 'Adriana', 'adriana@gmail.com')]

Recently, these two visiting instructors have accepted a permanent position in the MDS program, so we want to add them to our `instructor` table. We can do so using the following `INSERT` statement to bring rows from the `visiting_instructor` to `instructor`:

In [17]:
%%sql

INSERT INTO
    instructor(id, name, email)
SELECT
    *
FROM visiting_instructor
;

 * postgresql://postgres:***@localhost/mds
2 rows affected.

[]

In [18]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
17 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, None),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics'),
 (999, None, None, None, None),
 (501, 'Oliver', 'oliver@gmail.com', None, None),
 (502, 'Adriana', 'adriana@gmail.com', None, None)]

Note that:

- We can retrieve any subset of columns and rows in another table as long as they are consistent with the columns of the destination table.
- The column names returned by the `SELECT` statement are ignored by the RDBMS.

### `UPDATE`

In addition to adding rows to our tables, we can also update existing ones. The standard SQL syntax for updating rows is:

```sql
UPDATE
    table_name
SET
    col1 = expr1,
    col2 = expr2,
    ...
WHERE
     condition
;
```

For example, let's assign our new instructors to the business school:

In [19]:
%%sql

UPDATE
    instructor
SET
    department = 'Business'
WHERE
    department IS NULL
    AND
    name IS NOT NULL
;

 * postgresql://postgres:***@localhost/mds
3 rows affected.

[]

In [20]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
17 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics'),
 (999, None, None, None, None),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, 'Business'),
 (501, 'Oliver', 'oliver@gmail.com', None, 'Business'),
 (502, 'Adriana', 'adriana@gmail.com', None, 'Business')]

---
    
**Remember:**

`UPDATE` is a **dangerous** statement; you might accidentally modify all or several rows in a table with a wrong search condition. It is always a good idea to use a `SELECT` statement to make sure the returned rows are actually the ones you want to update, and then modify them via the `UPDATE` statement.

One other method is to create a temporary table to test your `UPDATE` statement. You'll learn how to do that later in this lecture.

---

### `DELETE`

Well, there finally comes a time when some rows need to be deleted (or all rows, who knows...). The `DELETE` statement in SQL removes rows from a table. Most of the time we don't want to delete all rows but only those that meet specific conditions. Similar to `UPDATE`, `DELETE` also accepts a `WHERE` clause:

```sql
DELETE FROM
    table_name
WHERE
    condition
;
```

For example, I want to remove the row in the `instructor` table that has an `id` of 999:

In [21]:
%%sql

DELETE FROM
    instructor
WHERE
    id = 999
;

 * postgresql://postgres:***@localhost/mds
1 rows affected.

[]

In [22]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
16 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, 'Business'),
 (501, 'Oliver', 'oliver@gmail.com', None, 'Business'),
 (502, 'Adriana', 'adriana@gmail.com', None, 'Business')]

Also, I want to remove the newly hired instructors (which we copied into the `instructor` table) from the `visiting_instructor` table. Since I want to delete all rows in that table, I can write the `DELETE` statement without a `WHERE` condition:

In [23]:
%sql DELETE FROM visiting_instructor;

 * postgresql://postgres:***@localhost/mds
2 rows affected.

[]

In [24]:
%sql SELECT * FROM visiting_instructor;

 * postgresql://postgres:***@localhost/mds
0 rows affected.

[]

Note that although the `DELETE` statement has removed all rows, **the table structure is intact**. In other words, the table is still there but stores no rows at the moment.

### `TRUNCATE`

If the goal is to remove all rows from a table, popular RDBMSs including Postgres also support the `TRUNCATE` statement with the following syntax:
```sql
TRUNCATE TABLE table_name;
```

`TRUNCATE` is **faster and more efficient** in terms of the RDBMS resources, because it does not scan every row as opposed to `DELETE`. During the process, `DELETE` logs the changes made to each and every row, whereas `TRUNCATE` treats the deleting of all rows as a single operation. Even though`TRUNCATE` locks the entire table during the deleting operation (as opposed to `DELETE` which locks individual rows), it is still the better choice to delete all rows because it will release the lock much sooner.

---
    
**Remember:**

`DELETE` and `TRUNCATE` are both very dangerous statements, and you should use them with extreme caution in real-life databases. With `DELETE`, you should always try a `SELECT` query first to see if your `WHERE` condition returns the rows that you want, and then use `DELETE` to remove them.

One other method is to create a temporary table to test your `DELETE` statement. You'll learn how to do that later in this lecture.

---

### `RETURNING` (OPTIONAL)

The table modifying commands `INSERT`, `UPDATE`, and `DELETE` all accept a `RETURNING` clause which returns the rows that have been modified by these commands. The returning clause can be helpful in reliably identifying the rows that have been modified, without having to run a separate `SELECT` statement after table modification. Here is the syntax for `RETURNING` used along with `INSERT`:

```sql
INSERT INTO
    table1(col1, col2, ...)
VALUES
    (val1, val2, ...)
RETURNING
    *
;
```

We can select any one of the columns of the modified rows just as in a `SELECT` statement.

Here is an example of returning rows from an `UPDATE` statement:

In [25]:
%%sql

UPDATE
    instructor
SET
    department = 'STATS'
WHERE
    department = 'Statistics'
RETURNING
    *
;

 * postgresql://postgres:***@localhost/mds
2 rows affected.

[(8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'STATS'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'STATS')]

We can check that the above two rows in the `instructor` table are actually the ones that are updated:

In [26]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@localhost/mds
16 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics'),
 (79, 'Anthony', 'anthony@math.ubc.ca', None, 'Business'),
 (501, 'Oliver', 'oliver@gmail.com', None, 'Business'),
 (502, 'Adriana', 'adriana@gmail.com', None, 'Business'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'STATS'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'STATS')]

## Creating, modifying, and dropping tables

In this section, we'll learn about the basics of creating tables from scratch, modifying and also dropping them. Before moving on to discussing the ways to do this, I need to remind you that designing a database with optimal structure, relations, and constraints typically requires expert knowledge and experience, and sometimes many design iterations. The goal here is for you to get a basic knowledge of how tables are defined, altered and dropped and how constraints are enforced in relatively simple cases. Even if you're not going to design a database or create tables yourself, an understanding of what the process looks is beneficial in how you think about a database in general and how you use it.

### Creating tables

The general syntax for creating a table is as follows:

```sql
CREATE TABLE table_name (
   column1    datatype [column_contraint],
   column2    datatype [column_contraint],
   column3    datatype [column_contraint],
   [table_constraints]
);
```

In order to define a table, we need:
- column names
- column data types

You may optionally also define
- default values
- constraints

Suppose that in a database for a sample online store, we have a table to keep information about our customers. We can create a table called `customer` with the following statement:

```sql
CREATE TABLE customer
(
    customer_id    INTEGER,
    title          CHAR(4),
    fname          VARCHAR(32),
    lname          VARCHAR(32),
    addressline    VARCHAR(64),
    town           VARCHAR(32),
    zipcode        CHAR(10),
    phone          VARCHAR(16)
);
```

## ---------

## Subqueries

There is a particular type of question that we have avoided so far for our SQL queries, and that is one for which we need the result of a second query to be able to run the first query. Take the following question as an example:

---

**Example:** Using the `world_dsci513` database, find the countries with surface area above the average value of all countries in the world.

---

This query looks simple. You might be tempted to try

```sql
-- This will NOT work
SELECT
    name
FROM
    country
WHERE
    surfacearea > AVG(surfacearea)
;
```

but we've learned before that aggregate functions **cannot** be used within a `WHERE` clause.

To answer this question, we need to query the database twice: once to obtain the average surface area, and once to actually retrieve the rows that satisfy the condition. However, we don't need to do that in two separate queries and manually take the data coming from the first query and use it in the second. We can use a **subquery** to do that for us.

A subquery is a `SELECT` statement that is incorporated into another SQL statement. For example, the query that computes the average surface area is:

```sql
SELECT
    AVG(surfacearea)
FROM
    country
;
```

We can use this intermediate information in our original query by embedding the above query in the `WHERE` clause of the original query:

```sql
SELECT
    name
FROM
    country
WHERE
    surfacearea > (
        SELECT AVG(surfacearea) FROM country
    )
;
```

In [39]:
%sql postgresql://{username}:{password}@{host}:{port}/world_dsci513

'Connected: postgres@world_dsci513'

In [41]:
%%sql

SELECT
    name
FROM
    country
WHERE
    surfacearea > (
        SELECT
            AVG(surfacearea)
        FROM
            country
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
43 rows affected.

[('Afghanistan',),
 ('Algeria',),
 ('Angola',),
 ('Argentina',),
 ('Australia',),
 ('Bolivia',),
 ('Brazil',),
 ('Chile',),
 ('Egypt',),
 ('South Africa',),
 ('Ethiopia',),
 ('Greenland',),
 ('Indonesia',),
 ('India',),
 ('Iran',),
 ('Canada',),
 ('Kazakstan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('Libyan Arab Jamahiriya',),
 ('Mali',),
 ('Mauritania',),
 ('Mexico',),
 ('Mongolia',),
 ('Mozambique',),
 ('Myanmar',),
 ('Namibia',),
 ('Niger',),
 ('Nigeria',),
 ('Pakistan',),
 ('Peru',),
 ('Zambia',),
 ('Saudi Arabia',),
 ('Somalia',),
 ('Sudan',),
 ('Tanzania',),
 ('Chad',),
 ('Turkey',),
 ('Venezuela',),
 ('Russian Federation',),
 ('United States',),
 ('Antarctica',)]

Note that:

- A subquery should always be enclosed in parentheses, e.g. `(SELECT ...)`
- Subqueries should **not** be terminated by a semi-colon, as opposed to regular queries
- Sometimes the main SQL statement is called the **outer query** and the subquery is called the **inner query**

A subquery can be used in the `SELECT`, `FROM`, `WHERE`, and `HAVING` clauses, but most commonly in the `WHERE`.

In our last query, we can use a subquery in the `SELECT` clause as well to check if the returned rows do satisfy the condition of `surfacearea > AVG(surfacearea)`:

In [42]:
%%sql

SELECT
    name,
    ROUND(surfacearea::NUMERIC / (SELECT AVG(surfacearea) FROM country)::NUMERIC, 2)
        AS ratio
FROM
    country
WHERE
    surfacearea > (
        SELECT AVG(surfacearea) FROM country
    )
ORDER BY
    ratio
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
43 rows affected.

[('Somalia', Decimal('1.02')),
 ('Afghanistan', Decimal('1.05')),
 ('Myanmar', Decimal('1.09')),
 ('Zambia', Decimal('1.21')),
 ('Chile', Decimal('1.21')),
 ('Turkey', Decimal('1.24')),
 ('Pakistan', Decimal('1.28')),
 ('Mozambique', Decimal('1.29')),
 ('Namibia', Decimal('1.32')),
 ('Tanzania', Decimal('1.42')),
 ('Venezuela', Decimal('1.46')),
 ('Nigeria', Decimal('1.48')),
 ('Egypt', Decimal('1.61')),
 ('Mauritania', Decimal('1.65')),
 ('Bolivia', Decimal('1.76')),
 ('Ethiopia', Decimal('1.77')),
 ('Colombia', Decimal('1.83')),
 ('South Africa', Decimal('1.96')),
 ('Mali', Decimal('1.99')),
 ('Angola', Decimal('2.00')),
 ('Niger', Decimal('2.03')),
 ('Chad', Decimal('2.06')),
 ('Peru', Decimal('2.06')),
 ('Mongolia', Decimal('2.51')),
 ('Iran', Decimal('2.64')),
 ('Libyan Arab Jamahiriya', Decimal('2.82')),
 ('Indonesia', Decimal('3.06')),
 ('Mexico', Decimal('3.14')),
 ('Saudi Arabia', Decimal('3.45')),
 ('Greenland', Decimal('3.48')),
 ('Congo, The Democratic Republic of the', Decimal('3.76')),
 ('Algeria', Decimal('3.82')),
 ('Sudan', Decimal('4.02')),
 ('Kazakstan', Decimal('4.37')),
 ('Argentina', Decimal('4.46')),
 ('India', Decimal('5.27')),
 ('Australia', Decimal('12.42')),
 ('Brazil', Decimal('13.71')),
 ('United States', Decimal('15.02')),
 ('China', Decimal('15.36')),
 ('Canada', Decimal('16.00')),
 ('Antarctica', Decimal('21.05')),
 ('Russian Federation', Decimal('27.40'))]

> **Note:** A subquery in the `SELECT` clause should always return a single value, not a column or rows of values.

---

**Example:** Retrieve the name of countries whose capital cities have a population larger than 5 million.

---

In [58]:
%%sql

SELECT
    name
FROM
    country
WHERE
    capital IN (
        SELECT id
        FROM city
        WHERE population > 5000000
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
13 rows affected.

[('United Kingdom',),
 ('Egypt',),
 ('Indonesia',),
 ('Iran',),
 ('Japan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('South Korea',),
 ('Mexico',),
 ('Peru',),
 ('Thailand',),
 ('Russian Federation',)]

Well, as you might have guessed, we can rewrite this query using a **join**:

In [61]:
%%sql

SELECT
    co.name
FROM
    country co
JOIN
    city ci
ON
    co.capital = ci.id
WHERE
    ci.population > 5000000
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
13 rows affected.

[('United Kingdom',),
 ('Egypt',),
 ('Indonesia',),
 ('Iran',),
 ('Japan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('South Korea',),
 ('Mexico',),
 ('Peru',),
 ('Thailand',),
 ('Russian Federation',)]

Using a subquery is actually another way to gain access to data stored in other tables.

Typically, joins can be rewritten as a subquery and vice-versa, so what's the difference?

- Subqueries tend to be more readable and more intuitive
- Subqueries cannot be used if you need to include columns from the inner query in your results

---

**Example:** Retrieve the name of countries where English is an official language, and have a population of over 1 million.

---

In [85]:
%%sql

SELECT
    name
FROM
    country
WHERE
    population > 1000000
    AND
    code IN (
        SELECT
            countrycode
        FROM
            countrylanguage
        WHERE
            language = 'English'
            AND
            isofficial = True
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
10 rows affected.

[('Australia',),
 ('United Kingdom',),
 ('South Africa',),
 ('Hong Kong',),
 ('Ireland',),
 ('Canada',),
 ('Lesotho',),
 ('New Zealand',),
 ('United States',),
 ('Zimbabwe',)]

### Correlated subqueries

Subqueries that we have seen so far are called **simple or uncorrelated subqueries**, as they are executed **once** and **independently** of the outer query.

It sometimes happens that we need data from each row of the outer query in the subquery. This is an instance of what's called a **correlated subquery**. In a correlated subquery, the subquery takes the the current row of the outer query, and executes over all rows of the inner query. When finished, the next row from the outer query is selected, and the subquery is executed entirely for that outer row again, and so on.

---

**Example:** Which countries have the largest population in the continent where they are located?

---

The query for the above example requires the population of each country to be compared with all other countries that are in the same continent. The comparison of each row, with every other row that meet a particular condition can be achieved with a correlated subquery:

In [21]:
%%sql

SELECT
    c1.name, c1.continent
FROM
    country c1
WHERE
    c1.population = (
        SELECT
            MAX(c2.population)
        FROM
            country c2
        WHERE
            c2.continent = c1.continent
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
11 rows affected.

[('Australia', 'Oceania'),
 ('Brazil', 'South America'),
 ('China', 'Asia'),
 ('Nigeria', 'Africa'),
 ('Russian Federation', 'Europe'),
 ('United States', 'North America'),
 ('Antarctica', 'Antarctica'),
 ('Bouvet Island', 'Antarctica'),
 ('South Georgia and the South Sandwich Islands', 'Antarctica'),
 ('Heard Island and McDonald Islands', 'Antarctica'),
 ('French Southern territories', 'Antarctica')]

---

**Example:** Write a query that returns the most populated city listed for each country code in the `city` table.

---

In [74]:
%%sql

SELECT
    ci1.name, ci1.countrycode
FROM
    city ci1
WHERE
    ci1.population = (
        SELECT
            MAX(ci2.population)
        FROM
            city ci2
        WHERE
            ci2.countrycode = ci1.countrycode
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
232 rows affected.

[('Kabul', 'AFG'),
 ('Amsterdam', 'NLD'),
 ('Willemstad', 'ANT'),
 ('Tirana', 'ALB'),
 ('Alger', 'DZA'),
 ('Tafuna', 'ASM'),
 ('Andorra la Vella', 'AND'),
 ('Luanda', 'AGO'),
 ('South Hill', 'AIA'),
 ('Saint John´s', 'ATG'),
 ('Dubai', 'ARE'),
 ('Buenos Aires', 'ARG'),
 ('Yerevan', 'ARM'),
 ('Oranjestad', 'ABW'),
 ('Sydney', 'AUS'),
 ('Baku', 'AZE'),
 ('Nassau', 'BHS'),
 ('al-Manama', 'BHR'),
 ('Dhaka', 'BGD'),
 ('Bridgetown', 'BRB'),
 ('Antwerpen', 'BEL'),
 ('Belize City', 'BLZ'),
 ('Cotonou', 'BEN'),
 ('Saint George', 'BMU'),
 ('Thimphu', 'BTN'),
 ('Santa Cruz de la Sierra', 'BOL'),
 ('Sarajevo', 'BIH'),
 ('Gaborone', 'BWA'),
 ('São Paulo', 'BRA'),
 ('London', 'GBR'),
 ('Road Town', 'VGB'),
 ('Bandar Seri Begawan', 'BRN'),
 ('Sofija', 'BGR'),
 ('Ouagadougou', 'BFA'),
 ('Bujumbura', 'BDI'),
 ('George Town', 'CYM'),
 ('Santiago de Chile', 'CHL'),
 ('Avarua', 'COK'),
 ('San José', 'CRI'),
 ('Djibouti', 'DJI'),
 ('Roseau', 'DMA'),
 ('Santo Domingo de Guzmán', 'DOM'),
 ('Guayaquil', 'ECU'),
 ('Cairo', 'EGY'),
 ('San Salvador', 'SLV'),
 ('Asmara', 'ERI'),
 ('Madrid', 'ESP'),
 ('Cape Town', 'ZAF'),
 ('Addis Abeba', 'ETH'),
 ('Stanley', 'FLK'),
 ('Suva', 'FJI'),
 ('Quezon', 'PHL'),
 ('Tórshavn', 'FRO'),
 ('Libreville', 'GAB'),
 ('Serekunda', 'GMB'),
 ('Tbilisi', 'GEO'),
 ('Accra', 'GHA'),
 ('Gibraltar', 'GIB'),
 ('Saint George´s', 'GRD'),
 ('Nuuk', 'GRL'),
 ('Les Abymes', 'GLP'),
 ('Tamuning', 'GUM'),
 ('Ciudad de Guatemala', 'GTM'),
 ('Conakry', 'GIN'),
 ('Bissau', 'GNB'),
 ('Georgetown', 'GUY'),
 ('Port-au-Prince', 'HTI'),
 ('Tegucigalpa', 'HND'),
 ('Kowloon and New Kowloon', 'HKG'),
 ('Longyearbyen', 'SJM'),
 ('Jakarta', 'IDN'),
 ('Mumbai (Bombay)', 'IND'),
 ('Baghdad', 'IRQ'),
 ('Teheran', 'IRN'),
 ('Dublin', 'IRL'),
 ('Reykjavík', 'ISL'),
 ('Jerusalem', 'ISR'),
 ('Roma', 'ITA'),
 ('Dili', 'TMP'),
 ('Wien', 'AUT'),
 ('Spanish Town', 'JAM'),
 ('Tokyo', 'JPN'),
 ('Sanaa', 'YEM'),
 ('Amman', 'JOR'),
 ('Flying Fish Cove', 'CXR'),
 ('Beograd', 'YUG'),
 ('Phnom Penh', 'KHM'),
 ('Douala', 'CMR'),
 ('Montréal', 'CAN'),
 ('Praia', 'CPV'),
 ('Almaty', 'KAZ'),
 ('Nairobi', 'KEN'),
 ('Bangui', 'CAF'),
 ('Shanghai', 'CHN'),
 ('Bishkek', 'KGZ'),
 ('Bikenibeu', 'KIR'),
 ('Santafé de Bogotá', 'COL'),
 ('Moroni', 'COM'),
 ('Brazzaville', 'COG'),
 ('Kinshasa', 'COD'),
 ('Bantam', 'CCK'),
 ('Pyongyang', 'PRK'),
 ('Seoul', 'KOR'),
 ('Athenai', 'GRC'),
 ('Zagreb', 'HRV'),
 ('La Habana', 'CUB'),
 ('al-Salimiya', 'KWT'),
 ('Nicosia', 'CYP'),
 ('Vientiane', 'LAO'),
 ('Riga', 'LVA'),
 ('Maseru', 'LSO'),
 ('Beirut', 'LBN'),
 ('Monrovia', 'LBR'),
 ('Tripoli', 'LBY'),
 ('Schaan', 'LIE'),
 ('Vilnius', 'LTU'),
 ('Luxembourg [Luxemburg/Lëtzebuerg]', 'LUX'),
 ('El-Aaiún', 'ESH'),
 ('Macao', 'MAC'),
 ('Antananarivo', 'MDG'),
 ('Skopje', 'MKD'),
 ('Blantyre', 'MWI'),
 ('Male', 'MDV'),
 ('Kuala Lumpur', 'MYS'),
 ('Bamako', 'MLI'),
 ('Birkirkara', 'MLT'),
 ('Casablanca', 'MAR'),
 ('Dalap-Uliga-Darrit', 'MHL'),
 ('Fort-de-France', 'MTQ'),
 ('Nouakchott', 'MRT'),
 ('Port-Louis', 'MUS'),
 ('Mamoutzou', 'MYT'),
 ('Ciudad de México', 'MEX'),
 ('Weno', 'FSM'),
 ('Chisinau', 'MDA'),
 ('Monte-Carlo', 'MCO'),
 ('Ulan Bator', 'MNG'),
 ('Plymouth', 'MSR'),
 ('Maputo', 'MOZ'),
 ('Rangoon (Yangon)', 'MMR'),
 ('Windhoek', 'NAM'),
 ('Yangor', 'NRU'),
 ('Kathmandu', 'NPL'),
 ('Managua', 'NIC'),
 ('Niamey', 'NER'),
 ('Lagos', 'NGA'),
 ('Alofi', 'NIU'),
 ('Kingston', 'NFK'),
 ('Oslo', 'NOR'),
 ('Abidjan', 'CIV'),
 ('al-Sib', 'OMN'),
 ('Karachi', 'PAK'),
 ('Koror', 'PLW'),
 ('Ciudad de Panamá', 'PAN'),
 ('Port Moresby', 'PNG'),
 ('Asunción', 'PRY'),
 ('Lima', 'PER'),
 ('Adamstown', 'PCN'),
 ('Garapan', 'MNP'),
 ('Lisboa', 'PRT'),
 ('San Juan', 'PRI'),
 ('Warszawa', 'POL'),
 ('Malabo', 'GNQ'),
 ('Doha', 'QAT'),
 ('Paris', 'FRA'),
 ('Cayenne', 'GUF'),
 ('Faaa', 'PYF'),
 ('Saint-Denis', 'REU'),
 ('Bucuresti', 'ROM'),
 ('Kigali', 'RWA'),
 ('Stockholm', 'SWE'),
 ('Jamestown', 'SHN'),
 ('Basseterre', 'KNA'),
 ('Castries', 'LCA'),
 ('Kingstown', 'VCT'),
 ('Saint-Pierre', 'SPM'),
 ('Berlin', 'DEU'),
 ('Honiara', 'SLB'),
 ('Lusaka', 'ZMB'),
 ('Apia', 'WSM'),
 ('Serravalle', 'SMR'),
 ('São Tomé', 'STP'),
 ('Riyadh', 'SAU'),
 ('Pikine', 'SEN'),
 ('Victoria', 'SYC'),
 ('Freetown', 'SLE'),
 ('Singapore', 'SGP'),
 ('Bratislava', 'SVK'),
 ('Ljubljana', 'SVN'),
 ('Mogadishu', 'SOM'),
 ('Colombo', 'LKA'),
 ('Omdurman', 'SDN'),
 ('Helsinki [Helsingfors]', 'FIN'),
 ('Paramaribo', 'SUR'),
 ('Mbabane', 'SWZ'),
 ('Zürich', 'CHE'),
 ('Damascus', 'SYR'),
 ('Dushanbe', 'TJK'),
 ('Taipei', 'TWN'),
 ('Dar es Salaam', 'TZA'),
 ('København', 'DNK'),
 ('Bangkok', 'THA'),
 ('Lomé', 'TGO'),
 ('Fakaofo', 'TKL'),
 ('Nuku´alofa', 'TON'),
 ('Chaguanas', 'TTO'),
 ('N´Djaména', 'TCD'),
 ('Praha', 'CZE'),
 ('Tunis', 'TUN'),
 ('Istanbul', 'TUR'),
 ('Ashgabat', 'TKM'),
 ('Cockburn Town', 'TCA'),
 ('Funafuti', 'TUV'),
 ('Kampala', 'UGA'),
 ('Kyiv', 'UKR'),
 ('Budapest', 'HUN'),
 ('Montevideo', 'URY'),
 ('Nouméa', 'NCL'),
 ('Auckland', 'NZL'),
 ('Toskent', 'UZB'),
 ('Minsk', 'BLR'),
 ('Mata-Utu', 'WLF'),
 ('Port-Vila', 'VUT'),
 ('Città del Vaticano', 'VAT'),
 ('Caracas', 'VEN'),
 ('Moscow', 'RUS'),
 ('Ho Chi Minh City', 'VNM'),
 ('Tallinn', 'EST'),
 ('New York', 'USA'),
 ('Charlotte Amalie', 'VIR'),
 ('Harare', 'ZWE'),
 ('Gaza', 'PSE')]

---

**Example:** Use the above query to return the name of countries whose capital city is not their most populated city.

---

The outer query in a subquery can be the result of joining other tables. In this example, we first need to join `country` and `city` to list capital cities of each country:

In [25]:
%%sql

SELECT
    co.name, ci.name
FROM
    country co
JOIN
    city ci
ON
    co.capital = ci.id
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
232 rows affected.

[('Afghanistan', 'Kabul'),
 ('Netherlands', 'Amsterdam'),
 ('Netherlands Antilles', 'Willemstad'),
 ('Albania', 'Tirana'),
 ('Algeria', 'Alger'),
 ('American Samoa', 'Fagatogo'),
 ('Andorra', 'Andorra la Vella'),
 ('Angola', 'Luanda'),
 ('Anguilla', 'The Valley'),
 ('Antigua and Barbuda', 'Saint John´s'),
 ('United Arab Emirates', 'Abu Dhabi'),
 ('Argentina', 'Buenos Aires'),
 ('Armenia', 'Yerevan'),
 ('Aruba', 'Oranjestad'),
 ('Australia', 'Canberra'),
 ('Azerbaijan', 'Baku'),
 ('Bahamas', 'Nassau'),
 ('Bahrain', 'al-Manama'),
 ('Bangladesh', 'Dhaka'),
 ('Barbados', 'Bridgetown'),
 ('Belgium', 'Bruxelles [Brussel]'),
 ('Belize', 'Belmopan'),
 ('Benin', 'Porto-Novo'),
 ('Bermuda', 'Hamilton'),
 ('Bhutan', 'Thimphu'),
 ('Bolivia', 'La Paz'),
 ('Bosnia and Herzegovina', 'Sarajevo'),
 ('Botswana', 'Gaborone'),
 ('Brazil', 'Brasília'),
 ('United Kingdom', 'London'),
 ('Virgin Islands, British', 'Road Town'),
 ('Brunei', 'Bandar Seri Begawan'),
 ('Bulgaria', 'Sofija'),
 ('Burkina Faso', 'Ouagadougou'),
 ('Burundi', 'Bujumbura'),
 ('Cayman Islands', 'George Town'),
 ('Chile', 'Santiago de Chile'),
 ('Cook Islands', 'Avarua'),
 ('Costa Rica', 'San José'),
 ('Djibouti', 'Djibouti'),
 ('Dominica', 'Roseau'),
 ('Dominican Republic', 'Santo Domingo de Guzmán'),
 ('Ecuador', 'Quito'),
 ('Egypt', 'Cairo'),
 ('El Salvador', 'San Salvador'),
 ('Eritrea', 'Asmara'),
 ('Spain', 'Madrid'),
 ('South Africa', 'Pretoria'),
 ('Ethiopia', 'Addis Abeba'),
 ('Falkland Islands', 'Stanley'),
 ('Fiji Islands', 'Suva'),
 ('Philippines', 'Manila'),
 ('Faroe Islands', 'Tórshavn'),
 ('Gabon', 'Libreville'),
 ('Gambia', 'Banjul'),
 ('Georgia', 'Tbilisi'),
 ('Ghana', 'Accra'),
 ('Gibraltar', 'Gibraltar'),
 ('Grenada', 'Saint George´s'),
 ('Greenland', 'Nuuk'),
 ('Guadeloupe', 'Basse-Terre'),
 ('Guam', 'Agaña'),
 ('Guatemala', 'Ciudad de Guatemala'),
 ('Guinea', 'Conakry'),
 ('Guinea-Bissau', 'Bissau'),
 ('Guyana', 'Georgetown'),
 ('Haiti', 'Port-au-Prince'),
 ('Honduras', 'Tegucigalpa'),
 ('Hong Kong', 'Victoria'),
 ('Svalbard and Jan Mayen', 'Longyearbyen'),
 ('Indonesia', 'Jakarta'),
 ('India', 'New Delhi'),
 ('Iraq', 'Baghdad'),
 ('Iran', 'Teheran'),
 ('Ireland', 'Dublin'),
 ('Iceland', 'Reykjavík'),
 ('Israel', 'Jerusalem'),
 ('Italy', 'Roma'),
 ('East Timor', 'Dili'),
 ('Austria', 'Wien'),
 ('Jamaica', 'Kingston'),
 ('Japan', 'Tokyo'),
 ('Yemen', 'Sanaa'),
 ('Jordan', 'Amman'),
 ('Christmas Island', 'Flying Fish Cove'),
 ('Yugoslavia', 'Beograd'),
 ('Cambodia', 'Phnom Penh'),
 ('Cameroon', 'Yaoundé'),
 ('Canada', 'Ottawa'),
 ('Cape Verde', 'Praia'),
 ('Kazakstan', 'Astana'),
 ('Kenya', 'Nairobi'),
 ('Central African Republic', 'Bangui'),
 ('China', 'Peking'),
 ('Kyrgyzstan', 'Bishkek'),
 ('Kiribati', 'Bairiki'),
 ('Colombia', 'Santafé de Bogotá'),
 ('Comoros', 'Moroni'),
 ('Congo', 'Brazzaville'),
 ('Congo, The Democratic Republic of the', 'Kinshasa'),
 ('Cocos (Keeling) Islands', 'West Island'),
 ('North Korea', 'Pyongyang'),
 ('South Korea', 'Seoul'),
 ('Greece', 'Athenai'),
 ('Croatia', 'Zagreb'),
 ('Cuba', 'La Habana'),
 ('Kuwait', 'Kuwait'),
 ('Cyprus', 'Nicosia'),
 ('Laos', 'Vientiane'),
 ('Latvia', 'Riga'),
 ('Lesotho', 'Maseru'),
 ('Lebanon', 'Beirut'),
 ('Liberia', 'Monrovia'),
 ('Libyan Arab Jamahiriya', 'Tripoli'),
 ('Liechtenstein', 'Vaduz'),
 ('Lithuania', 'Vilnius'),
 ('Luxembourg', 'Luxembourg [Luxemburg/Lëtzebuerg]'),
 ('Western Sahara', 'El-Aaiún'),
 ('Macao', 'Macao'),
 ('Madagascar', 'Antananarivo'),
 ('Macedonia', 'Skopje'),
 ('Malawi', 'Lilongwe'),
 ('Maldives', 'Male'),
 ('Malaysia', 'Kuala Lumpur'),
 ('Mali', 'Bamako'),
 ('Malta', 'Valletta'),
 ('Morocco', 'Rabat'),
 ('Marshall Islands', 'Dalap-Uliga-Darrit'),
 ('Martinique', 'Fort-de-France'),
 ('Mauritania', 'Nouakchott'),
 ('Mauritius', 'Port-Louis'),
 ('Mayotte', 'Mamoutzou'),
 ('Mexico', 'Ciudad de México'),
 ('Micronesia, Federated States of', 'Palikir'),
 ('Moldova', 'Chisinau'),
 ('Monaco', 'Monaco-Ville'),
 ('Mongolia', 'Ulan Bator'),
 ('Montserrat', 'Plymouth'),
 ('Mozambique', 'Maputo'),
 ('Myanmar', 'Rangoon (Yangon)'),
 ('Namibia', 'Windhoek'),
 ('Nauru', 'Yaren'),
 ('Nepal', 'Kathmandu'),
 ('Nicaragua', 'Managua'),
 ('Niger', 'Niamey'),
 ('Nigeria', 'Abuja'),
 ('Niue', 'Alofi'),
 ('Norfolk Island', 'Kingston'),
 ('Norway', 'Oslo'),
 ('Côte d\x92Ivoire', 'Yamoussoukro'),
 ('Oman', 'Masqat'),
 ('Pakistan', 'Islamabad'),
 ('Palau', 'Koror'),
 ('Panama', 'Ciudad de Panamá'),
 ('Papua New Guinea', 'Port Moresby'),
 ('Paraguay', 'Asunción'),
 ('Peru', 'Lima'),
 ('Pitcairn', 'Adamstown'),
 ('Northern Mariana Islands', 'Garapan'),
 ('Portugal', 'Lisboa'),
 ('Puerto Rico', 'San Juan'),
 ('Poland', 'Warszawa'),
 ('Equatorial Guinea', 'Malabo'),
 ('Qatar', 'Doha'),
 ('France', 'Paris'),
 ('French Guiana', 'Cayenne'),
 ('French Polynesia', 'Papeete'),
 ('Réunion', 'Saint-Denis'),
 ('Romania', 'Bucuresti'),
 ('Rwanda', 'Kigali'),
 ('Sweden', 'Stockholm'),
 ('Saint Helena', 'Jamestown'),
 ('Saint Kitts and Nevis', 'Basseterre'),
 ('Saint Lucia', 'Castries'),
 ('Saint Vincent and the Grenadines', 'Kingstown'),
 ('Saint Pierre and Miquelon', 'Saint-Pierre'),
 ('Germany', 'Berlin'),
 ('Solomon Islands', 'Honiara'),
 ('Zambia', 'Lusaka'),
 ('Samoa', 'Apia'),
 ('San Marino', 'San Marino'),
 ('Sao Tome and Principe', 'São Tomé'),
 ('Saudi Arabia', 'Riyadh'),
 ('Senegal', 'Dakar'),
 ('Seychelles', 'Victoria'),
 ('Sierra Leone', 'Freetown'),
 ('Singapore', 'Singapore'),
 ('Slovakia', 'Bratislava'),
 ('Slovenia', 'Ljubljana'),
 ('Somalia', 'Mogadishu'),
 ('Sri Lanka', 'Colombo'),
 ('Sudan', 'Khartum'),
 ('Finland', 'Helsinki [Helsingfors]'),
 ('Suriname', 'Paramaribo'),
 ('Swaziland', 'Mbabane'),
 ('Switzerland', 'Bern'),
 ('Syria', 'Damascus'),
 ('Tajikistan', 'Dushanbe'),
 ('Taiwan', 'Taipei'),
 ('Tanzania', 'Dodoma'),
 ('Denmark', 'København'),
 ('Thailand', 'Bangkok'),
 ('Togo', 'Lomé'),
 ('Tokelau', 'Fakaofo'),
 ('Tonga', 'Nuku´alofa'),
 ('Trinidad and Tobago', 'Port-of-Spain'),
 ('Chad', 'N´Djaména'),
 ('Czech Republic', 'Praha'),
 ('Tunisia', 'Tunis'),
 ('Turkey', 'Ankara'),
 ('Turkmenistan', 'Ashgabat'),
 ('Turks and Caicos Islands', 'Cockburn Town'),
 ('Tuvalu', 'Funafuti'),
 ('Uganda', 'Kampala'),
 ('Ukraine', 'Kyiv'),
 ('Hungary', 'Budapest'),
 ('Uruguay', 'Montevideo'),
 ('New Caledonia', 'Nouméa'),
 ('New Zealand', 'Wellington'),
 ('Uzbekistan', 'Toskent'),
 ('Belarus', 'Minsk'),
 ('Wallis and Futuna', 'Mata-Utu'),
 ('Vanuatu', 'Port-Vila'),
 ('Holy See (Vatican City State)', 'Città del Vaticano'),
 ('Venezuela', 'Caracas'),
 ('Russian Federation', 'Moscow'),
 ('Vietnam', 'Hanoi'),
 ('Estonia', 'Tallinn'),
 ('United States', 'Washington'),
 ('Virgin Islands, U.S.', 'Charlotte Amalie'),
 ('Zimbabwe', 'Harare'),
 ('Palestine', 'Gaza')]

In the next step, we need to check whether the population of that capital city is the maximum population of cities of that particular country or not. This can be achieved via a correlated subquery:

In [29]:
%%sql

SELECT
    co.name
FROM
    country co
JOIN
    city ci
ON
    co.capital = ci.id
WHERE
    ci.population <> (
        SELECT
            MAX(ci2.population)
        FROM
            city ci2
        WHERE
            ci.countrycode = ci2.countrycode
    )
ORDER BY
    co.population DESC
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
48 rows affected.

[('China',),
 ('India',),
 ('United States',),
 ('Brazil',),
 ('Pakistan',),
 ('Nigeria',),
 ('Vietnam',),
 ('Philippines',),
 ('Turkey',),
 ('South Africa',),
 ('Tanzania',),
 ('Canada',),
 ('Sudan',),
 ('Morocco',),
 ('Australia',),
 ('Kazakstan',),
 ('Cameroon',),
 ('Côte d\x92Ivoire',),
 ('Ecuador',),
 ('Malawi',),
 ('Belgium',),
 ('Senegal',),
 ('Bolivia',),
 ('Switzerland',),
 ('Hong Kong',),
 ('Benin',),
 ('New Zealand',),
 ('Jamaica',),
 ('Oman',),
 ('United Arab Emirates',),
 ('Kuwait',),
 ('Gambia',),
 ('Trinidad and Tobago',),
 ('Guadeloupe',),
 ('Malta',),
 ('Belize',),
 ('French Polynesia',),
 ('Guam',),
 ('Micronesia, Federated States of',),
 ('Kiribati',),
 ('American Samoa',),
 ('Bermuda',),
 ('Monaco',),
 ('Liechtenstein',),
 ('San Marino',),
 ('Nauru',),
 ('Anguilla',),
 ('Cocos (Keeling) Islands',)]

Correlated subqueries are usually quite inefficient (remember time complexity of nested loops from DSCI 512?), but they can answer some interesting and complex questions.

### `ANY` and `ALL`

Syntax:

```sql
SELECT
    column_name(s)
FROM
    table_name
WHERE
    column_name operator {ALL|ANY} (
        SELECT
            column_name
        FROM
            table_name
        WHERE
            condition
    );
```

---

**Example:** Find all non-European countries whose population is larger than every European country.

---

In [30]:
%%sql

SELECT
    name
FROM
    country
WHERE
    continent <> 'Europe'
    AND
    population > ALL (
        SELECT
            population
        FROM
            country
        WHERE
            continent = 'Europe'
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
6 rows affected.

[('Brazil',),
 ('Indonesia',),
 ('India',),
 ('China',),
 ('Pakistan',),
 ('United States',)]

---

**Example:** Find all European countries whose population is smaller than at least one city in the US.

---

In [106]:
%%sql

SELECT
    name
FROM
    country
WHERE
    continent = 'Europe'
    AND
    population < ANY (
        SELECT
            population
        FROM
            city
        WHERE
            countrycode = (
                SELECT
                    code
                FROM
                    country
                WHERE
                    name ILIKE '%United%States'
            )
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
26 rows affected.

[('Albania',),
 ('Andorra',),
 ('Bosnia and Herzegovina',),
 ('Faroe Islands',),
 ('Gibraltar',),
 ('Svalbard and Jan Mayen',),
 ('Ireland',),
 ('Iceland',),
 ('Croatia',),
 ('Latvia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Malta',),
 ('Moldova',),
 ('Monaco',),
 ('Norway',),
 ('San Marino',),
 ('Slovakia',),
 ('Slovenia',),
 ('Finland',),
 ('Switzerland',),
 ('Denmark',),
 ('Holy See (Vatican City State)',),
 ('Estonia',)]

Subqueries written with `ALL` or `ANY` and `<`, `<=`, `>`, and `>=` be rewritten using aggregations. For example, we can rewrite the above query as:

In [109]:
%%sql

SELECT
    name
FROM
    country
WHERE
    continent = 'Europe'
    AND
    population < (
        SELECT
            MAX(population)
        FROM
            city
        WHERE
            countrycode = (
                SELECT
                    code
                FROM
                    country
                WHERE
                    name ILIKE '%United%States'
            )
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
26 rows affected.

[('Albania',),
 ('Andorra',),
 ('Bosnia and Herzegovina',),
 ('Faroe Islands',),
 ('Gibraltar',),
 ('Svalbard and Jan Mayen',),
 ('Ireland',),
 ('Iceland',),
 ('Croatia',),
 ('Latvia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Malta',),
 ('Moldova',),
 ('Monaco',),
 ('Norway',),
 ('San Marino',),
 ('Slovakia',),
 ('Slovenia',),
 ('Finland',),
 ('Switzerland',),
 ('Denmark',),
 ('Holy See (Vatican City State)',),
 ('Estonia',)]

Here are equivalencies between using `ALL` and `ANY` with `MAX` and `MIN` in subqueries:

| Using `ALL` and `ANY` | Using `MIN` and `MAX` |
|-----------------------|-----------------------|
| `< ALL (subquery)`    | `< MIN(values)`       |
| `> ALL (subquery)`    | `> MAX(values)`       |
| `< ANY (subquery)`    | `< MAX(values)`       |
| `> ANY (subquery)`    | `> MIN(values)`       |

> **Remember:** The fact that two queries achieve the same result does not mean that they are also the same in terms of performance. For example, using `> MAX()` is usually faster than `> ALL()`.

### `EXISTS`

With subqueries, sometimes we don't care about the rows that are returned, but if a row is returned at all or not. The `EXISTS` and `NOT EXISTS` keyword in SQL provide this type of functionality for us, i.e., the check for **existence** of rows, not their values. Here is the syntax for an `EXISTS` subquery:

```sql
SELECT
    column_name(s)
FROM
    table_name
WHERE
    [NOT] EXISTS (
        SELECT column_name FROM table_name WHERE condition
    )
;
```

If the subquery returns one or more rows, then the `WHERE` condition becomes `TRUE`.

Remember that:
- With `EXISTS`, the columns returned by the subquery do not matter at all, which is why we usually use `SELECT *` in the subquery.
- The subquery following `EXISTS` can be either simple or correlated, but typically they are correlated.

---

**Example:** Find all countries that have at least a city with a population greater that 5 million.

---

In [114]:
%%sql

SELECT
    co.name
FROM
    country co
WHERE
    EXISTS (
        SELECT
            *
        FROM
            city ci
        WHERE
            co.code = ci.countrycode
            AND
            ci.population > 5000000
    )
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
18 rows affected.

[('Brazil',),
 ('United Kingdom',),
 ('Egypt',),
 ('Indonesia',),
 ('India',),
 ('Iran',),
 ('Japan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('South Korea',),
 ('Mexico',),
 ('Pakistan',),
 ('Peru',),
 ('Thailand',),
 ('Turkey',),
 ('Russian Federation',),
 ('United States',)]

---

**Example:** Which countries speak at least one language that is not spoken in any other country in their continent?

---

It's best to first create a temporary table that stores the names of countries, continents and their languages:

In [44]:
%%sql

DROP TABLE IF EXISTS ccl;

CREATE TEMPORARY TABLE ccl AS (
    SELECT
        co.name, co.continent, cl.language
    FROM
        country co
    JOIN
        countrylanguage cl
    ON
        co.code = cl.countrycode
    WHERE
        co.continent IN ('Asia', 'Europe')
)
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
Done.
441 rows affected.

[]

Now we can use `NOT EXISTS` to detect countries that have languages not spoken elsewhere in their continent. Note that because a subquery runs its query over all rows, we need to exclude the current row of the outer query, otherwise there would always be a country in the same continent speaking all languages of the country in the outer query, i.e. itself!

In [45]:
%%sql

SELECT
    t1.*
FROM
    ccl t1
WHERE
    NOT EXISTS (
        SELECT
            *
        FROM
            ccl t2
        WHERE
            t1.name <> t2.name
            AND
            t1.continent = t2.continent
            AND
            t1.language = t2.language
    )

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
129 rows affected.

[('Bhutan', 'Asia', 'Dzongkha'),
 ('Philippines', 'Asia', 'Pilipino'),
 ('Faroe Islands', 'Europe', 'Faroese'),
 ('Georgia', 'Asia', 'Georgiana'),
 ('Indonesia', 'Asia', 'Javanese'),
 ('Iceland', 'Europe', 'Icelandic'),
 ('Japan', 'Asia', 'Japanese'),
 ('Kyrgyzstan', 'Asia', 'Kirgiz'),
 ('Cyprus', 'Asia', 'Greek'),
 ('Latvia', 'Europe', 'Latvian'),
 ('Luxembourg', 'Europe', 'Luxembourgish'),
 ('Maldives', 'Asia', 'Dhivehi'),
 ('Malta', 'Europe', 'Maltese'),
 ('Myanmar', 'Asia', 'Burmese'),
 ('Sri Lanka', 'Asia', 'Singali'),
 ('Taiwan', 'Asia', 'Min'),
 ('Afghanistan', 'Asia', 'Dari'),
 ('Netherlands', 'Europe', 'Fries'),
 ('Bangladesh', 'Asia', 'Chakma'),
 ('United Kingdom', 'Europe', 'Kymri'),
 ('Brunei', 'Asia', 'Malay-English'),
 ('Philippines', 'Asia', 'Cebuano'),
 ('Ireland', 'Europe', 'Irish'),
 ('Italy', 'Europe', 'Sardinian'),
 ('Yemen', 'Asia', 'Soqutri'),
 ('Jordan', 'Asia', 'Circassian'),
 ('China', 'Asia', 'Zhuang'),
 ('Laos', 'Asia', 'Mon-khmer'),
 ('Monaco', 'Europe', 'Monegasque'),
 ('Myanmar', 'Asia', 'Shan'),
 ('Nepal', 'Asia', 'Maithili'),
 ('Czech Republic', 'Europe', 'Moravian'),
 ('Russian Federation', 'Europe', 'Tatar'),
 ('Vietnam', 'Asia', 'Tho'),
 ('Azerbaijan', 'Asia', 'Lezgian'),
 ('Bangladesh', 'Asia', 'Marma'),
 ('United Kingdom', 'Europe', 'Gaeli'),
 ('Spain', 'Europe', 'Galecian'),
 ('Philippines', 'Asia', 'Ilocano'),
 ('Hong Kong', 'Asia', 'Fukien'),
 ('India', 'Asia', 'Telugu'),
 ('Italy', 'Europe', 'Friuli'),
 ('China', 'Asia', 'Mant\x9au'),
 ('Lebanon', 'Asia', 'French'),
 ('Mongolia', 'Asia', 'Dorbet'),
 ('Myanmar', 'Asia', 'Karen'),
 ('Nepal', 'Asia', 'Bhojpuri'),
 ('Pakistan', 'Asia', 'Sindhi'),
 ('Sri Lanka', 'Asia', 'Mixed Languages'),
 ('Bangladesh', 'Asia', 'Garo'),
 ('Spain', 'Europe', 'Basque'),
 ('Philippines', 'Asia', 'Hiligaynon'),
 ('Indonesia', 'Asia', 'Madura'),
 ('India', 'Asia', 'Marathi'),
 ('Iraq', 'Asia', 'Assyrian'),
 ('Iran', 'Asia', 'Gilaki'),
 ('Cambodia', 'Asia', 'T\x9aam'),
 ('Kazakstan', 'Asia', 'German'),
 ('China', 'Asia', 'Hui'),
 ('Laos', 'Asia', 'Lao-Soung'),
 ('Malaysia', 'Asia', 'Iban'),
 ('Moldova', 'Europe', 'Gagauzi'),
 ('Mongolia', 'Asia', 'Bajad'),
 ('Myanmar', 'Asia', 'Rakhine'),
 ('Nepal', 'Asia', 'Tharu'),
 ('Pakistan', 'Asia', 'Saraiki'),
 ('Slovakia', 'Europe', 'Czech and Moravian'),
 ('Switzerland', 'Europe', 'Romansh'),
 ('Taiwan', 'Asia', 'Ami'),
 ('Russian Federation', 'Europe', 'Chuvash'),
 ('Vietnam', 'Asia', 'Muong'),
 ('Bangladesh', 'Asia', 'Khasi'),
 ('Philippines', 'Asia', 'Bicol'),
 ('Georgia', 'Asia', 'Osseetti'),
 ('Hong Kong', 'Asia', 'Chiu chau'),
 ('Indonesia', 'Asia', 'Minangkabau'),
 ('Iran', 'Asia', 'Luri'),
 ('Japan', 'Asia', 'Philippene Languages'),
 ('Mongolia', 'Asia', 'Buryat'),
 ('Myanmar', 'Asia', 'Mon'),
 ('Nepal', 'Asia', 'Tamang'),
 ('Slovakia', 'Europe', 'Ukrainian and Russian'),
 ('Taiwan', 'Asia', 'Atayal'),
 ('Uzbekistan', 'Asia', 'Karakalpak'),
 ('Russian Federation', 'Europe', 'Bashkir'),
 ('Bangladesh', 'Asia', 'Santhali'),
 ('Philippines', 'Asia', 'Waray-waray'),
 ('Georgia', 'Asia', 'Abhyasi'),
 ('Indonesia', 'Asia', 'Batakki'),
 ('Iran', 'Asia', 'Mazandarani'),
 ('Japan', 'Asia', 'Ainu'),
 ('China', 'Asia', 'Uighur'),
 ('Malaysia', 'Asia', 'Dusun'),
 ('Mongolia', 'Asia', 'Dariganga'),
 ('Myanmar', 'Asia', 'Chin'),
 ('Nepal', 'Asia', 'Newari'),
 ('Taiwan', 'Asia', 'Paiwan'),
 ('Thailand', 'Asia', 'Kuy'),
 ('Czech Republic', 'Europe', 'Silesiana'),
 ('Russian Federation', 'Europe', 'Chechen'),
 ('Bangladesh', 'Asia', 'Tripuri'),
 ('Philippines', 'Asia', 'Pampango'),
 ('Indonesia', 'Asia', 'Bugi'),
 ('India', 'Asia', 'Gujarati'),
 ('China', 'Asia', 'Yi'),
 ('Myanmar', 'Asia', 'Kachin'),
 ('Pakistan', 'Asia', 'Hindko'),
 ('Russian Federation', 'Europe', 'Mordva'),
 ('Vietnam', 'Asia', 'Nung'),
 ('Philippines', 'Asia', 'Pangasinan'),
 ('Indonesia', 'Asia', 'Banja'),
 ('India', 'Asia', 'Kannada'),
 ('China', 'Asia', 'Tujia'),
 ('Myanmar', 'Asia', 'Kayah'),
 ('Pakistan', 'Asia', 'Brahui'),
 ('Russian Federation', 'Europe', 'Kazakh'),
 ('Philippines', 'Asia', 'Maguindanao'),
 ('Indonesia', 'Asia', 'Bali'),
 ('India', 'Asia', 'Malajalam'),
 ('Iran', 'Asia', 'Bakhtyari'),
 ('Russian Federation', 'Europe', 'Avarian'),
 ('Vietnam', 'Asia', 'Man'),
 ('Philippines', 'Asia', 'Maranao'),
 ('India', 'Asia', 'Orija'),
 ('China', 'Asia', 'Tibetan'),
 ('Russian Federation', 'Europe', 'Mari'),
 ('China', 'Asia', 'Puyi'),
 ('Russian Federation', 'Europe', 'Udmur'),
 ('China', 'Asia', 'Dong')]

We can also replace `t1.*` in the `SELECT` clause with `COUNT(DISTINCT name)` to find how many countries with such a property exist in the world.

To summarize, we use `EXISTS` when:

- We don't need the data from a related table. With joins, we always have access to the columns of the target tables as well.
- We just need to check existence, which can also be achieved by using outer joins and checking for nulls.

---

**Example:** Find city names that happen to be used in more than one country!

---

In [46]:
%%sql

SELECT
    DISTINCT ci1.name
FROM
    city ci1
WHERE
    EXISTS (
        SELECT
            ci2.name
        FROM
            city ci2
        WHERE
            ci2.name = ci1.name
            AND
            ci1.id <> ci2.id
            AND
            ci1.countrycode <> ci2.countrycode
    )
ORDER BY
    ci1.name DESC
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
47 rows affected.

[('York',),
 ('Worcester',),
 ('Victoria',),
 ('Vancouver',),
 ('Valencia',),
 ('Tripoli',),
 ('Toledo',),
 ('Taiping',),
 ('Santa Rosa',),
 ('Santa Maria',),
 ('Santa Clara',),
 ('Santa Ana',),
 ('San Miguel',),
 ('San Mateo',),
 ('San Juan',),
 ('San Jose',),
 ('San Fernando',),
 ('San Felipe',),
 ('Salem',),
 ('Salamanca',),
 ('Saint John´s',),
 ('Richmond',),
 ('Portsmouth',),
 ('Plymouth',),
 ('Newcastle',),
 ('Mérida',),
 ('Manzanillo',),
 ('Manchester',),
 ('Los Angeles',),
 ('London',),
 ('León',),
 ('La Paz',),
 ('Kingston',),
 ('Hyderabad',),
 ('Hamilton',),
 ('Halifax',),
 ('Gloucester',),
 ('Ede',),
 ('Córdoba',),
 ('Colombo',),
 ('Cartagena',),
 ('Cambridge',),
 ('Brest',),
 ('Birmingham',),
 ('Barcelona',),
 ('Anyang',),
 ('Alexandria',)]

Alternatively, we can use a self-join to find city names used in more than one country:

In [48]:
%%sql

SELECT
    DISTINCT ON (ci1.name) ci1.name,
    ci1.countrycode,
    ci2.name,
    ci2.countrycode
FROM
    city ci1
JOIN
    city ci2
ON
    ci2.name = ci1.name
    AND
    ci1.id <> ci2.id
    AND
    ci1.countrycode <> ci2.countrycode
ORDER BY
    ci1.name DESC
;

   postgresql://postgres:***@localhost:5432/mds
 * postgresql://postgres:***@localhost:5432/world_dsci513
47 rows affected.

[('York', 'CAN', 'York', 'GBR'),
 ('Worcester', 'USA', 'Worcester', 'GBR'),
 ('Victoria', 'MEX', 'Victoria', 'SYC'),
 ('Vancouver', 'CAN', 'Vancouver', 'USA'),
 ('Valencia', 'ESP', 'Valencia', 'VEN'),
 ('Tripoli', 'LBY', 'Tripoli', 'LBN'),
 ('Toledo', 'BRA', 'Toledo', 'PHL'),
 ('Taiping', 'MYS', 'Taiping', 'TWN'),
 ('Santa Rosa', 'PHL', 'Santa Rosa', 'USA'),
 ('Santa Maria', 'BRA', 'Santa Maria', 'PHL'),
 ('Santa Clara', 'USA', 'Santa Clara', 'CUB'),
 ('Santa Ana', 'USA', 'Santa Ana', 'SLV'),
 ('San Miguel', 'ARG', 'San Miguel', 'PHL'),
 ('San Mateo', 'USA', 'San Mateo', 'PHL'),
 ('San Juan', 'PRI', 'San Juan', 'ARG'),
 ('San Jose', 'USA', 'San Jose', 'PHL'),
 ('San Fernando', 'PHL', 'San Fernando', 'ARG'),
 ('San Felipe', 'MEX', 'San Felipe', 'VEN'),
 ('Salem', 'IND', 'Salem', 'USA'),
 ('Salamanca', 'ESP', 'Salamanca', 'MEX'),
 ('Saint John´s', 'CAN', 'Saint John´s', 'ATG'),
 ('Richmond', 'CAN', 'Richmond', 'USA'),
 ('Portsmouth', 'GBR', 'Portsmouth', 'USA'),
 ('Plymouth', 'GBR', 'Plymouth', 'MSR'),
 ('Newcastle', 'ZAF', 'Newcastle', 'AUS'),
 ('Mérida', 'MEX', 'Mérida', 'VEN'),
 ('Manzanillo', 'CUB', 'Manzanillo', 'MEX'),
 ('Manchester', 'USA', 'Manchester', 'GBR'),
 ('Los Angeles', 'USA', 'Los Angeles', 'CHL'),
 ('London', 'GBR', 'London', 'CAN'),
 ('León', 'NIC', 'León', 'MEX'),
 ('La Paz', 'BOL', 'La Paz', 'MEX'),
 ('Kingston', 'NFK', 'Kingston', 'JAM'),
 ('Hyderabad', 'PAK', 'Hyderabad', 'IND'),
 ('Hamilton', 'NZL', 'Hamilton', 'CAN'),
 ('Halifax', 'CAN', 'Halifax', 'GBR'),
 ('Gloucester', 'GBR', 'Gloucester', 'CAN'),
 ('Ede', 'NLD', 'Ede', 'NGA'),
 ('Córdoba', 'ESP', 'Córdoba', 'MEX'),
 ('Colombo', 'LKA', 'Colombo', 'BRA'),
 ('Cartagena', 'COL', 'Cartagena', 'ESP'),
 ('Cambridge', 'CAN', 'Cambridge', 'GBR'),
 ('Brest', 'FRA', 'Brest', 'BLR'),
 ('Birmingham', 'GBR', 'Birmingham', 'USA'),
 ('Barcelona', 'VEN', 'Barcelona', 'ESP'),
 ('Anyang', 'CHN', 'Anyang', 'KOR'),
 ('Alexandria', 'USA', 'Alexandria', 'EGY')]